Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Spanish)
  strings/query/es.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/query/de_CH.po
Due: none

Translated using Weblate (Russian)
  strings/query/ru.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/query/pt_BR.po
Due: none

Translated using Weblate (French)
  strings/query/fr.po
Due: none

avoid taxon discipline uniqueness rule in revert migration
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

Translated using Weblate (Spanish)
  strings/attachments/es.po
Due: none

Translated using Weblate (Russian)
  strings/attachments/ru.po
Due: none

Translated using Weblate (French)
  strings/attachments/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/attachments/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/attachments/de_CH.po
Due: none

Use localized on resource.name to prevent type error
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests

better set_discipline_for_taxon_treedefs
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

remove old function
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

Change filename of TreeDefaults, add localized import
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/defaults.ts
Due: frontend-tests

hide cotype in unique fields picklist
  specifyweb/frontend/js_src/lib/components/SchemaConfig/TableUniquenessRules.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SchemaConfig/TableUniquenessRules.tsx
Due: frontend-tests

fix _get_treedef_id
  specifyweb/workbench/upload/tests/example_plan.py
  specifyweb/workbench/upload/treerecord.py
Due: mypy

set treeId dynamically in unit tests
  specifyweb/workbench/upload/tests/example_plan.py
  specifyweb/workbench/upload/tests/testschema.py
Due: mypy

edit set_discipline_for_taxon_treedefs
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

Remove table name from cogtype -> type picklist - Adding a table name turns the picklist to a type 1
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

Translated using Weblate (French)
  strings/welcome/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/welcome/uk.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/welcome/pt_BR.po
Due: none

Translated using Weblate (Spanish)
  strings/locality/es.po
Due: none

Translated using Weblate (French)
  strings/locality/fr.po
Due: none

Translated using Weblate (Russian)
  strings/locality/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/locality/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/locality/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/locality/pt_BR.po
Due: none

formatting
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
