Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/hooks/__tests__/useFieldValidation.test.tsx
Due: frontend-tests

create_default_trees_task fix
  specifyweb/specify/tree_views.py
Due: mypy

Update visible tables
  specifyweb/frontend/js_src/lib/components/DataEntryTables/Edit.tsx
Due: frontend-tests

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/forms/de_CH.po
  strings/forms/en_US.po
  strings/forms/es.po
  strings/forms/fr.po
  strings/forms/pt_BR.po
  strings/forms/ru.po
  strings/forms/uk.po
  strings/header/de_CH.po
  strings/header/en_US.po
  strings/header/es.po
  strings/header/fr.po
  strings/header/pt_BR.po
  strings/header/ru.po
  strings/header/uk.po
  strings/interactions/de_CH.po
  strings/interactions/en_US.po
  strings/interactions/es.po
  strings/interactions/fr.po
  strings/interactions/pt_BR.po
  strings/interactions/ru.po
  strings/interactions/uk.po
Due: none

Sync localization strings with Weblate
  strings/workbench/de_CH.po
  strings/workbench/en_US.po
  strings/workbench/es.po
  strings/workbench/fr.po
  strings/workbench/pt_BR.po
  strings/workbench/ru.po
  strings/workbench/uk.po
Due: none

Translated using Weblate (Spanish)
  strings/workbench/es.po
Due: none

Translated using Weblate (Russian)
  strings/workbench/ru.po
Due: none

Translated using Weblate (French)
  strings/workbench/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/workbench/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/workbench/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/workbench/pt_BR.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

(tests): Add unit tests for useFieldParser
  specifyweb/frontend/js_src/lib/hooks/__tests__/useFieldParser.test.tsx
Due: frontend-tests

(tests): Nudge branch coverage a bit
  specifyweb/frontend/js_src/lib/hooks/__tests__/useFieldParser.test.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/hooks/__tests__/useFieldParser.test.tsx
Due: frontend-tests

(tests): Reorganize useParserDefaultValue test + mock time
  specifyweb/frontend/js_src/lib/hooks/__tests__/useParserDefaultValue.test.ts
Due: frontend-tests

bypass tree validation to speedup default tree upload
  specifyweb/specify/tree_utils.py
  specifyweb/specify/tree_views.py
  specifyweb/specify/urls.py
Due: mypy

Translated using Weblate (Russian)
  strings/development/ru.po
Due: none

Add new date fields to `accession`
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/datamodel.py
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
  specifyweb/specify/migrations/0034_accession_date_fields.py
  specifyweb/specify/models.py
Due: frontend-tests, mypy

Hide new date fields by default
  specifyweb/specify/migrations/0034_accession_date_fields.py
Due: mypy

Translated using Weblate (French)
  strings/merging/fr.po
Due: none

Translated using Weblate (French)
  strings/schema/fr.po
Due: none

Translated using Weblate (French)
  strings/main/fr.po
Due: none

Translated using Weblate (French)
  strings/notifications/fr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/merging.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Parse coordinate decimal fields as decimal (not as coordinate text)
  specifyweb/specify/parse.py
  specifyweb/specify/update_locality.py
  specifyweb/stored_queries/batch_edit.py
  specifyweb/stored_queries/batch_edit_query_rewrites.py
  specifyweb/stored_queries/query_ops.py
  specifyweb/stored_queries/queryfield.py
  specifyweb/stored_queries/queryfieldspec.py
  specifyweb/workbench/upload/parsing.py
  specifyweb/workbench/upload/tests/testparsing.py
  specifyweb/workbench/upload/treerecord.py
  specifyweb/workbench/upload/upload_table.py
Due: mypy

Disable non-decimal coordinate conversion for batchedit
  specifyweb/frontend/js_src/lib/components/WbToolkit/CoordinateConverter.tsx
  specifyweb/frontend/js_src/lib/components/WbUtils/datasetVariants.tsx
Due: frontend-tests

Add precision to `dateReceived` and `dateAccessioned`
  config/common/common.views.xml
Due: none

Remove duplicated fields
  specifyweb/specify/datamodel.py
Due: mypy

(tests): Add tests for useErrorContext
  specifyweb/frontend/js_src/lib/hooks/__tests__/useErrorContext.test.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/hooks/__tests__/useErrorContext.test.ts
Due: frontend-tests

Improve changed equality checking for BatchEdit
  specifyweb/specify/api.py
  specifyweb/workbench/upload/upload_table.py
Due: mypy

Revert "Disable non-decimal coordinate conversion for batchedit"
  specifyweb/frontend/js_src/lib/components/WbToolkit/CoordinateConverter.tsx
  specifyweb/frontend/js_src/lib/components/WbUtils/datasetVariants.tsx
Due: frontend-tests

Remove coordinate-only parsing from BatchEdit
  specifyweb/specify/parse.py
  specifyweb/workbench/upload/parsing.py
  specifyweb/workbench/upload/upload_table.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
