Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

add Collection Preferences UI and editor with doc links
  specifyweb/frontend/js_src/lib/components/AppResources/TabDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionPreferencesPage.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/Editor.tsx
Due: frontend-tests

implify CollectionPreferences page by removing internal save
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionPreferencesPage.tsx
Due: frontend-tests

Corrected specifyNetwork keys to publishingOrg and datasetKey
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests

fix TypeScript errors in collection preference definitions
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests

align CollectionDefinitions with UserDefinitions typing
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests

Fix localization scanner issues in preferences
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionPreferencesPage.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionPreferencesPage.tsx
Due: frontend-tests

adding path for role gated access
  specifyweb/frontend/js_src/lib/components/Header/userToolDefinitions.ts
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/Router/Routes.tsx
Due: frontend-tests

Update queryfieldspec.py
  specifyweb/backend/stored_queries/queryfieldspec.py
Due: mypy

Fix: merge auto-populate to respect preference toggle
  specifyweb/frontend/js_src/lib/components/Merging/index.tsx
Due: frontend-tests

Sync localization strings with Weblate
  strings/attachments/de_CH.po
  strings/attachments/es.po
  strings/attachments/fr.po
  strings/attachments/pt_BR.po
  strings/attachments/ru.po
  strings/attachments/uk.po
  strings/backEnd/uk.po
  strings/backup/de_CH.po
  strings/backup/fr.po
  strings/common/de_CH.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/merging/pt_BR.po
  strings/preferences/uk.po
  strings/query/uk.po
  strings/resources/uk.po
Due: none

reorganize batch edit helper classes
  specifyweb/backend/stored_queries/batch_edit.py
  specifyweb/backend/stored_queries/batch_edit_helper_classes.py
Due: mypy

try using query_field_caption_lookup for better matching and disambiguation
  specifyweb/backend/stored_queries/batch_edit.py
  specifyweb/backend/stored_queries/batch_edit_helper_classes.py
Due: mypy

fix logging
  specifyweb/backend/stored_queries/batch_edit.py
Due: mypy

remove _reconstruct_field_caption
  specifyweb/backend/stored_queries/batch_edit.py
Due: mypy

handle NoneType visible_fields and captions in batch edit request
  specifyweb/backend/stored_queries/batch_edit.py
Due: mypy

handle null in query_field_caption_lookup
  specifyweb/backend/stored_queries/batch_edit.py
Due: mypy

Create 0041_add_missing_schema_after_reorganization migration
  specifyweb/specify/migrations/0041_add_missing_schema_after_reorganization.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/BatchEdit/index.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Refactor collection preferences renderer and documentation link layout
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionPreferencesPage.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/Editor.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
  specifyweb/frontend/js_src/lib/components/Router/Routes.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/Editor.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/BatchEdit/index.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

refactor(eslint): switch to defaults
  specifyweb/frontend/js_src/eslint.config.js
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: frontend-tests

Localization cleanup for collection preferences
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/stats.tsx
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/stats.tsx
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

removed collection pref refrence from User Tools
  specifyweb/frontend/js_src/lib/components/Header/userToolDefinitions.ts
Due: frontend-tests

remove extra language lines and keep only 'en-us'
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

extract shared logic into createPreferencesEditor and wire User/Collection editors
  specifyweb/frontend/js_src/lib/components/Preferences/Editor.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/Editor.tsx
Due: frontend-tests

implemented IR<T> for preferences typing
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
Due: frontend-tests

resolve BasePreferences context type incompatibility in index.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/Editor.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/Editor.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
Due: frontend-tests

simplify resolveCollectionDocumentHref logic using unified NAME_DOCS_MAP
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
Due: frontend-tests

fix field_caption_lookup duplicate arguments
  specifyweb/backend/stored_queries/batch_edit.py
Due: mypy

remove last field_caption_lookup
  specifyweb/backend/stored_queries/batch_edit.py
Due: mypy

unify visibilityContext to remove duplication
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
Due: frontend-tests

edit SUPER_USER_HOST to MIGRATOR_USER_HOST
  sp7_db_setup_check.sh
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
