Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Ukrainian)
  strings/forms/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/backEnd/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/query/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/preferences/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/main/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/resources/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/workbench/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/common/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/header/uk.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

Extract showUsages button to own component
  specifyweb/frontend/js_src/lib/components/Forms/DeleteButton.tsx
  specifyweb/frontend/js_src/lib/components/Forms/ResourceView.tsx
  specifyweb/frontend/js_src/lib/components/Molecules/LinkedRecords.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Molecules/LinkedRecords.tsx
Due: frontend-tests

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/schema/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/user/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/wbPlan/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/batchEdit/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/interactions/uk.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Translated using Weblate (Russian)
  strings/common/ru.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
Due: frontend-tests

init create_default_trees_view
  specifyweb/specify/tree_utils.py
  specifyweb/specify/tree_views.py
  specifyweb/specify/urls.py
Due: mypy

Run Prettier on all frontend files
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
  specifyweb/frontend/js_src/lib/components/PickLists/index.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Handle undefined parentComponent
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Handle chnage children to component for self aggregation
  specifyweb/stored_queries/format.py
Due: mypy

update ParetnCOID to ComponentParentID
  specifyweb/stored_queries/format.py
Due: mypy

Translated using Weblate (German (Switzerland))
  strings/query/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/query/pt_BR.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/attachments/de_CH.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

add fullname="Root" in TectonUnit Root init
  specifyweb/specify/migrations/0009_tectonic_ranks.py
Due: mypy

create_default_trees_view api change
  specifyweb/specify/tree_utils.py
  specifyweb/specify/tree_views.py
  specifyweb/specify/urls.py
Due: mypy

Reverse select series default migration
  specifyweb/specify/migrations/0031_add_default_for_selectseries.py
Due: mypy

Make isRequired checkbox readonly for all required field in SC
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Field.tsx
Due: frontend-tests

Update README.md
  README.md
Due: none

Add dwcConcept and dwcDescription to schema config field
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Field.tsx
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/specify/datamodel.py
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
  specifyweb/specify/migrations/0032_splocalecontaineritem_dwcconcept.py
  specifyweb/specify/models.py
Due: frontend-tests, mypy

Make dwcConcept and desc readonly
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Field.tsx
Due: frontend-tests

Comment
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Field.tsx
Due: frontend-tests

add create_default_trees_view fixes
  specifyweb/specify/tree_utils.py
  specifyweb/specify/tree_views.py
  specifyweb/specify/urls.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
