Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/InitialContext/treeRanks.ts
  specifyweb/frontend/js_src/lib/components/TreeView/Tree.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/InitialContext/__tests__/treeRanks.test.ts
Due: frontend-tests

Improve collection fetching for Grid-based Subviews
  specifyweb/frontend/js_src/lib/components/DataModel/collectionApi.ts
  specifyweb/frontend/js_src/lib/components/FormCells/FormTableCollection.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
  specifyweb/frontend/js_src/lib/hooks/useCollection.tsx
Due: frontend-tests

Add field check for childCOJOs
  specifyweb/frontend/js_src/lib/components/FormCells/COJODialog.tsx
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
Due: frontend-tests

Add to do
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
Due: frontend-tests

Translated using Weblate (French)
  strings/user/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/user/uk.po
Due: none

Translated using Weblate (Russian)
  strings/user/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/resources/es.po
Due: none

Translated using Weblate (Ukrainian)
  strings/resources/uk.po
Due: none

Translated using Weblate (French)
  strings/resources/fr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/user/de_CH.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/resources/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/user/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/resources/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/user/pt.po
Due: none

Add changes for COG -> children
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0007_schema_config_update.py
  specifyweb/specify/models.py
Due: frontend-tests, mypy

Change formatter name to table name
  specifyweb/specify/migrations/0007_schema_config_update.py
Due: mypy

add test returning undefined
  specifyweb/frontend/js_src/lib/hooks/__tests__/useCachedState.test.ts
Due: frontend-tests

Update docker-compose.yml
  docker-compose.yml
Due: none

Revert default THICK_CLIENT_LOCATION
  specifyweb/settings/specify_settings.py
Due: mypy

Add Absolute Age & Relative Age forms
  config/common/common.views.xml
Due: none

Test setting parentCojo
  specifyweb/frontend/js_src/lib/components/FormCells/COJODialog.tsx
Due: frontend-tests

Fix revert migration
  specifyweb/specify/migrations/0007_tectonic_ranks.py
Due: mypy

Translated using Weblate (French)
  strings/backEnd/fr.po
Due: none

Translated using Weblate (Spanish)
  strings/backEnd/es.po
Due: none

Translated using Weblate (Russian)
  strings/backEnd/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/backEnd/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/backEnd/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/backEnd/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/backEnd/pt.po
Due: none

Add ageCitations
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0007_auto_20241023_1431.py
  specifyweb/specify/models.py
Due: frontend-tests, mypy

Hide tectonic tree for non paleo or geo disciplines
  specifyweb/specify/model_extras.py
  specifyweb/specify/tree_views.py
Due: mypy

Fix fromTree fields
  specifyweb/frontend/js_src/lib/components/QueryBuilder/fromTree.ts
Due: frontend-tests

Simplify tree ranks name
  specifyweb/specify/tree_ranks.py
Due: mypy

edit DEFAULT_SPECIFY_JAR_PATH
  specifyweb/specify/specify_jar.py
Due: mypy

Allow passing filters to resource.rgetCollection
  specifyweb/frontend/js_src/lib/components/DataModel/legacyTypes.ts
  specifyweb/frontend/js_src/lib/components/DataModel/resourceApi.ts
  specifyweb/frontend/js_src/lib/components/Forms/SubView.tsx
  specifyweb/frontend/js_src/lib/hooks/useCollection.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/legacyTypes.ts
Due: frontend-tests

Add tree stat for tectonic unit
  specifyweb/specify/tree_stats.py
Due: mypy
