Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Fix Geologic Time Period name
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
Due: frontend-tests

Fix geologicTimePeriod label
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

Fix incorrect RankId definition
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
Due: frontend-tests

Use tableLabel function
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

Allow silencing for resetting of LoanPrep returned + resolved on init
  specifyweb/businessrules/orm_signal_handler.py
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/interactionBusinessRules.ts
Due: frontend-tests, mypy

Generically handle setting of remote to-ones in api
  specifyweb/specify/api.py
Due: mypy

Add bug comments
  specifyweb/interactions/cog_preps.py
  specifyweb/specify/api.py
Due: mypy

Define endpoint to fetch prep info for COG or CO, add COG info to prep_available_ids
  specifyweb/interactions/urls.py
  specifyweb/interactions/views.py
Due: mypy

Allow passing multiple tables to RecordSetDialog
  specifyweb/frontend/js_src/lib/components/Reports/RecordSets.tsx
  specifyweb/frontend/js_src/lib/components/Toolbar/RecordSets.tsx
Due: frontend-tests

Allow starting interactions based on COG, show COG information in Interaction Dialogs
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/LoanReturn.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialogRow.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepReturnRow.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/helpers.ts
Due: frontend-tests

Add missing datamodel relationship
  specifyweb/specify/datamodel.py
Due: mypy

Use `sortFunction`
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
Due: frontend-tests

Update frontend datamodel
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
Due: frontend-tests

Fix type errors
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
Due: frontend-tests

Hide the Search button for dependent relationships for QueryCBX
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

Hide batch edit documentation url
  specifyweb/frontend/js_src/lib/components/Toolbar/WbsDialog.tsx
  specifyweb/frontend/js_src/lib/components/WbUtils/datasetVariants.tsx
Due: frontend-tests

Resolve argument ordering for strict_uri_to_model call
  specifyweb/interactions/cog_preps.py
Due: mypy

Add back remove_all_cog_siblings_preps_from_loan
  specifyweb/interactions/cog_preps.py
  specifyweb/interactions/views.py
Due: mypy

Update migration
  specifyweb/specify/migrations/0020_fix_accepted_taxon.py
Due: mypy

Make age readonly
  specifyweb/stored_queries/batch_edit.py
Due: mypy

Fix expected errors
  specifyweb/stored_queries/tests/tests.py
  specifyweb/stored_queries/tests/tests_legacy.py
Due: mypy

Correct bulk_move openapi documentaiton
  specifyweb/specify/tree_views.py
Due: mypy

Add placeholder documentation url
  specifyweb/frontend/js_src/lib/components/Toolbar/WbsDialog.tsx
  specifyweb/frontend/js_src/lib/components/WbUtils/datasetVariants.tsx
Due: frontend-tests

Localization improvements
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Translated using Weblate (Portuguese (Brazil))
  strings/development/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/development/pt.po
Due: none

django command for creating default cots
  specifyweb/specify/management/commands/create_default_cots.py
Due: mypy

fix handle function
  specifyweb/specify/management/commands/create_default_cots.py
Due: mypy

Change "DefaultRecordId" to "default" (now a Record API Url) Separated Default QCBX logic
  specifyweb/frontend/js_src/lib/components/FormEditor/viewSpec.ts
  specifyweb/frontend/js_src/lib/components/FormFields/index.tsx
  specifyweb/frontend/js_src/lib/components/FormParse/fields.ts
  specifyweb/frontend/js_src/lib/components/Forms/generateFormDefinition.ts
  specifyweb/frontend/js_src/lib/components/Merging/CompareField.tsx
  specifyweb/frontend/js_src/lib/components/QueryComboBox/helpers.ts
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
Due: frontend-tests

Fix missing icon Fix translations
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/Cell.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
Due: frontend-tests

Recalculate loan prep after modifying loan returns
  specifyweb/interactions/cog_preps.py
  specifyweb/specify/api.py
Due: mypy

Add tectonic unit to paleo context
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
  specifyweb/specify/migrations/0020_add_tectonicunit_to_pc_in_schema_config.py
Due: mypy

Comment out previous migration
  specifyweb/specify/migrations/0019_remove_parentCog.py
Due: mypy

Renaming and remove old migration
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
  specifyweb/specify/migrations/0019_add_tectonicunit_to_pc_in_schema_config.py
  specifyweb/specify/migrations/0019_remove_parentCog.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
