Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests

filter out skipped tables
  specifyweb/backend/merge/record_merging.py
  specifyweb/backend/stored_queries/tests/tests.py
  specifyweb/specify/models_utils/load_datamodel.py
Due: mypy

Translated using Weblate (Russian)
  strings/resources/ru.po
Due: none

Translated using Weblate (Russian)
  strings/user/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/user/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/resources/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/user/pt_BR.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/resources/de_CH.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
Due: frontend-tests

back populate test fixes
  specifyweb/backend/stored_queries/build_models.py
  specifyweb/backend/stored_queries/tests/tests.py
  specifyweb/backend/stored_queries/tests/tests_legacy.py
  specifyweb/specify/models_utils/load_datamodel.py
Due: mypy

Translated using Weblate (Portuguese (Brazil))
  strings/backEnd/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/backEnd/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/backEnd/es.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
Due: frontend-tests

Translated using Weblate (Russian)
  strings/batchEdit/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/batchEdit/de_CH.po
Due: none

Translated using Weblate (French)
  strings/batchEdit/fr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
Due: frontend-tests

Translated using Weblate (Russian)
  strings/main/ru.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/main.ts
Due: frontend-tests

Translated using Weblate (German (Switzerland))
  strings/specifyNetwork/de_CH.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
Due: frontend-tests

WIP use table for tree rank config
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
Due: frontend-tests

WIP add taxon tree selector
  specifyweb/backend/setup_tool/api.py
  specifyweb/backend/setup_tool/setup_tasks.py
  specifyweb/backend/setup_tool/tree_defaults.py
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests, mypy

Enable pre-loading when selecting taxon tree
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
Due: frontend-tests

Fix tests
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
Due: frontend-tests

Fix tests
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
Due: frontend-tests

Translated using Weblate (Portuguese (Brazil))
  strings/query/pt_BR.po
Due: none

Translated using Weblate (French)
  strings/query/fr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/query.ts
Due: frontend-tests

Fix labels Improve styling
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
Due: frontend-tests

Make table rounded
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
Due: frontend-tests

Fix table borders
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
Due: frontend-tests

[Guided Setup] Optimize default tree creation (#7669)
  specifyweb/backend/trees/defaults.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

Improve tree selector formatting Clean up backend code for trees in setup tool
  specifyweb/backend/setup_tool/api.py
  specifyweb/backend/setup_tool/tree_defaults.py
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
Due: frontend-tests

Fix tree preview in overview
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupOverview.tsx
Due: frontend-tests

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
