Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

test(trees): fix type
  specifyweb/specify/api/crud.py
Due: mypy

Translated using Weblate (Spanish)
  strings/welcome/es.po
Due: none

Translated using Weblate (Russian)
  strings/welcome/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/welcome/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/welcome/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/welcome/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/welcome/hr.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/welcome/nb_NO.po
Due: none

fix(trees): fix circular import
  specifyweb/specify/api/crud.py
Due: mypy

fix(trees): log updates to dets when merging
  specifyweb/backend/trees/extras.py
Due: mypy

test(trees): test det updates on merge with audits
  specifyweb/backend/trees/tests/test_tree_extras/test_merge.py
Due: mypy

refactor(trees): handle merge logging generically
  specifyweb/backend/trees/extras.py
  specifyweb/backend/trees/tests/test_tree_extras/test_merge.py
Due: mypy

Translated using Weblate (Spanish)
  strings/locality/es.po
Due: none

Translated using Weblate (Russian)
  strings/locality/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/locality/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/locality/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/locality/hr.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/locality/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/locality.ts
Due: frontend-tests

Dependencies Upgrade: Bump pytest from 7.2.1 to 9.0.3
  requirements-testing.txt
Due: none

Dependencies Upgrade: Bump react router from 6.30.3 to 6.30.5
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

Dependencies upgrade: Bump dompurify to 3.4.14
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

[test]: create new agent for accession
  specifyweb/backend/businessrules/tests/test_accessionagent.py
Due: mypy

[test]: add existing permit to accession
  specifyweb/backend/businessrules/tests/test_accession.py
Due: mypy

Translated using Weblate (Portuguese (Brazil))
  strings/report/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/report/hr.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/report/nb_NO.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/expressSearchConfig/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/expressSearchConfig/es.po
Due: none

Translated using Weblate (Croatian)
  strings/expressSearchConfig/hr.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/expressSearchConfig/nb_NO.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/expressSearchConfig/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/expressSearchConfig/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/expressSearchConfig/uk.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/expressSearchConfig.ts
Due: frontend-tests

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/hr.po
  strings/common/nb_NO.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
Due: none

Translated using Weblate (Spanish)
  strings/schema/es.po
Due: none

Translated using Weblate (French)
  strings/schema/fr.po
Due: none

Translated using Weblate (Russian)
  strings/schema/ru.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
