Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Revert "hide cotype in schema override"
  specifyweb/frontend/js_src/lib/components/DataModel/schemaOverrides.ts
Due: frontend-tests

(batch-edit): front-end resolves
  specifyweb/frontend/js_src/lib/components/Router/Routes.tsx
  specifyweb/frontend/js_src/lib/components/Toolbar/WbsDialog.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/__tests__/navigator.test.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/batchEditHelpers.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/index.tsx
  specifyweb/frontend/js_src/lib/tests/fixtures/uploadplan.1.json
Due: frontend-tests

(tests): localization resolves
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

fix taxon treedef scoping logic
  specifyweb/workbench/upload/scoping.py
  specifyweb/workbench/upload/upload_plan_schema.py
Due: mypy

notes
  specifyweb/workbench/upload/treerecord.py
  specifyweb/workbench/upload/upload_plan_schema.py
Due: mypy

(tests): Resolve tests + clear results on rollback
  specifyweb/frontend/js_src/lib/components/Toolbar/WbsDialog.tsx
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
  specifyweb/specify/tests/test_api.py
  specifyweb/stored_queries/batch_edit.py
  specifyweb/workbench/upload/upload.py
Due: frontend-tests, mypy

fix find_treedef
  specifyweb/workbench/upload/upload_plan_schema.py
Due: mypy

fix mypy error
  specifyweb/workbench/upload/upload_plan_schema.py
Due: mypy

Translated using Weblate (Spanish)
  strings/resources/es.po
Due: none

Translated using Weblate (Ukrainian)
  strings/resources/uk.po
Due: none

Translated using Weblate (French)
  strings/resources/fr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/resources/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/resources/pt_BR.po
Due: none

Translated using Weblate (French)
  strings/user/fr.po
Due: none

Translated using Weblate (Russian)
  strings/user/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/user/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/user/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/user/pt_BR.po
Due: none

Translated using Weblate (Spanish)
  strings/backEnd/es.po
Due: none

Translated using Weblate (French)
  strings/backEnd/fr.po
Due: none

Translated using Weblate (Russian)
  strings/backEnd/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/backEnd/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/backEnd/de_CH.po
Due: none

allow for non-background wb uploads
  specifyweb/workbench/tasks.py
  specifyweb/workbench/views.py
Due: mypy

Switch syncers.default to syncers.fallback
  specifyweb/frontend/js_src/lib/components/Formatters/spec.ts
Due: frontend-tests

Update default separator on backend to match frontend
  specifyweb/stored_queries/format.py
Due: mypy

add todo
  specifyweb/frontend/js_src/lib/components/Toolbar/QueryTablesEdit.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Toolbar/QueryTablesEdit.tsx
Due: frontend-tests

Translated using Weblate (Russian)
  strings/main/ru.po
Due: none

Translated using Weblate (Portuguese)
  strings/main/pt.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/main/pt_BR.po
Due: none

(batch-edit): refactors, and unit tests
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/Upload.tsx
  specifyweb/frontend/js_src/lib/components/BatchEdit/index.tsx
  specifyweb/frontend/js_src/lib/components/DataModel/resource.ts
  specifyweb/frontend/js_src/lib/components/DataModel/uniqueFields.json
  specifyweb/frontend/js_src/lib/components/Permissions/definitions.ts
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/Toolbar/WbsDialog.tsx
  specifyweb/frontend/js_src/lib/components/WbActions/WbNoUploadPlan.tsx
  specifyweb/frontend/js_src/lib/components/WbActions/WbRollback.tsx
  specifyweb/frontend/js_src/lib/components/WbActions/WbUpload.tsx
  specifyweb/frontend/js_src/lib/components/WbActions/index.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/index.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/navigatorSpecs.ts
  specifyweb/frontend/js_src/lib/components/WbToolkit/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/Status.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/batchEditHelpers.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/helpers.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
  specifyweb/specify/models.py
  specifyweb/stored_queries/batch_edit.py
  specifyweb/stored_queries/format.py
  specifyweb/stored_queries/queryfield.py
  specifyweb/stored_queries/queryfieldspec.py
  specifyweb/stored_queries/tests/base_format.py
  specifyweb/stored_queries/tests/static/co_query_row_plan.py
  specifyweb/stored_queries/tests/test_batch_edit.py
  specifyweb/stored_queries/tests/test_format.py
  specifyweb/stored_queries/tests/test_row_plan_map.py
  specifyweb/workbench/upload/clone.py
  specifyweb/workbench/upload/tests/test_batch_edit_table.py
  specifyweb/workbench/upload/treerecord.py
  specifyweb/workbench/upload/upload_table.py
  specifyweb/workbench/upload/uploadable.py
  specifyweb/workbench/views.py
Due: frontend-tests, mypy

Add CO -> isMemberOfCOG virtual field to frontend
  specifyweb/frontend/js_src/lib/components/DataModel/schemaExtras.ts
Due: frontend-tests

Improve date backendfilters on frontend
  specifyweb/frontend/js_src/lib/components/DataModel/helpers.ts
Due: frontend-tests

Allow creating new records in Independent ToMany Collections
  specifyweb/frontend/js_src/lib/components/DataModel/collectionApi.ts
  specifyweb/frontend/js_src/lib/components/DataModel/resourceApi.ts
  specifyweb/frontend/js_src/lib/components/DataModel/saveBlockers.tsx
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelector.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelectorFromCollection.tsx
  specifyweb/frontend/js_src/lib/components/Forms/SubView.tsx
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/useDisambiguationDialog.tsx
  specifyweb/specify/api.py
  specifyweb/specify/tests/test_api.py
Due: frontend-tests, mypy

(batch-edit): UI changes
  specifyweb/frontend/js_src/css/main.css
  specifyweb/frontend/js_src/lib/components/WbUtils/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/Results.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbValidation.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
Due: frontend-tests

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
