Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Add copy/pasting detection
  .github/workflows/test.yml
  .gitignore
  specifyweb/frontend/js_src/.jscpd.json
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
  specifyweb/frontend/js_src/package.json
Due: frontend-tests

Fixes duplicate in legacyTypes
  specifyweb/frontend/js_src/lib/components/DataModel/legacyTypes.ts
Due: frontend-tests

fixes duplicate in plugins.ts
  specifyweb/frontend/js_src/lib/components/FormParse/plugins.ts
Due: frontend-tests

Disable copy paste detection for python packages folder
  specifyweb/frontend/js_src/.jscpd.json
Due: none

refactor(repository): cleanup .gitignore
  .gitignore
Due: none

feat(tests): add .gitigonre to glob converstion util
  specifyweb/frontend/js_src/lib/tests/gitignoreToGlob.ts
Due: frontend-tests

feat(tests): improve jscpd config
  .github/workflows/test.yml
  specifyweb/frontend/js_src/.jscpd.json
  specifyweb/frontend/js_src/lib/tests/jscpd.ts
  specifyweb/frontend/js_src/package-lock.json
Due: frontend-tests

docs(tests): add instructions in case copy paste was detected
  .github/workflows/test.yml
  specifyweb/frontend/js_src/lib/tests/jscpd.ts
Due: frontend-tests

refactor(repository): deduplicate copy/pasted code
  specifyweb/context/collection_resources.py
  specifyweb/context/user_resources.py
  specifyweb/frontend/js_src/lib/components/AppResources/Tabs.tsx
  specifyweb/frontend/js_src/lib/components/DataModel/legacyTypes.ts
  specifyweb/frontend/js_src/lib/components/Formatters/Types.tsx
  specifyweb/frontend/js_src/lib/components/Formatters/spec.ts
  specifyweb/frontend/js_src/lib/components/Molecules/Tabs.tsx
  specifyweb/frontend/js_src/lib/components/SchemaViewer/Fields.tsx
  specifyweb/frontend/js_src/lib/components/SchemaViewer/Relationships.tsx
  specifyweb/frontend/js_src/lib/tests/jscpd.ts
  specifyweb/specify/build_models.py
  specifyweb/specify/config.py
  specifyweb/specify/load_datamodel.py
  specifyweb/specify/sp7_build_datamodel.py
  specifyweb/specify/sp7_build_models.py
  specifyweb/specify/tree_extras.py
  specifyweb/stored_queries/build_models.py
  specifyweb/workbench/upload/upload_table.py
Due: frontend-tests, mypy

Translated using Weblate (Russian)
  strings/specifyNetwork/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/specifyNetwork/uk.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
Due: frontend-tests

chore: update to prettier 3
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

fix: remove duplicate key in Citation.cff
  CITATION.cff
Due: none

refactor(l10n): Update utils to Prettier 3
  specifyweb/frontend/js_src/lib/localization/utils/updateFile.ts
Due: frontend-tests

Translated using Weblate (Ukrainian)
  strings/header/uk.po
Due: none

Translated using Weblate (Russian)
  strings/header/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/header/de_CH.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/header.ts
Due: frontend-tests

Remove rankid declarations from tests
  specifyweb/businessrules/tests/geography.py
  specifyweb/businessrules/tests/taxon.py
Due: mypy

remove collectionobjectgroupchild
  specifyweb/sp7_models/models.py
  specifyweb/specify/datamodel.py
  specifyweb/specify/models.py
Due: mypy

cojos
  specifyweb/sp7_models/models.py
Due: mypy

Remove bulk button, add bulk carry to meta
  specifyweb/frontend/js_src/lib/components/FormMeta/CarryForward.tsx
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

Rename root taxontreedef in test
  specifyweb/businessrules/tests/taxon.py
Due: mypy

Add new feature to change taxon tree type in tree viewer
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
  specifyweb/frontend/js_src/lib/utils/cache/definitions.ts
Due: frontend-tests

Add todos
  specifyweb/frontend/js_src/lib/components/InitialContext/treeRanks.ts
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
Due: frontend-tests

Typo fix
  specifyweb/frontend/js_src/lib/components/InitialContext/treeRanks.ts
Due: frontend-tests

Add comment
  specifyweb/frontend/js_src/lib/components/InitialContext/treeRanks.ts
Due: frontend-tests

Determine domainfilter when fetching Field Picklist Items
  specifyweb/frontend/js_src/lib/components/PickLists/fetch.ts
Due: frontend-tests

fix deaccession total prep count
  specifyweb/specify/calculated_fields.py
Due: mypy

Change bulk stirng
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelectorFromIds.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSet.tsx
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

edit get_treedef with co_type_name
  specifyweb/frontend/js_src/lib/components/InitialContext/treeRanks.ts
  specifyweb/stored_queries/query_construct.py
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/InitialContext/treeRanks.ts
Due: frontend-tests

change discipline.traxontreedef to be many-to-one
  specifyweb/sp7_models/migrations/0001_initial.py
  specifyweb/specify/models.py
Due: mypy

remove TODO comment
  specifyweb/specify/calculated_fields.py
Due: mypy

suppress Unreliable test timings error
  specifyweb/workbench/upload/tests/testschema.py
Due: mypy

Block save when ExportFeed has invalid user id
  specifyweb/frontend/js_src/lib/components/ExportFeed/Editor.tsx
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

add special taxon trees api
  specifyweb/specify/tree_views.py
  specifyweb/specify/urls.py
Due: mypy
