Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (French)
  strings/common/fr.po
Due: none

Translated using Weblate (French)
  strings/header/fr.po
Due: none

Translated using Weblate (French)
  strings/setupTool/fr.po
Due: none

Translated using Weblate (French)
  strings/batchIdentify/fr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/batchIdentify.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Translated using Weblate (French)
  strings/expressSearchConfig/fr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/expressSearchConfig.ts
Due: frontend-tests

Test: Fix assert test suite for migration helper_0040
  specifyweb/specify/migration_utils/tests/test_helper_0040_components.py
Due: mypy

Test: Add container desc to test suite
  specifyweb/specify/migration_utils/tests/test_helper_0033_update_paleo_desc.py
Due: mypy

Test: Fix age citation test
  specifyweb/specify/migration_utils/tests/test_helper_0008_ageCitations_fix.py
Due: mypy

Test: Improve test_run_key order
  specifyweb/specify/management/commands/tests/test_run_key_migration_functions_order.py
Due: mypy

Test: Improve helper test 0042
  specifyweb/specify/migration_utils/tests/test_helper_0042_discipline_type_picklist.py
Due: mypy

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Translated using Weblate (Russian)
  strings/merging/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/merging/de_CH.po
Due: none

Translated using Weblate (French)
  strings/merging/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/tree/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/merging/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/merging/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/tree/hr.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/tree/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/merging/nb_NO.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/expressSearchConfig/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/expressSearchConfig/es.po
Due: none

Translated using Weblate (Croatian)
  strings/expressSearchConfig/hr.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
