Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Translated using Weblate (Portuguese (Brazil))
  strings/preferences/pt_BR.po
Due: none

Translated using Weblate (French)
  strings/preferences/fr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/preferences/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/preferences/es.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Fix: Remove preload tree checkbox for geo disciplines
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

migration correction
  specifyweb/backend/trees/extras.py
  specifyweb/specify/migrations/0001_initial.py
Due: mypy

Fix: Add tectonic and litho tree to geo disc in config tool
  specifyweb/backend/setup_tool/api.py
Due: mypy

Fix: Add disc type picklist to disc created in config tool
  specifyweb/backend/setup_tool/api.py
  specifyweb/backend/setup_tool/utils.py
Due: mypy

Fix: Handle treedef id missing during setup
  specifyweb/backend/setup_tool/api.py
Due: mypy

Add the 0039 schema migrations to the run_key_migration steps
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/migration_utils/update_schema_config.py
  specifyweb/specify/migrations/0039_agent_fields_for_loan_and_gift.py
Due: mypy

feat: integrate autonumbering locks with Workbench
  specifyweb/backend/redis_cache/connect.py
  specifyweb/backend/redis_cache/rqueue.py
  specifyweb/backend/workbench/upload/scope_context.py
  specifyweb/backend/workbench/upload/scoping.py
  specifyweb/backend/workbench/upload/treerecord.py
  specifyweb/backend/workbench/upload/upload.py
  specifyweb/backend/workbench/upload/upload_table.py
  specifyweb/backend/workbench/upload/uploadable.py
  specifyweb/specify/models_utils/lock_tables.py
  specifyweb/specify/utils/autonumbering.py
  specifyweb/specify/utils/uiformatters.py
Due: mypy

Fix: handle migrations for collections created in system config
  specifyweb/backend/setup_tool/api.py
Due: mypy

Skip on existing Splocalecontaineritem instead of Splocalecontainer
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Fix: Create litho and tecto tree for geo disc when not present
  specifyweb/backend/setup_tool/api.py
Due: mypy

implemented invert selection button and interactions for Invert text
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

add components
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/migration_utils/update_schema_config.py
  specifyweb/specify/migrations/0040_components.py
Due: mypy

typo fix
  specifyweb/specify/management/commands/run_key_migration_functions.py
Due: mypy

deduplicate_schema_config_sql
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

deduplicate_schema_config_orm
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Clean: remove unecessary code
  specifyweb/backend/setup_tool/api.py
  specifyweb/backend/setup_tool/utils.py
Due: mypy

sp_local_container assignment fix
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Translated using Weblate (Portuguese (Brazil))
  strings/interactions/pt_BR.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

improve deduplicate_schema_config_orm performance
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

remove raw sql step
  specifyweb/specify/management/commands/run_key_migration_functions.py
Due: mypy

avoid schema config errors in update_loan_and_gift_agents
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

feat: allow getting scope from model classes
  specifyweb/backend/businessrules/rules/attachment_rules.py
  specifyweb/specify/tests/test_api.py
  specifyweb/specify/utils/autonumbering.py
  specifyweb/specify/utils/scoping.py
Due: mypy

feat: add more scoping tables
  specifyweb/specify/utils/scoping.py
Due: mypy

fix: properly respect scope when setting autonumbering keys
  specifyweb/specify/utils/autonumbering.py
  specifyweb/specify/utils/scoping.py
Due: mypy

fix: resolve typo in static method decorator
  specifyweb/specify/utils/scoping.py
Due: mypy

fix: implement comparison operators for scope type
  specifyweb/specify/utils/autonumbering.py
  specifyweb/specify/utils/scoping.py
Due: mypy

fix: internally always use strings for scope types when autonumbering
  specifyweb/specify/utils/autonumbering.py
Due: mypy

Fix imports
  specifyweb/backend/setup_tool/api.py
Due: mypy

Use live default trees to determine if default taxon tree is available Update rank column name
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
Due: frontend-tests

Disable configration on ranks that are not included
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
Due: frontend-tests

Filter default trees based on discipline
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests
