Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Remove broken WebLinks
  config/common/weblinks.xml
Due: none

Add AgentIdentifier table to WebLinks
  config/common/weblinks.xml
Due: none

Remove auto-generated views
  specifyweb/frontend/js_src/lib/components/FormParse/webOnlyViews.ts
Due: frontend-tests

Add RecordSet Form
  config/backstop/system.views.xml
  specifyweb/frontend/js_src/lib/components/FormParse/webOnlyViews.ts
Due: frontend-tests

Update webOnlyViews.ts
  specifyweb/frontend/js_src/lib/components/FormParse/webOnlyViews.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormParse/webOnlyViews.ts
Due: frontend-tests

Use platform over appversion on global navigator object
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/tests/jsdom.js
Due: frontend-tests

Add comments
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/tests/jsdom.js
Due: frontend-tests

edit is_treedefitem
  specifyweb/specify/tree_extras.py
Due: mypy

Add ability to transfer Query
  config/backstop/global.views.xml
Due: none

Remove unnecessary separator
  config/backstop/dataobj_formatters.xml
Due: none

add TREE_RANK_MODELS to tree_utils
  specifyweb/specify/tree_utils.py
Due: mypy

handle_to_many for existing trees
  specifyweb/specify/api.py
Due: mypy

Add SpReport form
  config/backstop/system.views.xml
Due: none

Add auto-generated forms back
  specifyweb/frontend/js_src/lib/components/FormParse/webOnlyViews.ts
Due: frontend-tests

Add preferred name to Chronostrat and Lithostrat
  config/backstop/global.views.xml
Due: none

Fix XML mistakes
  config/backstop/global.views.xml
  config/common/common.views.xml
  specifyweb/context/data/viewset_0.xml
  specifyweb/context/data/viewset_4.xml
Due: none

Fix missing closing elements
  config/backstop/global.views.xml
  config/common/common.views.xml
  config/invertebrate/invertebrate.views.xml
  config/invertebrate/manager/invertebrate.views.xml
Due: none

change tectonictreedef parent on delete behavior to match other trees
  specifyweb/specify/migrations/0004_stratigraphy_age.py
  specifyweb/specify/models.py
Due: mypy

Add TectonicUnit form
  config/backstop/global.views.xml
Due: none

Improve *TreeDefItem form
  config/backstop/global.views.xml
Due: none

Add PC options for shared/embedded
  config/geology/geology.views.xml
Due: none

Add `.env` and `docker-compose.yml` to `.gitignore`
  .gitignore
Due: none

Fix remove button bugs
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
Due: frontend-tests

Remove duplicate children field
  specifyweb/specify/migrations/0007_schema_config_update.py
Due: mypy

add otherSideName attribute to absolute and relative age datamodel fields
  specifyweb/specify/datamodel.py
Due: mypy

fix sqlalchemy tests
  specifyweb/stored_queries/tests.py
Due: mypy

get_uncertainty_value
  specifyweb/specify/geo_time.py
Due: mypy

logic fix
  specifyweb/specify/geo_time.py
  specifyweb/specify/tests/test_geotime.py
Due: mypy

Avoid recreating ranks and nodes
  specifyweb/specify/migrations/0009_tectonic_ranks.py
Due: mypy

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Translated using Weblate (French)
  strings/merging/fr.po
Due: none

Translated using Weblate (Russian)
  strings/merging/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/merging/uk.po
Due: none
