Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Chnage relative age attachment
  specifyweb/specify/migrations/0005_stratigraphy_age.py
Due: mypy

Chnage absolute attachement
  specifyweb/specify/migrations/0005_stratigraphy_age.py
Due: mypy

misc
  specifyweb/specify/migrations/0005_stratigraphy_age.py
Due: mypy

Chnage db column name
  specifyweb/specify/migrations/0005_stratigraphy_age.py
Due: mypy

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (Russian)
  strings/schema/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/schema/uk.po
Due: none

Change fields absoluteAge dataModel
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
Due: frontend-tests

Chnage fields relativeAge dataModel
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
Due: frontend-tests

Modify fields tectonicTreeDef dataModel
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
Due: frontend-tests

Chnage fields TectonicTreeDefItem dataModel
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
Due: frontend-tests

Chnage fields tectonicUnit dataModel
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
Due: frontend-tests

Chnage dependency
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/migrations/0005_stratigraphy_age.py
Due: frontend-tests, mypy

Indep-to-many: use Django fieldnames over datamodel field names
  specifyweb/specify/api.py
Due: mypy

Chnages in datamodel.py
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0005_stratigraphy_age.py
Due: mypy

Modify age table in models.py
  specifyweb/specify/models.py
Due: mypy

Modify age attachment in models
  specifyweb/specify/models.py
Due: mypy

Modify age citation in models
  specifyweb/specify/models.py
Due: mypy

Modify tectnoic tree def in models
  specifyweb/specify/models.py
Due: mypy

Modify tectonicTreeDefItem
  specifyweb/specify/models.py
Due: mypy

Modify tectonicUnit in models
  specifyweb/specify/models.py
Due: mypy

config nginx.conf and docker-compose.yml for new config location
  config/dbdrivers.xml
  config/hiddentables.xml
  docker-compose.yml
  nginx.conf
Due: none

Modify tectnoicUnit
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0005_stratigraphy_age.py
Due: mypy

(batch-edit): add permission + make hier RO
  specifyweb/frontend/js_src/lib/components/Permissions/definitions.ts
  specifyweb/permissions/permissions.py
  specifyweb/specify/filter_by_col.py
  specifyweb/stored_queries/batch_edit.py
  specifyweb/workbench/permissions.py
  specifyweb/workbench/upload/auditor.py
  specifyweb/workbench/upload/upload.py
  specifyweb/workbench/upload/upload_table.py
  specifyweb/workbench/views.py
Due: frontend-tests, mypy

(batch-edit): add doc urls
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/ViewAttachmentFiles.tsx
  specifyweb/frontend/js_src/lib/components/Toolbar/WbsDialog.tsx
  specifyweb/frontend/js_src/lib/components/WbUtils/datasetVariants.tsx
Due: frontend-tests

Add new tables to schema config
  specifyweb/specify/migrations/0005_stratigraphy_age.py
Due: mypy

Generate new types - frontend and backend fieldNames were out of sync
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
Due: frontend-tests

Change business rules to new fieldnames
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

fix typecheck
  specifyweb/frontend/js_src/lib/components/Forms/parentTables.ts
Due: frontend-tests

initial age qb ops
  specifyweb/specify/geo_time.py
  specifyweb/stored_queries/query_ops.py
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

implement query_co_in_time_range with joins
  specifyweb/specify/geo_time.py
Due: mypy

temp
  specifyweb/specify/geo_time.py
Due: mypy

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

cleanup
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests
