Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

perf: optimize gunicorn and celery worker configuration (#7880, #7859)
  Dockerfile
  specifyweb/celery_tasks.py
  tests/test_deployment_config.py
Due: mypy

perf: paginate delete blockers to avoid loading all related records (#7515)
  specifyweb/backend/delete_blockers/__init__.py
  specifyweb/backend/delete_blockers/tests/__init__.py
  specifyweb/backend/delete_blockers/tests/test_pagination.py
  specifyweb/backend/delete_blockers/views.py
  specifyweb/frontend/js_src/lib/hooks/__tests__/useDeleteBlockers.test.tsx
Due: frontend-tests, mypy

perf: fix N+1 queries in inheritance API and increase yield_per batch size (#7875)
  specifyweb/backend/inheritance/api.py
  specifyweb/backend/inheritance/tests/__init__.py
  specifyweb/backend/inheritance/tests/test_n_plus_one.py
  specifyweb/backend/stored_queries/execution.py
Due: mypy

perf: add .iterator() to unbounded querysets to reduce memory usage (#7864)
  specifyweb/backend/interactions/cog_preps.py
  specifyweb/backend/permissions/views.py
  specifyweb/backend/stored_queries/batch_edit.py
  specifyweb/backend/trees/views.py
  specifyweb/backend/workbench/upload/upload_table.py
  specifyweb/specify/api/calculated_fields.py
  specifyweb/specify/api/serializers.py
  specifyweb/specify/tests/test_queryset_iterators.py
Due: mypy

fix unit tests
  specifyweb/backend/businessrules/rules/collectionobject_rules.py
  specifyweb/specify/api/utils.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Notifications/NotificationRenderers.tsx
Due: frontend-tests

feat: add link to docs in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Ignore legacy synthetic form fields in form parser
  specifyweb/frontend/js_src/lib/components/FormParse/cells.ts
Due: frontend-tests

Fix storage tree permission registry order
  specifyweb/frontend/js_src/lib/components/Permissions/definitions.ts
Due: frontend-tests

feat(queries): add wrap query results preference
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

feat(queries): add column auto-sizing and resize
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ResultsTable.tsx
Due: frontend-tests

fix(queries): ensure values show beginning
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ResultsTable.tsx
Due: frontend-tests

fix(queries): use ellipses when results are narrow
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ResultsTable.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ResultsTable.tsx
Due: frontend-tests

fix(queries): remove reset widths button
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
Due: frontend-tests

fix: URL-encode database password for SQLAlchemy connections (#7387)
  specifyweb/settings/__init__.py
  tests/test_sa_db_url.py
Due: mypy

fix: respect date precision in formatted fields (#7376)
  specifyweb/backend/stored_queries/format.py
  specifyweb/backend/stored_queries/tests/test_format/test_format_query.py
Due: mypy

fix: restrict simple search synonymy results to matching terms only (#6783)
  specifyweb/backend/express_search/related.py
  specifyweb/backend/express_search/tests.py
Due: mypy

Upgrade Django version from 4.2.27 to 4.2.30
  requirements.txt
Due: none

fix: remove artificial limit on record sets in search dialog (#6971)
  specifyweb/frontend/js_src/lib/components/SearchDialog/SelectRecordSet.tsx
  specifyweb/frontend/js_src/lib/components/SearchDialog/__tests__/SelectRecordSet.test.ts
Due: frontend-tests

Upgrade minimatch transitive dependency versions
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

fix: don't rely on external total for intenral identifiers
  specifyweb/backend/trees/defaults.py
Due: mypy

fix: colors for better contrast
  specifyweb/frontend/js_src/lib/components/Header/Logo.tsx
  specifyweb/frontend/js_src/lib/components/Notifications/Notifications.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

fix: increase contrast for gray headers
  specifyweb/frontend/js_src/lib/components/Atoms/className.ts
Due: frontend-tests

fix: remove redundant links in query results
  specifyweb/frontend/js_src/lib/components/Atoms/Link.tsx
Due: frontend-tests

Upgrade underscore version from 1.12.1 to 1.13.8
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

fix: contrast issues in dark mode and link aria
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/CreateAppResource.test.tsx
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/DataEntry.test.ts.snap
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/Link.test.ts.snap
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/index.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/CustomSelectElement.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/CreateAppResource.test.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/CustomSelectElement.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/CreateAppResource.test.tsx
  specifyweb/frontend/js_src/lib/components/Atoms/Link.tsx
  specifyweb/frontend/js_src/lib/components/HomePage/index.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/CustomSelectElement.tsx
Due: frontend-tests

fix: Date field edits trigger save button highlight (#6699)
  specifyweb/frontend/js_src/lib/components/FormPlugins/DateInput.tsx
  specifyweb/frontend/js_src/lib/components/FormPlugins/__tests__/PartialDateUi.test.tsx
Due: frontend-tests

fix: Correct date labels in batch edit headers (#6808)
  specifyweb/backend/stored_queries/batch_edit.py
  specifyweb/backend/stored_queries/relative_date_utils.py
  specifyweb/backend/stored_queries/tests/test_batch_edit.py
  specifyweb/frontend/js_src/lib/components/WbPlanView/__tests__/mappingPreview.test.ts
Due: frontend-tests, mypy

fix: Sync column headers on query field reorder (#7086)
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ResultsWrapper.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/ResultsWrapper.test.ts
Due: frontend-tests

fix: Preserve selected subset after record deletion (#7463)
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ToForms.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/ToForms.test.ts
Due: frontend-tests

fix: Validate formatter compatibility in schema config (#7585)
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Format.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/__tests__/Format.test.ts
  specifyweb/frontend/js_src/lib/components/SchemaConfig/helpers.ts
  specifyweb/frontend/js_src/lib/components/SchemaConfig/schemaData.ts
Due: frontend-tests

fix: Escape quotes in GEOLocate (#7664)
  specifyweb/frontend/js_src/lib/components/Molecules/GeoLocate.tsx
  specifyweb/frontend/js_src/lib/components/Molecules/__tests__/GeoLocate.test.ts
Due: frontend-tests

fix: Respect false default for boolean fields (#7667)
  specifyweb/frontend/js_src/lib/hooks/__tests__/useParserDefaultValue.test.ts
  specifyweb/frontend/js_src/lib/hooks/useParserDefaultValue.tsx
  specifyweb/frontend/js_src/lib/utils/parser/definitions.ts
Due: frontend-tests

fix: Disable Download All when no attachments (#7898)
  specifyweb/frontend/js_src/lib/components/Attachments/RecordSetAttachment.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/RecordSetAttachment.test.tsx
Due: frontend-tests

fix: suppress separators for null fields in table formatters (#6406)
  specifyweb/backend/stored_queries/format.py
  specifyweb/backend/stored_queries/tests/test_format/test_format_query.py
Due: mypy

fix: preserve mapped createdByAgent during WorkBench upload (#7840)
  specifyweb/backend/workbench/upload/upload_table.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
