Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Translated using Weblate (Russian)
  strings/resources/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/resources/es.po
Due: none

Translated using Weblate (Ukrainian)
  strings/resources/uk.po
Due: none

Translated using Weblate (French)
  strings/resources/fr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/resources/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/resources/pt_BR.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/interactions/de_CH.po
  strings/interactions/en_US.po
  strings/interactions/es.po
  strings/interactions/fr.po
  strings/interactions/pt_BR.po
  strings/interactions/ru.po
  strings/interactions/uk.po
  strings/resources/de_CH.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
Due: none

remove bad FieldChangeInfo import
  specifyweb/backend/workbench/upload/auditlog.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialogRow.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/Mapper.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialogRow.tsx
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

revert default uniqueness rules changes
  specifyweb/backend/businessrules/uniqueness_rules.json
Due: none

fix(batch-edit): rewrite coords to align with WB expectation of coords
  specifyweb/backend/stored_queries/batch_edit.py
  specifyweb/backend/stored_queries/batch_edit_query_rewrites.py
  specifyweb/backend/stored_queries/execution.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialogRow.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/Mapper.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Fix import
  specifyweb/backend/setup_tool/api.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Refactor uploadAttachmentsToRow
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
Due: frontend-tests

WIP add deleteAttachmentsFromRow
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
Due: frontend-tests

Translated using Weblate (Portuguese (Brazil))
  strings/common/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/main/pt_BR.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
Due: frontend-tests

fix(workbench): use visual order in wb export
  specifyweb/frontend/js_src/lib/components/WbToolkit/index.tsx
Due: frontend-tests

fix(typing): use imported Dataset type
  specifyweb/frontend/js_src/lib/components/WbToolkit/index.tsx
Due: frontend-tests

fix: allow columns to be modified later in helper
  specifyweb/frontend/js_src/lib/components/WbToolkit/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WbToolkit/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/main.ts
Due: frontend-tests

add fix_global_default_rules to fix_business_rules key migration function
  specifyweb/backend/businessrules/uniqueness_rules.py
  specifyweb/specify/management/commands/run_key_migration_functions.py
Due: mypy

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/interactions/de_CH.po
  strings/interactions/en_US.po
  strings/interactions/es.po
  strings/interactions/fr.po
  strings/interactions/pt_BR.po
  strings/interactions/ru.po
  strings/interactions/uk.po
  strings/main/pt_BR.po
  strings/wbPlan/de_CH.po
  strings/wbPlan/en_US.po
  strings/wbPlan/es.po
  strings/wbPlan/fr.po
  strings/wbPlan/pt_BR.po
  strings/wbPlan/ru.po
  strings/wbPlan/uk.po
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Notifications/__tests__/useNotificationsFetch.test.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
Due: frontend-tests

create bussiness rules migration for fix_global_default_rules
  specifyweb/backend/businessrules/migrations/0008_fix_global_default_rules.py
Due: mypy

Use frontend collection name
  specifyweb/backend/trees/views.py
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests

fix(types): Type cast RelationshipType in make_relationship
  specifyweb/specify/models_utils/load_datamodel.py
Due: mypy

Fix tree api backward compatibility
  specifyweb/specify/urls.py
Due: mypy

Simplify and avoid double specify key word in apis
  specifyweb/specify/urls.py
Due: mypy

Update merge api
  specifyweb/specify/urls.py
Due: mypy
