Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Translated using Weblate (German (Switzerland))
  strings/header/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/header/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/header/hr.po
Due: none

Fix: Preserve delimiter
  config/backstop/dataobj_formatters.xml
Due: none

Fix: Keep the loaded view mounted while queries reloads.
  specifyweb/frontend/js_src/lib/components/DataViews/index.tsx
Due: frontend-tests

Fix:Cap the refreshed array. Do not extend it to the total count.
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
Due: frontend-tests

Update specifyweb/frontend/js_src/lib/components/QueryBuilder/SplitView.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/SplitView.tsx
Due: frontend-tests

Update specifyweb/frontend/js_src/lib/components/DataViews/queries.ts
  specifyweb/frontend/js_src/lib/components/DataViews/queries.ts
Due: frontend-tests

Update specifyweb/backend/context/views.py
  specifyweb/backend/context/views.py
Due: mypy

Fix: Serialize localized-string lookup and creation.
  specifyweb/backend/context/tests/test_schema_localization_import.py
  specifyweb/backend/context/views.py
Due: mypy

Feat: Separate import errors from post-import refresh errors.
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Layout.tsx
  specifyweb/frontend/js_src/lib/localization/schema.ts
Due: frontend-tests

Feat: Reject imports with a source-language mismatch
  specifyweb/backend/context/tests/test_schema_localization_import.py
  specifyweb/backend/context/views.py
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Components.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Layout.tsx
  specifyweb/frontend/js_src/lib/localization/schema.ts
Due: frontend-tests, mypy

Potential fix for pull request finding 'CodeQL / Empty except'
  specifyweb/backend/context/tests/test_schema_localization_import.py
Due: mypy

Fix: Filter imported aggregators against DataObjFormatters.
  specifyweb/backend/context/views.py
Due: mypy

Fix: Validate item formats against UIFormatters.
  specifyweb/backend/context/views.py
Due: mypy

Test: Improve tests
  specifyweb/specify/tests/test_queryset_iterators.py
Due: mypy

Fix: Use the correct formatter set for each schema level.
  specifyweb/backend/context/views.py
Due: mypy

Fix: Enforce the Schema Config tool permission on the import endpoint.
  specifyweb/backend/context/views.py
Due: mypy

fix: remove dependency on Max's stylelint config
  specifyweb/frontend/js_src/.stylelintrc.js
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: frontend-tests

fix: expect result.current instead of result
  specifyweb/frontend/js_src/lib/hooks/__tests__/useFormatted.test.ts
Due: frontend-tests

fix: remove unused imports and duplicate rules
  specifyweb/frontend/js_src/eslint.config.js
Due: frontend-tests

fix: merge overrides in package.json
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/package.json
Due: none

[test]: test batch image upload unit test
  specifyweb/backend/businessrules/tests/test_batch_image_upload.py
Due: mypy

[fix]: updated dependencies so debdaf2 should pass frontend tests
  specifyweb/frontend/js_src/lib/components/BatchEdit/__tests__/BatchEditFromQuery.test.tsx
Due: frontend-tests

Batch image upload - Unit Test
  specifyweb/backend/businessrules/tests/test_batch_image_upload.py
Due: mypy

[test]: fill disposal number and date
  specifyweb/backend/businessrules/tests/test_disposal.py
Due: mypy

[test]: add existing agent to disposal
  specifyweb/backend/businessrules/tests/test_disposal.py
Due: mypy

[test]: create new agent for disposal
  specifyweb/backend/businessrules/tests/test_disposal.py
Due: mypy

[test]: add multiple agents and preps to disposal
  specifyweb/backend/businessrules/tests/test_disposal.py
Due: mypy

fix: remove depricated stylelint rules
  specifyweb/frontend/js_src/.stylelintrc.js
Due: frontend-tests

fix: move testing lint rules to apply to test files only
  specifyweb/frontend/js_src/eslint.config.js
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/AttachmentsView.test.tsx
  specifyweb/frontend/js_src/lib/components/Header/__tests__/Header.test.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/__tests__/Redirect.test.tsx
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/__tests__/WbImportAttachments.test.tsx
  specifyweb/frontend/js_src/lib/hooks/__tests__/useSearchParameter.test.tsx
  specifyweb/frontend/js_src/lib/tests/globalSetup.js
  specifyweb/frontend/js_src/lib/tests/utils.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/eslint.config.js
Due: frontend-tests

[test]: verify you can roll back
  specifyweb/backend/workbench/upload/tests/test_batch_edit_rollback.py
Due: mypy

[fix]: fix for 58c75db failed tests
  specifyweb/backend/workbench/upload/tests/test_batch_edit_rollback.py
Due: mypy

Translated using Weblate (Spanish)
  strings/schema/es.po
Due: none

Translated using Weblate (Spanish)
  strings/forms/es.po
Due: none
