Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Remove comment
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelectorFromCollection.tsx
Due: frontend-tests

Sync localization strings with Weblate
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
Due: none

Check if parser valid only for cat num
  specifyweb/frontend/js_src/lib/hooks/useResourceValue.tsx
Due: frontend-tests

Remove import
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
  specifyweb/frontend/js_src/lib/components/Toolbar/RecordSets.tsx
Due: frontend-tests

Fix error
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
Due: frontend-tests

init modify_update_of_interaction_sibling_preps
  specifyweb/interactions/cog_preps.py
  specifyweb/interactions/views.py
  specifyweb/specify/api.py
Due: mypy

Translated using Weblate (Ukrainian)
  strings/schema/uk.po
Due: none

Catch table name exceptions
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Avoid skipping revert on error
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Improve revert functions
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

fix removing sibling preps
  specifyweb/interactions/cog_preps.py
Due: mypy

abstract modify_update_of_interaction_sibling_preps
  specifyweb/interactions/cog_preps.py
Due: mypy

fix update prep bug
  specifyweb/interactions/cog_preps.py
Due: mypy

fix gift and disposal filter field
  specifyweb/interactions/cog_preps.py
Due: mypy

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Translated using Weblate (Portuguese)
  strings/tree/pt.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/tree/pt_BR.po
Due: none

fix null cog handling
  specifyweb/interactions/cog_preps.py
Due: mypy

set new sibling prep counts to 2
  specifyweb/interactions/cog_preps.py
Due: mypy

Disable trash can when loan not saved
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
  specifyweb/frontend/js_src/lib/components/FormCells/FormTableCollection.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
Due: frontend-tests

revert loanprep quantity default
  specifyweb/interactions/cog_preps.py
  specifyweb/interactions/views.py
Due: mypy

double check null for cog_co_ids_str
  specifyweb/interactions/views.py
Due: mypy

filter out nulls from cog_co_ids in preps_available_rs
  specifyweb/interactions/views.py
Due: mypy

Allow selection of COT catnum format in QB
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Formatter.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/FromMap.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Line.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/QueryLineTools.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/helpers.ts
  specifyweb/frontend/js_src/lib/components/QueryBuilder/reducer.ts
  specifyweb/frontend/js_src/lib/components/SpecifyNetwork/Map.tsx
  specifyweb/frontend/js_src/lib/utils/parser/definitions.ts
  specifyweb/stored_queries/format.py
  specifyweb/stored_queries/queryfieldspec.py
Due: frontend-tests, mypy

Resolve failing test
  specifyweb/frontend/js_src/lib/components/SpecifyNetwork/__tests__/Map.test.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/utils/parser/definitions.ts
Due: frontend-tests

Handle case when no cot exists with field format on query filter
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Formatter.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Line.tsx
Due: frontend-tests

Translated using Weblate (Spanish)
  strings/forms/es.po
Due: none

Translated using Weblate (French)
  strings/forms/fr.po
Due: none

Translated using Weblate (Russian)
  strings/forms/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/forms/de_CH.po
Due: none

Translated using Weblate (Ukrainian)
  strings/forms/uk.po
Due: none

verify top_consolidated_cog type
  specifyweb/interactions/cog_preps.py
Due: mypy

fix child_cog type in recursion
  specifyweb/interactions/cog_preps.py
Due: mypy

cleanup is_consolidated_cog
  specifyweb/interactions/cog_preps.py
Due: mypy
