Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Norwegian Bokmål)
  strings/setupTool/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/expressSearchConfig.ts
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

Feat: Disable split screen on small screens
  specifyweb/frontend/js_src/lib/components/DataViews/index.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Header.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/SplitView.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/useQuerySplitView.ts
Due: frontend-tests

Fix: Normalize locale keys before the lookup
  specifyweb/backend/context/tests/test_schema_localization_import.py
  specifyweb/backend/context/views.py
Due: mypy

Fix: Fix the invalid Geography query field
  config/backstop/data_view_queries.json
Due: none

Fix: Clear the runtime sort override after a successful save
  specifyweb/frontend/js_src/lib/components/DataViews/index.tsx
Due: frontend-tests

Fix: Configure newest-first ordering for every default Data View
  config/backstop/data_view_queries.json
  specifyweb/frontend/js_src/lib/components/DataViews/__tests__/queries.test.ts
  specifyweb/frontend/js_src/lib/components/DataViews/queries.ts
Due: frontend-tests

Fix: Refresh the result count with the result pages
  specifyweb/frontend/js_src/lib/components/DataViews/queries.ts
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
Due: frontend-tests

Fix: Forward onResults to QueryResults
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ResultsWrapper.tsx
Due: frontend-tests

Fix: Select the first result after split view becomes available
  specifyweb/frontend/js_src/lib/components/QueryBuilder/useQuerySplitView.ts
Due: frontend-tests

Fix: Configure newest-first ordering for every default Data View
  config/backstop/data_view_queries.json
Due: none

Fix: Refresh the result count with the result pages
  specifyweb/frontend/js_src/lib/components/Header/ExpressSearchTask.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ResultsWrapper.tsx
Due: frontend-tests

Fix: Serialize the changed sort fields before execution
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
Due: frontend-tests

Translated using Weblate (Norwegian Bokmål)
  strings/tree/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/attachments/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

Fix: Reconcile deletions with the active name filtere
  specifyweb/frontend/js_src/lib/components/Toolbar/Query.tsx
Due: frontend-tests

Fix: Reconcile against searchFilter rather than current-page membership
  specifyweb/frontend/js_src/lib/components/Toolbar/Query.tsx
Due: frontend-tests

Fix: typo
  config/backstop/data_view_queries.json
Due: none

Fix: sort type
  config/backstop/data_view_queries.json
Due: none

Fix: tests
  specifyweb/backend/context/tests/test_app_resource.py
Due: mypy

Translated using Weblate (Norwegian Bokmål)
  strings/expressSearchConfig/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/attachments.ts
Due: frontend-tests

Fix: Keep the query editor session open until its save settles
  specifyweb/frontend/js_src/lib/components/DataViews/DataViewTables.tsx
  specifyweb/frontend/js_src/lib/components/DataViews/index.tsx
Due: frontend-tests

Fix: Reject invalid entries in fields
  specifyweb/frontend/js_src/lib/components/DataViews/queries.ts
Due: frontend-tests

Fix: Limit refreshes to pages that are already loaded8
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
Due: frontend-tests

[Tests]: Add test suites for Add and Clone feature
  specifyweb/backend/businessrules/tests/test_add_new_resource.py
  specifyweb/backend/businessrules/tests/test_clone_previously_created.py
  specifyweb/frontend/js_src/lib/components/Forms/__tests__/Save.test.tsx
Due: frontend-tests, mypy

Tests: add test for fields: [null]
  specifyweb/frontend/js_src/lib/components/DataViews/__tests__/queries.test.ts
Due: frontend-tests

Test: update CO setup
  specifyweb/backend/businessrules/tests/test_add_new_resource.py
  specifyweb/backend/businessrules/tests/test_clone_previously_created.py
Due: mypy

Test: Chnage create to post resource
  specifyweb/backend/businessrules/tests/test_add_new_resource.py
  specifyweb/backend/businessrules/tests/test_clone_previously_created.py
Due: mypy

Test: Add clone tests
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/domain.test.ts
Due: frontend-tests

Fix test
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/domain.test.ts
Due: frontend-tests

[test]: WIP of disable relationships for batch edit and enable rollback in user preferences
  specifyweb/frontend/js_src/lib/components/WbUtils/__tests__/datasetVariants.test.ts
Due: frontend-tests

test commit
  specifyweb/frontend/js_src/lib/components/WbUtils/__tests__/datasetVariants.test.ts
Due: frontend-tests

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
