Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
Due: frontend-tests

Refactor: Handle new coll pref for add child to syno in the backend
  specifyweb/backend/trees/extras.py
  specifyweb/backend/trees/views.py
  specifyweb/frontend/js_src/lib/components/DataModel/treeBusinessRules.ts
  specifyweb/specify/utils/autonumbering.py
Due: frontend-tests, mypy

Fix tree rank parenting
  specifyweb/backend/setup_tool/tree_defaults.py
Due: mypy

removed old definitnitions for age
  specifyweb/frontend/js_src/lib/utils/parser/definitions.ts
Due: frontend-tests

special case ovveride for AgeRange Field
  .env
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Line.tsx
  specifyweb/frontend/js_src/lib/utils/parser/definitions.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Line.tsx
  specifyweb/frontend/js_src/lib/utils/parser/definitions.ts
Due: frontend-tests

Refactor: use require import to avoid loading crash on pref coll
  specifyweb/frontend/js_src/lib/components/DataModel/treeBusinessRules.ts
Due: frontend-tests

Fix: pop kwargs arg to avoid propagation
  specifyweb/backend/trees/extras.py
Due: mypy

Fix: Only request collection and user for tree class
  specifyweb/backend/trees/extras.py
  specifyweb/specify/utils/autonumbering.py
Due: mypy

move definition and added a custom non-negative check validation
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Line.tsx
Due: frontend-tests

Fix: Add query builder coll pref back
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests

fixed test falirs
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Line.tsx
Due: frontend-tests

fixed test erros 2
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Line.tsx
Due: frontend-tests

Fix geography and geologictimeperiod mapping
  specifyweb/backend/trees/utils.py
  specifyweb/backend/trees/views.py
Due: mypy

added conversion from unknown to string
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Line.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Line.tsx
Due: frontend-tests

Translated using Weblate (German (Switzerland))
  strings/wbPlan/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/wbPlan/pt_BR.po
Due: none

Translated using Weblate (French)
  strings/wbPlan/fr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
Due: frontend-tests

Translated using Weblate (German (Switzerland))
  strings/preferences/de_CH.po
Due: none

Translated using Weblate (French)
  strings/preferences/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/preferences/pt_BR.po
Due: none

Translated using Weblate (Spanish)
  strings/preferences/es.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Translated using Weblate (French)
  strings/interactions/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/interactions/pt_BR.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/interactions/de_CH.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Fix: Always get treedef by name
  specifyweb/backend/trees/utils.py
Due: mypy

refactor: Remove unnecessary async in systemInfo endpoint
  specifyweb/frontend/js_src/lib/components/InitialContext/systemInfo.ts
Due: frontend-tests

Artificially inject delay in the resolution of the stats endpoint
  specifyweb/frontend/js_src/lib/components/InitialContext/index.ts
  specifyweb/frontend/js_src/lib/components/InitialContext/stats.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/InitialContext/index.ts
  specifyweb/frontend/js_src/lib/components/InitialContext/stats.ts
Due: frontend-tests

improve wb progress status
  specifyweb/backend/workbench/upload/upload.py
Due: mypy

WIP retry failed rows
  specifyweb/backend/trees/utils.py
Due: mypy

Improve readability
  specifyweb/backend/trees/utils.py
Due: mypy

Stop tracking .env file
  .env
Due: none

WIP accept row_count and mapping_url
  specifyweb/backend/trees/utils.py
  specifyweb/backend/trees/views.py
Due: mypy

feat: update attribute description
  config/common/schema_localization_en.json
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
