Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/ChronoChart.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/FieldFilter.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/useQueryFieldFilters.tsx
  specifyweb/frontend/js_src/lib/components/WbAttachmentViewer/index.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/Components.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/State.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/linesGetter.ts
  specifyweb/frontend/js_src/lib/components/WbToolkit/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbValidation.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/resultsParser.ts
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
  specifyweb/frontend/js_src/lib/utils/cache/index.ts
Due: frontend-tests

Translated using Weblate (Portuguese (Brazil))
  strings/specifyNetwork/pt_BR.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/specifyNetwork/de_CH.po
Due: none

fix: make timestamp ISO 8061 compliant
  specifyweb/backend/stored_queries/format.py
Due: mypy

Fix import
  specifyweb/backend/locality_update_tool/views.py
Due: mypy

Fix tests
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
Due: frontend-tests

Tests fix
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
Due: frontend-tests

Add Reset Zoom button Allow zooming out further
  specifyweb/frontend/js_src/lib/components/Attachments/LeafletImageViewer.tsx
Due: frontend-tests

Remove dimensionsKey
  specifyweb/frontend/js_src/lib/components/Attachments/LeafletImageViewer.tsx
  specifyweb/frontend/js_src/lib/components/WbAttachmentViewer/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
Due: frontend-tests

Update Leaflet map when dialog is resized
  specifyweb/frontend/js_src/lib/components/Attachments/LeafletImageViewer.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/LeafletImageViewer.tsx
Due: frontend-tests

Fix merge error
  specifyweb/frontend/js_src/lib/components/WbAttachmentViewer/index.tsx
Due: frontend-tests

[reorganization]:Move series logic to its own app
  specifyweb/backend/series/urls.py
  specifyweb/backend/series/views.py
  specifyweb/frontend/js_src/lib/components/Forms/BulkCarryForward.tsx
  specifyweb/settings/__init__.py
  specifyweb/specify/tests/test_series_autonumber.py
  specifyweb/specify/urls.py
  specifyweb/specify/views.py
  specifyweb/urls.py
Due: frontend-tests, mypy

Remove comment
  specifyweb/backend/series/urls.py
Due: mypy

Move tests
  specifyweb/specify/tests/selenium_tests.py
Due: mypy

Fix merge error
  specifyweb/frontend/js_src/lib/localization/attachments.ts
Due: frontend-tests

Frontend tests
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
Due: frontend-tests

WIP Add new column for formatted attachments
  specifyweb/backend/workbench/upload/upload_attachments.py
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/linesGetter.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
Due: frontend-tests, mypy

Test
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
Due: frontend-tests

[reorganization]:Move bulk_copy logic to its own app
  specifyweb/backend/bulk_copy/bulk_copy.py
  specifyweb/backend/bulk_copy/urls.py
  specifyweb/backend/bulk_copy/views.py
  specifyweb/frontend/js_src/lib/components/Forms/BulkCarryForward.tsx
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
  specifyweb/settings/__init__.py
  specifyweb/specify/api.py
  specifyweb/specify/schema.py
  specifyweb/specify/urls.py
  specifyweb/specify/views.py
  specifyweb/urls.py
Due: frontend-tests, mypy

Translated using Weblate (Russian)
  strings/query/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/query/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/query/pt_BR.po
Due: none

Translated using Weblate (Ukrainian)
  strings/backup/uk.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Move audit log to backend folder
  specifyweb/backend/stored_queries/execution.py
  specifyweb/backend/trees/extras.py
  specifyweb/backend/trees/views.py
  specifyweb/backend/workbench/upload/auditcodes.py
  specifyweb/backend/workbench/upload/auditlog.py
  specifyweb/backend/workbench/upload/auditor.py
  specifyweb/backend/workbench/upload/tests/test_batch_edit_table.py
  specifyweb/backend/workbench/upload/tests/testparsing.py
  specifyweb/backend/workbench/upload/tests/testunupload.py
  specifyweb/backend/workbench/upload/tests/testuploading.py
  specifyweb/backend/workbench/upload/upload.py
  specifyweb/specify/api.py
  specifyweb/specify/tests/selenium_tests.py
  specifyweb/specify/tests/test_load_datamodel.py
  specifyweb/specify/tests/tests.py
Due: mypy

try avoiding duplicates & extra logging
  specifyweb/backend/businessrules/uniqueness_rules.py
  specifyweb/specify/management/commands/run_key_migration_functions.py
Due: mypy

[reorganization]:Move delete blockers logic to its own app
  specifyweb/backend/delete_blockers/urls.py
  specifyweb/backend/delete_blockers/views.py
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/AppResourceEditButton.test.tsx
  specifyweb/frontend/js_src/lib/components/Forms/DeleteButton.tsx
  specifyweb/frontend/js_src/lib/components/Forms/__tests__/DeleteButton.test.tsx
  specifyweb/frontend/js_src/lib/hooks/__tests__/useDeleteBlockers.test.tsx
  specifyweb/settings/__init__.py
  specifyweb/specify/schema.py
  specifyweb/specify/tests/test_delete_blockers.py
  specifyweb/specify/urls.py
  specifyweb/specify/views.py
  specifyweb/urls.py
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/AppResourceEditButton.test.tsx
Due: frontend-tests

edit logging
  specifyweb/backend/businessrules/uniqueness_rules.py
  specifyweb/specify/management/commands/run_key_migration_functions.py
Due: mypy

[reorganization]:Move table rows logic to its own app
  specifyweb/backend/table_rows/forms.py
  specifyweb/backend/table_rows/urls.py
  specifyweb/backend/table_rows/views.py
  specifyweb/frontend/js_src/lib/components/DataModel/collection.ts
  specifyweb/frontend/js_src/lib/components/PickLists/__tests__/fetch.test.ts
  specifyweb/settings/__init__.py
  specifyweb/specify/api.py
  specifyweb/specify/schema.py
  specifyweb/specify/tests/test_rows.py
  specifyweb/specify/urls.py
  specifyweb/specify/views.py
  specifyweb/urls.py
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
  specifyweb/frontend/js_src/lib/components/Toolbar/BackupDatabase.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Sync localization strings with Weblate
  strings/backup/de_CH.po
  strings/backup/en_US.po
  strings/backup/es.po
  strings/backup/fr.po
  strings/backup/pt_BR.po
  strings/backup/ru.po
  strings/backup/uk.po
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/header/de_CH.po
  strings/header/en_US.po
  strings/header/es.po
  strings/header/fr.po
  strings/header/pt_BR.po
  strings/header/ru.po
  strings/header/uk.po
  strings/notifications/de_CH.po
  strings/notifications/en_US.po
  strings/notifications/es.po
  strings/notifications/fr.po
  strings/notifications/pt_BR.po
  strings/notifications/ru.po
  strings/notifications/uk.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
