Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Russian)
  strings/forms/ru.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/forms/pt_BR.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/wbPlan/de_CH.po
Due: none

Translated using Weblate (French)
  strings/wbPlan/fr.po
Due: none

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/tree/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Update schema_localization.py
  specifyweb/backend/context/schema_localization.py
Due: mypy

Tracking tasks per each new collection
  specifyweb/backend/accounts/views.py
  specifyweb/backend/context/views.py
  specifyweb/backend/setup_tool/api.py
  specifyweb/backend/setup_tool/redis.py
  specifyweb/backend/setup_tool/setup_tasks.py
Due: mypy

Test: New color scheme
  specifyweb/frontend/js_src/lib/components/Atoms/Form.tsx
  specifyweb/frontend/js_src/lib/components/Atoms/className.ts
  specifyweb/frontend/js_src/lib/components/Core/SplashScreen.tsx
  specifyweb/frontend/js_src/lib/components/Header/Logo.tsx
  specifyweb/frontend/js_src/lib/components/Header/index.tsx
  specifyweb/frontend/js_src/lib/components/HomePage/index.tsx
  specifyweb/frontend/js_src/lib/components/Molecules/Dialog.tsx
  specifyweb/frontend/js_src/lib/components/Molecules/FilePicker.tsx
  specifyweb/frontend/js_src/lib/components/Notifications/Notifications.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/ApplyPreferences.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/Renderers.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
  specifyweb/frontend/js_src/lib/components/Statistics/Categories.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/CustomSelectElement.tsx
  specifyweb/frontend/static/img/new_logo.png
  specifyweb/frontend/static/img/new_short_logo.png
  specifyweb/frontend/static/img/splash_screen_new.png
Due: frontend-tests

feat: add new logo
  specifyweb/frontend/static/img/favicon.svg
  specifyweb/frontend/static/img/logo.svg
  specifyweb/frontend/static/img/short_logo.svg
  specifyweb/frontend/static/img/splash_screen.svg
Due: none

feat: update colors
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/templates/body.html
Due: frontend-tests

discipline naming change
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests

feat: colors
  specifyweb/frontend/js_src/lib/components/Header/index.tsx
  specifyweb/frontend/js_src/lib/components/HomePage/index.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/tailwind.config.ts
  specifyweb/frontend/static/img/logo.svg
  specifyweb/frontend/static/img/splash_screen.svg
Due: frontend-tests

feat: remove shadows
  specifyweb/frontend/js_src/lib/components/Atoms/className.ts
  specifyweb/frontend/js_src/lib/components/Attachments/Preview.tsx
  specifyweb/frontend/js_src/lib/components/Core/SplashScreen.tsx
Due: frontend-tests

Update safari-pinned-tab.svg
  specifyweb/frontend/static/img/safari-pinned-tab.svg
Due: none

feat: update more colors
  specifyweb/frontend/js_src/lib/components/Atoms/className.ts
  specifyweb/frontend/js_src/lib/components/Molecules/Dialog.tsx
Due: frontend-tests

fix: failing tests
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/AppResourcesTab.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/DataEntry.test.ts.snap
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/index.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/__snapshots__/AttachmentCell.test.tsx.snap
  specifyweb/frontend/js_src/lib/hooks/__tests__/useHueDifference.test.ts
Due: frontend-tests

Update favicon.svg
  specifyweb/frontend/static/img/favicon.svg
Due: none

fix: adjust gradient
  specifyweb/frontend/static/img/splash_screen.svg
Due: none

fix: add dark mode splash
  specifyweb/frontend/js_src/lib/components/HomePage/index.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/Renderers.tsx
  specifyweb/frontend/static/img/splash_screen_dark.svg
Due: frontend-tests

Update splash_screen.svg
  specifyweb/frontend/static/img/splash_screen.svg
Due: none

check discipline status for new collections
  specifyweb/backend/context/views.py
  specifyweb/backend/setup_tool/api.py
  specifyweb/backend/setup_tool/redis.py
  specifyweb/backend/setup_tool/schema_defaults.py
  specifyweb/backend/setup_tool/setup_tasks.py
Due: mypy

fix: splash screens
  specifyweb/frontend/static/img/splash_screen.svg
  specifyweb/frontend/static/img/splash_screen_dark.svg
Due: none

feat: update loading animation
  specifyweb/frontend/js_src/lib/components/Molecules/index.tsx
  specifyweb/frontend/js_src/lib/components/Statistics/Categories.tsx
Due: frontend-tests

fix: make search blue
  specifyweb/frontend/js_src/lib/components/Atoms/className.ts
Due: frontend-tests

crunchy
  specifyweb/frontend/js_src/lib/components/Core/SplashScreen.tsx
  specifyweb/frontend/static/img/logo.svg
  specifyweb/frontend/static/img/logo_dark.svg
Due: frontend-tests

Ensure all trees are created for setup tasks
  specifyweb/backend/setup_tool/api.py
Due: mypy

setup_tool: fix schema-default task race condition on discipline creation
  specifyweb/backend/setup_tool/schema_defaults.py
Due: mypy

Update DataEntry.test.ts.snap
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/DataEntry.test.ts.snap
Due: none

fix: don't limit fetched agents for security and accounts
  specifyweb/frontend/js_src/lib/components/Security/UserHooks.tsx
Due: frontend-tests

move critters
  specifyweb/frontend/static/img/splash_screen.svg
  specifyweb/frontend/static/img/splash_screen_dark.svg
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FieldFormatters/index.ts
Due: frontend-tests

Turn redis task key identifiers into uniquer tuples with database_name
  specifyweb/backend/setup_tool/schema_defaults.py
  specifyweb/backend/setup_tool/setup_tasks.py
Due: mypy

Sync localization strings with Weblate
  strings/attachments/ru.po
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/forms/de_CH.po
  strings/forms/en_US.po
  strings/forms/es.po
  strings/forms/fr.po
  strings/forms/pt_BR.po
  strings/forms/ru.po
  strings/forms/uk.po
  strings/query/de_CH.po
  strings/query/en_US.po
  strings/query/es.po
  strings/query/fr.po
  strings/query/pt_BR.po
  strings/query/ru.po
  strings/query/uk.po
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
  strings/tree/de_CH.po
  strings/tree/en_US.po
  strings/tree/es.po
  strings/tree/fr.po
  strings/tree/pt_BR.po
  strings/tree/ru.po
  strings/tree/uk.po
  strings/wbPlan/de_CH.po
  strings/wbPlan/fr.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
