Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Change resourceview to handle multiple SerializedResources
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests

Check isBulkCarry config for nested relationships
  specifyweb/frontend/js_src/lib/components/DataModel/resource.ts
  specifyweb/frontend/js_src/lib/components/DataModel/resourceApi.ts
Due: frontend-tests

Remove line
  specifyweb/frontend/js_src/lib/components/DataModel/resource.ts
Due: frontend-tests

Always bulk carry forward COType
  specifyweb/frontend/js_src/lib/components/FormMeta/CarryForward.tsx
Due: frontend-tests

Use apps param
  specifyweb/specify/migrations/0004_cogtype_picklist.py
Due: mypy

QB schema handle MOTs query on specific taxon tree
  specifyweb/specify/tree_utils.py
  specifyweb/stored_queries/query_construct.py
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

formatting
  specifyweb/stored_queries/query_construct.py
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

Only remove determination when different from COType tree def
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Return if no determination
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Test
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Add initial support for sorting columns in prep dialog
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
Due: frontend-tests

Preserve the selected items and quantities
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
Due: frontend-tests

Return if ids are not defined
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Fix bulk select inadvertently selecting all preps
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
Due: frontend-tests

Add User Preference instead of button
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Export.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Export.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Verify current taxon
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Renaming
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Use apps instead of import for models - adds schematype filter to Splocalecontainer - untags migration as initial - add isrequired to cotype schema config field
  specifyweb/specify/migrations/0003_cotype_picklist.py
Due: mypy

Begin fixing failing tests
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
Due: frontend-tests

Fix test
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
Due: frontend-tests

Fix missing BOM in selection exports Remove backend 'encoding' export option in favor of BOM option, to match frontend
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Export.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/helpers.ts
  specifyweb/stored_queries/execution.py
Due: frontend-tests, mypy

Change preference description
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Fix table name att to prevent stratigraphy query error
  specifyweb/stored_queries/query_construct.py
Due: mypy

Add formatter name to picklist
  specifyweb/specify/migrations/0003_cotype_picklist.py
Due: mypy

Translated using Weblate (Russian)
  strings/development/ru.po
Due: none

Add formatter
  specifyweb/specify/migrations/0004_cogtype_picklist.py
Due: mypy

Remove COType check
  specifyweb/frontend/js_src/lib/components/FormMeta/CarryForward.tsx
Due: frontend-tests

Use consistent capitalization
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Export.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Handle camel case geo table for localization
  specifyweb/frontend/js_src/lib/components/DataModel/specifyTable.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Export.tsx
Due: frontend-tests

Update specifyweb/specify/migrations/0004_cogtype_picklist.py
  specifyweb/specify/migrations/0004_cogtype_picklist.py
Due: mypy

Enable by default
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

Respect naming convention for new geo tables
  specifyweb/businessrules/rules/cogtype_rules.py
  specifyweb/businessrules/rules/cojo_rules.py
  specifyweb/businessrules/tests/test_cog_type.py
  specifyweb/businessrules/tests/test_cojo.py
  specifyweb/specify/calculated_fields.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/models.py
  specifyweb/specify/models_by_table_id.py
  specifyweb/specify/tests/test_api.py
  specifyweb/specify/tests/test_table_schema.py
Due: mypy

Update picklist COGtype rather than create
  specifyweb/frontend/js_src/lib/components/PickLists/definitions.ts
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/migrations/0004_cogtype_picklist.py
Due: frontend-tests, mypy

Fix tests import
  specifyweb/businessrules/tests/test_collection.py
  specifyweb/businessrules/tests/test_collectionobject.py
Due: mypy

Modify shema config update
  specifyweb/specify/datamodel.py
  specifyweb/specify/update_schema_config.py
Due: mypy

Update specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests
