Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Spanish)
  strings/workbench/es.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/main/nb_NO.po
Due: none

Translated using Weblate (Russian)
  strings/user/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/preferences/es.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/workbench/de_CH.po
Due: none

Translated using Weblate (Croatian)
  strings/main/hr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/locality/pt_BR.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/query/nb_NO.po
Due: none

Translated using Weblate (French)
  strings/common/fr.po
Due: none

Translated using Weblate (Spanish)
  strings/common/es.po
Due: none

Translated using Weblate (French)
  strings/resources/fr.po
Due: none

Translated using Weblate (Croatian)
  strings/workbench/hr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/resources/pt_BR.po
Due: none

Translated using Weblate (Spanish)
  strings/resources/es.po
Due: none

Translated using Weblate (Spanish)
  strings/specifyNetwork/es.po
Due: none

Translated using Weblate (French)
  strings/setupTool/fr.po
Due: none

fix: Fix host variable initialization order that prevents environment override
  sp7_db_setup_check.sh
Due: none

fix: handle case when root node is synonymized in reverse migration
  specifyweb/specify/migrations/0009_tectonic_ranks.py
Due: mypy

fix: typo
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
Due: frontend-tests

fix: utilize discarded `sort_by_expers`
  specifyweb/backend/stored_queries/execution.py
Due: mypy

fix: move `order_by` to before `apply_special_post_query_processing`
  specifyweb/backend/stored_queries/execution.py
Due: mypy

feat: don't run run_key_migrations on start up
  docker-entrypoint.sh
Due: none

feat: move bulk delete to worker
  specifyweb/backend/bulk_copy/bulk_delete_task.py
  specifyweb/backend/bulk_copy/urls.py
  specifyweb/backend/bulk_copy/views.py
  specifyweb/frontend/js_src/lib/components/Notifications/NotificationRenderers.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/BulkDelete.tsx
  specifyweb/frontend/js_src/lib/localization/notifications.ts
Due: frontend-tests, mypy

feat(Bulk Delete): add preview button
  specifyweb/frontend/js_src/lib/components/QueryBuilder/BulkDelete.tsx
Due: frontend-tests

test: assert exact tuned values for gunicorn and celery worker config
  tests/test_deployment_config.py
Due: mypy

fix: default description on the resource skeleton that is actually saved
  specifyweb/frontend/js_src/lib/components/AppResources/EditorWrapper.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/CreateAppResource.test.tsx
Due: frontend-tests

fix(datamodel): add missing relationships
  specifyweb/specify/datamodel.py
Due: mypy

fix: enforce loan preparation availability on insert
  specifyweb/backend/businessrules/rules/interaction_rules.py
  specifyweb/backend/businessrules/tests/test_loanpreparation.py
Due: mypy

fix: treat null loan quantities as zero in availability SQL
  specifyweb/backend/businessrules/rules/interaction_rules.py
Due: mypy

Translated using Weblate (Norwegian Bokmål)
  strings/header/nb_NO.po
Due: none

Refactor: Create SchemaReader for schema migration related functions
  specifyweb/specify/migration_utils/SchemaReader.py
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Refactor: Create SchemaWriter for schema writing functions
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/migration_utils/SchemaWriter.py
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Refactor: Rename update_Schema_config to migrationHelper
  specifyweb/specify/migration_utils/MigrationHelpers.py
Due: mypy

Refactor: Fix Import
  specifyweb/backend/setup_tool/schema_defaults.py
  specifyweb/backend/workbench/migrations/0007_spdatasetattachment.py
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/management/commands/sync_schema_config_fields.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/migrations/0003_cotype_picklist.py
  specifyweb/specify/migrations/0004_stratigraphy_age.py
  specifyweb/specify/migrations/0007_schema_config_update.py
  specifyweb/specify/migrations/0008_ageCitations_fix.py
  specifyweb/specify/migrations/0012_add_cojo_to_schema_config.py
  specifyweb/specify/migrations/0013_collectionobjectgroup_parentcog.py
  specifyweb/specify/migrations/0015_add_version_to_ages.py
  specifyweb/specify/migrations/0017_schemaconfig_fixes.py
  specifyweb/specify/migrations/0018_cot_catnum_schema.py
  specifyweb/specify/migrations/0020_add_tectonicunit_to_pc_in_schema_config.py
  specifyweb/specify/migrations/0021_update_hidden_geo_tables.py
  specifyweb/specify/migrations/0023_update_schema_config_text.py
  specifyweb/specify/migrations/0024_add_uniqueIdentifier_storage.py
  specifyweb/specify/migrations/0027_CO_children.py
  specifyweb/specify/migrations/0029_remove_collectionobject_parentco.py
  specifyweb/specify/migrations/0032_add_quantities_gift.py
  specifyweb/specify/migrations/0033_update_paleo_desc.py
  specifyweb/specify/migrations/0034_accession_date_fields.py
  specifyweb/specify/migrations/0035_version_required.py
  specifyweb/specify/migrations/0039_agent_fields_for_loan_and_gift.py
  specifyweb/specify/migrations/0040_components.py
  specifyweb/specify/migrations/0042_discipline_type_picklist.py
Due: mypy

Refactor: Create a deduplication file
  specifyweb/specify/migration_utils/Deduplication.py
  specifyweb/specify/migration_utils/SchemaReader.py
  specifyweb/specify/migration_utils/SchemaWriter.py
Due: mypy

Refactor: Change import
  specifyweb/specify/management/commands/run_key_migration_functions.py
Due: mypy

Fix: Remove imports
  specifyweb/specify/migration_utils/SchemaReader.py
  specifyweb/specify/migration_utils/SchemaWriter.py
Due: mypy

Refactor: Remove imports
  specifyweb/specify/migration_utils/Deduplication.py
  specifyweb/specify/migration_utils/MigrationHelpers.py
Due: mypy

Refactor: Renaming
  specifyweb/backend/setup_tool/schema_defaults.py
  specifyweb/backend/workbench/migrations/0007_spdatasetattachment.py
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/management/commands/sync_schema_config_fields.py
  specifyweb/specify/migration_utils/migration_helpers.py
  specifyweb/specify/migration_utils/schema_reader.py
  specifyweb/specify/migration_utils/schema_writer.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/migrations/0003_cotype_picklist.py
  specifyweb/specify/migrations/0004_stratigraphy_age.py
  specifyweb/specify/migrations/0007_schema_config_update.py
  specifyweb/specify/migrations/0008_ageCitations_fix.py
  specifyweb/specify/migrations/0012_add_cojo_to_schema_config.py
  specifyweb/specify/migrations/0013_collectionobjectgroup_parentcog.py
  specifyweb/specify/migrations/0015_add_version_to_ages.py
  specifyweb/specify/migrations/0017_schemaconfig_fixes.py
  specifyweb/specify/migrations/0018_cot_catnum_schema.py
  specifyweb/specify/migrations/0020_add_tectonicunit_to_pc_in_schema_config.py
  specifyweb/specify/migrations/0021_update_hidden_geo_tables.py
  specifyweb/specify/migrations/0023_update_schema_config_text.py
  specifyweb/specify/migrations/0024_add_uniqueIdentifier_storage.py
  specifyweb/specify/migrations/0027_CO_children.py
  specifyweb/specify/migrations/0029_remove_collectionobject_parentco.py
  specifyweb/specify/migrations/0032_add_quantities_gift.py
  specifyweb/specify/migrations/0033_update_paleo_desc.py
  specifyweb/specify/migrations/0034_accession_date_fields.py
  specifyweb/specify/migrations/0035_version_required.py
  specifyweb/specify/migrations/0039_agent_fields_for_loan_and_gift.py
  specifyweb/specify/migrations/0040_components.py
  specifyweb/specify/migrations/0042_discipline_type_picklist.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
