Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Add a discipline type in tests
  specifyweb/specify/tests/test_api.py
Due: mypy

Translated using Weblate (Russian)
  strings/attachments/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/attachments/de_CH.po
Due: none

Translated using Weblate (Portuguese)
  strings/attachments/pt.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/attachments/pt_BR.po
Due: none

Add SpDataSetAttachment migration Update table name capitalization
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/frontend/js_src/lib/components/Forms/__tests__/parentTables.test.tsx
  specifyweb/specify/datamodel.py
  specifyweb/workbench/migrations/0006_spdatasetattachment.py
  specifyweb/workbench/models.py
Due: frontend-tests, mypy

Enable relationships
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
  specifyweb/stored_queries/batch_edit.py
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/css/workbench.css
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/RenameDataSet.tsx
  specifyweb/frontend/js_src/lib/components/BatchEdit/index.tsx
  specifyweb/frontend/js_src/lib/components/DataModel/resource.ts
  specifyweb/frontend/js_src/lib/components/Header/menuItemDefinitions.ts
  specifyweb/frontend/js_src/lib/components/Router/OverlayRoutes.tsx
  specifyweb/frontend/js_src/lib/components/WbActions/index.tsx
  specifyweb/frontend/js_src/lib/components/WbUtils/Navigation.tsx
  specifyweb/frontend/js_src/lib/components/WbUtils/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/DisambiguationLogic.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/WbValidation.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/batchEditHelpers.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hotHelpers.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/resultsParser.ts
  specifyweb/frontend/js_src/tailwind.config.ts
Due: frontend-tests

Allow bulk carry for COType cat num format
  specifyweb/frontend/js_src/lib/components/FormMeta/CarryForward.tsx
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
Due: frontend-tests

Reuse formatter
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
Due: frontend-tests

Translated using Weblate (French)
  strings/locality/fr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/locality/de_CH.po
Due: none

Add test for CO -> catNum when CO -> type changes
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
Due: frontend-tests

Add tests for useParserDefaultValue
  specifyweb/frontend/js_src/lib/hooks/__tests__/useParserDefaultValue.test.ts
  specifyweb/frontend/js_src/lib/hooks/useParserDefaultValue.tsx
  specifyweb/frontend/js_src/lib/hooks/useResourceValue.tsx
Due: frontend-tests

Enforce to-one for special to-many cases in embedded querybuilder
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelector.tsx
Due: frontend-tests

Handle dependent reverse with independent API
  specifyweb/specify/api.py
Due: mypy

Enable data mapper and batch edit preferences
  specifyweb/frontend/js_src/lib/components/WbPlanView/Mapper.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/MapperComponents.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/helpers.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/index.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/mappingReducer.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/modelHelpers.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/navigator.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanBuilder.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanParser.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
Due: frontend-tests

Fix localizations
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
Due: frontend-tests

fix series query logic to handle alphanumeric cat nums
  specifyweb/stored_queries/execution.py
Due: mypy

allow for series qb records to be sorted by ranged cat nums
  specifyweb/stored_queries/execution.py
Due: mypy

Update schema config in migration Fix typo Fix models_by_table_id.py
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/datamodel.py
  specifyweb/specify/models_by_table_id.py
  specifyweb/workbench/migrations/0006_spdatasetattachment.py
Due: frontend-tests, mypy

Translated using Weblate (French)
  strings/wbPlan/fr.po
Due: none

Translated using Weblate (Russian)
  strings/preferences/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/preferences/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/preferences/es.po
Due: none

Translated using Weblate (Portuguese)
  strings/preferences/pt.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/preferences/pt_BR.po
Due: none

Change the cached taxontreedef id
  specifyweb/frontend/js_src/lib/components/Molecules/ResourceLink.tsx
Due: frontend-tests

Consider remote to ones as to many in upload plan
  specifyweb/stored_queries/batch_edit.py
Due: mypy

Fix duplicate ID for Collecting Trip
  config/geology/geology.views.xml
Due: none

add new strict age query behavior by filtering after net path values
  specifyweb/specify/geo_time.py
Due: mypy

Fix duplicate ID in subview
  config/geology/geology.views.xml
Due: none

handle null uncertainties with zeros
  specifyweb/specify/geo_time.py
Due: mypy

mod strict condition
  specifyweb/specify/geo_time.py
Due: mypy

create ExpressSearchConfig static file and register with app_resources
  config/common/app_resources.xml
  config/common/expresssearchconfig.xml
  specifyweb/context/app_resource.py
Due: mypy

Add remote to ones method
  specifyweb/specify/load_datamodel.py
Due: mypy

change back last strict logic edit
  specifyweb/specify/geo_time.py
Due: mypy

Update expresssearchconfig.xml
  config/common/expresssearchconfig.xml
Due: none

Change collectionMember relationship to collectionMemberId Fix frontend test
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/datamodel.json
  specifyweb/specify/datamodel.py
  specifyweb/workbench/migrations/0006_spdatasetattachment.py
  specifyweb/workbench/models.py
Due: mypy

Un-enforce TreeRankRecord in upload plan
  specifyweb/workbench/upload/treerecord.py
Due: mypy
