Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Spanish)
  strings/batchIdentify/es.po
Due: none

Translated using Weblate (Croatian)
  strings/batchIdentify/hr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/batchIdentify/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/batchIdentify/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/batchIdentify/uk.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/setupTool/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/resources/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/specifyNetwork/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/welcome/nb_NO.po
Due: none

Translated using Weblate (Russian)
  strings/workbench/ru.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/query.ts
Due: frontend-tests

[test]:removed the imports that code rabbit put in
  specifyweb/backend/businessrules/tests/test_edit_previous_object.py
Due: mypy

[test]:added test for creating collection event
  specifyweb/backend/businessrules/tests/test_collectingevents.py
Due: mypy

[test]:added test for creating locality and adding existing locality
  specifyweb/backend/businessrules/tests/test_locality.py
Due: mypy

Revert "Fix stored query tree rank join caching"
  specifyweb/backend/stored_queries/query_construct.py
Due: mypy

[test]:added test for creating collector (new agent)
  specifyweb/backend/businessrules/tests/test_collector.py
Due: mypy

[test]:added tests for adding existing collectingtrips and creating new collectingtrips
  specifyweb/backend/businessrules/tests/test_collectingevents.py
Due: mypy

fix(GeoMap): stabilize Leaflet map data
  specifyweb/frontend/js_src/lib/components/Leaflet/Map.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ToMap.tsx
Due: frontend-tests

Add pool_pre_ping option to SQLAlchemy engine configuration
  specifyweb/backend/stored_queries/models.py
  specifyweb/backend/stored_queries/sp7_build_models.py
  specifyweb/backend/stored_queries/tests/tests.py
  specifyweb/settings/__init__.py
Due: mypy

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

Potential fix for pull request finding 'CodeQL / Information exposure through an exception'
  specifyweb/backend/export/views.py
Due: mypy

[test]: removed extra def made from code rabbit
  specifyweb/backend/businessrules/tests/test_edit_previous_object.py
Due: mypy

feat(formatters): support static text and field formats
  specifyweb/backend/stored_queries/format.py
  specifyweb/backend/stored_queries/tests/test_format/test_format_sprintf.py
  specifyweb/frontend/js_src/lib/components/Formatters/formatters.ts
  specifyweb/frontend/js_src/lib/components/Formatters/spec.ts
Due: frontend-tests, mypy

feat(formatters): improve field format editor
  specifyweb/frontend/js_src/lib/components/Formatters/Definitions.tsx
  specifyweb/frontend/js_src/lib/components/Formatters/Fields.tsx
  specifyweb/frontend/js_src/lib/components/Formatters/__tests__/formatters.test.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

fix: failing test
  specifyweb/frontend/js_src/lib/components/Formatters/Fields.tsx
  specifyweb/frontend/js_src/lib/components/Formatters/spec.ts
Due: frontend-tests

[test]:Added that deletes a newly created record set
  specifyweb/backend/businessrules/tests/test_delete_new_resource.py
Due: mypy

chore: change request methods to uppercase
  specifyweb/frontend/js_src/lib/components/ChooseCollection/index.tsx
  specifyweb/frontend/js_src/lib/components/Login/OicLogin.tsx
  specifyweb/frontend/js_src/lib/components/Login/index.tsx
  specifyweb/frontend/js_src/lib/components/PasswordChange/index.tsx
  specifyweb/frontend/js_src/lib/components/Reports/Run.tsx
Due: frontend-tests

[test]: created a new file for testing renaming
  specifyweb/backend/businessrules/tests/test_update_resource
Due: none

refactor: use consistent naming for query_fields and reduce debug log output
  specifyweb/backend/inheritance/api.py
  specifyweb/backend/stored_queries/batch_edit.py
  specifyweb/backend/stored_queries/execution.py
  specifyweb/backend/stored_queries/field_spec_maps.py
  specifyweb/backend/stored_queries/geology_time.py
  specifyweb/backend/stored_queries/relative_date_utils.py
  specifyweb/backend/stored_queries/tests/test_execution/test_execute.py
  specifyweb/backend/stored_queries/tests/test_relative_date_utils.py
  specifyweb/backend/stored_queries/views.py
Due: mypy

[test]: renamed a record set
  specifyweb/backend/businessrules/tests/test_update_resource
  specifyweb/backend/businessrules/tests/test_update_resource.py
Due: mypy

[test]: Added an Assert to test to see the name matches the new name
  specifyweb/backend/businessrules/tests/test_update_resource.py
Due: mypy

Added test for creating multiple collectors and creating collector with existing agent
  specifyweb/backend/businessrules/tests/test_collector.py
Due: mypy

[test]: add existing shipped by agent
  specifyweb/backend/businessrules/tests/test_borrow.py
Due: mypy

fix: use table over node in query join cache
  specifyweb/backend/stored_queries/query_construct.py
Due: mypy

fix(tests): one more
  specifyweb/frontend/js_src/lib/components/Formatters/__tests__/__snapshots__/formatters.test.ts.snap
  specifyweb/frontend/js_src/lib/components/Formatters/__tests__/formatters.test.ts
  specifyweb/frontend/js_src/lib/components/Formatters/formatters.ts
  specifyweb/frontend/js_src/lib/components/Syncer/__tests__/index.test.ts
Due: frontend-tests

[test]: WIP of 'test search and replace behavior'
  specifyweb/frontend/js_src/lib/components/WbUtils/__tests__/Utils.test.ts
Due: frontend-tests

refactor: decompose build_query
  specifyweb/backend/stored_queries/execution.py
Due: mypy

fix(formatters): use proper localization
  specifyweb/frontend/js_src/lib/components/Formatters/Fields.tsx
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
Due: frontend-tests

chore: add test for Tree Rank JOIN caching for build_query
  specifyweb/backend/stored_queries/execution.py
  specifyweb/backend/stored_queries/tests/test_build_query.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
