Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
Due: frontend-tests

fix: removed add button from collection preferences
  specifyweb/frontend/js_src/lib/components/Forms/ResourceView.tsx
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
Due: frontend-tests

fix ajax mock during jest teardown
  specifyweb/frontend/js_src/lib/tests/ajax/index.ts
  specifyweb/frontend/js_src/lib/utils/ajax/index.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/tests/ajax/index.ts
Due: frontend-tests

avoid collectionPreferences fetch mock error
  specifyweb/frontend/js_src/lib/components/Errors/stackTrace.ts
Due: frontend-tests

add new synonymize tests
  specifyweb/backend/trees/extras.py
  specifyweb/backend/trees/tests/test_tree_extras/test_synonymize.py
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/treeBusinessRules.ts
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests, mypy

Revert "add new synonymize tests"
  specifyweb/backend/trees/extras.py
  specifyweb/backend/trees/tests/test_tree_extras/test_synonymize.py
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/treeBusinessRules.ts
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/treeBusinessRules.ts
Due: frontend-tests

import path fixes
  specifyweb/backend/locality_update_tool/tests/test_create_localityupdate_recordset.py
  specifyweb/backend/locality_update_tool/tests/test_localityupdate_status.py
  specifyweb/backend/locality_update_tool/tests/test_merge_parse_results.py
  specifyweb/backend/locality_update_tool/tests/test_parse_field.py
  specifyweb/backend/locality_update_tool/tests/test_parse_locality_set.py
  specifyweb/backend/locality_update_tool/tests/test_parse_locality_set_foreground.py
  specifyweb/backend/locality_update_tool/tests/test_resolve_localityupdate_result.py
  specifyweb/backend/locality_update_tool/tests/test_start_locality_set_background.py
  specifyweb/backend/locality_update_tool/tests/test_upload_from_parsed.py
  specifyweb/backend/locality_update_tool/tests/test_upload_locality_set.py
  specifyweb/backend/locality_update_tool/tests/test_upload_locality_set_foreground.py
  specifyweb/backend/merge/tests/test_abort_merge_task.py
  specifyweb/backend/merge/tests/test_merging_status.py
  specifyweb/backend/merge/tests/test_record_merge_requests.py
Due: mypy

front-end mock ajax test fixes
  specifyweb/frontend/js_src/lib/tests/ajax/index.ts
  specifyweb/frontend/js_src/lib/utils/ajax/index.ts
Due: frontend-tests

create _get_collection_preferences
  specifyweb/backend/trees/extras.py
Due: mypy

simplify tree extras
  specifyweb/backend/locality_update_tool/tests/test_upload_locality_set.py
  specifyweb/backend/trees/extras.py
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/treeBusinessRules.ts
  specifyweb/frontend/js_src/lib/components/Errors/stackTrace.ts
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/Actions.tsx
Due: frontend-tests, mypy

Update update_locality.py
  specifyweb/backend/locality_update_tool/update_locality.py
Due: mypy

Update Actions.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/Actions.tsx
Due: frontend-tests

Update stackTrace.ts
  specifyweb/frontend/js_src/lib/components/Errors/stackTrace.ts
Due: frontend-tests

Update treeBusinessRules.ts
  specifyweb/frontend/js_src/lib/components/DataModel/treeBusinessRules.ts
Due: frontend-tests

Update CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests

Update .gitignore
  .gitignore
Due: none

Update businessRules.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
Due: frontend-tests

Added translation using Weblate (Croatian)
  strings/merging/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/tree/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/forms/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/attachments/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/backEnd/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/backup/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/interactions/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/batchEdit/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/report/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/stats/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/wbPlan/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/development/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/development/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/backup/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/report/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/header/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/common/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/main/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/locality/hr.po
Due: none

Added translation using Weblate (Croatian)
  strings/notifications/hr.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
