Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Croatian)
  strings/query/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/schema/hr.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/schema/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
Due: frontend-tests

Translated using Weblate (Norwegian Bokmål)
  strings/query/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/preferences/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

Fix: Serialize query-resource saves
  specifyweb/frontend/js_src/lib/components/DataViews/DataViewTables.tsx
Due: frontend-tests

Fix: Validate each stored query definition before returning it
  specifyweb/frontend/js_src/lib/components/DataViews/__tests__/queries.test.ts
  specifyweb/frontend/js_src/lib/components/DataViews/queries.ts
Due: frontend-tests

Fix: Clear obsolete record counts when table selection changes
  specifyweb/frontend/js_src/lib/components/DataViews/DataViewTables.tsx
  specifyweb/frontend/js_src/lib/components/DataViews/__tests__/DataViewTables.test.tsx
Due: frontend-tests

Tests
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/AppResourcesFilters.test.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/allAppResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/defaultAppResourceFilters.test.ts
Due: frontend-tests

Fix: Avoid infinite rendering when table has no query defined
  specifyweb/frontend/js_src/lib/components/DataViews/QueryEditor.tsx
  specifyweb/frontend/js_src/lib/components/DataViews/__tests__/queries.test.ts
  specifyweb/frontend/js_src/lib/components/DataViews/queries.ts
Due: frontend-tests

Fix: Do not add tables to json files only on select change
  specifyweb/frontend/js_src/lib/components/DataViews/QueryEditor.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
Due: frontend-tests

Dependency upgrade: Bump requests from 2.32.4 to 2.33.0 - #7855
  requirements.txt
Due: none

Dependency upgrade: bump jquery and @types/jquery
  requirements.txt
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

feat: bump `brace-expansion` to version ^2.1.2
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/package.json
Due: none

feat: bump `brace-expansion` ^5.0.7
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

feat: bump `react-router-dom` version
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

feat(dwc): add darwin core occurrence
  specifyweb/frontend/js_src/lib/components/ExportFeed/data/darwinCoreOccurrence.json
Due: none

feat(dwc): add audiovisual core
  specifyweb/frontend/js_src/lib/components/ExportFeed/data/gbifExtensions.json
Due: none

feat(dwc): add core term pattern matches
  specifyweb/frontend/js_src/lib/components/ExportFeed/data/coreTermPatterns.ts
Due: frontend-tests

fix: move split view over to the left side
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Header.tsx
Due: frontend-tests

[fix]: added coderabbit's assert accession agent roles
  specifyweb/backend/businessrules/tests/test_accession.py
Due: mypy

fix: add TextEncoder
  specifyweb/frontend/js_src/lib/tests/globalSetup.js
Due: frontend-tests

refactor: extract split-view logic
  specifyweb/frontend/js_src/lib/components/DataViews/index.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Header.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/QueryBuilderResults.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ResultsWrapper.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/SplitView.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/useQuerySplitView.ts
Due: frontend-tests

fix: remove dependency on Max's personal eslint config
  specifyweb/frontend/js_src/eslint.config.js
Due: frontend-tests

feat(data-views): add query config option in views
  specifyweb/frontend/js_src/lib/components/DataViews/index.tsx
Due: frontend-tests

fix: remove dependency on Max's personal eslint-react config
  specifyweb/frontend/js_src/eslint.config.js
Due: frontend-tests

fix: remove dependency on Max's prettier config
  specifyweb/frontend/js_src/prettier.config.js
Due: frontend-tests

fix: remove dependency on Max's personal dotfiles from `package.json`
  specifyweb/frontend/js_src/eslint.config.js
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: frontend-tests

fix(data-views): make padding appropriate
  specifyweb/frontend/js_src/lib/components/DataViews/index.tsx
Due: frontend-tests

feat(preferences): add split view prefs
  specifyweb/frontend/js_src/lib/components/DataViews/index.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Header.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/SplitView.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/useQuerySplitView.ts
  specifyweb/frontend/js_src/lib/localization/dataViews.ts
Due: frontend-tests

fix(data-views): merge DataViewQueries across app-resource hierarchy
  specifyweb/backend/context/app_resource.py
  specifyweb/backend/context/tests/test_app_resource.py
Due: mypy

fix(data-views): make app resources preview function
  specifyweb/frontend/js_src/lib/components/DataViews/QueryEditor.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Toolbar.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
Due: frontend-tests

fix: stop unlinking tree releationships if rank not present
  specifyweb/backend/workbench/upload/treerecord.py
  specifyweb/backend/workbench/upload/upload_result.py
  specifyweb/backend/workbench/upload/upload_table.py
Due: mypy

fix(data-views): keep table selection in app resources after save
  specifyweb/frontend/js_src/lib/components/DataViews/QueryEditor.tsx
  specifyweb/frontend/js_src/lib/utils/cache/definitions.ts
Due: frontend-tests

feat: add new aggregators for system tables
  config/backstop/dataobj_formatters.xml
Due: none

feat(data-views): add scope to collection
  specifyweb/frontend/js_src/lib/components/AppResources/types.tsx
Due: frontend-tests

feat(data-views): add default queries
  config/backstop/data_view_queries.json
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
