Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Prevent adding a component to itself
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialogRow.tsx
  specifyweb/frontend/js_src/lib/components/Reports/index.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

add new db params to .env
  .env
Due: none

Update Dockerfile local_specify_settings param setting
  Dockerfile
Due: none

Set component CO with the parent CO
  specifyweb/businessrules/rules/__init__.py
  specifyweb/businessrules/rules/component_rules.py
Due: mypy

define a db connection for migrations and one for normal operations
  specifyweb/settings/__init__.py
Due: mypy

add new db params to specify_settings.py
  specifyweb/settings/specify_settings.py
Due: mypy

fix sp7_db_setup_check.sh permission issues
  sp7_db_setup_check.sh
Due: none

add mariadb-client for use in init db script
  Dockerfile
Due: none

default target to master for github actions
  specifyweb/settings/specify_settings.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialogRow.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ToForms.tsx
  specifyweb/frontend/js_src/lib/components/Reports/index.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Improve conditional in backendrules
  specifyweb/businessrules/rules/component_rules.py
Due: mypy

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/forms/de_CH.po
  strings/forms/en_US.po
  strings/forms/es.po
  strings/forms/fr.po
  strings/forms/pt_BR.po
  strings/forms/ru.po
  strings/forms/uk.po
  strings/query/de_CH.po
  strings/query/en_US.po
  strings/query/es.po
  strings/query/fr.po
  strings/query/pt_BR.po
  strings/query/ru.po
  strings/query/uk.po
Due: none

choose migrations db connection during django migrations
  docker-entrypoint.sh
Due: none

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/interactions/de_CH.po
  strings/interactions/en_US.po
  strings/interactions/es.po
  strings/interactions/fr.po
  strings/interactions/pt_BR.po
  strings/interactions/ru.po
  strings/interactions/uk.po
Due: none

Update specify_settings.py
  specifyweb/settings/specify_settings.py
Due: mypy

avoid race condition between sp7 init db setup and the mariadb container
  sp7_db_setup_check.sh
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialogRow.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ToForms.tsx
  specifyweb/frontend/js_src/lib/components/Reports/index.tsx
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

access get_cat_num_inheritance_setting from queryfieldspec apply_special_filter_cases
  specifyweb/specify/utils.py
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/queryfield.py
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

fix predicates on catanum field in series queries
  specifyweb/stored_queries/execution.py
Due: mypy

Sync localization strings with Weblate
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
Due: none

Delete data set if attachment uploads fail
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
Due: frontend-tests

Make component dependent
  specifyweb/businessrules/rules/component_rules.py
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/datamodel.py
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialogRow.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/Reports/index.tsx
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Disable changing batch edit prefs after upload
  specifyweb/frontend/js_src/lib/components/WbPlanView/Mapper.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
Due: frontend-tests

Create a parent child relationship on CO table
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/frontend/js_src/lib/components/Forms/SubView.tsx
  specifyweb/specify/datamodel.py
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
  specifyweb/specify/migrations/0027_CO_children.py
  specifyweb/specify/models.py
Due: frontend-tests, mypy

Add a collection pref to display parent cat num if empty
  specifyweb/frontend/js_src/lib/components/FormFields/Field.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/specify/urls.py
  specifyweb/specify/views.py
Due: frontend-tests, mypy

Cascade children deletion
  specifyweb/specify/migrations/0027_CO_children.py
  specifyweb/specify/models.py
Due: mypy

Translated using Weblate (Portuguese (Brazil))
  strings/development/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/development/pt.po
Due: none

Fix attachment records not being deleted
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
Due: frontend-tests

Add Workbench Attachments side bar
  specifyweb/frontend/js_src/lib/components/WorkBench/AttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
Due: frontend-tests

Add validation error for scope change
  specifyweb/frontend/js_src/lib/components/WorkBench/resultsParser.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/workbench/upload/upload_table.py
Due: frontend-tests, mypy

Add localization for other WB errors
  specifyweb/frontend/js_src/lib/components/WorkBench/resultsParser.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/workbench/upload/treerecord.py
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/resultsParser.ts
Due: frontend-tests

Simplify error handling
  specifyweb/frontend/js_src/lib/components/Attachments/attachments.ts
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
Due: frontend-tests

Remove description for null record - Removed for UX reasons. Users do not need to manually remove null record strings
  specifyweb/stored_queries/batch_edit.py
Due: mypy

Prevent adding CO with parent to COG
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
