Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
Due: frontend-tests

add sp7_models to djano apps
  specifyweb/settings/__init__.py
Due: mypy

new schema models
  specifyweb/sp7_models/models.py
  specifyweb/specify/models.py
Due: mypy

Create dynamic variable
  specifyweb/frontend/js_src/lib/components/DataModel/resource.ts
Due: frontend-tests

Keep old code
  specifyweb/frontend/js_src/lib/components/DataModel/resource.ts
Due: frontend-tests

base_specify_migration django command
  Makefile
  specifyweb/specify/management/commands/base_specify_migration.py
Due: mypy

edit table creation statement
  specifyweb/specify/management/commands/base_specify_migration.py
Due: mypy

fix migration discrepancy
  specifyweb/specify/migrations/0001_initial.py
Due: mypy

add DELETE_BLOCKER_EXCEPTIONS filter
  specifyweb/specify/views.py
Due: mypy

use filter function
  specifyweb/specify/views.py
Due: mypy

add comment
  specifyweb/specify/views.py
Due: mypy

add models.DO_NOTHING to TreeDefItems
  specifyweb/specify/models.py
Due: mypy

remove DELETE_BLOCKER_EXCEPTIONS
  specifyweb/specify/views.py
Due: mypy

format
  specifyweb/specify/views.py
Due: mypy

Translated using Weblate (Ukrainian)
  strings/backEnd/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/attachments/uk.po
Due: none

Translated using Weblate (Russian)
  strings/interactions/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/backEnd/es.po
Due: none

Translated using Weblate (Russian)
  strings/backEnd/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/interactions/uk.po
Due: none

Translated using Weblate (French)
  strings/attachments/fr.po
Due: none

Translated using Weblate (French)
  strings/interactions/fr.po
Due: none

Translated using Weblate (Spanish)
  strings/interactions/es.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/attachments/de_CH.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/forms/de_CH.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/merging/de_CH.po
Due: none

Translated using Weblate (Ukrainian)
  strings/merging/uk.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Translated using Weblate (French)
  strings/preferences/fr.po
Due: none

Translated using Weblate (Russian)
  strings/preferences/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/preferences/uk.po
Due: none

Translated using Weblate (Spanish)
  strings/locality/es.po
Due: none

Translated using Weblate (French)
  strings/locality/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/locality/uk.po
Due: none

Translated using Weblate (Russian)
  strings/locality/ru.po
Due: none
