Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/stats.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
Due: frontend-tests

Translated using Weblate (Russian)
  strings/common/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/preferences/es.po
Due: none

Translated using Weblate (Russian)
  strings/query/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/attachments/uk.po
Due: none

Translated using Weblate (Russian)
  strings/stats/ru.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/attachments/pt_BR.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/forms/de_CH.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/stats/de_CH.po
Due: none

Translated using Weblate (Ukrainian)
  strings/stats/uk.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/forms/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/stats/pt_BR.po
Due: none

Translated using Weblate (French)
  strings/attachments/fr.po
Due: none

Translated using Weblate (Spanish)
  strings/forms/es.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/attachments/de_CH.po
Due: none

Translated using Weblate (French)
  strings/stats/fr.po
Due: none

Translated using Weblate (Spanish)
  strings/stats/es.po
Due: none

Translated using Weblate (Russian)
  strings/attachments/ru.po
Due: none

Translated using Weblate (Russian)
  strings/forms/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/attachments/es.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
Due: frontend-tests

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/stats.ts
Due: frontend-tests

fix: add hierarchy
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/SystemConfigTool.tsx
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

fix: sort out spacing and positioning
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/CollapsibleSection.tsx
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

fix(tests): remove unused import
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
Due: frontend-tests

fix(localization): remove unused text
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

fix: form when selecting a block
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/SystemConfigTool.tsx
Due: frontend-tests

fix: failing test
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/SystemConfigTool.tsx
Due: frontend-tests

fix(colors): make custom colors important
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
Due: frontend-tests

fix: use correct forms
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/SystemConfigTool.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/SystemConfigTool.tsx
Due: frontend-tests

[Fix]: Add deletion cascade to preptype and cotype
  specifyweb/specify/migrations/0042_alter_deletion_cascade.py
  specifyweb/specify/models.py
Due: mypy

[Fix]: Add casdace to COGtyp
  specifyweb/specify/models.py
Due: mypy

[Fix]: Clear cache when deleting resources
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/SystemConfigTool.tsx
Due: frontend-tests

fix: restore default to previous behavior
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

fix: merge conflict for automerge test
  specifyweb/frontend/js_src/lib/components/Merging/__tests__/autoMerge.test.ts
Due: frontend-tests

fix: handle long names for hierarchy nodes
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
Due: frontend-tests

fix: key uniqueness and refresh process
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/SystemConfigTool.tsx
Due: frontend-tests
