Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
Due: frontend-tests

Translated using Weblate (Norwegian Bokmål)
  strings/expressSearchConfig/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/expressSearchConfig.ts
Due: frontend-tests

Translated using Weblate (Spanish)
  strings/welcome/es.po
Due: none

Translated using Weblate (Russian)
  strings/welcome/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/welcome/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/welcome/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/welcome/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/welcome/hr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/welcome.ts
Due: frontend-tests

Translated using Weblate (Spanish)
  strings/locality/es.po
Due: none

Translated using Weblate (Russian)
  strings/locality/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/locality/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/locality/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/locality/hr.po
Due: none

chore(postgres): add backend selection and data serializer
  requirements.txt
  specifyweb/settings/__init__.py
  specifyweb/settings/specify_settings.py
  specifyweb/specify/serializer.py
Due: mypy

chore(postgres): add PostgreSQL compose target
  Dockerfile
  docker-compose-me.yml
  sp7_db_setup_check.sh
Due: none

chore(postgres): use SQLAlchemy PostgreSQL driver
  requirements.txt
  specifyweb/settings/__init__.py
Due: mypy

fix(postgres): run migrations on default connection
  sp7_db_setup_check.sh
Due: none

fix(postgres): port catalog number migration
  specifyweb/backend/businessrules/migrations/0003_catnum_constraint.py
Due: mypy

fix(postgres): port select series migration
  specifyweb/specify/migrations/0036_remove_spquery_selectseries.py
Due: mypy

fix(postgres): port many to many table detection
  specifyweb/specify/migrations/0043_normalize_many_to_many.py
Due: mypy

fix(postgres): avoid join table constraint collision
  specifyweb/specify/migrations/0043_normalize_many_to_many.py
Due: mypy

fix(postgres): avoid user join constraint collision
  specifyweb/specify/migrations/0043_normalize_many_to_many.py
Due: mypy

fix(postgres): port permission initialization query
  specifyweb/backend/permissions/initialize.py
Due: mypy

fix(postgres): quote principal scope column
  specifyweb/backend/permissions/initialize.py
Due: mypy

fix(postgres): port separator patch migration
  specifyweb/backend/patches/migrations/0001_restore_separators.py
Due: mypy

fix(postgres): handle resource data bytes
  specifyweb/backend/patches/migrations/0001_restore_separators.py
Due: mypy

fix(postgres): port tree title patch
  specifyweb/backend/patches/migrations/0004_add_title_tree_rank_fix.py
Due: mypy

fix(postgres): port geologic period patch
  specifyweb/backend/patches/migrations/0005_chrono_start_end.py
Due: mypy

fix(postgres): port version defaults patch
  specifyweb/backend/patches/migrations/0006_version_fix.py
Due: mypy

chore(postgres): add bulk data loader
  scripts/migrate_mariadb_to_postgres.py
Due: mypy

fix(postgres): skip framework-owned tables
  scripts/migrate_mariadb_to_postgres.py
Due: mypy

Translated using Weblate (Norwegian Bokmål)
  strings/resources/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/stats/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/tree/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

feat(dwca): add examples
  .github/workflows/update-gbif-catalogs.yml
  specifyweb/frontend/js_src/lib/components/DwcaDefinition/DwcaDefinition.tsx
  specifyweb/frontend/js_src/lib/components/DwcaDefinition/__tests__/DwcaDefinition.test.ts
  specifyweb/frontend/js_src/lib/components/DwcaDefinition/data/gbifCores.json
  specifyweb/frontend/js_src/lib/components/DwcaDefinition/data/gbifExtensions.json
  specifyweb/frontend/js_src/lib/components/DwcaDefinition/data/generateGbifCatalog.ts
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Alignment.tsx
  specifyweb/frontend/js_src/lib/localization/dwca.ts
Due: frontend-tests

fix(dwca): decode term descriptions
  specifyweb/frontend/js_src/lib/components/DwcaDefinition/DwcaDefinition.tsx
Due: frontend-tests
