Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

fix: remove bottom margin
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
Due: frontend-tests

chore: set better storage defaults
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
Due: frontend-tests

fix: remove border for subviews
  specifyweb/frontend/js_src/lib/components/SetupTool/SetupForm.tsx
Due: frontend-tests

fix: correct discipline names
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
Due: frontend-tests

fix: put human name before username
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
Due: frontend-tests

fix: use proper name for guided setup
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

fix: remove drop shadows
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
Due: frontend-tests

fix: remove redundant specify
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

feat: make the build process more clear
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

fix: remove one more shadow
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
Due: frontend-tests

fix: link to docs
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
Due: frontend-tests

fix: typo
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
Due: frontend-tests

canged remove button to use Delete button element created
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

Revert "canged remove button to use Delete button element created"
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

changed Remove button from table subviews and re-implemented them as Delete Buttons
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

removed unused now unused disable Remove definition
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

added reload of tree page on succesfull delete
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

removed reload on delete
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

feat: add d3Zoom and improve sizing
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/SystemConfigTool.tsx
Due: frontend-tests

fix: remove unused import and add typing
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
Due: frontend-tests

formatting
  specifyweb/specify/models.py
Due: mypy

move migration line to initial migration
  specifyweb/specify/migrations/0001_initial.py
  specifyweb/specify/migrations/0042_autonum_tables.py
  specifyweb/specify/models.py
Due: mypy

add SpecifyuserSpprincipal
  specifyweb/specify/migrations/0001_initial.py
  specifyweb/specify/models.py
Due: mypy

definition fix
  specifyweb/specify/models.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SchemaViewer/index.tsx
Due: frontend-tests

feat: add `beforeunload` event
  specifyweb/frontend/js_src/lib/components/Forms/ResourceView.tsx
  specifyweb/specify/models_utils/relationships.py
Due: frontend-tests, mypy

feat(formatters): add `spquery` format
  config/backstop/dataobj_formatters.xml
Due: none

fix: restore system files spacing
  Dockerfile
  docker-compose.yml
  manage.py
Due: mypy

fix: add one line
  Dockerfile
Due: none

feat(icons): add and use wrench icon for repair
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
  specifyweb/frontend/js_src/lib/components/Header/userToolDefinitions.ts
Due: frontend-tests

feat(trees): add `rebuild_fullname` API endpoint
  specifyweb/backend/trees/extras.py
  specifyweb/backend/trees/views.py
  specifyweb/specify/urls.py
Due: mypy

fix(localization): fix tests
  specifyweb/frontend/js_src/lib/components/Toolbar/TreeRepair.tsx
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

fix: correct icon order
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
Due: frontend-tests

feat(permissions): add permission for rebuilding
  specifyweb/frontend/js_src/lib/components/Permissions/definitions.ts
Due: frontend-tests

feat(trees): add tree options menu
  specifyweb/frontend/js_src/lib/components/Toolbar/TreeRepair.tsx
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

fix: do not bypass type check
  specifyweb/frontend/js_src/lib/components/Toolbar/TreeRepair.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Toolbar/TreeRepair.tsx
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
