Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Add a AddFieldIfMissing helper class for robust migrations
  specifyweb/specify/migration_utils/operations.py
Due: mypy

feat: add schema sync tool
  specifyweb/specify/management/commands/sync_schema_config_fields.py
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests

fix(schema): fix erroneously removed schema records
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

fix: ignore workbench schema
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

revert(ci): drop sync-pre-commit.yml
  .github/workflows/sync-pre-commit.yml
Due: none

fix: use database name when constructing redis keys for migration
  specifyweb/specify/migrations/0043_normalize_many_to_many.py
Due: mypy

init picklist import and export tools
  specifyweb/backend/picklists_tool/__init__.py
  specifyweb/backend/picklists_tool/io.py
  specifyweb/backend/picklists_tool/urls.py
  specifyweb/backend/picklists_tool/views.py
  specifyweb/frontend/js_src/lib/components/Header/userToolDefinitions.ts
  specifyweb/frontend/js_src/lib/components/Permissions/index.ts
  specifyweb/frontend/js_src/lib/components/PickLists/Tools.tsx
  specifyweb/frontend/js_src/lib/components/PickLists/fetch.ts
  specifyweb/frontend/js_src/lib/components/Router/OverlayRoutes.tsx
  specifyweb/frontend/js_src/lib/localization/pickLists.ts
  specifyweb/specify/urls.py
  specifyweb/urls.py
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Header/userToolDefinitions.ts
  specifyweb/frontend/js_src/lib/components/Permissions/index.ts
  specifyweb/frontend/js_src/lib/components/PickLists/Tools.tsx
  specifyweb/frontend/js_src/lib/localization/pickLists.ts
Due: frontend-tests

Fix front-end error in parseCatalogNumbers
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
  specifyweb/frontend/js_src/lib/components/BatchIdentify/parseCatalogNumbers.ts
Due: frontend-tests

Fix formatted CO query results for nested relationship fields
  specifyweb/backend/stored_queries/queryfieldspec.py
Due: mypy

Fix QB date_part field formatting
  specifyweb/backend/stored_queries/format.py
Due: mypy

fix failing batch edit tests
  specifyweb/backend/stored_queries/tests/static/co_query_row_plan.py
  specifyweb/backend/stored_queries/tests/tests_legacy.py
Due: mypy

Add new unit tests for nested relationships
  specifyweb/backend/stored_queries/tests/test_execution/test_field_specs_from_json.py
Due: mypy

Add QB unit test for date_parts formatting
  specifyweb/backend/stored_queries/tests/test_execution/test_run_ephemeral_query.py
Due: mypy

keep the styling changes to a minimum
  specifyweb/frontend/js_src/css/workbench.css
Due: none

fix row rendering issues
  specifyweb/frontend/js_src/lib/components/WorkBench/WbSpreadsheet.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/WbSpreadsheet.tsx
Due: frontend-tests

more styling changes
  specifyweb/frontend/js_src/css/workbench.css
  specifyweb/frontend/js_src/lib/components/WorkBench/WbSpreadsheet.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
Due: frontend-tests

column width fix to avoid column header cutoff
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/WbSpreadsheet.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
Due: frontend-tests

Fix unmapped field look
  specifyweb/frontend/js_src/css/workbench.css
Due: none

feat: use DB-unique keys by default in Redis adapter
  specifyweb/backend/redis_cache/__init__.py
  specifyweb/backend/redis_cache/connect.py
  specifyweb/backend/redis_cache/datatypes/__init__.py
  specifyweb/backend/redis_cache/datatypes/basic.py
  specifyweb/backend/redis_cache/datatypes/rqueue.py
  specifyweb/backend/redis_cache/store.py
  specifyweb/backend/redis_cache/utils.py
  specifyweb/backend/setup_tool/apps.py
  specifyweb/backend/setup_tool/redis.py
  specifyweb/backend/setup_tool/setup_tasks.py
  specifyweb/backend/setup_tool/task_tracking.py
  specifyweb/backend/trees/apps.py
  specifyweb/backend/trees/defaults.py
  specifyweb/backend/trees/redis.py
  specifyweb/specify/auth/support_login.py
  specifyweb/specify/migrations/0043_normalize_many_to_many.py
  specifyweb/specify/utils/autonumbering.py
Due: mypy

Fix fields in unit test
  specifyweb/backend/stored_queries/tests/static/simple_static_fields.py
Due: mypy

Fix font and add unmapped background
  specifyweb/frontend/js_src/css/workbench.css
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
Due: frontend-tests

Fix WB font sizes
  specifyweb/frontend/js_src/css/workbench.css
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
Due: frontend-tests

Fix WB cell wrapping
  specifyweb/frontend/js_src/css/workbench.css
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/tree/pt_BR.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Translated using Weblate (Croatian)
  strings/merging/hr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (French)
  strings/merging/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/merging/pt_BR.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Translated using Weblate (Croatian)
  strings/tree/hr.po
Due: none

Translated using Weblate (Russian)
  strings/merging/ru.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none
