Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Ukrainian)
  strings/resources/uk.po
Due: none

Update attachments column preivew header
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Update attachment column name
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
  specifyweb/workbench/upload/upload_attachments.py
Due: frontend-tests, mypy

Reduce flicker on Image Window
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
Due: frontend-tests

Raise error if table does not exist
  specifyweb/patches/migrations/0004_chrono_start_end.py
Due: mypy

Change string in batch edit
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

create backend folder
  specifyweb/backend/__init__.py
Due: mypy

move accounts into backend
  specifyweb/backend/accounts/__init__.py
  specifyweb/backend/accounts/migrations/0001_initial.py
  specifyweb/backend/accounts/migrations/0002_auto_20211223_1206.py
  specifyweb/backend/accounts/migrations/0003_auto_20220621_1541.py
  specifyweb/backend/accounts/migrations/__init__.py
  specifyweb/backend/accounts/models.py
  specifyweb/backend/accounts/urls.py
  specifyweb/backend/accounts/views.py
Due: mypy

Remove unused string
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
Due: frontend-tests

update import paths for accounts app under backend/
  specifyweb/specify/models_by_table_id.py
  specifyweb/specify/utils.py
  specifyweb/urls.py
Due: mypy

configure SPECIFY_APPS for Celery task autodiscovery
  specifyweb/celery_tasks.py
  specifyweb/settings/__init__.py
Due: mypy

init patch migration 0004_match_selectseries_to_smushed
  specifyweb/patches/migrations/0004_match_selectseries_to_smushed.py
Due: mypy

remove comment
  specifyweb/specify/models_by_table_id.py
Due: mypy

remove specify first migration dependency from workbench init migration
  specifyweb/workbench/migrations/0001_initial.py
Due: mypy

replace selectseries with smushed
  specifyweb/specify/migrations/0032_remove_spquery_selectseries.py
  specifyweb/specify/models.py
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/tests/static/co_query.json
Due: mypy

frontend: Re-add cutomInit Determination businessRules
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Ensure models on dependent collection initialization trigger onAdd
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/resourceApi.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/collectionApi.ts
  specifyweb/frontend/js_src/lib/components/PickLists/__tests__/fetch.test.ts
Due: frontend-tests

Refine Collector isPrimary businessrules
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

showing what it takes to avoid InconsistentMigrationHistory
  specifyweb/accounts/migrations/0001_initial.py
  specifyweb/attachment_gw/migrations/0001_initial.py
  specifyweb/businessrules/migrations/0001_initial.py
  specifyweb/businessrules/migrations/0002_default_unique_rules.py
  specifyweb/notifications/migrations/0001_initial.py
  specifyweb/notifications/migrations/0003_spmerging.py
  specifyweb/notifications/migrations/0006_localityupdate_localityupdaterowresult.py
  specifyweb/permissions/migrations/0001_initial.py
  specifyweb/permissions/migrations/0002_role_rolepolicy_userrole.py
  specifyweb/workbench/migrations/0001_initial.py
  specifyweb/workbench/migrations/0005_auto_20210428_1634.py
Due: mypy

Correct Collector test
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
Due: frontend-tests

change base_specify_migration logic
  specifyweb/specify/management/commands/base_specify_migration.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
Due: frontend-tests

Update logic in base_specify_migration command
  specifyweb/specify/management/commands/base_specify_migration.py
Due: mypy

remove selectSeries from datamodel
  specifyweb/specify/datamodel.py
Due: mypy

except qb reuest with selectseries or smushed
  specifyweb/stored_queries/execution.py
Due: mypy

Chnage url format
  specifyweb/specify/urls.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

try again with parallel running builds
  .github/workflows/docker.yml
Due: none

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/resources/de_CH.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
  strings/user/de_CH.po
  strings/user/en_US.po
  strings/user/es.po
  strings/user/fr.po
  strings/user/pt_BR.po
  strings/user/ru.po
  strings/user/uk.po
Due: none

Remove selectSeries and replace by smushed where needed
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/helpers.test.ts
  specifyweb/frontend/js_src/lib/components/Forms/__tests__/DeleteButton.test.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/__snapshots__/fromTree.test.ts.snap
  specifyweb/frontend/js_src/lib/components/QueryBuilder/index.tsx
  specifyweb/frontend/js_src/lib/components/QueryComboBox/helpers.ts
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/datamodel.json
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/schema_localization.json/lang=en.json
  specifyweb/specify/temp_models.py
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/views.py
Due: frontend-tests, mypy

remove selectSeries
  specifyweb/specify/datamodel.py
  specifyweb/specify/models.py
Due: mypy

Remove selectSeries from types
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
Due: frontend-tests

change smushed to selectseries
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/helpers.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/index.tsx
  specifyweb/frontend/js_src/lib/components/QueryComboBox/helpers.ts
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/datamodel.json
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0033_change_smushed_to_selectseries.py
  specifyweb/specify/models.py
  specifyweb/specify/tests/test_geotime.py
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/tests/static/co_query.json
  specifyweb/stored_queries/views.py
Due: frontend-tests, mypy

Use default settings for interactions and tables list dialog
  specifyweb/frontend/js_src/lib/components/DataEntryTables/Edit.tsx
  specifyweb/frontend/js_src/lib/components/DataEntryTables/fetch.ts
  specifyweb/frontend/js_src/lib/components/DataEntryTables/fetchTables.ts
  specifyweb/frontend/js_src/lib/components/DataEntryTables/index.tsx
  specifyweb/frontend/js_src/lib/components/DataEntryTables/useFormTables.ts.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionsDialog.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/fetch.ts
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

Test using job outputs for architecture builds
  .github/workflows/docker.yml
Due: none

Use default settings for interactions and tables list dialog
  specifyweb/frontend/js_src/lib/components/DataEntryTables/Edit.tsx
  specifyweb/frontend/js_src/lib/components/DataEntryTables/fetch.ts
  specifyweb/frontend/js_src/lib/components/DataEntryTables/fetchTables.ts
  specifyweb/frontend/js_src/lib/components/Interactions/fetch.ts
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

Split prep step to new job, access tags when creating manifests
  .github/workflows/docker.yml
Due: none

Include more informaiton in output and dryrun imagetools while testing
  .github/workflows/docker.yml
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
