Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Reorder migrations
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/migrations/0005_collectionobjectgroup_parentcojo.py
  specifyweb/specify/migrations/0006_fix_tectonic_tree_fields.py
Due: frontend-tests, mypy

Reorder migrations
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/migrations/0006_collectionobjectgroup_parentcojo.py
  specifyweb/specify/migrations/0007_tectonic_ranks.py
  specifyweb/specify/tree_views.py
Due: frontend-tests, mypy

Remove and add tectonic tree to discipline
  specifyweb/specify/migrations/0006_fix_tectonic_tree_fields.py
Due: mypy

Fix migration 7 fields name
  specifyweb/specify/migrations/0005_collectionobjectgroup_parentcojo.py
  specifyweb/specify/migrations/0007_tectonic_ranks.py
Due: mypy

Use model from apps in migrations
  specifyweb/businessrules/migrations/0002_default_unique_rules.py
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

Clean up migration code
  specifyweb/businessrules/migrations/0002_default_unique_rules.py
  specifyweb/specify/migrations/0006_fix_tectonic_tree_fields.py
Due: mypy

added mock cache and initialize test
  specifyweb/frontend/js_src/lib/hooks/__tests__/useCachedState.test.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/hooks/__tests__/useCachedState.test.ts
Due: frontend-tests

added more tests
  specifyweb/frontend/js_src/lib/hooks/__tests__/useCachedState.test.ts
Due: frontend-tests

Start create root node
  specifyweb/specify/migrations/0007_tectonic_ranks.py
  specifyweb/specify/model_extras.py
  specifyweb/specify/models.py
Due: mypy

Add tectonic unit to model extras
  specifyweb/specify/model_extras.py
  specifyweb/specify/models.py
Due: mypy

Chnage rank id for root node
  specifyweb/specify/migrations/0007_tectonic_ranks.py
Due: mypy

Add todos and tectonic to various files
  specifyweb/frontend/js_src/lib/components/DataModel/schemaOverrides.ts
  specifyweb/frontend/js_src/lib/components/Forms/ResourceView.tsx
  specifyweb/frontend/js_src/lib/components/PickLists/definitions.ts
  specifyweb/frontend/js_src/lib/tests/ajax/static/properties/global_views_en.properties
  specifyweb/specify/build_models.py
  specifyweb/specify/models_by_table_id.py
  specifyweb/specify/tree_ranks.py
  specifyweb/specify/tree_utils.py
  specifyweb/stored_queries/execution.py
  specifyweb/workbench/upload/scoping.py
  specifyweb/workbench/upload/upload.py
Due: frontend-tests, mypy

Add todo
  specifyweb/frontend/js_src/lib/components/Toolbar/QueryTablesWrapper.tsx
Due: frontend-tests

Add aliases
  specifyweb/specify/datamodel.py
Due: mypy

added undefined test and multiple renders
  specifyweb/frontend/js_src/lib/hooks/__tests__/useCachedState.test.ts
Due: frontend-tests

Fix accepted_is not being defined
  specifyweb/businessrules/rules/tree_rules.py
Due: mypy

Use relationship name as fallback
  specifyweb/frontend/js_src/lib/components/SchemaConfig/UniquenessRuleScope.tsx
Due: frontend-tests

Add geo trees variable
  specifyweb/specify/tree_views.py
Due: mypy

Enable deleting unused children
  specifyweb/specify/models.py
Due: mypy

Add new geo tables to models by id
  specifyweb/specify/models_by_table_id.py
Due: mypy

Add tectonic unit to tree_rans
  specifyweb/specify/tree_ranks.py
Due: mypy

Added translation using Weblate (Portuguese (Brazil))
  strings/attachments/pt_BR.po
Due: none

Added translation using Weblate (Portuguese)
  strings/attachments/pt.po
Due: none

Added translation using Weblate (Portuguese (Brazil))
  strings/backEnd/pt_BR.po
Due: none

Added translation using Weblate (Portuguese)
  strings/backEnd/pt.po
Due: none

Added translation using Weblate (Portuguese (Brazil))
  strings/development/pt_BR.po
Due: none

Added translation using Weblate (Portuguese)
  strings/development/pt.po
Due: none

Added translation using Weblate (Portuguese)
  strings/forms/pt.po
Due: none

Added translation using Weblate (Portuguese (Brazil))
  strings/forms/pt_BR.po
Due: none

Added translation using Weblate (Portuguese)
  strings/header/pt.po
Due: none

Translated using Weblate (Portuguese)
  strings/development/pt.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/development/pt_BR.po
Due: none

Added translation using Weblate (Portuguese (Brazil))
  strings/interactions/pt_BR.po
Due: none

Added translation using Weblate (Portuguese)
  strings/locality/pt.po
Due: none

Added translation using Weblate (Portuguese)
  strings/interactions/pt.po
Due: none

Added translation using Weblate (Portuguese)
  strings/notifications/pt.po
Due: none

Added translation using Weblate (Portuguese)
  strings/preferences/pt.po
Due: none

Added translation using Weblate (Portuguese)
  strings/query/pt.po
Due: none
