Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/Cell.tsx
Due: frontend-tests

change CSRF_TRUSTED_ORIGINS default
  Dockerfile
Due: none

forward origin in nginx for CSRF
  nginx.conf
Due: none

(tests): Add tests for set_password
  specifyweb/specify/model_extras.py
  specifyweb/specify/tests/test_api.py
  specifyweb/specify/tests/test_set_password.py
Due: mypy

Update captions
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
Due: mypy

(tests): Add tests for set_user_agents
  specifyweb/specify/tests/test_api.py
  specifyweb/specify/tests/test_set_user_agents.py
  specifyweb/specify/views.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/Cell.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/attachment_settings_available.test.ts
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/cleanAttachmentDownloadName.test.ts
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/fetchToken.test.ts
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/uploadFile.test.ts
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/useAttachment.test.ts
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/Import.tsx
  specifyweb/frontend/js_src/lib/components/DataModel/resourceApi.ts
  specifyweb/frontend/js_src/lib/localization/attachments.ts
Due: frontend-tests

Make bulk range pref separate
  specifyweb/frontend/js_src/lib/components/FormMeta/CarryForward.tsx
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
Due: frontend-tests

Respect id convention for db column based on CO
  specifyweb/specify/migrations/0035_components.py
Due: mypy

Validate range start<end on frontend
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

(tests): Add tests for check_collection_access_against_agents
  specifyweb/specify/tests/test_check_collection_access_against_agents.py
Due: mypy

Define collectionobjecttype picklist as default for Type
  specifyweb/specify/migrations/0035_components.py
Due: mypy

(tests): Add tests for set_admin_status
  specifyweb/specify/tests/test_set_admin_status.py
Due: mypy

Add "createRecordSetOnCarry" preference Separate Bulk Carry Dialog
  specifyweb/frontend/js_src/lib/components/FormMeta/CarryForward.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSet.tsx
  specifyweb/frontend/js_src/lib/components/Forms/BulkCarryForward.tsx
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

Show Bulk Carry results when recordset is disabled
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSet.tsx
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSet.tsx
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
Due: frontend-tests

Add tests Fix wildcard detection
  specifyweb/specify/tests/test_series_autonumber.py
  specifyweb/specify/views.py
Due: mypy

create backend folder
  specifyweb/backend/__init__.py
Due: mypy

move accounts into backend
  specifyweb/backend/accounts/__init__.py
  specifyweb/backend/accounts/migrations/0001_initial.py
  specifyweb/backend/accounts/migrations/0002_auto_20211223_1206.py
  specifyweb/backend/accounts/migrations/0003_auto_20220621_1541.py
  specifyweb/backend/accounts/migrations/__init__.py
  specifyweb/backend/accounts/models.py
  specifyweb/backend/accounts/urls.py
  specifyweb/backend/accounts/views.py
Due: mypy

update import paths for accounts app under backend/
  specifyweb/specify/models_by_table_id.py
  specifyweb/specify/utils.py
  specifyweb/urls.py
Due: mypy

update Makefile
  Makefile
Due: none

configure SPECIFY_APPS for Celery task autodiscovery
  specifyweb/celery_tasks.py
  specifyweb/settings/__init__.py
Due: mypy

remove comment
  specifyweb/specify/models_by_table_id.py
Due: mypy

Remove custom grid view
  config/common/common.views.xml
Due: none

update stored_queries imports
  specifyweb/stored_queries/batch_edit.py
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/views.py
Due: mypy

update specify, settings, & middleware imports
  specifyweb/middleware/general.py
  specifyweb/settings/__init__.py
  specifyweb/specify/api.py
  specifyweb/specify/models_by_table_id.py
  specifyweb/specify/tests/test_api.py
  specifyweb/specify/tree_views.py
  specifyweb/specify/utils.py
  specifyweb/specify/views.py
  specifyweb/urls.py
Due: mypy

update app imports
  specifyweb/attachment_gw/dataset_views.py
  specifyweb/backend/accounts/urls.py
  specifyweb/backend/accounts/views.py
  specifyweb/context/views.py
  specifyweb/export/views.py
  specifyweb/express_search/views.py
  specifyweb/interactions/views.py
  specifyweb/report_runner/views.py
  specifyweb/stats/views.py
Due: mypy

update workbench imports
  specifyweb/workbench/permissions.py
  specifyweb/workbench/upload/auditor.py
  specifyweb/workbench/upload/upload.py
  specifyweb/workbench/views.py
Due: mypy

move permissions into backend
  specifyweb/backend/permissions/__init__.py
  specifyweb/backend/permissions/initialize.py
  specifyweb/backend/permissions/management/__init.py__
  specifyweb/backend/permissions/management/commands/__init__.py
  specifyweb/backend/permissions/management/commands/initialize_permissions.py
  specifyweb/backend/permissions/middleware.py
  specifyweb/backend/permissions/migrations/0001_initial.py
  specifyweb/backend/permissions/migrations/0002_role_rolepolicy_userrole.py
  specifyweb/backend/permissions/migrations/0003_auto_20220321_1445.py
  specifyweb/backend/permissions/migrations/0004_auto_20220407_1927.py
  specifyweb/backend/permissions/migrations/0004_intialize_defaults.py
  specifyweb/backend/permissions/migrations/0005_merge_20220414_1451.py
  specifyweb/backend/permissions/migrations/0006_add_dataset_create_recordset_permission.py
  specifyweb/backend/permissions/migrations/0007_add_stats_edit_permission.py
  specifyweb/backend/permissions/migrations/0008_attachment_import_role.py
  specifyweb/backend/permissions/migrations/__init__.py
  specifyweb/backend/permissions/models.py
  specifyweb/backend/permissions/permissions.py
  specifyweb/backend/permissions/tests.py
  specifyweb/backend/permissions/urls.py
  specifyweb/backend/permissions/views.py
Due: mypy

(tests): Add tests for record_merge (requests)
  specifyweb/specify/tests/test_record_merge_requests.py
  specifyweb/specify/views.py
Due: mypy

(tests): Add tests for merging_status
  specifyweb/specify/tests/test_merging_status.py
Due: mypy

(debug): Restrict github action tests for debugging
  .github/workflows/test.yml
  specifyweb/specify/tests/test_record_merge_requests.py
Due: mypy

Moves `DisplayAuthor` to User Preferences
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Remove `TaxonTreeEditor.DisplayAuthor` pref
  specifyweb/frontend/js_src/lib/components/InitialContext/remotePrefs.ts
Due: frontend-tests

Updates preferences text
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
