Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Update SyncAttachmentPicker.tsx
  specifyweb/frontend/js_src/lib/components/Molecules/SyncAttachmentPicker.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Molecules/SyncAttachmentPicker.tsx
Due: frontend-tests

Fix type assertion
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialogRow.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/LeafletImageViewer.tsx
Due: frontend-tests

change wrong import of F in crud.py
  specifyweb/specify/api/crud.py
Due: mypy

add patch migration for setting the tectonicunit root fullname
  specifyweb/backend/patches/migrations/0007_fix_tectonicunit_tree_root.py
Due: mypy

Translated using Weblate (French)
  strings/common/fr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

WB Attachments: Fix copying values from attachments column (#7356)
  specifyweb/backend/workbench/upload/upload_plan_schema.py
  specifyweb/frontend/js_src/lib/components/Attachments/LeafletImageViewer.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/Mapper.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/helpers.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/linesGetter.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanBuilder.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanParser.ts
  specifyweb/frontend/js_src/lib/components/WbToolkit/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests, mypy

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/wbPlan/de_CH.po
  strings/wbPlan/en_US.po
  strings/wbPlan/es.po
  strings/wbPlan/fr.po
  strings/wbPlan/pt_BR.po
  strings/wbPlan/ru.po
  strings/wbPlan/uk.po
  strings/workbench/de_CH.po
  strings/workbench/en_US.po
  strings/workbench/es.po
  strings/workbench/fr.po
  strings/workbench/pt_BR.po
  strings/workbench/ru.po
  strings/workbench/uk.po
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WbPlanView/Mapper.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanParser.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
Due: frontend-tests

Translated using Weblate (French)
  strings/forms/fr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/common.ts
Due: frontend-tests

Force braces 3.0.3
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WbPlanView/Mapper.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

Upgrade all braces uses
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Update api endpoint
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
Due: frontend-tests

WIP add remove and move buttons
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
Due: frontend-tests

Automatically save upon uploading attachments
  specifyweb/frontend/js_src/lib/components/WbActions/WbSave.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
Due: frontend-tests

WIP Prevent deleting row if it contains an attachment
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
Due: frontend-tests

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/forms/de_CH.po
  strings/forms/en_US.po
  strings/forms/es.po
  strings/forms/fr.po
  strings/forms/pt_BR.po
  strings/forms/ru.po
  strings/forms/uk.po
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
  strings/wbPlan/de_CH.po
  strings/wbPlan/en_US.po
  strings/wbPlan/es.po
  strings/wbPlan/fr.po
  strings/wbPlan/pt_BR.po
  strings/wbPlan/ru.po
  strings/wbPlan/uk.po
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Fix case sensitivity in TectonicUnit migration
  specifyweb/backend/patches/migrations/0007_fix_tectonicunit_tree_root.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
