Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
Due: frontend-tests

fix anchor alias for join cache
  specifyweb/backend/stored_queries/query_construct.py
Due: mypy

change autonumbering locking naming key to use db_name and table_name
  specifyweb/specify/models_utils/lock_tables.py
  specifyweb/specify/utils/autonumbering.py
Due: mypy

try row level locking with django
  specifyweb/specify/utils/autonumbering.py
Due: mypy

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add missing autonumbering tables to django model
  specifyweb/specify/migrations/0001_initial.py
  specifyweb/specify/models.py
Due: mypy

implement lock_ge_range
  specifyweb/specify/models_utils/lock_tables.py
  specifyweb/specify/utils/autonumbering.py
  specifyweb/specify/utils/uiformatters.py
Due: mypy

feat: Format Weblate Sync files with prettier before pushing to main
  .github/workflows/push.yml
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

attemped fixes of to resolve redirection
  .env
  .vscode/settings.json
  specifyweb/frontend/js_src/lib/components/Toolbar/WbsDialog.tsx
Due: frontend-tests

add db indexes to help autonumbering range locking
  specifyweb/specify/migrations/0041_add_indexes_to_help_autonumbering.py
  specifyweb/specify/models.py
  specifyweb/specify/models_utils/lock_tables.py
  specifyweb/specify/utils/autonumbering.py
  specifyweb/specify/utils/uiformatters.py
Due: mypy

Sync localization strings with Weblate
  strings/backEnd/pt_BR.po
  strings/batchEdit/fr.po
  strings/batchEdit/ru.po
  strings/forms/de_CH.po
  strings/forms/pt_BR.po
  strings/forms/ru.po
  strings/resources/de_CH.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
  strings/schema/es.po
  strings/schema/fr.po
  strings/schema/pt_BR.po
  strings/tree/fr.po
  strings/user/de_CH.po
Due: none

fix: correct values of default formatter object
  specifyweb/backend/stored_queries/execution.py
  specifyweb/backend/stored_queries/format.py
Due: mypy

cleanup searchsynonymy merge on QB execution
  specifyweb/backend/stored_queries/execution.py
Due: mypy

simplified and added correct implementation of a listener and event trigge
  specifyweb/frontend/js_src/lib/components/Toolbar/WbsDialog.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/DataSetMeta.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
Due: frontend-tests

apply changes from issue-7510
  specifyweb/backend/stored_queries/execution.py
  specifyweb/backend/stored_queries/format.py
Due: mypy

Apply changes from issue-7510
  specifyweb/backend/stored_queries/execution.py
  specifyweb/backend/stored_queries/format.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/InitialContext/systemInfo.ts
Due: frontend-tests

Translated using Weblate (French)
  strings/query/fr.po
Due: none

Translated using Weblate (Spanish)
  strings/common/es.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/query/pt_BR.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
Due: frontend-tests

fix: adjusted highlight color for selected chronostrat
  specifyweb/frontend/js_src/lib/components/Atoms/Form.tsx
Due: frontend-tests

cleaned up unused import
  specifyweb/frontend/js_src/lib/components/.DS_Store
  specifyweb/frontend/js_src/lib/components/Toolbar/WbsDialog.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Toolbar/WbsDialog.tsx
Due: frontend-tests

fix(prefs): use collection pref for tree settings
  specifyweb/frontend/js_src/lib/components/TreeView/Actions.tsx
Due: frontend-tests

WIP add better setup progress tracking
  specifyweb/backend/setup_tool/api.py
  specifyweb/backend/setup_tool/setup_tasks.py
  specifyweb/backend/setup_tool/utils.py
  specifyweb/frontend/js_src/lib/components/Login/index.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
Due: frontend-tests, mypy

cleaned up function even further and removed more unused imports
  specifyweb/frontend/js_src/lib/components/WorkBench/DataSetMeta.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/DataSetMeta.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
Due: frontend-tests

Translated using Weblate (Russian)
  strings/common/ru.po
Due: none

fix: collection pref
  specifyweb/frontend/js_src/lib/components/TreeView/Actions.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/stats.tsx
Due: frontend-tests

implement Collection Preferences UI with dedicated definitions
  specifyweb/frontend/js_src/lib/components/AppResources/TabDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests

Fix:Expose general collection prefs for picklist scoping and attachment defaults
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests

Corrected specifyNetwork keys to publishingOrg and datasetKey
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests

resolve typecheck errors in Collection Preferences definitions
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests

align CollectionDefinitions with UserDefinitions typing
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests
