Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
Due: frontend-tests

Split ImageViewer from Dialog Fix crash when no attachments are found
  specifyweb/frontend/js_src/lib/components/Attachments/ChronoChart.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
Due: frontend-tests

Support non-images in Image Window Refactor WbAttachmentsPreview
  specifyweb/frontend/js_src/lib/components/Attachments/ChronoChart.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
Due: frontend-tests

Make attachments column readonly Fix crash on invalid rows
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
Due: frontend-tests

Format attachments in attachments column Format attachment column name Open attachments panel by default Rename attachments columns to 'UPLOADED_ATTACHMENTS'
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Router/Routes.tsx
Due: frontend-tests

Add refresh icon
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
Due: frontend-tests

WIP Select only base tables with attachments
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/Components.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/State.tsx
Due: frontend-tests

Limit size of image in ImageViewer
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
Due: frontend-tests

Add Attachment table selector Use JSON for row attachment data Add per-attachment table selection Format attachments with filenames in workbench
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/helpers.ts
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/Components.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/State.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
Due: frontend-tests

Change separator to semicolon
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/helpers.ts
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
Due: frontend-tests

Simplify parsing error handling
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
Due: frontend-tests

WIP Check if table supports attachments
  specifyweb/backend/workbench/upload/upload.py
Due: mypy

WIP Error on validation
  specifyweb/backend/workbench/upload/upload.py
Due: mypy

test
  specifyweb/backend/workbench/upload/treerecord.py
Due: mypy

Inject attachments into WB upload plan
  specifyweb/backend/workbench/upload/upload.py
  specifyweb/backend/workbench/upload/upload_table.py
Due: mypy

fix test
  specifyweb/backend/workbench/upload/treerecord.py
  specifyweb/backend/workbench/upload/upload.py
Due: mypy

Move attachment uploading logic
  specifyweb/backend/workbench/upload/upload.py
  specifyweb/backend/workbench/upload/upload_attachments.py
  specifyweb/backend/workbench/upload/upload_table.py
Due: mypy

Move attachment column creation logic
  specifyweb/backend/workbench/upload/upload.py
  specifyweb/backend/workbench/upload/upload_attachments.py
Due: mypy

Fix type error
  specifyweb/backend/workbench/upload/upload_attachments.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
Due: frontend-tests

Fix attachments being deleted when deleting uploaded data sets
  specifyweb/backend/businessrules/rules/attachment_rules.py
Due: mypy

Add baseTable target table for attachments Removed attachment target table selection
  specifyweb/backend/workbench/upload/upload.py
  specifyweb/backend/workbench/upload/upload_attachments.py
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/helpers.ts
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
Due: frontend-tests, mypy

Attempt to fix type error
  specifyweb/backend/workbench/upload/upload.py
  specifyweb/backend/workbench/upload/upload_attachments.py
Due: mypy

Ignore typecheck (Bad)
  specifyweb/backend/workbench/upload/upload_attachments.py
Due: mypy

Fix roll backs for attachment table ids
  specifyweb/backend/businessrules/rules/attachment_rules.py
  specifyweb/backend/workbench/upload/upload.py
  specifyweb/backend/workbench/upload/upload_attachments.py
Due: mypy

fix type errors again
  specifyweb/backend/workbench/upload/upload_attachments.py
Due: mypy

Fix type errors
  specifyweb/backend/workbench/upload/upload_attachments.py
Due: mypy

Add error for deleted attachments in data set
  specifyweb/backend/workbench/upload/upload_attachments.py
Due: mypy

Fix type errors again
  specifyweb/backend/workbench/upload/upload_attachments.py
Due: mypy

Refactor attachment upload plan insertion
  specifyweb/backend/workbench/upload/upload_attachments.py
Due: mypy

Fix imports
  specifyweb/backend/workbench/upload/upload.py
  specifyweb/backend/workbench/upload/upload_attachments.py
Due: mypy

Fix checking for uploaded att when deleting data set
  specifyweb/backend/businessrules/rules/attachment_rules.py
Due: mypy

Fix base upload plan being modified
  specifyweb/backend/workbench/upload/upload_attachments.py
Due: mypy

Add error messages
  specifyweb/frontend/js_src/lib/components/WorkBench/WbValidation.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/resultsParser.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
Due: frontend-tests

Change attachment column export name so it cant be imported Remove attachment table selector
  specifyweb/frontend/js_src/lib/components/WbPlanView/Components.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/State.tsx
  specifyweb/frontend/js_src/lib/components/WbToolkit/index.tsx
Due: frontend-tests

Fix AttachmentFailure type
  specifyweb/backend/workbench/upload/upload_attachments.py
  specifyweb/backend/workbench/upload/upload_result.py
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
Due: frontend-tests, mypy

Hide attachments column from data mapper Add icon to attachments column
  specifyweb/frontend/js_src/lib/components/WbPlanView/linesGetter.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
Due: frontend-tests
