Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Fix typecheck errors
  specifyweb/workbench/upload/tests/testschema.py
  specifyweb/workbench/upload/tests/testuploading.py
  specifyweb/workbench/upload/treerecord.py
  specifyweb/workbench/upload/upload.py
  specifyweb/workbench/upload/upload_plan_schema.py
  specifyweb/workbench/upload/upload_table.py
Due: mypy

Reanimate TreeRankQuery
  specifyweb/stored_queries/query_construct.py
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

WIP
  specifyweb/attachment_gw/urls.py
  specifyweb/attachment_gw/views.py
  specifyweb/frontend/js_src/lib/components/FormSliders/AttachmentsCollection.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormSliders/AttachmentsCollection.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
Due: frontend-tests

Use correct field name in toMany relationships
  specifyweb/specify/api.py
Due: mypy

Remove init.py
  specifyweb/stored_queries/tests/__init__.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/resourceApi.ts
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelectorFromCollection.tsx
Due: frontend-tests

Fix tests import
  specifyweb/stored_queries/tests/__init__.py
  specifyweb/stored_queries/tests/stored_queries_tests.py
Due: mypy

rename test
  specifyweb/stored_queries/tests/test_stored_queries.py
Due: mypy

Don't check redundant relationships for toMany
  specifyweb/specify/api.py
  specifyweb/specify/tests/test_api.py
Due: mypy

Fix formatter and queryfield tests
  specifyweb/specify/parse.py
  specifyweb/stored_queries/queryfield.py
  specifyweb/stored_queries/queryfieldspec.py
  specifyweb/workbench/upload/parsing.py
Due: mypy

implement simplified quantity logic, fix bugs
  specifyweb/interactions/cog_preps.py
  specifyweb/specify/api.py
Due: mypy

Custom isComplete for IndependentCollection
  specifyweb/frontend/js_src/lib/components/DataModel/collectionApi.ts
  specifyweb/frontend/js_src/lib/components/FormCells/FormTableCollection.tsx
Due: frontend-tests

Fix import
  specifyweb/stored_queries/tests/tests_legacy.py
Due: mypy

fix bugs
  specifyweb/interactions/cog_preps.py
Due: mypy

Add _update function
  specifyweb/specify/tests/test_api.py
Due: mypy

fix setting loan prep return quantity override
  specifyweb/interactions/cog_preps.py
Due: mypy

Delete test file
  specifyweb/stored_queries/tests/test_stored_queries.py
Due: mypy

Add prop for omit relationships
  specifyweb/stored_queries/batch_edit.py
Due: mypy

allow unconsolidated loan return prep partial return
  specifyweb/interactions/cog_preps.py
Due: mypy

prop fixes and import errors
  specifyweb/stored_queries/batch_edit.py
  specifyweb/stored_queries/query_construct.py
  specifyweb/stored_queries/tests/test_batch_edit.py
  specifyweb/stored_queries/tests/tests_legacy.py
Due: mypy

WIP use attachmentLocations instead
  specifyweb/attachment_gw/views.py
  specifyweb/frontend/js_src/lib/components/FormSliders/AttachmentsCollection.tsx
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormSliders/AttachmentsCollection.tsx
Due: frontend-tests

Add "Order By" field preference for trees
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
Due: frontend-tests

Update preferences.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Fix tree label names in preferences
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

Add id in empty child COJO condition to avoid subview to disappear
  config/common/common.views.xml
Due: none

Update pull-request-template.md
  .github/pull-request-template.md
Due: none

Update default tree colors
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

Fix localization for order by fields
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

Use `RankID` for sorting by default
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

Test docker build ubuntu pull fix
  .github/workflows/docker.yml
Due: none

try without ubuntu pre-pull
  .github/workflows/docker.yml
Due: none

Add functional download all button and archive notification
  specifyweb/attachment_gw/views.py
  specifyweb/frontend/js_src/lib/components/Attachments/RecordSetAttachment.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/AttachmentsCollection.tsx
  specifyweb/frontend/js_src/lib/components/Notifications/NotificationRenderers.tsx
  specifyweb/frontend/js_src/lib/localization/notifications.ts
Due: frontend-tests, mypy

fix count edit error on CO form
  specifyweb/interactions/cog_preps.py
Due: mypy

pass is_strict in op_age_period to search_co_ids_in_time_period
  specifyweb/stored_queries/query_ops.py
Due: mypy

Display age value instead of id in query result for age queries
  specifyweb/stored_queries/execution.py
Due: mypy

Add download button to individual attachment cells Fix trying to download unavailable attachments WIP checkboxes?
  specifyweb/attachment_gw/views.py
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/Cell.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/RecordSetAttachment.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/AttachmentsCollection.tsx
Due: frontend-tests, mypy
