Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

sotred obj,ids before deletion to bouded ID being Set to none during Cascade deletion
  specifyweb/specify/api/crud.py
Due: mypy

Fix: test new install for dependecies
  .github/workflows/test.yml
Due: none

Fix: Typo
  scripts/check_django_eol.py
Due: mypy

Fix: Create or Update github action comment
  .github/workflows/test.yml
Due: none

Test
  scripts/check_django_eol.py
Due: mypy

WIP allow clicking on Add
  specifyweb/frontend/js_src/lib/components/Molecules/AutoComplete.tsx
Due: frontend-tests

Fix QB result to batch edit pipeline
  specifyweb/frontend/js_src/lib/components/BatchEdit/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/BatchEdit/index.tsx
Due: frontend-tests

Fix add option not doing anything in QCBX
  specifyweb/frontend/js_src/lib/components/Molecules/AutoComplete.tsx
Due: frontend-tests

Re-add stopPropagation to Add option
  specifyweb/frontend/js_src/lib/components/Molecules/AutoComplete.tsx
Due: frontend-tests

Feat: Generalize EOL script
  .github/workflows/test.yml
  scripts/check_django_eol.py
  scripts/check_eol.py
Due: mypy

Fix: fix python version
  .github/workflows/test.yml
Due: none

Feat: Combine github comments
  .github/workflows/test.yml
Due: none

Fix: Indentation
  .github/workflows/test.yml
Due: none

Refactor: Allow expension of EOL tracking
  .github/workflows/test.yml
  scripts/check_eol.py
  scripts/eol/check_eol.py
  scripts/eol/eol_api.py
  scripts/eol/runner.py
  scripts/eol/runtimes.py
  scripts/eol/scanner.py
Due: mypy

Fix: remove install
  .github/workflows/test.yml
Due: none

Fix: fix path
  .github/workflows/test.yml
Due: none

Fix: Update imports
  scripts/eol/check_eol.py
  scripts/eol/runner.py
Due: mypy

Fix: Add init
  .github/workflows/test.yml
  scripts/__init__.py
  scripts/eol/__init__.py
Due: mypy

Fix test
  specifyweb/backend/stored_queries/tests/test_batch_edit.py
Due: mypy

Revert "Fix test"
  specifyweb/backend/stored_queries/tests/test_batch_edit.py
Due: mypy

Increase batch edit default value to avoid row cutoff
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

feat: improve schema descriptions
  config/common/schema_localization_en.json
Due: none

Preserve pre-save side effects in bulk Batch Edit updates
  specifyweb/backend/workbench/upload/upload_table.py
Due: mypy

chore: remove duplicated bulk copy functions
  specifyweb/specify/api/dispatch.py
Due: mypy

recalculates isresolved for each prep
  specifyweb/specify/api/calculated_fields.py
Due: mypy

Cache global Component catalog-number existence checks
  specifyweb/backend/businessrules/utils.py
Due: mypy

Preserve global Component catalognumber validation for CO saves
  specifyweb/backend/businessrules/rules/collectionobject_rules.py
Due: mypy

Clear Component catalog-number cache globally after Component changes
  specifyweb/backend/businessrules/rules/component_rules.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/ExpressSearchConfig/ExpressSearchConfigDialog.tsx
  specifyweb/frontend/js_src/lib/components/ExpressSearchConfig/ResultsOrderingTab.tsx
  specifyweb/frontend/js_src/lib/components/ExpressSearchConfig/__tests__/ExpressSearchConfigEditor.test.tsx
  specifyweb/frontend/js_src/lib/components/ExpressSearchConfig/__tests__/RelatedTablesTab.test.tsx
  specifyweb/frontend/js_src/lib/components/ExpressSearchConfig/__tests__/ResultsOrderingTab.test.tsx
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
  specifyweb/frontend/js_src/lib/components/Header/ExpressSearchHooks.tsx
  specifyweb/frontend/js_src/lib/components/Header/ExpressSearchTask.tsx
  specifyweb/frontend/js_src/lib/components/Notifications/NotificationRenderers.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/navigator.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/utils/config.ts
  specifyweb/frontend/js_src/lib/utils/schemaVisibility.ts
Due: frontend-tests

Hide unused Batch Edit query row limit preference
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

fixed error inside cogpreps caused by some fiends being streated as string instead of ints
  specifyweb/backend/interactions/cog_preps.py
Due: mypy

Deal with dirty fields touching custom catalognumber rules
  specifyweb/backend/workbench/upload/upload_table.py
Due: mypy

addoed comment to casting fix
  specifyweb/backend/interactions/cog_preps.py
Due: mypy

Translated using Weblate (Norwegian Bokmål)
  strings/development/nb_NO.po
Due: none

Translated using Weblate (Croatian)
  strings/development/hr.po
Due: none

Update .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

Fix: Handle None dates
  scripts/eol/runner.py
  scripts/eol/scanner.py
Due: mypy

Fix: Handle string and integer cycle
  scripts/eol/eol_api.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
