Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Translated using Weblate (Portuguese (Brazil))
  strings/batchEdit/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/batchEdit/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/batchEdit/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/backup/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/backup/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/backup/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/stats/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/stats/es.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/stats/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/stats/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/stats/uk.po
Due: none

Translated using Weblate (Croatian)
  strings/forms/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/attachments/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/backup/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/backEnd/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/batchEdit/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/interactions/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/report/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/stats/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/development/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/wbPlan/hr.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/forms/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/interactions/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/wbPlan/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/stats/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/attachments/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/backEnd/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/batchEdit/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/report/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

[test]: Create record set with multiple Collection Objects
  specifyweb/specify/tests/test_record_sets.py
Due: mypy

[test]: Add existing record to record set
  specifyweb/specify/tests/test_record_sets.py
Due: mypy

[test]: Create record set from query results
  specifyweb/specify/tests/test_record_sets.py
Due: mypy

fix(attachments): pass oldRows to seed effect and add isMappingMode to deps
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/Import.tsx
Due: frontend-tests

feat(attachments): detect non-placeholder filename collisions in crossReferenceMappingFiles byName map
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/utils.ts
Due: frontend-tests

fix(attachments): reset column indices and dedup ref on new CSV load in MappingFileSetup
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/MappingFileSetup.tsx
Due: frontend-tests

fix(attachments): prefer File instances in dedup safety net over first-wins
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/Import.tsx
Due: frontend-tests

fix(attachments): preserve success/attached status in notInMappingFile loop
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/utils.ts
Due: frontend-tests

fix(attachments): use mutable array for crossReferenceMappingFiles result accumulator
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/utils.ts
Due: frontend-tests

fix(attachments): add mappingFileName to placeholder rows in crossReferenceMappingFiles
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/utils.ts
Due: frontend-tests
