Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

[test]: [test]: Backend unit test for contains operator(basic)
  specifyweb/backend/stored_queries/tests/test_query_ops.py
Due: mypy

[test]: [test]: Backend unit test for in operator(basic)
  specifyweb/backend/stored_queries/tests/test_query_ops.py
Due: mypy

[test]: [test]: Backend unit test for startswith operator(basic)
  specifyweb/backend/stored_queries/tests/test_query_ops.py
Due: mypy

[test]: [test]: Backend unit test for endswith operator(basic)
  specifyweb/backend/stored_queries/tests/test_query_ops.py
Due: mypy

[test]: [test]: Backend unit test for empty operator(basic)
  specifyweb/backend/stored_queries/tests/test_query_ops.py
Due: mypy

[test]: [test]: Backend unit test for true operator(basic)
  specifyweb/backend/stored_queries/tests/test_query_ops.py
Due: mypy

[test]: [test]: Backend unit test for false operator(basic)
  specifyweb/backend/stored_queries/tests/test_query_ops.py
Due: mypy

[test]: [test]: Backend unit test for trueornull operator(basic)
  specifyweb/backend/stored_queries/tests/test_query_ops.py
Due: mypy

[test]: [test]: Backend unit test for falseornull operator(basic)
  specifyweb/backend/stored_queries/tests/test_query_ops.py
Due: mypy

chore: debugging why mariadb is not accessable
  .github/workflows/coverage.yml
Due: none

chore: moving docker exec to the top
  .github/workflows/coverage.yml
Due: none

chore: check out docker ps
  .github/workflows/coverage.yml
Due: none

chore: view stats
  .github/workflows/coverage.yml
Due: none

Potential fix for pull request finding 'CodeQL / Unused import'
  specifyweb/backend/inheritance/api.py
Due: mypy

Potential fix for pull request finding 'CodeQL / Unused import'
  specifyweb/backend/stored_queries/web_portal_export.py
Due: mypy

Potential fix for pull request finding 'CodeQL / Unused import'
  specifyweb/backend/stored_queries/execution.py
Due: mypy

final changes
  .env
  specifyweb/backend/businessrules/tests/test_permit.py
Due: mypy

Translated using Weblate (Norwegian Bokmål)
  strings/forms/nb_NO.po
Due: none

Comment
  .github/workflows/test.yml
Due: none

Potential fix for pull request finding 'CodeQL / Empty except'
  scripts/eol/scanner.py
Due: mypy

Fix: fix path
  .github/workflows/test.yml
Due: none

Fix: Indentation
  .github/workflows/test.yml
Due: none

Script: "Add Django EOL checker script (fail if <180 days to EOL)"
  scripts/check_django_eol.py
Due: mypy

Fix: handle failed request
  scripts/eol/scanner.py
Due: mypy

Fix: Update imports
  scripts/eol/check_eol.py
  scripts/eol/runner.py
Due: mypy

Fix: Add init
  .github/workflows/test.yml
  scripts/__init__.py
  scripts/eol/__init__.py
Due: mypy

fix(trees): sync tree conformation with URL cache
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
  specifyweb/frontend/js_src/lib/utils/cache/index.ts
Due: frontend-tests

Fix: Alignement
  .github/workflows/test.yml
Due: none

Github: Add github CI for EOL dependencies
  .github/workflows/test.yml
Due: none

Fix: Improve regex
  scripts/eol/scanner.py
Due: mypy

Fix: remove install
  .github/workflows/test.yml
Due: none

Fix: Add timeout to CI
  .github/workflows/test.yml
Due: none

Fix: Add timeout
  scripts/check_django_eol.py
Due: mypy

Fix: Create or Update github action comment
  .github/workflows/test.yml
Due: none

Fix: test new install for dependecies
  .github/workflows/test.yml
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
