Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

changed to include back if deleter without the and block right after it
  specifyweb/specify/api/crud.py
Due: mypy

fix: remove restart policy
  docker-compose.yml
Due: none

fix: exit on DB setup failure
  docker-entrypoint.sh
Due: none

fix: remove redundant text
  sp7_db_setup_check.sh
Due: none

fix: clarify migrations in docker entrypoint
  docker-entrypoint.sh
Due: none

Translated using Weblate (Russian)
  strings/batchEdit/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/batchEdit/de_CH.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/batchEdit/nb_NO.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/batchEdit/pt_BR.po
Due: none

Translated using Weblate (Spanish)
  strings/batchEdit/es.po
Due: none

Translated using Weblate (Croatian)
  strings/batchEdit/hr.po
Due: none

Translated using Weblate (French)
  strings/batchEdit/fr.po
Due: none

removed redundant code pointed out by Alejandro
  specifyweb/specify/api/crud.py
Due: mypy

Fix merge errors
  specifyweb/frontend/js_src/lib/components/FieldFormatters/index.ts
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

fix: clarify startup migrations comment
  docker-entrypoint.sh
Due: none

fix: make DB reset opt-in
  .env
Due: none

fix: add missing table descriptions
  config/common/schema_localization_en.json
Due: none

fix: detect query failures
  sp7_db_setup_check.sh
Due: none

Preserve agent type when merge auto populate is disabled
  specifyweb/frontend/js_src/lib/components/Merging/autoMerge.ts
Due: frontend-tests

Fix merge conflict
  specifyweb/frontend/js_src/lib/components/FormFields/Field.tsx
  specifyweb/frontend/js_src/lib/components/Forms/BulkCarryForward.tsx
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
Due: frontend-tests

Potential fix for pull request finding 'CodeQL / Unused variable, import, function or class'
  specifyweb/frontend/js_src/lib/components/Forms/BulkCarryForward.tsx
Due: frontend-tests

Fix function signature
  specifyweb/frontend/js_src/lib/components/Forms/BulkCarryForward.tsx
Due: frontend-tests

Change handleBulkCarryForward default behavior
  specifyweb/frontend/js_src/lib/components/Forms/BulkCarryForward.tsx
Due: frontend-tests

Fix failing unit test from main
  specifyweb/backend/stored_queries/tests/tests_legacy.py
Due: mypy

Use schema labels in Workbench uniqueness errors
  specifyweb/frontend/js_src/lib/components/WorkBench/resultsParser.ts
Due: frontend-tests

bussiness rule fix
  specifyweb/backend/workbench/upload/upload_result.py
Due: mypy

Fix COT backfill when saving determinations
  specifyweb/backend/businessrules/rules/collectionobject_rules.py
  specifyweb/backend/businessrules/rules/determination_rules.py
  specifyweb/specify/api/utils.py
Due: mypy

Refactor seriesInput in field.tsx
  specifyweb/frontend/js_src/lib/components/FormFields/Field.tsx
Due: frontend-tests

Add CO bussiness rule unit tests
  specifyweb/backend/businessrules/tests/test_collectionobject.py
Due: mypy

testing simple implementation that only handles first selected id as a redundancy
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Export.tsx
Due: frontend-tests

Fix new mapping lines resetting existing disambiguationBehavior preference
  specifyweb/frontend/js_src/lib/components/WbPlanView/mappingReducer.ts
Due: frontend-tests

Update CHANGELOG for version 7.12.0.6
  CHANGELOG.md
Due: none

Translated using Weblate (Russian)
  strings/expressSearchConfig/ru.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/tree/pt_BR.po
Due: none

Translated using Weblate (French)
  strings/expressSearchConfig/fr.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/tree/nb_NO.po
Due: none

Translated using Weblate (Ukrainian)
  strings/expressSearchConfig/uk.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/expressSearchConfig/pt_BR.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
