Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Translated using Weblate (Norwegian Bokmål)
  strings/setupTool/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

Fix: Update conditional statement for COG inheritance
  specifyweb/backend/inheritance/api.py
Due: mypy

Fix: Normalize catalog Number field
  specifyweb/backend/inheritance/api.py
Due: mypy

Feat: Add a setup completed check in system info request def
  specifyweb/backend/context/views.py
  specifyweb/backend/setup_tool/api.py
Due: mypy

Fix: Handle missing stats in the frontend
  specifyweb/frontend/js_src/lib/components/InitialContext/stats.ts
Due: frontend-tests

Fix: Handle typescript type null
  specifyweb/frontend/js_src/lib/components/Core/VersionMismatch.tsx
Due: frontend-tests

Fix: Add setup_complete to frontend type
  specifyweb/frontend/js_src/lib/components/InitialContext/systemInfo.ts
Due: frontend-tests

Fix: Handle null type
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/navigator.ts
Due: frontend-tests

Fix: Handle inexisting resources
  specifyweb/backend/context/views.py
Due: mypy

Test: Add backend system info test
  specifyweb/backend/context/tests/test_system_info.py
Due: mypy

Test: Update frontend tests
  specifyweb/frontend/js_src/lib/components/InitialContext/__tests__/systemInfo.test.ts
Due: frontend-tests

Test: Update static file
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/system_info.json
Due: none

Translated using Weblate (Croatian)
  strings/development/hr.po
Due: none

Fix: Restrict the exception handler to the expected missing-collection case
  specifyweb/backend/context/views.py
Due: mypy

Fix: Do not show a version mismatch before setup completes
  specifyweb/frontend/js_src/lib/components/Core/VersionMismatch.tsx
Due: frontend-tests

Fix: Block tree creation when discipline is empty
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WbPlanView/navigator.ts
Due: frontend-tests

Upgrade: update Node.js
  Dockerfile
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

fix: merge conflict
  specifyweb/backend/setup_tool/urls.py
Due: mypy

Translated using Weblate (Norwegian Bokmål)
  strings/common/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/common.ts
Due: frontend-tests

fix: re-order migrations to ensure no migration errors occur compared to main
  specifyweb/specify/migrations/0045_add_indexes.py
  specifyweb/specify/migrations/0046_alter_specifyuser_spprincipals.py
  specifyweb/specify/migrations/0047_alter_many_to_many_through_fields.py
Due: mypy

chore: update package-lock.json to match package.json
  specifyweb/frontend/js_src/package-lock.json
Due: none

chore: update `package-lock.json` to match `package.json`
  specifyweb/frontend/js_src/package-lock.json
Due: none

chore: sync `package-lock.json` with `package.json`
  specifyweb/frontend/js_src/package-lock.json
Due: none

chore: sync `package-lock.json` and `package.json`
  specifyweb/frontend/js_src/package-lock.json
Due: none

feat(schema-config): add table sidebar with bulk save
  specifyweb/frontend/js_src/lib/components/Router/Routes.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Components.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Layout.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Redirect.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Sidebar.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Tables.tsx
Due: frontend-tests

test(schema-config): add store and redirect tests
  specifyweb/frontend/js_src/lib/components/SchemaConfig/__tests__/Redirect.test.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/__tests__/Store.test.ts
Due: frontend-tests

fix(schema-config): handle trailing slash in table route
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Layout.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Sidebar.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/helpers.ts
  specifyweb/frontend/js_src/lib/components/SchemaConfig/index.tsx
Due: frontend-tests

fix(schema-config): use non-splat table route
  specifyweb/frontend/js_src/lib/components/Router/Routes.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Layout.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Sidebar.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/helpers.ts
  specifyweb/frontend/js_src/lib/components/SchemaConfig/index.tsx
Due: frontend-tests

fix(db-viewer): use caption terminology over labels
  specifyweb/frontend/js_src/lib/components/SchemaViewer/Fields.tsx
  specifyweb/frontend/js_src/lib/components/SchemaViewer/Relationships.tsx
  specifyweb/frontend/js_src/lib/components/SchemaViewer/Table.tsx
  specifyweb/frontend/js_src/lib/components/SchemaViewer/schemaToTsv.tsx
Due: frontend-tests

feat(schema-config): replace fields select with sortable tables
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Fields.tsx
  specifyweb/frontend/js_src/lib/localization/schema.ts
Due: frontend-tests

fix(db-viewer): remove unused reportsText imports
  specifyweb/frontend/js_src/lib/components/SchemaViewer/Fields.tsx
  specifyweb/frontend/js_src/lib/components/SchemaViewer/Relationships.tsx
  specifyweb/frontend/js_src/lib/components/SchemaViewer/Table.tsx
  specifyweb/frontend/js_src/lib/components/SchemaViewer/schemaToTsv.tsx
Due: frontend-tests

refactor(schema-config): show visibility icons and sort by visibility
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Fields.tsx
Due: frontend-tests

fix(schema-config): keep alphabetical secondary sort and italicize hidden fields
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Fields.tsx
Due: frontend-tests

fix(schema-config): italicize entire hidden field row
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Fields.tsx
Due: frontend-tests

fix(schema-config): align field and relationship column widths
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Fields.tsx
Due: frontend-tests

feat(schema-config): widen fields column
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Fields.tsx
Due: frontend-tests
