Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Try new import
  specifyweb/backend/trees/ranks.py
Due: mypy

Trigger test
  specifyweb/specify/tests/test_api.py
Due: mypy

fix models import
  specifyweb/backend/trees/ranks.py
Due: mypy

Revert
  specifyweb/specify/tests/test_api.py
Due: mypy

refactor: simplify dialog rendering
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialogRow.tsx
Due: frontend-tests

Fix close button Fix merge errors
  specifyweb/frontend/js_src/lib/components/WbAttachmentViewer/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
Due: frontend-tests

Translated using Weblate (German (Switzerland))
  strings/batchEdit/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/batchEdit/es.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WbAttachmentViewer/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/ChronoChart.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
  specifyweb/frontend/js_src/lib/components/WbAttachmentViewer/index.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/Components.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/State.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/linesGetter.ts
  specifyweb/frontend/js_src/lib/components/WbToolkit/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbValidation.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/resultsParser.ts
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
  specifyweb/frontend/js_src/lib/utils/cache/index.ts
Due: frontend-tests

WIP Add Reset Zoom Button Attempt to lower minimum zoom limit
  specifyweb/frontend/js_src/lib/components/Attachments/LeafletImageViewer.tsx
Due: frontend-tests

Reformat
  specifyweb/backend/stored_queries/query_ops.py
Due: mypy

fix test_not_unique_collection_code unit test
  docker-entrypoint.sh
  specifyweb/specify/tests/test_utils/test_create_default_collection_types.py
Due: mypy

Sync localization strings with Weblate
  strings/backEnd/uk.po
  strings/batchEdit/de_CH.po
  strings/batchEdit/es.po
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/query/de_CH.po
  strings/query/en_US.po
  strings/query/es.po
  strings/query/fr.po
  strings/query/pt_BR.po
  strings/query/ru.po
  strings/query/uk.po
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
  strings/wbPlan/uk.po
Due: none

package-lock update
  specifyweb/frontend/js_src/package-lock.json
Due: none

fix: add date-only handling for timestamp filters
  specifyweb/backend/stored_queries/queryfieldspec.py
Due: mypy

fix(weblate): update expected autotranslate addon config with `q` field
  specifyweb/frontend/js_src/lib/localization/utils/validateWeblate.ts
Due: frontend-tests

[reorganization]:Move locality update tool logic to its own app
  specifyweb/backend/locality_update_tool/tests/test_abort_localityupdate_task.py
  specifyweb/backend/locality_update_tool/tests/test_localityupdate_status.py
  specifyweb/backend/locality_update_tool/tests/test_parse_locality_set.py
  specifyweb/backend/locality_update_tool/tests/test_parse_locality_set_foreground.py
  specifyweb/backend/locality_update_tool/tests/test_start_locality_set_background.py
  specifyweb/backend/locality_update_tool/tests/test_upload_locality_set.py
  specifyweb/backend/locality_update_tool/tests/test_upload_locality_set_foreground.py
  specifyweb/backend/locality_update_tool/update_locality.py
  specifyweb/backend/locality_update_tool/urls.py
  specifyweb/backend/locality_update_tool/views.py
  specifyweb/frontend/js_src/lib/components/LocalityUpdate/Status.tsx
  specifyweb/frontend/js_src/lib/components/LocalityUpdate/index.tsx
  specifyweb/settings/__init__.py
  specifyweb/specify/tests/test_update_locality/test_create_localityupdate_recordset.py
  specifyweb/specify/tests/test_update_locality/test_merge_parse_results.py
  specifyweb/specify/tests/test_update_locality/test_parse_field.py
  specifyweb/specify/tests/test_update_locality/test_parse_locality_set.py
  specifyweb/specify/tests/test_update_locality/test_resolve_localityupdate_result.py
  specifyweb/specify/tests/test_update_locality/test_update_locality_context.py
  specifyweb/specify/tests/test_update_locality/test_upload_from_parsed.py
  specifyweb/specify/tests/test_update_locality/test_upload_locality_set.py
  specifyweb/specify/urls.py
  specifyweb/specify/views.py
  specifyweb/urls.py
Due: frontend-tests, mypy

Move inheritance tests to their app
  specifyweb/backend/inheritance/tests/test_catalog_number_for_sibling.py
  specifyweb/backend/inheritance/tests/test_get_cat_num_inheritance_setting.py
  specifyweb/backend/inheritance/tests/test_get_parent_cat_num_inheritance_setting.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/ChronoChart.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/FieldFilterSpec.tsx
  specifyweb/frontend/js_src/lib/components/WbAttachmentViewer/index.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/Components.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/State.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/linesGetter.ts
  specifyweb/frontend/js_src/lib/components/WbToolkit/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbValidation.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/resultsParser.ts
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
  specifyweb/frontend/js_src/lib/utils/cache/index.ts
Due: frontend-tests

Move test locality to their app
  specifyweb/backend/locality_update_tool/tests/__init__.py
  specifyweb/backend/locality_update_tool/tests/test_create_localityupdate_recordset.py
  specifyweb/backend/locality_update_tool/tests/test_merge_parse_results.py
  specifyweb/backend/locality_update_tool/tests/test_parse_field.py
  specifyweb/backend/locality_update_tool/tests/test_parse_locality_set.py
  specifyweb/backend/locality_update_tool/tests/test_resolve_localityupdate_result.py
  specifyweb/backend/locality_update_tool/tests/test_update_locality_context.py
  specifyweb/backend/locality_update_tool/tests/test_upload_from_parsed.py
  specifyweb/backend/locality_update_tool/tests/test_upload_locality_set.py
  specifyweb/specify/tests/test_update_locality/__init__.py
  specifyweb/specify/tests/test_update_locality/test_parse_locality_set.py
  specifyweb/specify/tests/test_update_locality/test_upload_locality_set.py
Due: mypy

[reorganization]:Move merge logic to its own app
  specifyweb/backend/merge/tests/__init__.py
  specifyweb/backend/merge/tests/test_abort_merge_task.py
  specifyweb/backend/merge/tests/test_add_ordering_to_key.py
  specifyweb/backend/merge/tests/test_clean_fields_pre_delete.py
  specifyweb/backend/merge/tests/test_clear_attachment_location.py
  specifyweb/backend/merge/tests/test_fix_orderings.py
  specifyweb/backend/merge/tests/test_merging_status.py
  specifyweb/backend/merge/tests/test_record_merge_requests.py
  specifyweb/backend/merge/tests/test_record_merging.py
  specifyweb/backend/merge/tests/test_resolve_record_merge_response.py
  specifyweb/backend/merge/urls.py
  specifyweb/backend/merge/views.py
  specifyweb/frontend/js_src/lib/components/Merging/Status.tsx
  specifyweb/frontend/js_src/lib/components/Merging/index.tsx
  specifyweb/settings/__init__.py
  specifyweb/specify/urls.py
  specifyweb/specify/views.py
  specifyweb/urls.py
Due: frontend-tests, mypy

Fix tests
  specifyweb/backend/stored_queries/tests/test_execution/test_cog_inheritance_post_query_processing.py
Due: mypy

[reorganization]:Move user logic to account app + reorganize account
  specifyweb/backend/accounts/account_utils.py
  specifyweb/backend/accounts/exceptions_types.py
  specifyweb/backend/accounts/forms_types.py
  specifyweb/backend/accounts/master_key.py
  specifyweb/backend/accounts/permissions_types.py
  specifyweb/backend/accounts/types.py
  specifyweb/backend/accounts/urls.py
  specifyweb/backend/accounts/views.py
  specifyweb/backend/permissions/views.py
  specifyweb/frontend/js_src/lib/components/Router/__tests__/Router.test.tsx
  specifyweb/frontend/js_src/lib/components/Security/AdminStatusPlugin.tsx
  specifyweb/frontend/js_src/lib/components/Security/MissingAgentsDialog.tsx
  specifyweb/frontend/js_src/lib/components/Security/User.tsx
  specifyweb/frontend/js_src/lib/components/Toolbar/MasterKey.tsx
  specifyweb/specify/api.py
  specifyweb/specify/tests/test_api.py
  specifyweb/specify/tests/test_check_collection_access_against_agents.py
  specifyweb/specify/tests/test_set_admin_status.py
  specifyweb/specify/tests/test_set_password.py
  specifyweb/specify/tests/test_set_user_agents.py
  specifyweb/specify/urls.py
  specifyweb/specify/views.py
Due: frontend-tests, mypy

add uniqueness rule creation logging
  specifyweb/backend/businessrules/uniqueness_rules.py
  specifyweb/specify/management/commands/run_key_migration_functions.py
Due: mypy

Write migration to remove directly cyclical query fields
  specifyweb/backend/patches/migrations/0007_collapse_queries.py
Due: mypy

Fix tests import
  specifyweb/specify/tests/test_check_collection_access_against_agents.py
  specifyweb/specify/tests/test_set_user_agents.py
Due: mypy

Be more strict about whether a field is directly cyclicla
  specifyweb/backend/patches/migrations/0007_collapse_queries.py
Due: mypy

Update imports
  specifyweb/backend/merge/record_merging.py
  specifyweb/backend/merge/tests/test_abort_merge_task.py
  specifyweb/backend/merge/tests/test_add_ordering_to_key.py
  specifyweb/backend/merge/tests/test_clean_fields_pre_delete.py
  specifyweb/backend/merge/tests/test_clear_attachment_location.py
  specifyweb/backend/merge/tests/test_fix_orderings.py
  specifyweb/backend/merge/tests/test_record_merging.py
  specifyweb/backend/merge/tests/test_resolve_record_merge_response.py
  specifyweb/backend/merge/views.py
Due: mypy

Add type cast/assertion to upload attachment test
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
Due: frontend-tests

filter new discipline for uniqueness rulles
  specifyweb/specify/management/commands/run_key_migration_functions.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/ChronoChart.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/FieldFilter.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/useQueryFieldFilters.tsx
  specifyweb/frontend/js_src/lib/components/WbAttachmentViewer/index.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/Components.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/State.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/linesGetter.ts
  specifyweb/frontend/js_src/lib/components/WbToolkit/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbValidation.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/resultsParser.ts
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
  specifyweb/frontend/js_src/lib/utils/cache/index.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
Due: frontend-tests

Fix tests
  specifyweb/specify/tests/test_check_collection_access_against_agents.py
Due: mypy

Update import in tests
  specifyweb/specify/tests/test_abort_localityupdate_task.py
Due: mypy

Missing import
  specifyweb/specify/views.py
Due: mypy

Update patch import
  specifyweb/backend/stored_queries/tests/test_execution/test_cog_inheritance_post_query_processing.py
Due: mypy
