Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Add save blocker when trying to delete a loaned prep
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Use TreeRankRecord in upload plan
  specifyweb/workbench/upload/tests/example_plan.py
  specifyweb/workbench/upload/tests/testschema.py
  specifyweb/workbench/upload/treerecord.py
Due: mypy

Remove unused string
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
Due: frontend-tests

Fix visual order - For multiple trees, columns will be grouped by tree first
  specifyweb/stored_queries/batch_edit.py
Due: mypy

init apply_special_filter_cases for co_sibling_ids
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

Use merging text instead
  specifyweb/frontend/js_src/lib/components/Forms/DeleteButton.tsx
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Forms/DeleteButton.tsx
Due: frontend-tests

Focus added line in QB
  specifyweb/frontend/js_src/lib/components/QueryBuilder/reducer.ts
Due: frontend-tests

argument fixes
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

fix field filtering in generated qb query
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

mod_orm_field to only modify the field filter and not select statement
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

formatting and cleanup
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

revert execution changes
  specifyweb/stored_queries/execution.py
Due: mypy

Update execution.py
  specifyweb/stored_queries/execution.py
Due: mypy

Add ring to Add Uniqueness Rule
  specifyweb/frontend/js_src/lib/components/SchemaConfig/TableUniquenessRules.tsx
Due: frontend-tests

Revert "Fix visual order"
  specifyweb/stored_queries/batch_edit.py
Due: mypy

Use business rules key utils
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Import
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

init apply_special_post_query_processing
  specifyweb/stored_queries/execution.py
Due: mypy

Fix tests
  specifyweb/frontend/js_src/lib/tests/fixtures/uploadplan.1.json
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/BatchEdit/MissingRanks.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Formatter.tsx
Due: frontend-tests

Translated using Weblate (German (Switzerland))
  strings/workbench/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/workbench/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/workbench/pt.po
Due: none

Translated using Weblate (Spanish)
  strings/interactions/es.po
Due: none

Translated using Weblate (French)
  strings/interactions/fr.po
Due: none

Translated using Weblate (Russian)
  strings/interactions/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/interactions/de_CH.po
Due: none

Update tests
  specifyweb/frontend/js_src/lib/components/DataModel/uniqueFields.json
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Formatter.tsx
Due: frontend-tests

Fix bug where filter could not be added to field
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Line.tsx
Due: frontend-tests

Add space before (Default) in Formatter selector
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Formatter.tsx
Due: frontend-tests

Add cot filter to query when formatting catalogNumber
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Context.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Fields.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Formatter.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/QueryLineFieldFilter.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/Reports/Parameters.tsx
Due: frontend-tests

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/query/de_CH.po
  strings/query/en_US.po
  strings/query/es.po
  strings/query/fr.po
  strings/query/pt_BR.po
  strings/query/ru.po
  strings/query/uk.po
  strings/tree/de_CH.po
  strings/tree/en_US.po
  strings/tree/es.po
  strings/tree/fr.po
  strings/tree/pt_BR.po
  strings/tree/ru.po
  strings/tree/uk.po
Due: none

Sync localization strings with Weblate
  strings/main/en_US.po
Due: none

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/interactions/de_CH.po
  strings/interactions/en_US.po
  strings/interactions/es.po
  strings/interactions/fr.po
  strings/interactions/pt_BR.po
  strings/interactions/ru.po
  strings/interactions/uk.po
  strings/preferences/de_CH.po
  strings/preferences/en_US.po
  strings/preferences/es.po
  strings/preferences/fr.po
  strings/preferences/pt_BR.po
  strings/preferences/ru.po
  strings/preferences/uk.po
  strings/query/de_CH.po
  strings/query/en_US.po
  strings/query/es.po
  strings/query/fr.po
  strings/query/pt_BR.po
  strings/query/ru.po
  strings/query/uk.po
Due: none

Focus last row when open existing query
  specifyweb/frontend/js_src/lib/components/QueryBuilder/reducer.ts
Due: frontend-tests

Chnage reload fct
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Edit.tsx
Due: frontend-tests

Add release notes
  CHANGELOG.md
Due: none
