Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

fix(data-views): change per-table data view queries without overwriting
  specifyweb/frontend/js_src/lib/components/AppResources/types.tsx
  specifyweb/frontend/js_src/lib/components/DataViews/DataViewTables.tsx
  specifyweb/frontend/js_src/lib/components/DataViews/index.tsx
  specifyweb/frontend/js_src/lib/components/DataViews/queries.ts
Due: frontend-tests

feat: add new tree table aggregators
  config/backstop/dataobj_formatters.xml
Due: none

fix(data-views): update taxon query
  config/backstop/data_view_queries.json
Due: none

fix(data-views): add storage and geo queries
  config/backstop/data_view_queries.json
Due: none

fix(data-views): improve localization
  specifyweb/frontend/js_src/lib/components/DataViews/DataViewTables.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/dataViews.ts
Due: frontend-tests

fix(data-views): aggregate geography
  config/backstop/data_view_queries.json
Due: none

Feat: Add a visual badge to tables with a defined query
  specifyweb/frontend/js_src/lib/components/DataViews/QueryEditor.tsx
Due: frontend-tests

Feat: Reuse the collapsible and search list fct from schema config
  specifyweb/frontend/js_src/lib/components/DataViews/QueryEditor.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Sidebar.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Tables.tsx
Due: frontend-tests

Feat: Add a search bar to query list dialog
  specifyweb/frontend/js_src/lib/components/Toolbar/Query.tsx
Due: frontend-tests

Fix: Recreate query when the synchronized file changes.
  specifyweb/frontend/js_src/lib/components/DataViews/QueryEditor.tsx
Due: frontend-tests

Fix: Keep the earliest short-page boundary.
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
Due: frontend-tests

Fix: Prevent stale refreshes from replacing newer results.
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
Due: frontend-tests

Fix: Exclude record-list controls from row selection.
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ResultsTable.tsx
Due: frontend-tests

Tests: Delete new resource
  specifyweb/backend/businessrules/tests/test_delete_new_resource.py
Due: mypy

Tests: Update object created previously
  specifyweb/backend/businessrules/tests/test_edit_previous_object.py
Due: mypy

Tests: Add test delete previously created obj
  specifyweb/backend/businessrules/tests/test_delete_previously_created.py
Due: mypy

Potential fix for pull request finding 'CodeQL / Unused import'
  specifyweb/backend/businessrules/tests/test_edit_previous_object.py
Due: mypy

Translated using Weblate (Spanish)
  strings/forms/es.po
Due: none

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (Spanish)
  strings/schema/es.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (Russian)
  strings/schema/ru.po
Due: none

Translated using Weblate (Russian)
  strings/forms/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/schema/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/wbPlan/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/wbPlan/es.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/merging/de_CH.po
Due: none

Translated using Weblate (Russian)
  strings/merging/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/preferences/es.po
Due: none

Translated using Weblate (Russian)
  strings/wbPlan/ru.po
Due: none

Translated using Weblate (French)
  strings/preferences/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/tree/pt_BR.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/forms/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/merging/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/merging/hr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/wbPlan/de_CH.po
Due: none

Translated using Weblate (Russian)
  strings/preferences/ru.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
