Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Allow byte keys
  specifyweb/backend/redis_cache/store.py
  specifyweb/backend/redis_cache/utils.py
Due: mypy

Translated using Weblate (French)
  strings/wbPlan/fr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/wbPlan/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/preferences/pt_BR.po
Due: none

Translated using Weblate (French)
  strings/preferences/fr.po
Due: none

intial batch identify features
  specifyweb/backend/batch_identify/__init__.py
  specifyweb/backend/batch_identify/urls.py
  specifyweb/backend/batch_identify/views.py
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
  specifyweb/frontend/js_src/lib/components/Header/userToolDefinitions.ts
  specifyweb/frontend/js_src/lib/components/Router/OverlayRoutes.tsx
  specifyweb/frontend/js_src/lib/localization/batchIdentify.ts
  specifyweb/specify/urls.py
Due: frontend-tests, mypy

localization fixes
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
  specifyweb/frontend/js_src/lib/localization/batchIdentify.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
Due: frontend-tests

feat: update icon and form layout
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
  specifyweb/frontend/js_src/lib/components/Header/userToolDefinitions.ts
  specifyweb/frontend/js_src/lib/localization/batchIdentify.ts
Due: frontend-tests

feat: increase density
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
Due: frontend-tests

feat: improve record set behavior & dialog sizing
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
Due: frontend-tests

Expose CatalogNumberString format
  specifyweb/frontend/js_src/lib/components/FieldFormatters/index.ts
Due: frontend-tests

new efficient get_schema_localization implementation
  specifyweb/backend/context/schema_localization.py
  specifyweb/backend/context/tests/test_schema_localization.py
Due: mypy

Update test
  specifyweb/frontend/js_src/lib/components/FieldFormatters/__tests__/__snapshots__/index.test.ts.snap
Due: none

Cleanup
  specifyweb/frontend/js_src/lib/components/FieldFormatters/index.ts
Due: frontend-tests

WIP Fix database setup loading page appearing if using config tool when logging in
  specifyweb/backend/setup_tool/api.py
Due: mypy

Cleanup
  specifyweb/backend/setup_tool/api.py
Due: mypy

Allow variable length
  specifyweb/frontend/js_src/lib/components/FieldFormatters/index.ts
Due: frontend-tests

feat: add handling for multiple taxon trees
  specifyweb/backend/batch_identify/views.py
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
  specifyweb/frontend/js_src/lib/localization/batchIdentify.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests, mypy

fix: show CO rows even without current dets
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
Due: frontend-tests

Handle multiple trees and reset determinations
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
Due: frontend-tests

feat: use fullname instead
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
Due: frontend-tests

fix: CO search dialog stops returning other trees
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
Due: frontend-tests

add openapi decorators
  specifyweb/backend/batch_identify/views.py
Due: mypy

add filter_collection_objects_to_majority_type to prevent differing CO types in batch identify
  specifyweb/backend/batch_identify/views.py
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
  specifyweb/frontend/js_src/lib/localization/batchIdentify.ts
Due: frontend-tests, mypy

add support for CatalogNumberAlphaNumByYear
  specifyweb/backend/batch_identify/views.py
Due: mypy

tree creation discipline fix
  specifyweb/backend/trees/views.py
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests, mypy

Unblock login after new discipline from config creation
  specifyweb/backend/setup_tool/api.py
Due: mypy

Revert "add filter_collection_objects_to_majority_type to prevent differing CO types in batch identify"
  specifyweb/backend/batch_identify/views.py
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
  specifyweb/frontend/js_src/lib/localization/batchIdentify.ts
Due: frontend-tests, mypy

verify single tree record set
  specifyweb/backend/batch_identify/urls.py
  specifyweb/backend/batch_identify/views.py
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
  specifyweb/frontend/js_src/lib/localization/batchIdentify.ts
Due: frontend-tests, mypy

back-end code organizing
  specifyweb/backend/batch_identify/api_schemas.py
  specifyweb/backend/batch_identify/view_helpers.py
  specifyweb/backend/batch_identify/views.py
Due: mypy

initial unit tests
  specifyweb/backend/batch_identify/tests.py
  specifyweb/frontend/js_src/lib/components/BatchIdentify/__tests__/parseCatalogNumbers.test.ts
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
  specifyweb/frontend/js_src/lib/components/BatchIdentify/parseCatalogNumbers.ts
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/BatchIdentify/__tests__/parseCatalogNumbers.test.ts
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
  specifyweb/frontend/js_src/lib/components/BatchIdentify/parseCatalogNumbers.ts
Due: frontend-tests

Sync localization strings with Weblate
  strings/attachments/ru.po
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/forms/de_CH.po
  strings/forms/en_US.po
  strings/forms/es.po
  strings/forms/fr.po
  strings/forms/pt_BR.po
  strings/forms/ru.po
  strings/forms/uk.po
  strings/query/de_CH.po
  strings/query/en_US.po
  strings/query/es.po
  strings/query/fr.po
  strings/query/pt_BR.po
  strings/query/ru.po
  strings/query/uk.po
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
  strings/tree/de_CH.po
  strings/tree/es.po
  strings/tree/fr.po
  strings/tree/pt_BR.po
  strings/tree/ru.po
  strings/tree/uk.po
  strings/wbPlan/de_CH.po
  strings/wbPlan/fr.po
Due: none

Translated using Weblate (Russian)
  strings/attachments/ru.po
Due: none
