Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Pass treeId only for multiple trees
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanBuilder.ts
  specifyweb/frontend/js_src/lib/tests/fixtures/uploadplan.1.json
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanBuilder.ts
Due: frontend-tests

Translated using Weblate (Portuguese (Brazil))
  strings/common/pt_BR.po
Due: none

Show linked record counts
  specifyweb/frontend/js_src/lib/components/Forms/DeleteButton.tsx
Due: frontend-tests

Disable tree actions in view mode
  specifyweb/frontend/js_src/lib/components/TreeView/Actions.tsx
Due: frontend-tests

Remove return loan button from query builder
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Header.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/LoanReturn.tsx
  specifyweb/frontend/js_src/lib/localization/query.ts
Due: frontend-tests

Add min=0 to quantityResolved & quantityReturn for LoanReturnPrep view
  config/common/common.views.xml
Due: none

fix update_table_schema_config_with_defaults in create_strat_table_schema_config_with_defaults
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Use readonly instead of permission
  specifyweb/frontend/js_src/lib/components/TreeView/Actions.tsx
Due: frontend-tests

Allow to save queries from tree
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
Due: frontend-tests

Use scoped picklist for formatting in batch edit
  specifyweb/specify/utils.py
  specifyweb/workbench/upload/scoping.py
Due: mypy

Be less strict about COT picklist duplication detection
  specifyweb/specify/migration_utils/default_cots.py
Due: mypy

Handle AgeType picklist creation
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/migration_utils/update_schema_config.py
  specifyweb/specify/migrations/0004_stratigraphy_age.py
Due: mypy

Move 0003 migration revret functions
  specifyweb/specify/migration_utils/default_cots.py
  specifyweb/specify/migration_utils/update_schema_config.py
  specifyweb/specify/migrations/0003_cotype_picklist.py
Due: mypy

Be less strict about COGType picklist duplicate detection
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Don't error on unknown table when updating schema_config
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Improve performance of 0021 migration
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Use defaults in picklist get_or_create statement
  specifyweb/specify/migration_utils/default_cots.py
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Allow to merge node in trees
  specifyweb/specify/tree_extras.py
Due: mypy

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/interactions/de_CH.po
  strings/interactions/en_US.po
  strings/interactions/es.po
  strings/interactions/fr.po
  strings/interactions/pt_BR.po
  strings/interactions/ru.po
  strings/interactions/uk.po
Due: none

Remove comment
  specifyweb/specify/tree_extras.py
Due: mypy

Reload the page after query title change
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Edit.tsx
Due: frontend-tests

Remove navigate
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Edit.tsx
Due: frontend-tests

Set isPrimary to the last added collector
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Add tooltip when batch edit is disabled for trees
  specifyweb/frontend/js_src/lib/components/BatchEdit/index.tsx
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/BatchEdit/index.tsx
Due: frontend-tests

filter disciplines before adding defaults
  .env
  specifyweb/specify/migration_utils/tectonic_ranks.py
Due: mypy

Set isPrimary to the first collector added
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

handle null cat num in series
  specifyweb/specify/utils.py
  specifyweb/stored_queries/execution.py
Due: mypy

Hide create upload plan dialog for batch edit
  specifyweb/frontend/js_src/lib/components/WbActions/index.tsx
Due: frontend-tests

Display record set button in search dialog only for to-many
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
Due: frontend-tests

Remove comment
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
Due: frontend-tests

clean
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
Due: frontend-tests

fix merge conflict errors
  specifyweb/stored_queries/execution.py
Due: mypy

Change error massage text
  specifyweb/frontend/js_src/lib/localization/main.ts
Due: frontend-tests

handle int and none cat num id
  specifyweb/stored_queries/execution.py
Due: mypy

Fix desynonymize message
  specifyweb/frontend/js_src/lib/components/TreeView/Actions.tsx
Due: frontend-tests

Close browse in form dialog when deleting last record
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ToForms.tsx
Due: frontend-tests

Update pull-request-template.md
  .github/pull-request-template.md
Due: none

Make Sp user read only in reports dialog
  specifyweb/frontend/js_src/lib/components/Reports/index.tsx
Due: frontend-tests
