Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Work on unique name support
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
Due: frontend-tests

Add otherSideName in treeDef
  specifyweb/specify/datamodel.py
Due: mypy

lower case model names, no camel case :(
  specifyweb/specify/migrations/0005_stratigraphy_age.py
  specifyweb/specify/models.py
Due: mypy

Add possible missing fields
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0005_stratigraphy_age.py
  specifyweb/specify/models.py
Due: frontend-tests, mypy

Fix taxon typo to tectonic
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
Due: frontend-tests

Remove null for parent in tectonicUnit in types.ts
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
Due: frontend-tests

Revert "lower case model names, no camel case :("
  specifyweb/specify/migrations/0005_stratigraphy_age.py
  specifyweb/specify/models.py
Due: mypy

Camle case field
  specifyweb/specify/datamodel.py
Due: mypy

Typo
  specifyweb/specify/datamodel.py
Due: mypy

fix typo
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0005_stratigraphy_age.py
Due: mypy

Use correct picklist in cogtype business rule
  specifyweb/businessrules/rules/cogtype_rules.py
Due: mypy

Chnage rank id
  specifyweb/specify/migrations/0005_stratigraphy_age.py
Due: mypy

add title
  specifyweb/specify/migrations/0005_stratigraphy_age.py
Due: mypy

remove create_default_tectonic_ranks for now
  specifyweb/specify/migrations/0005_stratigraphy_age.py
Due: mypy

Update docker.yml to push `v7`
  .github/workflows/docker.yml
Due: none

Update docker.yml
  .github/workflows/docker.yml
Due: none

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/schema/de_CH.po
  strings/schema/en_US.po
  strings/schema/es.po
  strings/schema/fr.po
  strings/schema/pt_BR.po
  strings/schema/ru.po
  strings/schema/uk.po
  strings/wbPlan/de_CH.po
  strings/wbPlan/en_US.po
  strings/wbPlan/es.po
  strings/wbPlan/fr.po
  strings/wbPlan/pt_BR.po
  strings/wbPlan/ru.po
  strings/wbPlan/uk.po
  strings/workbench/de_CH.po
  strings/workbench/en_US.po
  strings/workbench/es.po
  strings/workbench/fr.po
  strings/workbench/pt_BR.po
  strings/workbench/ru.po
  strings/workbench/uk.po
Due: none

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/forms/de_CH.po
  strings/forms/en_US.po
  strings/forms/es.po
  strings/forms/fr.po
  strings/forms/pt_BR.po
  strings/forms/ru.po
  strings/forms/uk.po
  strings/interactions/de_CH.po
  strings/interactions/en_US.po
  strings/interactions/es.po
  strings/interactions/fr.po
  strings/interactions/pt_BR.po
  strings/interactions/ru.po
  strings/interactions/uk.po
  strings/schema/de_CH.po
  strings/schema/en_US.po
  strings/schema/es.po
  strings/schema/fr.po
  strings/schema/pt_BR.po
  strings/schema/ru.po
  strings/schema/uk.po
  strings/wbPlan/de_CH.po
  strings/wbPlan/en_US.po
  strings/wbPlan/es.po
  strings/wbPlan/fr.po
  strings/wbPlan/pt_BR.po
  strings/wbPlan/ru.po
  strings/wbPlan/uk.po
Due: none

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/tree/de_CH.po
  strings/tree/en_US.po
  strings/tree/es.po
  strings/tree/fr.po
  strings/tree/pt_BR.po
  strings/tree/ru.po
  strings/tree/uk.po
Due: none

Reverse order setName and setSelected
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests

Move empty value keyword to a variable
  specifyweb/frontend/js_src/lib/components/FormCells/index.tsx
  specifyweb/frontend/js_src/lib/components/FormParse/index.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormCells/index.tsx
  specifyweb/frontend/js_src/lib/components/FormParse/index.ts
Due: frontend-tests

Translated using Weblate (Spanish)
  strings/preferences/es.po
Due: none

Translated using Weblate (Spanish)
  strings/common/es.po
Due: none

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/forms/de_CH.po
  strings/forms/en_US.po
  strings/forms/es.po
  strings/forms/fr.po
  strings/forms/pt_BR.po
  strings/forms/ru.po
  strings/forms/uk.po
  strings/preferences/es.po
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
  strings/user/de_CH.po
  strings/user/en_US.po
  strings/user/es.po
  strings/user/fr.po
  strings/user/pt_BR.po
  strings/user/ru.po
  strings/user/uk.po
Due: none

add v7 to Docker manifest
  .github/workflows/docker.yml
Due: none

Translated using Weblate (Spanish)
  strings/main/es.po
Due: none

Translated using Weblate (Spanish)
  strings/header/es.po
Due: none

conditionals on v7 Docker manifest
  .github/workflows/docker.yml
Due: none

Chnage geo picklist to CO picklist
  specifyweb/frontend/js_src/lib/components/PickLists/definitions.ts
  specifyweb/frontend/js_src/lib/components/PickLists/fetch.ts
  specifyweb/frontend/js_src/lib/utils/parser/definitions.ts
Due: frontend-tests

Reorder icons
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
Due: frontend-tests

fix call to filter_by_treedef_id
  specifyweb/workbench/upload/treerecord.py
Due: mypy

Remove unused localization
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

Add empty tree to defaults
  specifyweb/frontend/js_src/lib/components/TreeView/defaults.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/TreeView/defaults.ts
Due: frontend-tests

adapt age filter query to new request format
  specifyweb/specify/datamodel.py
  specifyweb/specify/geo_time.py
  specifyweb/specify/migrations/0006_spqueryfield_strict.py
  specifyweb/specify/models.py
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/query_ops.py
  specifyweb/stored_queries/queryfield.py
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
