Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

restrict COG inheritance only for consolidated COGs
  specifyweb/backend/inheritance/api.py
  specifyweb/backend/inheritance/tests/test_catalog_number_for_sibling.py
  specifyweb/backend/inheritance/views.py
Due: mypy

change to use mariadb client in scripts
  sp7_db_setup_check.sh
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormFields/Field.tsx
  specifyweb/frontend/js_src/lib/hooks/useResourceValue.tsx
Due: frontend-tests

Fix continous progress polling after errors
  specifyweb/backend/trees/utils.py
  specifyweb/backend/trees/views.py
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests, mypy

ensure migrator alias is used in geo migration for create_default_collection_types
  specifyweb/specify/api/utils.py
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

Restore GlobalPreferences fetch to cache-buster list
  specifyweb/frontend/js_src/lib/components/Preferences/globalPreferencesLoader.ts
Due: frontend-tests

Handle undefined admin flag when filtering global preferences
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Generalize initial taxon tree creation code
  specifyweb/backend/trees/utils.py
  specifyweb/backend/trees/views.py
Due: mypy

fix migrator user verification logging
  sp7_db_setup_check.sh
Due: none

fix app user verification logging
  sp7_db_setup_check.sh
Due: none

Make sure no either username exists with any host
  sp7_db_setup_check.sh
Due: none

make the user hosts env variables
  sp7_db_setup_check.sh
Due: none

edit create_default_discipline_for_tree_defs to specify alias
  specifyweb/specify/migration_utils/default_cots.py
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

Update .env with client host values
  .env
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/RecordSetAttachment.tsx
  specifyweb/frontend/js_src/lib/components/BatchEdit/index.tsx
  specifyweb/frontend/js_src/lib/components/DataModel/businessRules.ts
  specifyweb/frontend/js_src/lib/components/TreeView/Tree.tsx
Due: frontend-tests

use mariadb client
  sp7_db_setup_check.sh
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/Renderers.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/__tests__/ThresholdRank.test.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.general.ts
Due: frontend-tests

Fix global prefs visibility when isadmin is undefined
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/BatchEdit/index.tsx
  specifyweb/frontend/js_src/lib/components/DataModel/businessRules.ts
Due: frontend-tests

gate stats fetch by rank preference
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/disambiguateGlobalPrefs.test.ts
  specifyweb/frontend/js_src/lib/components/TreeView/Tree.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/TreeView/Tree.tsx
Due: frontend-tests

create additional db user for current client host being used
  sp7_db_setup_check.sh
Due: none

removed stats fetch by rank pref logic
  specifyweb/frontend/js_src/lib/components/TreeView/Tree.tsx
Due: frontend-tests

Fix audit log preference handling and add tests for toggle
  specifyweb/backend/workbench/upload/auditlog.py
  specifyweb/backend/workbench/upload/test_auditlog_prefs.py
Due: mypy

removed additional logic
  specifyweb/frontend/js_src/lib/components/FormFields/Field.tsx
  specifyweb/frontend/js_src/lib/hooks/useParserDefaultValue.tsx
  specifyweb/frontend/js_src/lib/hooks/useResourceValue.tsx
Due: frontend-tests

removed additional inheritance logic
  specifyweb/backend/inheritance/api.py
  specifyweb/backend/inheritance/tests/test_catalog_number_for_sibling.py
  specifyweb/backend/inheritance/views.py
  specifyweb/frontend/js_src/lib/components/FormFields/Field.tsx
  specifyweb/frontend/js_src/lib/hooks/useParserDefaultValue.tsx
  specifyweb/frontend/js_src/lib/hooks/useResourceValue.tsx
Due: frontend-tests, mypy

Remove duplicate import of useParserDefaultValue
  specifyweb/frontend/js_src/lib/hooks/useResourceValue.tsx
Due: frontend-tests

Import useParserDefaultValue in useResourceValue
  specifyweb/frontend/js_src/lib/hooks/useResourceValue.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/hooks/useResourceValue.tsx
Due: frontend-tests

removed unused imports
  specifyweb/frontend/js_src/lib/hooks/useResourceValue.tsx
Due: frontend-tests

Remove obsolete NormalizeCatValue
  specifyweb/frontend/js_src/lib/components/FormFields/Field.tsx
Due: frontend-tests

Sync localization strings with Weblate
  strings/common/uk.po
  strings/development/pt_BR.po
  strings/schema/de_CH.po
  strings/schema/es.po
  strings/schema/fr.po
  strings/schema/pt_BR.po
Due: none

Revert "Remove obsolete NormalizeCatValue"
  specifyweb/frontend/js_src/lib/components/FormFields/Field.tsx
Due: frontend-tests

Remove Obsolete normalizeCatValue
  specifyweb/frontend/js_src/lib/components/FormFields/Field.tsx
Due: frontend-tests
