Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Remove dry-run for imagetools create
  .github/workflows/docker.yml
Due: none

Attempt removing retry loops in Dockerfile
  Dockerfile
Due: none

Specify latest image instead of just using default
  .github/workflows/docker.yml
Due: none

Revert "Attempt removing retry loops in Dockerfile"
  Dockerfile
Due: none

Add back conditional for dockerize tests
  .github/workflows/docker.yml
Due: none

Rename prep job
  .github/workflows/docker.yml
Due: none

remove selectseries references
  config/specify_datamodel.xml
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/helpers.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/frontend/js_src/lib/components/Forms/__tests__/DeleteButton.test.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/index.tsx
  specifyweb/frontend/js_src/lib/components/QueryComboBox/helpers.ts
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/datamodel.json
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/schema_localization.json/lang=en.json
  specifyweb/specify/datamodel.py
  specifyweb/specify/models.py
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/tests/static/co_query.json
  specifyweb/stored_queries/views.py
Due: frontend-tests, mypy

add migration to remove selectseries
  specifyweb/specify/migrations/0032_remove_spquery_selectseries.py
Due: mypy

Revert "remove selectseries references"
  config/specify_datamodel.xml
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/helpers.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/frontend/js_src/lib/components/Forms/__tests__/DeleteButton.test.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/index.tsx
  specifyweb/frontend/js_src/lib/components/QueryComboBox/helpers.ts
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/datamodel.json
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/schema_localization.json/lang=en.json
  specifyweb/specify/datamodel.py
  specifyweb/specify/models.py
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/tests/static/co_query.json
  specifyweb/stored_queries/views.py
Due: frontend-tests, mypy

remove smushed references
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/helpers.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/frontend/js_src/lib/components/Forms/__tests__/DeleteButton.test.tsx
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/datamodel.json
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/schema_localization.json/lang=en.json
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0001_initial.py
  specifyweb/specify/models.py
  specifyweb/specify/temp_models.py
  specifyweb/specify/tests/test_geotime.py
  specifyweb/stored_queries/tests/static/co_query.json
Due: frontend-tests, mypy

add migration to change smushed to selectseries
  specifyweb/specify/migrations/0033_change_smushed_to_selectseries.py
Due: mypy

modify login_maybe_required for new empty databases
  specifyweb/specify/views.py
Due: mypy

Fix tests
  specifyweb/frontend/js_src/lib/components/Forms/__tests__/DeleteButton.test.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/__snapshots__/fromTree.test.ts.snap
Due: frontend-tests

logic fix
  specifyweb/specify/views.py
Due: mypy

better implemenation of login_maybe_required
  specifyweb/specify/views.py
Due: mypy

fix init migration
  specifyweb/specify/migrations/0001_initial.py
Due: mypy

Define helper functions to handle primary logic in collections
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
Due: frontend-tests

post merge fix
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/__snapshots__/fromTree.test.ts.snap
Due: none

Generalize primary dependent collections tests
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
Due: frontend-tests

Keep series checked even when cat num is removed
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
Due: frontend-tests

avoid dockerhub push issues my limiting concurrency
  .github/workflows/docker.yml
Due: none

try again with parallel running builds
  .github/workflows/docker.yml
Due: none

Split prep step to new job, access tags when creating manifests
  .env
  .github/workflows/docker.yml
  .vscode/settings.json
  docker-compose.yml
Due: none

Include more informaiton in output and dryrun imagetools while testing
  .github/workflows/docker.yml
Due: none

Remove configuration files
  .env
  .vscode/settings.json
  docker-compose.yml
Due: none

Add back origin config files
  .env
  docker-compose.yml
Due: none

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
  strings/schema/de_CH.po
  strings/schema/en_US.po
  strings/schema/es.po
  strings/schema/fr.po
  strings/schema/pt_BR.po
  strings/schema/ru.po
  strings/schema/uk.po
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Login/index.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
Due: frontend-tests

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/interactions/de_CH.po
  strings/interactions/en_US.po
  strings/interactions/es.po
  strings/interactions/fr.po
  strings/interactions/pt_BR.po
  strings/interactions/ru.po
  strings/interactions/uk.po
Due: none

Add a warning dialog before commiting chnages through batch Edit
  specifyweb/frontend/js_src/lib/components/WbActions/WbUpload.tsx
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/utils/cache/definitions.ts
Due: frontend-tests

Display warning only for batch edit
  specifyweb/frontend/js_src/lib/components/WbActions/WbUpload.tsx
Due: frontend-tests

Update key
  specifyweb/frontend/js_src/lib/components/WbActions/WbUpload.tsx
Due: frontend-tests

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
