Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

make synonymy expansion deterministic
  specifyweb/backend/stored_queries/execution.py
  specifyweb/frontend/js_src/lib/components/Atoms/Form.tsx
Due: frontend-tests, mypy

add synonymize_by_expanding_accepted_taxon_query
  specifyweb/backend/stored_queries/execution.py
  specifyweb/backend/stored_queries/synonomy.py
Due: mypy

fix sp_query sqlalchemy getter call to searchSynonymy
  specifyweb/backend/stored_queries/tests/test_execution/test_execute.py
  specifyweb/backend/stored_queries/views.py
Due: mypy

create synonymize_taxon_query function
  specifyweb/backend/stored_queries/execution.py
  specifyweb/backend/stored_queries/query_construct.py
  specifyweb/backend/stored_queries/synonomy.py
Due: mypy

remove unused function
  specifyweb/backend/stored_queries/query_construct.py
Due: mypy

synonymize_tree_query on all tree types
  specifyweb/backend/stored_queries/execution.py
  specifyweb/backend/stored_queries/synonomy.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Synonyms return count correction
  specifyweb/backend/stored_queries/queryfieldspec.py
Due: mypy

Handle missing attachment column correctly
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Atoms/Form.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/uploadFile.test.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Fix synonym query expansion for accepted/synonym terms
  specifyweb/backend/stored_queries/execution.py
  specifyweb/backend/stored_queries/synonomy.py
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
Due: frontend-tests, mypy

added check if min attribute is present then runs either save blocker text of html 5 validation to avoid both of them running
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

unit test fix
  specifyweb/backend/stored_queries/tests/static/co_query_row_plan.py
  specifyweb/backend/stored_queries/tests/static/simple_static_fields.py
Due: mypy

grammar correction on comment
  specifyweb/frontend/js_src/lib/hooks/useValidation.tsx
Due: frontend-tests

used existing hasNativeErros functions instead of previous custom const
  specifyweb/frontend/js_src/lib/hooks/useValidation.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/hooks/useValidation.tsx
Due: frontend-tests

comment and newline cleanup
  specifyweb/frontend/js_src/lib/hooks/useValidation.tsx
Due: frontend-tests

grammar correction
  specifyweb/frontend/js_src/lib/hooks/useValidation.tsx
Due: frontend-tests

Call handleSave only if save was a success
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
Due: frontend-tests

removed previous flimsy implementation and added a more robust check within useValidation
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/hooks/useValidation.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
Due: frontend-tests

added icon override to integrated record selector
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
Due: frontend-tests

canged remove button to use Delete button element created
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

found where to potentailly set delete Blockers
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

replaced remove minus with delete button functionality for tree tables only
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
Due: frontend-tests

added reload of tree page on succesfull delete
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

Revert "canged remove button to use Delete button element created"
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

brought back old remove logic for grid-view and now alternates between remove and delete logic if the component has an existing id
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

added delete button functionality and blockers to integrated record selector
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
Due: frontend-tests

added comments on FormTable changes
  .env
  specifyweb/frontend/.DS_Store
  specifyweb/frontend/js_src/lib/.DS_Store
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

removed reload on delete
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

removed unused now unused disable Remove definition
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

added simple children rendering functionality to the delete button
  specifyweb/frontend/js_src/lib/components/Forms/DeleteButton.tsx
Due: frontend-tests

changed Remove button from table subviews and re-implemented them as Delete Buttons
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

Delete specifyweb/frontend/.DS_Store
  specifyweb/frontend/.DS_Store
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
