Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Portuguese)
  strings/common/pt.po
Due: none

fix django app and rel names
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/models.py
Due: mypy

Translated using Weblate (Ukrainian)
  strings/schema/uk.po
Due: none

Translated using Weblate (French)
  strings/preferences/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/user/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/user/de_CH.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/preferences/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/forms/es.po
Due: none

Translated using Weblate (French)
  strings/attachments/fr.po
Due: none

Translated using Weblate (Russian)
  strings/attachments/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/attachments/uk.po
Due: none

Translated using Weblate (French)
  strings/wbPlan/fr.po
Due: none

Translated using Weblate (French)
  strings/interactions/fr.po
Due: none

Translated using Weblate (Russian)
  strings/interactions/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/interactions/uk.po
Due: none

Translated using Weblate (Russian)
  strings/backEnd/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/attachments/de_CH.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/forms/de_CH.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/backEnd/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (Ukrainian)
  strings/merging/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

edit one-to-one cojo rel to fix unit tests
  specifyweb/specify/calculated_fields.py
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/models.py
  specifyweb/stored_queries/tests.py
Due: mypy

fix unit tests with one-to-one
  specifyweb/specify/api.py
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/models.py
Due: mypy

remove cojo datamodel fields
  specifyweb/specify/datamodel.py
Due: mypy

Enhance white space sensitivity for form fields
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/schemaOverrides.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/schemaOverrides.ts
  specifyweb/frontend/js_src/lib/components/DataModel/specifyField.ts
  specifyweb/frontend/js_src/lib/components/FormParse/__tests__/cells.test.ts
  specifyweb/frontend/js_src/lib/components/FormParse/__tests__/fields.test.ts
  specifyweb/frontend/js_src/lib/components/FormParse/__tests__/index.test.ts
  specifyweb/frontend/js_src/lib/components/FormParse/__tests__/postProcessFormDef.test.ts
  specifyweb/frontend/js_src/lib/components/FormParse/fields.ts
  specifyweb/frontend/js_src/lib/components/FormPlugins/__tests__/dateUtils.test.ts
  specifyweb/frontend/js_src/lib/components/Forms/generateFormDefinition.ts
  specifyweb/frontend/js_src/lib/components/Merging/CompareField.tsx
  specifyweb/frontend/js_src/lib/utils/parser/__tests__/parse.test.ts
  specifyweb/frontend/js_src/lib/utils/parser/definitions.ts
  specifyweb/frontend/js_src/lib/utils/parser/parse.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/schemaOverrides.ts
Due: frontend-tests

Simplify trim parameter
  specifyweb/frontend/js_src/lib/utils/parser/parse.ts
Due: frontend-tests

Ensure that the parser from Field contains whiteSpaceSensitive attribute
  specifyweb/frontend/js_src/lib/components/FormFields/index.tsx
Due: frontend-tests

Rename accessibility to visibility
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/schemaOverrides.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/schemaOverrides.ts
  specifyweb/frontend/js_src/lib/components/DataModel/specifyField.ts
Due: frontend-tests

fix incorrect_direction
  specifyweb/stored_queries/tests.py
Due: mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update schema, add CollectionObjectGroupType table
  specifyweb/businessrules/rules/__init__.py
  specifyweb/businessrules/rules/cogtype_rules.py
  specifyweb/specify/calculated_fields.py
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/models.py
  specifyweb/specify/models_by_table_id.py
  specifyweb/stored_queries/tests.py
Due: mypy

Handle NaN for bulk carry, revert chnage in API response
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
  specifyweb/specify/api.py
Due: frontend-tests, mypy

edit create_default_collection_types
  specifyweb/businessrules/rules/cogtype_rules.py
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

fix CollectionObjectGroupType schema
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/models.py
Due: mypy

cojo rules
  specifyweb/businessrules/rules/__init__.py
  specifyweb/businessrules/rules/cojo_rules.py
Due: mypy

Directly return not allowed when applicable
  specifyweb/specify/api.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
