Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Improve some migrations
  specifyweb/businessrules/migrations/0002_default_unique_rules.py
  specifyweb/businessrules/uniqueness_rules.py
  specifyweb/specify/api.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/migrations/0004_stratigraphy_age.py
  specifyweb/specify/update_schema_config.py
Due: mypy

change isLegacy to false
  specifyweb/frontend/js_src/lib/components/InitialContext/remotePrefs.ts
Due: frontend-tests

Simplify resolving registry for uniqueness rules
  specifyweb/businessrules/uniqueness_rules.py
  specifyweb/notifications/migrations/0004_rename_merge_policy.py
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

Remove comment
  specifyweb/businessrules/uniqueness_rules.py
Due: mypy

Add documentation
  specifyweb/businessrules/uniqueness_rules.py
Due: mypy

Add link between paleoContext -> tectonicUnit
  specifyweb/frontend/js_src/lib/components/QueryBuilder/fromTree.ts
  specifyweb/specify/datamodel.py
Due: frontend-tests, mypy

Add tectonic unit to tree_table list
  specifyweb/specify/tree_views.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/InitialContext/remotePrefs.ts
Due: frontend-tests

Research and tries
  specifyweb/frontend/js_src/lib/components/DataModel/resourceApi.ts
  specifyweb/frontend/js_src/lib/components/FormCells/COJODialog.tsx
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

Add parentUrl
  specifyweb/frontend/js_src/lib/components/FormCells/COJODialog.tsx
Due: frontend-tests

Translated using Weblate (Spanish)
  strings/schema/es.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/schema/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/schema/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/schema/uk.po
Due: none

Translated using Weblate (French)
  strings/schema/fr.po
Due: none

Translated using Weblate (Spanish)
  strings/preferences/es.po
Due: none

Translated using Weblate (French)
  strings/preferences/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/preferences/uk.po
Due: none

Translated using Weblate (Russian)
  strings/preferences/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/locality/es.po
Due: none

Translated using Weblate (Russian)
  strings/locality/ru.po
Due: none

Translated using Weblate (French)
  strings/locality/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/locality/uk.po
Due: none

Translated using Weblate (Russian)
  strings/query/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/query/es.po
Due: none

Translated using Weblate (French)
  strings/query/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/query/uk.po
Due: none

Translated using Weblate (Russian)
  strings/main/ru.po
Due: none

Translated using Weblate (French)
  strings/user/fr.po
Due: none

Translated using Weblate (Russian)
  strings/user/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/user/uk.po
Due: none

Translated using Weblate (French)
  strings/welcome/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/welcome/uk.po
Due: none

Translated using Weblate (Russian)
  strings/workbench/ru.po
Due: none

Translated using Weblate (French)
  strings/workbench/fr.po
Due: none

Translated using Weblate (Spanish)
  strings/resources/es.po
Due: none

Translated using Weblate (French)
  strings/resources/fr.po
Due: none
