Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Add without CO option
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/helpers.ts
Due: frontend-tests

Move rank key functions to uploadPlanBuilder and uploadPlanParser
  specifyweb/frontend/js_src/lib/components/WbPlanView/mappingHelpers.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanBuilder.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanParser.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanBuilder.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanParser.ts
Due: frontend-tests

Add tool to remove unmapped lines
  specifyweb/frontend/js_src/lib/components/WbPlanView/Mapper.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/MapperComponents.tsx
  specifyweb/frontend/js_src/lib/localization/common.ts
Due: frontend-tests

update test
  specifyweb/frontend/js_src/lib/components/Syncer/__tests__/index.test.ts
Due: frontend-tests

change THICK_CLIENT_LOCATION in settings
  specifyweb/settings/specify_settings.py
Due: mypy

Cleanup API for to-many Collections
  specifyweb/specify/api.py
Due: mypy

Don't automatically fetch Independent ToOne Collections when modified
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelectorFromCollection.tsx
Due: frontend-tests

Add tree name in front of rank
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanBuilder.ts
  specifyweb/frontend/js_src/lib/tests/fixtures/uploadplan.1.json
Due: frontend-tests

Disable select button when no row selected in QB
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
  specifyweb/frontend/js_src/lib/components/Syncer/__tests__/index.test.ts
Due: frontend-tests

catch multipleRanksForTreedef WorkBenchParseFailure
  specifyweb/workbench/upload/treerecord.py
Due: mypy

edit accepted formatting to treedef_id~>rank_name
  specifyweb/workbench/upload/treerecord.py
Due: mypy

Add isLoanable only for loans when choosing record set
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/helpers.ts
  specifyweb/interactions/views.py
Due: frontend-tests, mypy

Fix snapshot
  specifyweb/frontend/js_src/lib/components/Syncer/__tests__/index.test.ts
Due: frontend-tests

change extract_treedef_id to extract_treedef_name
  specifyweb/workbench/upload/treerecord.py
Due: mypy

avoid unit test failures, allow multiple ranks when only one treedef is given
  specifyweb/workbench/upload/treerecord.py
Due: mypy

fix WorkBenchParseFailure column name
  specifyweb/workbench/upload/treerecord.py
Due: mypy

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (French)
  strings/merging/fr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Translated using Weblate (Russian)
  strings/merging/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/merging/uk.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/tree/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/merging/pt_BR.po
Due: none

Translated using Weblate (Spanish)
  strings/schema/es.po
Due: none

Translated using Weblate (French)
  strings/schema/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/schema/uk.po
Due: none

Translated using Weblate (Russian)
  strings/schema/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/preferences/es.po
Due: none

Translated using Weblate (French)
  strings/preferences/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/preferences/uk.po
Due: none

Translated using Weblate (Russian)
  strings/preferences/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/locality/es.po
Due: none

Translated using Weblate (French)
  strings/locality/fr.po
Due: none

Translated using Weblate (Russian)
  strings/locality/ru.po
Due: none
