Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Russian)
  strings/locality/ru.po
Due: none

Translated using Weblate (Russian)
  strings/schema/ru.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/header/nb_NO.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/schema/pt_BR.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/query.ts
Due: frontend-tests

fix: check logs of specify7 to see if that is what is trying to create root again
  .github/workflows/coverage.yml
Due: none

test: enable verbose logging for mariadb
  docker-compose.yml
Due: none

test: view all logs
  .github/workflows/coverage.yml
Due: none

[fix]: added comments for clarification on permit attachment deletion
  specifyweb/backend/businessrules/tests/test_permit.py
Due: mypy

[fix]: remove .env from branch
  .env
Due: none

[test]: Backend unit test for Timestamp Created in query results
  specifyweb/backend/stored_queries/tests/test_views/test_timestamp.py
Due: mypy

[test]: Add timestampModified coverage to query results test
  specifyweb/backend/stored_queries/tests/test_views/test_timestamp.py
Due: mypy

[fix]: Removed unnecessary f string
  specifyweb/backend/stored_queries/tests/test_views/test_timestamp.py
Due: mypy

fix: rely on more granular schema config functions
  specifyweb/backend/setup_tool/schema_defaults.py
  specifyweb/backend/workbench/migrations/0007_spdatasetattachment.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0002_schema_config_update.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0004_stratigraphy_age.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0040_components.py
  specifyweb/specify/migration_utils/schema_writer.py
Due: mypy

[test]: added test for sorting in ascending order
  specifyweb/backend/stored_queries/tests/test_views/test_sorting.py
Due: mypy

feat(backend): add matchingmode field to Spattachmentdataset
  specifyweb/backend/attachment_gw/dataset_views.py
  specifyweb/backend/attachment_gw/migrations/0002_add_matchingmode.py
  specifyweb/backend/attachment_gw/models.py
Due: mypy

feat(attachments): add MappingMode types and localization strings
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/types.ts
  specifyweb/frontend/js_src/lib/localization/attachments.ts
Due: frontend-tests

feat(attachments): add crossReferenceMappingFiles and prepareMappingFileSelection utilities
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/__tests__/utils.test.ts
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/utils.ts
Due: frontend-tests

feat(attachments): add MatchingModeDialog and MappingFileSetup components
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/MappingFileSetup.tsx
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/MatchingModeDialog.tsx
Due: frontend-tests

feat(attachments): integrate mapping-file mode into Import, ViewAttachmentFiles, Datasets, and useEagerDataset
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/Datasets.tsx
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/Import.tsx
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/ViewAttachmentFiles.tsx
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/useEagerDataset.ts
Due: frontend-tests

chore: improve descriptions
  specifyweb/frontend/js_src/lib/localization/attachments.ts
Due: frontend-tests

fix: restart mariadb then triage user creation
  .github/workflows/coverage.yml
Due: none

[test]: Added test to sort in ascending order
  specifyweb/backend/stored_queries/tests/test_views/test_sorting.py
Due: mypy

fix: mariadb needs to crash before we restart it
  .github/workflows/coverage.yml
Due: none

test: try to find mysqld.sock
  .github/workflows/coverage.yml
Due: none

fix: detach from docker-compose and clean up run params
  .github/workflows/coverage.yml
Due: none

[fix]: Use deepcopy for query and fix sorttype in descending test
  specifyweb/backend/stored_queries/tests/test_views/test_sorting.py
Due: mypy

feat(attachments): match CSV columns against schema field names
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/MappingFileSetup.tsx
Due: frontend-tests

feat(attachments): add mapping file tests
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/__tests__/utils.test.ts
Due: frontend-tests

fix(attachments): remove spurious canceled for duplicates
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/utils.ts
Due: frontend-tests

fix(attachments): show friendly prompt instead of misleading warnings in mapping-file mode
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/ViewAttachmentFiles.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
Due: frontend-tests

feat(attachments): add icon to matching dialog
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/MatchingModeDialog.tsx
Due: frontend-tests

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

fix: address CodeRabbit suggestions
  .github/workflows/README.md
  .github/workflows/coverage.yml
Due: none

[test]: verify independent resource field changes propagate needsSaved and persist after save
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/resourceApi.test.ts
Due: frontend-tests

verify independent subview sub-record changes propagate needsSaved and persist
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/resourceApi.test.ts
Due: frontend-tests

[test]: verify needsSaved propagates from independent collection to parent
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/resourceApi.test.ts
Due: frontend-tests

created a permit object
  specifyweb/backend/businessrules/tests/test_permit.py
Due: mypy

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
Due: frontend-tests

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
