Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Norwegian Bokmål)
  strings/locality/nb_NO.po
Due: none

Translated using Weblate (Ukrainian)
  strings/specifyNetwork/uk.po
Due: none

Translated using Weblate (Russian)
  strings/welcome/ru.po
Due: none

Translated using Weblate (French)
  strings/workbench/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/common/pt_BR.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/common/de_CH.po
Due: none

Translated using Weblate (French)
  strings/locality/fr.po
Due: none

Translated using Weblate (Spanish)
  strings/batchIdentify/es.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/workbench/pt_BR.po
Due: none

Translated using Weblate (French)
  strings/resources/fr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/workbench/de_CH.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/preferences/nb_NO.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/query/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/batchIdentify/pt_BR.po
Due: none

Translated using Weblate (French)
  strings/specifyNetwork/fr.po
Due: none

Translated using Weblate (Russian)
  strings/locality/ru.po
Due: none

Translated using Weblate (Russian)
  strings/batchIdentify/ru.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/setupTool/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/user/hr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/specifyNetwork/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/resources/hr.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/notifications/nb_NO.po
Due: none

Translated using Weblate (Croatian)
  strings/setupTool/hr.po
Due: none

Translated using Weblate (Russian)
  strings/resources/ru.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/batchIdentify.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Add test for deduplication
  specifyweb/specify/migration_utils/tests/test_deduplication.py
Due: mypy

Add test for default cots
  specifyweb/specify/migration_utils/tests/test_default_cots.py
Due: mypy

fix: add test for tectonic ranks
  specifyweb/specify/migration_utils/tests/test_tectonic_ranks.py
Due: mypy

fix: add default for selectseries migration
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0031_add_default_for_selectseries.py
  specifyweb/specify/migrations/0031_add_default_for_selectseries.py
Due: mypy

fix: add tests for run key migration
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/management/commands/tests/__init__.py
  specifyweb/specify/management/commands/tests/test_run_key_migration_functions.py
Due: mypy

fix: remove unused file/definition
  specifyweb/specify/migration_utils/migration_helpers.py
Due: mypy

fix: Clear cached schema override state between tests
  specifyweb/specify/migration_utils/tests/test_schema_reader.py
Due: mypy

fix: Assert call
  specifyweb/specify/migration_utils/tests/test_tectonic_ranks.py
Due: mypy

fix: Revert run_key_migration chnages
  specifyweb/specify/management/commands/run_key_migration_functions.py
Due: mypy

fix: imports and performance for 0004 migration
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0003_cotype_picklist.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0004_stratigraphy_age.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0018_cot_catnum_schema.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0042_discipline_type_picklist.py
  specifyweb/specify/migration_utils/utils.py
  specifyweb/specify/migrations/0004_stratigraphy_age.py
Due: mypy

chore: add bug comment for irrevirsible migration
  specifyweb/backend/permissions/migrations/0008_attachment_import_role.py
Due: mypy

Translated using Weblate (Portuguese (Brazil))
  strings/resources/pt_BR.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
