Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

refactor(schema-config): extract store types and save helpers
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Store.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/__tests__/Store.saveAll.test.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/__tests__/Store.test.ts
  specifyweb/frontend/js_src/lib/components/SchemaConfig/helpers.ts
  specifyweb/frontend/js_src/lib/components/SchemaConfig/types.ts
Due: frontend-tests

refactor(schema-config): rename fieldLength to characterLimit
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Field.tsx
  specifyweb/frontend/js_src/lib/components/SchemaViewer/Fields.tsx
  specifyweb/frontend/js_src/lib/components/SchemaViewer/schemaToTsv.tsx
  specifyweb/frontend/js_src/lib/localization/schema.ts
Due: frontend-tests

feat(schema-config): add human friendly labels for field types
  specifyweb/frontend/js_src/lib/components/SchemaConfig/helpers.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
Due: frontend-tests

fix(schema-config): show timestamp
  specifyweb/frontend/js_src/lib/components/SchemaConfig/helpers.ts
Due: frontend-tests

fix(schema-config): make edits during save reconcile
  specifyweb/frontend/js_src/lib/components/DataModel/resource.ts
  specifyweb/frontend/js_src/lib/components/SchemaConfig/helpers.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
Due: frontend-tests

Feat: Restore attachment availability after an outage during backend startup
  specifyweb/backend/attachment_gw/views.py
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/attachmentServerStatus.test.ts
  specifyweb/frontend/js_src/lib/components/Attachments/attachments.ts
  specifyweb/frontend/js_src/lib/components/Attachments/index.tsx
Due: frontend-tests, mypy

Test: Fix mock health check
  specifyweb/frontend/js_src/lib/components/WorkBench/__tests__/WbAttachmentsPreview.test.tsx
Due: frontend-tests

chore: configure jest to not collect coverage from tests
  specifyweb/frontend/js_src/jest.config.cjs
Due: frontend-tests

Translated using Weblate (Spanish)
  strings/backEnd/es.po
Due: none

Translated using Weblate (Spanish)
  strings/user/es.po
Due: none

Translated using Weblate (Russian)
  strings/backEnd/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/backEnd/de_CH.po
Due: none

Translated using Weblate (Russian)
  strings/user/ru.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/backEnd/pt_BR.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/stats/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/stats/es.po
Due: none

Translated using Weblate (Russian)
  strings/resources/ru.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/stats/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/stats/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/resources/es.po
Due: none

Translated using Weblate (Ukrainian)
  strings/stats/uk.po
Due: none

Translated using Weblate (Croatian)
  strings/backEnd/hr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/resources/de_CH.po
Due: none

Translated using Weblate (Croatian)
  strings/stats/hr.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/stats/nb_NO.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/user/de_CH.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/backEnd/nb_NO.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/user/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/resources/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/resources/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/user/hr.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/resources/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/user/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
Due: frontend-tests

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
Due: frontend-tests

Feat: Handle incomplete asset-server configuration
  specifyweb/backend/attachment_gw/views.py
Due: mypy

Fix: Start backoff after the failed request completes
  specifyweb/backend/attachment_gw/views.py
Due: mypy

Test: Add a failed-thumbnail test
  specifyweb/frontend/js_src/lib/components/Attachments/Preview.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/Preview.test.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/fetchThumbnail.test.ts
  specifyweb/frontend/js_src/lib/components/Attachments/attachments.ts
Due: frontend-tests

Fix: Validate all required asset-server URL types before setting server_urls
  specifyweb/backend/attachment_gw/views.py
Due: mypy

chore: create dependabot rules
  .github/dependabot.yml
Due: none
