Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Improve Preparation localization further
  specifyweb/frontend/js_src/lib/components/Interactions/LoanReturn.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormCommands/index.tsx
Due: frontend-tests

Update specifyweb/frontend/js_src/lib/components/FormCommands/index.tsx
  specifyweb/frontend/js_src/lib/components/FormCommands/index.tsx
Due: frontend-tests

Add tables import
  specifyweb/frontend/js_src/lib/components/FormCommands/index.tsx
Due: frontend-tests

Finish localizing preparations
  specifyweb/frontend/js_src/lib/components/FormCommands/index.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/LoanReturn.tsx
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Run Prettier on all files
  specifyweb/frontend/js_src/lib/components/AppResources/Aside.tsx
  specifyweb/frontend/js_src/lib/components/FormCommands/index.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
Due: frontend-tests

Remove duplicates from returned Interaction request
  specifyweb/frontend/js_src/lib/components/FormCommands/ShowTransactions.tsx
Due: frontend-tests

Show all related interactions in ShowLoans dialog
  specifyweb/frontend/js_src/lib/components/FormCommands/ShowTransactions.tsx
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

fix(localization): simplify preparation labels
  specifyweb/frontend/js_src/lib/components/AppResources/Aside.tsx
  specifyweb/frontend/js_src/lib/components/FormCommands/ShowTransactions.tsx
  specifyweb/frontend/js_src/lib/components/FormCommands/index.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/LoanReturn.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormCommands/ShowTransactions.tsx
Due: frontend-tests

Move handling of fetching related Interactions to parent
  specifyweb/frontend/js_src/lib/components/FormCommands/ShowTransactions.tsx
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Remove unused localization strings
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

fix(tests): misc fixes
  specifyweb/frontend/js_src/lib/components/FormCommands/index.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/LoanReturn.tsx
Due: frontend-tests

Update notification text for collection setup
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Add migration function checklist to PR template
  .github/pull-request-template.md
Due: none

Fix collection notification
  specifyweb/specify/api/crud.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Interactions/LoanReturn.tsx
Due: frontend-tests

fix(localization): remove unused strings
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Fix resolved loans blocking preparation count updates
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

WIP Notify when collection is being created
  specifyweb/frontend/js_src/lib/components/Notifications/NotificationRenderers.tsx
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
  specifyweb/specify/api/crud.py
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

Uncomment line
  specifyweb/backend/businessrules/rules/user_rules.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Notifications/NotificationRenderers.tsx
Due: frontend-tests

Fix test
  specifyweb/frontend/js_src/lib/components/Notifications/NotificationRenderers.tsx
Due: frontend-tests

Uncomment specifyuser_spprincipal usages
  specifyweb/backend/businessrules/rules/user_rules.py
  specifyweb/specify/models_utils/model_extras.py
Due: mypy

WIP Don't look for parents in nodes that aren't being added to
  specifyweb/backend/trees/defaults.py
Due: mypy

Fix: TS type errors
  specifyweb/frontend/js_src/lib/components/FormCommands/ShowTransactions.tsx
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Fix: localization
  specifyweb/frontend/js_src/lib/components/SchemaConfig/DwCSection.tsx
Due: frontend-tests

Fix: Remove unused srings
  specifyweb/frontend/js_src/lib/components/FormCommands/ShowTransactions.tsx
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/package-lock.json
Due: frontend-tests

Fix: Localization issues
  specifyweb/frontend/js_src/lib/components/FormCommands/ShowTransactions.tsx
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Feat: Add Term, IsStatic, and StaticValue fields to SpQueryField
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0045_spqueryfield_dwc_fields.py
  specifyweb/specify/models.py
Due: frontend-tests, mypy

Feat: Add a new schemamapping table
  specifyweb/specify/models.py
Due: mypy

Translated using Weblate (Portuguese (Brazil))
  strings/merging/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/tree/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (French)
  strings/merging/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (Russian)
  strings/merging/ru.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
