Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

In prep dialog,display 'not available' if no taxon
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialogRow.tsx
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Import
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialogRow.tsx
Due: frontend-tests

Prevent from adding empty value from prep dialog
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
Due: frontend-tests

Remove prep if nothing in selected value
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
Due: frontend-tests

Sync localization strings with Weblate
  strings/batchEdit/de_CH.po
  strings/batchEdit/en_US.po
  strings/batchEdit/es.po
  strings/batchEdit/fr.po
  strings/batchEdit/pt_BR.po
  strings/batchEdit/ru.po
  strings/batchEdit/uk.po
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/workbench/de_CH.po
  strings/workbench/en_US.po
  strings/workbench/es.po
  strings/workbench/fr.po
  strings/workbench/pt_BR.po
  strings/workbench/ru.po
  strings/workbench/uk.po
Due: none

Return earlier
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
Due: frontend-tests

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

execute query call fix
  specifyweb/stored_queries/batch_edit.py
  specifyweb/stored_queries/views.py
Due: mypy

handle series decimal cat nums
  specifyweb/stored_queries/execution.py
Due: mypy

Modularize patches migration logic
  specifyweb/businessrules/rules/tree_rules.py
  specifyweb/patches/migration_utils.py
  specifyweb/patches/migrations/0001_restore_separators.py
  specifyweb/patches/migrations/0002_fix_accepted_taxon.py
  specifyweb/patches/migrations/0003_coordinate_fields_fix.py
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/tree_extras.py
Due: mypy

better reverse series with count and offset fix
  specifyweb/stored_queries/execution.py
Due: mypy

Set series to false when remove cat num filter
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
Due: frontend-tests

SERIES_MAX_ROWS increase
  specifyweb/stored_queries/execution.py
Due: mypy

remove series limit
  specifyweb/stored_queries/execution.py
Due: mypy

reverse ordering fix
  specifyweb/stored_queries/execution.py
Due: mypy

limit fix
  specifyweb/stored_queries/execution.py
Due: mypy

tests + model field
  config/specify_datamodel.xml
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/datamodel.json
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/schema_localization.json/lang=en.json
  specifyweb/specify/datamodel.py
  specifyweb/specify/models.py
  specifyweb/specify/temp_models.py
  specifyweb/stored_queries/tests/static/co_query.json
Due: frontend-tests, mypy

offset fix
  specifyweb/stored_queries/execution.py
Due: mypy

selectseries django migration
  specifyweb/specify/migrations/0027_selectseries.py
Due: mypy

Uncollapse prep subview on CO opening when CO_CREATE_PREP true
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

Missing chnages
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
Due: frontend-tests

Allow to empty count for bulk carry
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
Due: frontend-tests

init ubuntu:20.04 base image in Dockerfile
  Dockerfile
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Formatter.tsx
Due: frontend-tests

init dataentry_task.xml for geology config
  config/geology/dataentry_task.xml
Due: none

Do no send focus back to selected node when clicking in tree
  specifyweb/frontend/js_src/lib/components/TreeView/Tree.tsx
Due: frontend-tests

Update Dockerfile with local_specify_settings ASSET_SERVER_COLLECTION fix
  Dockerfile
Due: none

Use automatic typeSearch if none defined in xml
  specifyweb/frontend/js_src/lib/components/QueryComboBox/useTypeSearch.tsx
Due: frontend-tests

import
  specifyweb/frontend/js_src/lib/components/QueryComboBox/useTypeSearch.tsx
Due: frontend-tests

Close record set dialog on merge instead of reload
  specifyweb/frontend/js_src/lib/components/Toolbar/MergeRecordSets.tsx
  specifyweb/frontend/js_src/lib/components/Toolbar/RecordSets.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Toolbar/RecordSets.tsx
Due: frontend-tests

Remove merge btn from meta menu for embedded resources
  specifyweb/frontend/js_src/lib/components/FormMeta/index.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
Due: frontend-tests

Simplify
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
Due: frontend-tests

Remove age field from formatter and aggregator field
  specifyweb/frontend/js_src/lib/components/Formatters/Components.tsx
Due: frontend-tests

Typo
  specifyweb/frontend/js_src/lib/components/Formatters/Components.tsx
Due: frontend-tests

Remove cast
  specifyweb/frontend/js_src/lib/components/Formatters/Components.tsx
Due: frontend-tests

import
  specifyweb/frontend/js_src/lib/components/Formatters/Components.tsx
Due: frontend-tests

add dataentry to app_resources.xml
  config/geology/app_resources.xml
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
