Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Croatian)
  strings/header/hr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/locality/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/query/pt_BR.po
Due: none

Translated using Weblate (French)
  strings/common/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/header/pt_BR.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/welcome/de_CH.po
Due: none

Translated using Weblate (French)
  strings/setupTool/fr.po
Due: none

Translated using Weblate (Russian)
  strings/resources/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/schema/es.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/preferences/pt_BR.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/header/de_CH.po
Due: none

Translated using Weblate (Croatian)
  strings/schema/hr.po
Due: none

Translated using Weblate (French)
  strings/header/fr.po
Due: none

Translated using Weblate (Croatian)
  strings/resources/hr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/welcome/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/common/hr.po
Due: none

Translated using Weblate (Spanish)
  strings/workbench/es.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/workbench/pt_BR.po
Due: none

Translated using Weblate (Ukrainian)
  strings/resources/uk.po
Due: none

Translated using Weblate (French)
  strings/resources/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/query/uk.po
Due: none

Translated using Weblate (Russian)
  strings/user/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/preferences/es.po
Due: none

Translated using Weblate (Spanish)
  strings/query/es.po
Due: none

Translated using Weblate (Croatian)
  strings/workbench/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/query/hr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Notifications/NotificationRenderers.tsx
  specifyweb/frontend/js_src/lib/localization/schema-localization/xml.ts
Due: frontend-tests

fix: replace with mutable arrays
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
  specifyweb/frontend/js_src/lib/components/BatchIdentify/parseCatalogNumbers.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
  specifyweb/frontend/js_src/lib/components/BatchIdentify/parseCatalogNumbers.ts
Due: frontend-tests

Handle bad broker request gracefully
  specifyweb/frontend/js_src/lib/components/SpecifyNetwork/Overlay.tsx
  specifyweb/frontend/js_src/lib/components/SpecifyNetwork/Table.tsx
  specifyweb/frontend/js_src/lib/components/SpecifyNetwork/fetchers.ts
  specifyweb/frontend/js_src/lib/components/SpecifyNetwork/hooks.tsx
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SpecifyNetwork/hooks.tsx
Due: frontend-tests

Correct release date and add Guided Setup Tool details
  CHANGELOG.md
Due: none

fix: release date
  CHANGELOG.md
Due: none

Fix BatchIdentify readonly array mutations in frontend typecheck
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/AppResourceDownload.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/AppResourceEditButton.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/AppResourceLoad.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/AppResourcesAside.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/AppResourcesFilters.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/AppResourcesTab.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/Tabs.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/buildAppResourceConformation.test.ts.snap
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/useResourcesTree.test.ts.snap
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/Button.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/DataEntry.test.ts.snap
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/Form.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/Link.test.ts.snap
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/Submit.test.ts.snap
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/index.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/__snapshots__/AttachmentCell.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/__snapshots__/ChronoChart.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/__snapshots__/UploadAttachment.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/__snapshots__/utils.test.ts.snap
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/__tests__/__snapshots__/utils.test.ts.snap
  specifyweb/frontend/js_src/lib/components/BatchIdentify/index.tsx
  specifyweb/frontend/js_src/lib/components/BatchIdentify/parseCatalogNumbers.ts
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/__snapshots__/specifyTable.test.ts.snap
  specifyweb/frontend/js_src/lib/components/FieldFormatters/__tests__/__snapshots__/index.test.ts.snap
  specifyweb/frontend/js_src/lib/components/FormEditor/__tests__/__snapshots__/createView.test.ts.snap
  specifyweb/frontend/js_src/lib/components/FormEditor/__tests__/__snapshots__/fetchAllViews.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/FormEditor/__tests__/__snapshots__/index.test.ts.snap
  specifyweb/frontend/js_src/lib/components/FormEditor/__tests__/__snapshots__/viewSpec.test.ts.snap
  specifyweb/frontend/js_src/lib/components/FormMeta/__tests__/__snapshots__/CarryForward.test.ts.snap
  specifyweb/frontend/js_src/lib/components/FormPlugins/__tests__/__snapshots__/PartialDateUi.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/Formatters/__tests__/__snapshots__/formatters.test.ts.snap
  specifyweb/frontend/js_src/lib/components/InitialContext/__tests__/__snapshots__/remotePrefs.test.ts.snap
  specifyweb/frontend/js_src/lib/components/InitialContext/__tests__/__snapshots__/treeRanks.test.ts.snap
  specifyweb/frontend/js_src/lib/components/Merging/__tests__/__snapshots__/autoMerge.test.ts.snap
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/__snapshots__/fromTree.test.ts.snap
  specifyweb/frontend/js_src/lib/components/QueryComboBox/__tests__/__snapshots__/useTypeSearch.test.ts.snap
  specifyweb/frontend/js_src/lib/components/WebLinks/__tests__/__snapshots__/index.test.ts.snap
  specifyweb/frontend/js_src/lib/utils/__tests__/__snapshots__/fonts.test.ts.snap
Due: frontend-tests

perf: improve tree search efficiency with batch-on-scroll (#7752)
  specifyweb/frontend/js_src/lib/components/Molecules/AutoComplete.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/QueryComboBox/__tests__/treeSearchEfficiency.test.tsx
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

Add language
  specifyweb/frontend/js_src/lib/localization/utils/config.ts
  specifyweb/settings/__init__.py
Due: frontend-tests, mypy

feat: allow easily customizing gunicorn configuration Fixed #7880
  Dockerfile
  gunicorn.conf.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
