Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Portuguese (Brazil))
  strings/header/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/specifyNetwork/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/locality/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/welcome/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/main/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/resources/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/preferences/pt.po
Due: none

Translated using Weblate (Portuguese)
  strings/resources/pt.po
Due: none

Translated using Weblate (Portuguese)
  strings/query/pt.po
Due: none

Translated using Weblate (Portuguese)
  strings/user/pt.po
Due: none

Translated using Weblate (Portuguese)
  strings/specifyNetwork/pt.po
Due: none

Translated using Weblate (Portuguese)
  strings/workbench/pt.po
Due: none

Tryout
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
Due: frontend-tests

Translated using Weblate (Spanish)
  strings/resources/es.po
Due: none

Translated using Weblate (Ukrainian)
  strings/resources/uk.po
Due: none

Translated using Weblate (French)
  strings/resources/fr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/resources/de_CH.po
Due: none

fix unit tests
  specifyweb/businessrules/rules/tree_rules.py
  specifyweb/specify/tests/test_trees.py
Due: mypy

working on reimplementing renumber_tree to handle multiple taxon trees
  specifyweb/specify/tests/test_trees.py
  specifyweb/specify/tree_extras.py
Due: mypy

Translated using Weblate (Ukrainian)
  strings/user/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/common/uk.po
Due: none

Save COs once accession is set
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/helpers.ts
Due: frontend-tests

Remove available data object state
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
Due: frontend-tests

Remove unecessary code
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
Due: frontend-tests

Add `min=0` for Prep count
  config/bird/bird.views.xml
  config/bird/manager/bird.views.xml
  config/botany/botany.views.xml
  config/botany/manager/botany.views.xml
  config/common/common.views.xml
  config/fish/fish.views.xml
  config/fish/guest/fish.views.xml
  config/fish/manager/fish.views.xml
  config/geology/geology.views.xml
  config/herpetology/herpetology.views.xml
  config/herpetology/manager/herpetology.views.xml
  config/invertebrate/invertebrate.views.xml
  config/invertebrate/manager/invertebrate.views.xml
  config/invertpaleo/guest/paleo.views.xml
  config/invertpaleo/manager/paleo.views.xml
  config/invertpaleo/paleo.views.xml
  config/mammal/mammal.views.xml
  config/mammal/manager/mammal.views.xml
  config/vertpaleo/guest/vertpaleo.views.xml
  config/vertpaleo/manager/vertpaleo.views.xml
  config/vertpaleo/vertpaleo.views.xml
Due: none

change excepetion to warning for now
  specifyweb/specify/tree_extras.py
  specifyweb/specify/tree_views.py
Due: mypy

edit root unit test
  specifyweb/specify/tests/test_trees.py
Due: mypy

Sync localization strings with Weblate
  strings/tree/de_CH.po
  strings/tree/en_US.po
  strings/tree/es.po
  strings/tree/fr.po
  strings/tree/pt_BR.po
  strings/tree/ru.po
  strings/tree/uk.po
Due: none

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/merging/de_CH.po
Due: none

Translated using Weblate (French)
  strings/merging/fr.po
Due: none

Translated using Weblate (Russian)
  strings/merging/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/merging/uk.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/tree/pt_BR.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
