Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Translated using Weblate (Norwegian Bokmål)
  strings/development/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/backup/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
Due: frontend-tests

Translated using Weblate (Norwegian Bokmål)
  strings/workbench/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/welcome/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/batchIdentify/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/batchIdentify.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
Due: frontend-tests

fix: improve previous migration test file
  specifyweb/specify/migration_utils/tests/test_helper_0008_ageCitations_fix.py
  specifyweb/specify/migration_utils/tests/test_helper_0012_add_cojo_to_schema_config.py
  specifyweb/specify/migration_utils/tests/test_helper_0013_collectionobjectgroup_parentcog.py
Due: mypy

Test: Add test suite for migration helper 0020
  specifyweb/specify/migration_utils/tests/test_helper_0020_add_tectonicunit_to_pc_in_schema_config.py
Due: mypy

Test: Add test suite for migration helper 0024
  specifyweb/specify/migration_utils/tests/test_helper_0024_add_uniqueIdentifier_storage.py
Due: mypy

Test: Add test suite for migration helper 0027
  specifyweb/specify/migration_utils/tests/test_helper_0027_CO_children.py
Due: mypy

Test: Add test suite for migration helper 0035
  specifyweb/specify/migration_utils/tests/test_helper_0035_version_required.py
Due: mypy

Test: Add test suite for migration helper 0018
  specifyweb/specify/migration_utils/tests/test_helper_0018_cot_catnum_schema.py
Due: mypy

Test: Add test suite for migration helper 0021
  specifyweb/specify/migration_utils/tests/test_helper_0021_update_hidden_geo_tables.py
Due: mypy

Test: Add test suite for migration helper 0021 -2
  specifyweb/specify/migration_utils/tests/test_helper_0021_update_hidden_geo_tables.py
Due: mypy

Test: Add test suite for migration helper 0032
  specifyweb/specify/migration_utils/tests/test_helper_0032_add_quantities_gift.py
Due: mypy

Test: Add test suite for migration helper 0033
  specifyweb/specify/migration_utils/tests/test_helper_0033_update_paleo_desc.py
Due: mypy

Test: Add test suite for migration helper 0042
  specifyweb/specify/migration_utils/tests/test_helper_0042_discipline_type_picklist.py
Due: mypy

fix: remove import
  specifyweb/specify/migration_utils/tests/test_helper_0003_cotype_picklist.py
Due: mypy

Translated using Weblate (Ukrainian)
  strings/resources/uk.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Test
  specifyweb/specify/migration_utils/tests/test_helper_0008_ageCitations_fix.py
Due: mypy

Translated using Weblate (Russian)
  strings/query/ru.po
Due: none

Translated using Weblate (French)
  strings/query/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/query/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/query/hr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/query.ts
Due: frontend-tests

fix: model capitalizations
  specifyweb/specify/datamodel.py
Due: mypy

Translated using Weblate (French)
  strings/attachments/fr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/attachments.ts
Due: frontend-tests

Translated using Weblate (Portuguese (Brazil))
  strings/welcome/pt_BR.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/welcome.ts
Due: frontend-tests

Translated using Weblate (Russian)
  strings/locality/ru.po
Due: none
