Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (French)
  strings/batchIdentify/fr.po
Due: none

Translated using Weblate (French)
  strings/forms/fr.po
Due: none

Translated using Weblate (French)
  strings/attachments/fr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/batchIdentify.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
Due: frontend-tests

Merge env and docker compose from main
  .env
  docker-compose.yml
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
  specifyweb/frontend/js_src/lib/components/Formatters/formatters.ts
  specifyweb/frontend/js_src/lib/components/PickLists/__tests__/fetch.test.ts
  specifyweb/frontend/js_src/lib/localization/README.md
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

fix: preserve results after opening results
  specifyweb/frontend/js_src/lib/components/WbActions/useResults.ts
Due: frontend-tests

feat(trees): sort chronostrat by period
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
Due: frontend-tests

verify independent subview sub-record changes propagate needsSaved and persist
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/resourceApi.test.ts
Due: frontend-tests

fix: show Mississippian and Pennsylvanian under Carboniferous
  config/default_trees/GeologicTimePeriod.csv
Due: none

feat: add ranges to chronostrat
  specifyweb/backend/trees/views.py
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/helpers.ts
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests, mypy

fix: minor localization improvement
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

feat(trees): make the start and end period smaller
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
Due: frontend-tests

fix: add geologic time period labels
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

fix(trees): hide uncertainty where there is none
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

fix: prevent localization stripping
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

refactor(trees): simplify label construction
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

fix(tests): add new parameter
  specifyweb/backend/trees/tests/test_trees.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

feat(trees): add biostrat filter to chronostrat
  specifyweb/backend/trees/tests/test_trees.py
  specifyweb/backend/trees/views.py
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/utils/cache/definitions.ts
Due: frontend-tests, mypy

feat: remove weird capitalization
  config/common/schema_localization_en.json
  specifyweb/backend/context/data/schemalocalization.json
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/schema_localization.json/lang=en.json
  specifyweb/specify/fixtures/empty_db.json
Due: none

feat(trees): make `biostrat` search only biostrat records
  specifyweb/frontend/js_src/lib/components/QueryComboBox/helpers.ts
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

fix(QueryComboBox): filter BioStrat properly
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
Due: frontend-tests

feat(trees): add biostrat search filtering
  specifyweb/frontend/js_src/lib/components/TreeView/Search.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
Due: frontend-tests

fix(QueryComboBox): fix search in qcbx dialog
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/TreeView/Search.tsx
Due: frontend-tests

feat(tests): add BioStrat filter tests
  specifyweb/frontend/js_src/lib/components/QueryComboBox/__tests__/biostratConditions.test.ts
  specifyweb/frontend/js_src/lib/components/TreeView/__tests__/biostratFilter.test.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/TreeView/__tests__/biostratFilter.test.ts
Due: frontend-tests

fix(trees): make sure arrows appear correctly
  specifyweb/backend/trees/views.py
Due: mypy

Translated using Weblate (Spanish)
  strings/common/es.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

fix(trees): filter tree descendants by biostrat
  specifyweb/backend/trees/views.py
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/Tree.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/helpers.ts
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
Due: frontend-tests, mypy

feat: Add collection statistics summary API endpoint
  specifyweb/backend/stats/tests/__init__.py
  specifyweb/backend/stats/tests/test_collection_summary.py
  specifyweb/backend/stats/urls.py
  specifyweb/backend/stats/views.py
Due: mypy

feat: Add Collection Statistics dialog component
  specifyweb/frontend/js_src/lib/components/Statistics/CollectionStatistics.tsx
  specifyweb/frontend/js_src/lib/localization/stats.ts
Due: frontend-tests

feat: Add Collection Statistics button to home page
  specifyweb/frontend/js_src/lib/components/Header/menuItemDefinitions.ts
  specifyweb/frontend/js_src/lib/components/Router/OverlayRoutes.tsx
Due: frontend-tests

test: Add tests for Collection Statistics dialog
  specifyweb/frontend/js_src/lib/components/Statistics/__tests__/CollectionStatistics.test.tsx
Due: frontend-tests

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
