Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Add deduplicate_discipline_resource_dirs migration
  specifyweb/backend/setup_tool/migrations/0002_deduplicate_discipline_resource_dirs.py
Due: mypy

fix: hide collection preferences when user doesn't have permission
  specifyweb/frontend/js_src/lib/components/AppResources/filtersHelpers.ts
Due: frontend-tests

RUN_KEY_MIGRATION_ON_STARTUP
  .env
  docker-entrypoint.sh
  specifyweb/frontend/js_src/lib/components/AppResources/filtersHelpers.ts
Due: frontend-tests

fix: correct app resource tests
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/AppResourcesAside.test.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/AppResourcesAside.test.tsx.snap
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/AppResourcesAside.test.tsx
Due: frontend-tests

avoid null task warning
  specifyweb/backend/setup_tool/schema_defaults.py
Due: mypy

feat(webportal): split into separate file
  specifyweb/backend/stored_queries/execution.py
  specifyweb/backend/stored_queries/tests/test_views/test_export_web_portal.py
  specifyweb/backend/stored_queries/web_portal_export.py
Due: mypy

fix: correct SpAppResourceDir filter and discipline type
  specifyweb/backend/setup_tool/app_resource_defaults.py
Due: mypy

jest snapshot fix
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/AppResourcesAside.test.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/AppResourcesAside.test.tsx.snap
Due: frontend-tests

change default state of run key migration on startup
  .env
Due: none

make running key migrations at startup optional
  .env
  docker-entrypoint.sh
Due: none

Prevent startup permission initialization from re-granting legacy collection access
  specifyweb/backend/permissions/initialize.py
  specifyweb/specify/management/commands/run_key_migration_functions.py
Due: mypy

fix: deduplicate SpAppResourceDirs scoped to discipline
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

feat(webportal): build geoc values
  specifyweb/backend/stored_queries/web_portal_export.py
Due: mypy

fix(webportal): build proper metadata
  specifyweb/backend/stored_queries/web_portal_export.py
Due: mypy

fix(webportal): remove unnecessary +1
  specifyweb/backend/stored_queries/web_portal_export.py
Due: mypy

chore(webportal): improve naming
  specifyweb/backend/stored_queries/urls.py
  specifyweb/backend/stored_queries/views.py
  specifyweb/frontend/js_src/lib/components/Permissions/definitions.ts
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Export.tsx
  specifyweb/frontend/js_src/lib/localization/query.ts
Due: frontend-tests, mypy

fix(webportal): hide image column
  specifyweb/backend/stored_queries/web_portal_export.py
Due: mypy

fix(webportal): use title instead of filename
  specifyweb/backend/stored_queries/tests/test_views/test_export_web_portal.py
  specifyweb/backend/stored_queries/web_portal_export.py
Due: mypy

fix(webportal): fix missing import
  specifyweb/backend/stored_queries/execution.py
Due: mypy

fix(queries): show ellipsis in cells
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ResultsTable.tsx
Due: frontend-tests

refactor: use apply over run when running celery task locally
  specifyweb/specify/management/commands/run_key_migration_functions.py
Due: mypy

feat: show header lines
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ResultsTable.tsx
Due: frontend-tests

Translated using Weblate (Portuguese (Brazil))
  strings/tree/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/tree/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/merging/hr.po
Due: none

Translated using Weblate (French)
  strings/merging/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/merging/pt_BR.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/merging/de_CH.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (Russian)
  strings/merging/ru.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none
