Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Added list of defaults to first dialog + changed TreeDefaults file to serialized resources
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/TreeDefaults.tsx
Due: frontend-tests

Changed types to avoid a million errors
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/TreeDefaults.tsx
Due: frontend-tests

(bug): mypy + .env
  .env
  specifyweb/workbench/upload/tests/test_upload_results_json.py
Due: mypy

(bug): mypy resolve
  specifyweb/workbench/upload/tests/test_upload_results_json.py
Due: mypy

Revert build behavior
  .github/workflows/docker.yml
Due: none

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/tree/pt_BR.po
Due: none

Translated using Weblate (Spanish)
  strings/forms/es.po
Due: none

Translated using Weblate (French)
  strings/forms/fr.po
Due: none

Translated using Weblate (Russian)
  strings/forms/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/forms/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/forms/de_CH.po
Due: none

Create new Dockerize workflow
  .github/workflows/docker-image.yml
Due: none

Update docker-image.yml
  .github/workflows/docker-image.yml
Due: none

Remove old docker.yml
  .github/workflows/docker.yml
Due: none

Modernize image
  .github/workflows/docker-image.yml
Due: none

Add username
  .github/workflows/docker-image.yml
Due: none

Make digests unique
  .github/workflows/docker-image.yml
Due: none

Add platform to digest name
  .github/workflows/docker-image.yml
Due: none

Fix slash in platform ID
  .github/workflows/docker-image.yml
Due: none

Use timestamp for digest ID
  .github/workflows/docker-image.yml
Due: none

Use job-index to create uniqueness
  .github/workflows/docker-image.yml
Due: none

Convert to final Dockerize actions
  .github/workflows/docker.yml
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/notifications/pt_BR.po
Due: none

use container name when deleting
  specifyweb/specify/migrations/0003_cotype_picklist.py
Due: mypy

hide cotype
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Fields.tsx
  specifyweb/frontend/js_src/lib/components/Toolbar/QueryTablesEdit.tsx
Due: frontend-tests

hide cotype in mapper relationships
  specifyweb/frontend/js_src/lib/components/WbPlanView/LineComponents.tsx
Due: frontend-tests

(tests): Backend unit tests
  specifyweb/specify/load_datamodel.py
  specifyweb/specify/tests/test_trees.py
  specifyweb/specify/tree_views.py
  specifyweb/stored_queries/batch_edit.py
  specifyweb/stored_queries/queryfieldspec.py
  specifyweb/stored_queries/tests/__init__.py
  specifyweb/stored_queries/tests/static/co_query.json
  specifyweb/stored_queries/tests/static/co_query_row_plan.py
  specifyweb/stored_queries/tests/test_batch_edit.py
  specifyweb/stored_queries/tests/tests.py
  specifyweb/workbench/upload/predicates.py
  specifyweb/workbench/upload/tests/test_batch_edit_table.py
  specifyweb/workbench/upload/tests/test_bugs.py
  specifyweb/workbench/upload/tests/test_upload_results_json.py
  specifyweb/workbench/upload/treerecord.py
  specifyweb/workbench/upload/upload.py
  specifyweb/workbench/upload/upload_table.py
  specifyweb/workbench/upload/uploadable.py
  specifyweb/workbench/views.py
Due: mypy

init wb uploads handling taxon ranks with treedefid
  specifyweb/workbench/upload/scoping.py
  specifyweb/workbench/upload/treerecord.py
  specifyweb/workbench/upload/upload_plan_schema.py
  specifyweb/workbench/views.py
Due: mypy

Create splocale strings along with containeritem
  specifyweb/specify/migrations/0003_cotype_picklist.py
Due: mypy

simplify wb mutli-tree solution
  specifyweb/workbench/upload/scoping.py
  specifyweb/workbench/upload/treerecord.py
  specifyweb/workbench/upload/upload_plan_schema.py
  specifyweb/workbench/views.py
Due: mypy

hide cotype in schema override
  specifyweb/frontend/js_src/lib/components/DataModel/schemaOverrides.ts
Due: frontend-tests
