Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Comment: Add todo
  specifyweb/frontend/js_src/lib/components/TreeView/Tree.tsx
Due: frontend-tests

Wait for db transaction to complete before importing trees
  specifyweb/backend/setup_tool/setup_tasks.py
Due: mypy

Block system config page access to non-institution admins
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/SystemConfigTool.tsx
Due: frontend-tests

Block system config page access to non-institution admins
  specifyweb/frontend/js_src/lib/components/Header/userToolDefinitions.ts
Due: frontend-tests

Add explicit admin checks to config tool endpoints
  specifyweb/backend/setup_tool/views.py
  specifyweb/specify/api/crud.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/InitialContext/stats.ts
  specifyweb/frontend/js_src/lib/tests/ajax/index.ts
Due: frontend-tests

Update tree creation task logging
  specifyweb/backend/trees/defaults.py
Due: mypy

Fix synonym query expansion for accepted/synonym terms
  specifyweb/backend/stored_queries/execution.py
  specifyweb/backend/stored_queries/synonomy.py
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
Due: frontend-tests

Make tree progress checking more reliable
  specifyweb/backend/setup_tool/tree_defaults.py
  specifyweb/backend/trees/defaults.py
  specifyweb/backend/trees/views.py
Due: mypy

efficienty improvements to missing_schema_config_fields
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/SystemConfigTool.tsx
Due: frontend-tests

Update default botany tree ranks
  config/botany/taxon_botany_tree.json
Due: none

Fix possible race condition with tree task tracking
  specifyweb/backend/redis_cache/store.py
  specifyweb/backend/redis_cache/utils.py
  specifyweb/backend/trees/defaults.py
Due: mypy

WIP reload after closing tree import dialog
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests

Create a new chronostrat tree for each discipline
  specifyweb/backend/setup_tool/api.py
  specifyweb/backend/setup_tool/setup_tasks.py
Due: mypy

fix get_percent_georeferenced query
  specifyweb/backend/stats/views.py
Due: mypy

unit test fix
  specifyweb/backend/stored_queries/tests/static/co_query_row_plan.py
  specifyweb/backend/stored_queries/tests/static/simple_static_fields.py
Due: mypy

initial solution for holding user activity for new setups and collections
  specifyweb/backend/accounts/views.py
  specifyweb/backend/setup_tool/api.py
  specifyweb/backend/setup_tool/urls.py
  specifyweb/backend/setup_tool/views.py
Due: mypy

Initial fix for missing taxon fullname from WB mapping
  specifyweb/frontend/js_src/lib/components/WbPlanView/autoMapper.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/modelHelpers.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/navigator.ts
Due: frontend-tests

Rename discipline tree properties for consistency Move celery utils to celery_tasks.py
  specifyweb/backend/setup_tool/api.py
  specifyweb/celery_tasks.py
Due: mypy

WIP: Block collection switching if discipline creation is in progress
  specifyweb/backend/context/views.py
  specifyweb/backend/setup_tool/api.py
Due: mypy

add new collection filtering to all_system_data api
  specifyweb/backend/context/views.py
Due: mypy

add all_system_config_data api for non-filtered collections
  specifyweb/backend/context/urls.py
  specifyweb/backend/context/views.py
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/SystemConfigTool.tsx
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Utils.tsx
Due: frontend-tests, mypy

unit test fixing with MissingWorkerError handling
  specifyweb/backend/setup_tool/api.py
  specifyweb/celery_tasks.py
Due: mypy

ensure_discipline_resource_dir
  specifyweb/backend/setup_tool/api.py
  specifyweb/backend/setup_tool/app_resource_defaults.py
Due: mypy

add available_collections filter for user.json
  specifyweb/backend/context/views.py
Due: mypy

Translated using Weblate (Portuguese (Brazil))
  strings/query/pt_BR.po
Due: none

ensure_all_discipline_resource_dirs
  specifyweb/backend/setup_tool/app_resource_defaults.py
  specifyweb/backend/setup_tool/migrations/0001_ensure_discipline_resource_dirs.py
  specifyweb/backend/setup_tool/migrations/__init__.py
  specifyweb/specify/management/commands/run_key_migration_functions.py
Due: mypy

guard against duplicate discipline names across divisions
  specifyweb/backend/setup_tool/api.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/InitialContext/systemInfo.ts
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

Update translation files
  strings/tree/hr.po
Due: none

chore: delete default.nix
  default.nix
Due: none

Translated using Weblate (Russian)
  strings/forms/ru.po
Due: none

Translated using Weblate (French)
  strings/wbPlan/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/forms/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/attachments/ru.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
