Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Disable copy paste detection for python packages folder
  specifyweb/frontend/js_src/.jscpd.json
Due: none

Add copy/pasting detection
  .github/workflows/test.yml
  .gitignore
  specifyweb/frontend/js_src/.jscpd.json
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
  specifyweb/frontend/js_src/package.json
Due: frontend-tests

fixes duplicate in plugins.ts
  specifyweb/frontend/js_src/lib/components/FormParse/plugins.ts
Due: frontend-tests

refactor(repository): deduplicate copy/pasted code
  specifyweb/context/collection_resources.py
  specifyweb/context/user_resources.py
  specifyweb/frontend/js_src/lib/components/AppResources/Tabs.tsx
  specifyweb/frontend/js_src/lib/components/DataModel/legacyTypes.ts
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/useRenderedResourceId.tsx
  specifyweb/frontend/js_src/lib/components/Formatters/Types.tsx
  specifyweb/frontend/js_src/lib/components/Formatters/spec.ts
  specifyweb/frontend/js_src/lib/components/Molecules/Tabs.tsx
  specifyweb/frontend/js_src/lib/components/SchemaViewer/Fields.tsx
  specifyweb/frontend/js_src/lib/components/SchemaViewer/Relationships.tsx
  specifyweb/frontend/js_src/lib/tests/jscpd.ts
  specifyweb/specify/build_models.py
  specifyweb/specify/config.py
  specifyweb/specify/load_datamodel.py
  specifyweb/specify/record_merging.py
  specifyweb/specify/sp7_build_datamodel.py
  specifyweb/specify/sp7_build_models.py
  specifyweb/specify/tree_extras.py
  specifyweb/stored_queries/build_models.py
  specifyweb/workbench/upload/upload_table.py
Due: frontend-tests, mypy

feat(tests): improve jscpd config
  .github/workflows/test.yml
  specifyweb/frontend/js_src/.jscpd.json
  specifyweb/frontend/js_src/lib/tests/jscpd.ts
  specifyweb/frontend/js_src/package-lock.json
Due: frontend-tests

feat(tests): add .gitigonre to glob converstion util
  specifyweb/frontend/js_src/lib/tests/gitignoreToGlob.ts
Due: frontend-tests

docs(tests): add instructions in case copy paste was detected
  .github/workflows/test.yml
  specifyweb/frontend/js_src/lib/tests/jscpd.ts
Due: frontend-tests

refactor(repository): cleanup .gitignore
  .gitignore
Due: none

refactor: do self-code-review
  specifyweb/specify/sp7_build_datamodel.py
  specifyweb/specify/tree_extras.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormSliders/useRenderedResourceId.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/RouterCommands/SwitchCollection.tsx
Due: frontend-tests

feat(KeyboardShortcuts): initial commit
  specifyweb/frontend/js_src/lib/components/FormSliders/Slider.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/KeyboardContext.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/KeyboardShortcut.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

refactor(KeyboardShortcuts): move code into separate folder
  specifyweb/frontend/js_src/lib/components/Keyboard/__tests__/UserDefinitions.test.ts
  specifyweb/frontend/js_src/lib/components/Keyboard/config.ts
  specifyweb/frontend/js_src/lib/components/Keyboard/context.tsx
  specifyweb/frontend/js_src/lib/components/Keyboard/shortcuts.tsx
  specifyweb/frontend/js_src/lib/components/Keyboard/utils.ts
  specifyweb/frontend/js_src/lib/components/Preferences/BasePreferences.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

feat(KeyboardShortcuts): complete base features
  specifyweb/frontend/js_src/lib/components/Preferences/BasePreferences.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/KeyboardContext.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/KeyboardShortcut.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/__tests__/UserDefinitions.test.ts
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

refactor(KeyboardShortcuts): rename from "Keyboard"
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/Shortcuts.tsx
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/__tests__/UserDefinitions.test.ts
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/config.ts
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/context.ts
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/utils.ts
  specifyweb/frontend/js_src/lib/components/Preferences/BasePreferences.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

refactor(KeyboardShortcuts): use key codes over key names
  specifyweb/frontend/js_src/lib/components/Keyboard/__tests__/UserDefinitions.test.ts
  specifyweb/frontend/js_src/lib/components/Keyboard/config.ts
  specifyweb/frontend/js_src/lib/components/Keyboard/context.tsx
  specifyweb/frontend/js_src/lib/components/Keyboard/shortcuts.tsx
  specifyweb/frontend/js_src/lib/components/Keyboard/utils.ts
  specifyweb/frontend/js_src/lib/components/Preferences/BasePreferences.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/utils/types.ts
Due: frontend-tests

fix(KeyboardShortcuts): polish UI
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
  specifyweb/frontend/js_src/lib/components/Atoms/index.tsx
  specifyweb/frontend/js_src/lib/components/Header/userToolDefinitions.ts
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/Shortcuts.tsx
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/config.ts
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/context.ts
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/utils.ts
  specifyweb/frontend/js_src/lib/components/Preferences/Aside.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/Editor.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
  specifyweb/frontend/js_src/lib/components/Router/Routes.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

feat(KeyboardShortcuts): begin integrating with UI
  specifyweb/frontend/js_src/lib/components/Atoms/DataEntry.tsx
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/DataEntry.test.ts
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/DataEntry.test.ts.snap
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/index.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/FormCells/COJODialog.tsx
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
  specifyweb/frontend/js_src/lib/components/FormPlugins/CollectionRelOneToMany.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelector.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelectorFromIds.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSet.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/Slider.tsx
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/Shortcuts.tsx
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/__tests__/UserDefinitions.test.ts
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/config.ts
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/context.ts
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/utils.ts
  specifyweb/frontend/js_src/lib/components/Molecules/Paginator.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/BasePreferences.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

fix(KeyboardShortcuts): prevent adding duplicate shortcuts
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/Shortcuts.tsx
Due: frontend-tests

fix(KeyboardShortcuts): correctly localize shortcuts on windows
  specifyweb/frontend/js_src/lib/components/Atoms/__tests__/__snapshots__/DataEntry.test.ts.snap
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/utils.ts
Due: frontend-tests

feat(KeyboardShortcuts): add custom URL shortcuts
  specifyweb/frontend/js_src/lib/components/Header/index.tsx
  specifyweb/frontend/js_src/lib/components/HomePage/TaxonTiles.tsx
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/Shortcuts.tsx
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/UrlShortcuts.tsx
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/useUrlShortcuts.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
  specifyweb/frontend/js_src/lib/components/Router/OverlayRoutes.tsx
  specifyweb/frontend/js_src/lib/components/Router/RouterUtils.tsx
  specifyweb/frontend/js_src/lib/components/Router/Routes.tsx
  specifyweb/frontend/js_src/lib/components/WebLinks/index.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/utils/ajax/helpers.ts
Due: frontend-tests

fix(KeyboardShortcuts): don't permit binding to Shift+Tab
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/context.ts
Due: frontend-tests

feat(TreeView): improve layout
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
Due: frontend-tests

feat(KeyboardShortcuts): Add shortcuts for forms, tree and queries
  specifyweb/frontend/js_src/lib/components/Atoms/DataEntry.tsx
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
  specifyweb/frontend/js_src/lib/components/Atoms/Link.tsx
  specifyweb/frontend/js_src/lib/components/FormCells/FormTable.tsx
  specifyweb/frontend/js_src/lib/components/FormMeta/index.tsx
  specifyweb/frontend/js_src/lib/components/Forms/BaseResourceView.tsx
  specifyweb/frontend/js_src/lib/components/Header/ExpressSearchTask.tsx
  specifyweb/frontend/js_src/lib/components/HomePage/index.tsx
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/Shortcuts.tsx
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/context.ts
  specifyweb/frontend/js_src/lib/components/KeyboardShortcuts/hooks.tsx
  specifyweb/frontend/js_src/lib/components/LocalityUpdate/Status.tsx
  specifyweb/frontend/js_src/lib/components/Molecules/ResourceLink.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/BasePreferences.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ToForms.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Toolbar.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/Actions.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/Search.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Translated using Weblate (Spanish)
  strings/locality/es.po
Due: none

Translated using Weblate (French)
  strings/locality/fr.po
Due: none

Translated using Weblate (Russian)
  strings/locality/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/locality/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/locality/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/locality/pt.po
Due: none

Filter taxon only when field relates to Taxon
  specifyweb/frontend/js_src/lib/components/QueryComboBox/helpers.ts
Due: frontend-tests

Translated using Weblate (Portuguese (Brazil))
  strings/report/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/report/pt.po
Due: none

Revert "Add util function for fetching picklist"
  specifyweb/specify/utils.py
  specifyweb/stored_queries/format.py
  specifyweb/workbench/upload/scoping.py
Due: mypy

try handling null appVersion when getting altKeyName
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

Translated using Weblate (Portuguese (Brazil))
  strings/wbPlan/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/wbPlan/pt.po
Due: none

Add util function for fetching picklist
  specifyweb/specify/utils.py
  specifyweb/stored_queries/format.py
  specifyweb/workbench/upload/scoping.py
Due: mypy
