Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Spanish)
  strings/interactions/es.po
Due: none

Translated using Weblate (Russian)
  strings/interactions/ru.po
Due: none

Translated using Weblate (Croatian)
  strings/dataViews/hr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/forms/de_CH.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/dataViews/nb_NO.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/interactions/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/dataViews/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/dataViews/ru.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/forms/pt_BR.po
Due: none

Translated using Weblate (Ukrainian)
  strings/dataViews/uk.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/interactions/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/forms/hr.po
Due: none

Translated using Weblate (Croatian)
  strings/interactions/hr.po
Due: none

fix: add reporting on the front-end to distinguish error types
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Layout.tsx
  specifyweb/frontend/js_src/lib/localization/schema.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/schema.ts
Due: frontend-tests

chore: update timeout message to indicate that specify might not finish importing
  specifyweb/frontend/js_src/lib/localization/schema.ts
Due: frontend-tests

fix: move `AttributeError` to the Bad Request path
  specifyweb/backend/context/views.py
Due: mypy

[test]: starting test matching by invoice number
  specifyweb/backend/businessrules/tests/test_batch_image_upload.py
Due: mypy

fix: use strict equality for checking schema import response and handle errors correctly
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Layout.tsx
Due: frontend-tests

[test]: undergo initial load
  specifyweb/frontend/js_src/lib/components/Statistics/__tests__/initialLoad.test.ts
Due: frontend-tests

[test]: starting test matching storage by full name
  specifyweb/backend/businessrules/tests/test_batch_image_upload.py
Due: mypy

fix: also include 500 error in schema import reporting
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Layout.tsx
  specifyweb/frontend/js_src/lib/localization/schema.ts
Due: frontend-tests

fix(web-portal): handle escape characters
  specifyweb/backend/stored_queries/web_portal_export.py
Due: mypy

test(web-portal): check escape characters
  specifyweb/backend/stored_queries/tests/test_views/test_export_web_portal.py
Due: mypy

fix(preferences): fetch language independently
  specifyweb/frontend/js_src/lib/components/DataModel/tables.ts
Due: frontend-tests

Clean up localization schema by removing empty entries
  specifyweb/frontend/js_src/lib/localization/schema.ts
Due: frontend-tests

Fix: suspend Data Views record preview during merging
  specifyweb/frontend/js_src/lib/components/DataViews/index.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ToForms.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/QueryFormView.test.tsx
Due: frontend-tests

Fix: Protect unsaved preview edits before unmounting the form.
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelectorFromIds.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ToForms.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/QueryFormView.test.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/SuspendedRecordSelector.test.tsx
Due: frontend-tests

Feat: Prevent from merging from Data Views
  specifyweb/frontend/js_src/lib/components/Core/Contexts.tsx
  specifyweb/frontend/js_src/lib/components/DataViews/__tests__/RecordMerging.test.tsx
  specifyweb/frontend/js_src/lib/components/DataViews/index.tsx
  specifyweb/frontend/js_src/lib/components/FormMeta/index.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelectorFromIds.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/ToForms.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/QueryFormView.test.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/RecordMergingAvailability.test.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/SuspendedRecordSelector.test.tsx
Due: frontend-tests

Fix Batch Edit date-part value collisions
  specifyweb/backend/stored_queries/batch_edit.py
  specifyweb/backend/stored_queries/tests/test_batch_edit.py
Due: mypy

Remove unused export cache helper
  specifyweb/backend/export/cache.py
  specifyweb/specify/tests/test_queryset_iterators.py
Due: mypy

Fix Batch Edit date regression test fixture
  specifyweb/backend/stored_queries/tests/test_batch_edit.py
Due: mypy

Preserve prefetched relations in serializer
  specifyweb/specify/api/serializers.py
  specifyweb/specify/tests/test_queryset_iterators.py
Due: mypy

added assertion for notification update
  specifyweb/backend/export/tests.py
Due: mypy

[fix]: Added Coderabbit suggestions on collection-access denial for second request assertion
  specifyweb/backend/permissions/tests.py
Due: mypy

fix(preferences): fetching
  specifyweb/frontend/js_src/lib/components/DataModel/tables.ts
Due: frontend-tests

[test]: read remote prefs from database
  specifyweb/backend/context/tests/test_remote_prefs.py
Due: mypy

[test]: serve remote prefs over http
  specifyweb/backend/context/tests/test_remote_prefs.py
Due: mypy

[test]: apply CO_CREATE prefs on new collection object
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/scoping.test.ts
Due: frontend-tests

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
