Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/TreeView/helpers.ts
Due: frontend-tests

Use a backend solution for synonym concat
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/helpers.ts
  specifyweb/specify/tree_views.py
Due: frontend-tests, mypy

Remove defunct comment
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
Due: frontend-tests

Force early depth evaluation
  specifyweb/specify/tree_stats.py
Due: mypy

Optimize tree stats more
  specifyweb/specify/tree_stats.py
Due: mypy

Patch only_full_group_by causing issues in some db settings
  specifyweb/specify/tree_views.py
Due: mypy

Minor type resolve
  specifyweb/frontend/js_src/lib/components/TreeView/helpers.ts
Due: frontend-tests

Add unit tests + minor refactors
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/helpers.ts
  specifyweb/specify/tests/test_trees.py
  specifyweb/specify/tree_extras.py
  specifyweb/specify/tree_views.py
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/tests.py
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/TreeView/Row.tsx
Due: frontend-tests

fix collectionobjecttype unit test setup
  specifyweb/specify/tests/test_api.py
Due: mypy

change test_sqlalchemy_model to validate_sqlalchemy_model
  specifyweb/stored_queries/tests.py
Due: mypy

fix test_collection_objects_block_delete
  specifyweb/businessrules/tests/test_collection.py
Due: mypy

Fetch field/table overrides in a case insensitive way
  specifyweb/frontend/js_src/lib/components/DataModel/schemaOverrides.ts
Due: frontend-tests

Set CO -> COT not required in workbench
  specifyweb/frontend/js_src/lib/components/DataModel/schemaOverrides.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/__tests__/navigator.test.ts
Due: frontend-tests

decided on going with OneToOneFields for CoJo child keys
  specifyweb/businessrules/rules/cojo_rules.py
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/models.py
  specifyweb/stored_queries/tests.py
Due: mypy

add to test_cojo unit test
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/tests/test_table_schema.py
Due: mypy

Add preliminary businessrule to set default COT on CO
  specifyweb/businessrules/rules/collectionobject_rules.py
  specifyweb/businessrules/tests/test_collectionobject.py
Due: mypy

Lock uniquenessrule_fields for autonumber
  specifyweb/specify/autonumbering.py
Due: mypy

add collection filter for getting collectionobjectgrouptype Picklist in cog_type rules
  specifyweb/businessrules/rules/cogtype_rules.py
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

Add tree definitions dialog to Taxon and Determination links in Data Entry - caches the selected tree def to later be used to scope QCBX
  specifyweb/frontend/js_src/lib/components/Atoms/Link.tsx
  specifyweb/frontend/js_src/lib/components/DataEntryTables/index.tsx
  specifyweb/frontend/js_src/lib/utils/cache/definitions.ts
Due: frontend-tests

Group cat number together test
  specifyweb/stored_queries/execution.py
Due: mypy

Define seperate config for bulk carry forward
  specifyweb/frontend/js_src/lib/components/DataModel/legacyTypes.ts
  specifyweb/frontend/js_src/lib/components/DataModel/resource.ts
  specifyweb/frontend/js_src/lib/components/DataModel/resourceApi.ts
  specifyweb/frontend/js_src/lib/components/FormMeta/CarryForward.tsx
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/ru.po
  strings/common/uk.po
  strings/forms/de_CH.po
  strings/forms/es.po
  strings/forms/fr.po
  strings/forms/ru.po
  strings/forms/uk.po
  strings/query/de_CH.po
  strings/query/en_US.po
  strings/query/es.po
  strings/query/fr.po
  strings/query/ru.po
  strings/query/uk.po
  strings/schema/de_CH.po
  strings/tree/es.po
  strings/tree/fr.po
  strings/tree/ru.po
  strings/tree/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/schema/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/schema/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (French)
  strings/forms/fr.po
Due: none

Translated using Weblate (Spanish)
  strings/forms/es.po
Due: none

Translated using Weblate (Russian)
  strings/forms/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/forms/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/forms/de_CH.po
Due: none

Translated using Weblate (Ukrainian)
  strings/resources/uk.po
Due: none

Translated using Weblate (French)
  strings/user/fr.po
Due: none

Translated using Weblate (Russian)
  strings/user/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/user/uk.po
Due: none

Translated using Weblate (French)
  strings/backEnd/fr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/backEnd/de_CH.po
Due: none
