Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

fix: make logging out a `POST` request rather than a `GET` request
  specifyweb/frontend/js_src/lib/components/Header/userToolDefinitions.ts
  specifyweb/frontend/js_src/lib/components/Logout/index.tsx
  specifyweb/frontend/js_src/lib/components/Router/Routes.tsx
Due: frontend-tests

chore: error handling for when the logout request fails
  specifyweb/frontend/js_src/lib/components/Logout/index.tsx
Due: frontend-tests

Translated using Weblate (French)
  strings/workbench/fr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

fix: revert unintended change to specify_settings.py
  specifyweb/settings/specify_settings.py
Due: mypy

fix: remove unused import from `inheritence/urls.py`
  specifyweb/backend/inheritance/urls.py
Due: mypy

added check for same master and migrator + allowed for granting privs to preexisting appuser
  sp7_db_setup_check.sh
Due: none

[test]: Add unit test for getAutoNumberingFields returning empty array for non-CO table
  specifyweb/frontend/js_src/lib/components/FormMeta/__tests__/AutoNumbering.test.ts
Due: frontend-tests

fix: update Missing agent to point to new logout endpoint
  specifyweb/frontend/js_src/lib/components/Core/Main.tsx
Due: frontend-tests

fix: simplify schema config code and always use global schema defaults
  specifyweb/backend/setup_tool/schema_defaults.py
  specifyweb/specify/migration_utils/schema_reader.py
  specifyweb/specify/migration_utils/schema_writer.py
Due: mypy

fix: update `ChooseCollection` to use the new api for logging out
  specifyweb/frontend/js_src/lib/components/ChooseCollection/index.tsx
Due: frontend-tests

fix: use discipline type during migrations for schema defaults
  specifyweb/backend/setup_tool/schema_defaults.py
  specifyweb/backend/workbench/migrations/0007_spdatasetattachment.py
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/management/commands/sync_schema_config_fields.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0002_schema_config_update.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0004_stratigraphy_age.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0007_schema_config_update.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0008_ageCitations_fix.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0012_add_cojo_to_schema_config.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0013_collectionobjectgroup_parentcog.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0015_add_version_to_ages.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0020_add_tectonicunit_to_pc_in_schema_config.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0024_add_uniqueIdentifier_storage.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0027_CO_children.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0029_remove_collectionobject_parentco.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0032_add_quantities_gift.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0034_accession_date_fields.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0035_version_required.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0039_agent_fields_for_loan_and_gift.py
  specifyweb/specify/migration_utils/migration_helpers/helper_0040_components.py
  specifyweb/specify/migration_utils/schema_reader.py
  specifyweb/specify/migration_utils/schema_writer.py
  specifyweb/specify/migration_utils/tests/test_schema_writer.py
Due: mypy

fix: broken imports in sync schema config command
  specifyweb/specify/management/commands/sync_schema_config_fields.py
  specifyweb/specify/migration_utils/schema_writer.py
Due: mypy

Translated using Weblate (Russian)
  strings/batchIdentify/ru.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/batchIdentify.ts
Due: frontend-tests

Translated using Weblate (Russian)
  strings/forms/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/forms/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/forms/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/forms/hr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

feat: add header localization
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/MappingFileSetup.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
Due: frontend-tests

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Translated using Weblate (French)
  strings/wbPlan/fr.po
Due: none

Translated using Weblate (French)
  strings/batchEdit/fr.po
Due: none

Translated using Weblate (French)
  strings/preferences/fr.po
Due: none

Translated using Weblate (French)
  strings/welcome/fr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
Due: frontend-tests

Fix: Use the raw database identifier for GRANT
  sp7_db_setup_check.sh
Due: none

Fix: Update readme
  seed-database/README.md
Due: none

fix: fix 421 error code caused by race condition from two `.then()` chains
  specifyweb/frontend/js_src/lib/components/Logout/index.tsx
Due: frontend-tests

[test]: create report from existing query
  specifyweb/backend/report_runner/tests.py
Due: mypy

[test]: create label from new query
  specifyweb/backend/report_runner/tests.py
Due: mypy

fix: explicitly add `fast-xml-builder` as a dependancy
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

Translated using Weblate (Russian)
  strings/resources/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/resources/es.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/resources/pt_BR.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

fix(tests): Try explicitly fetching tags and showing traceback
  .github/workflows/test.yml
  Makefile
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
