Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

The default coll parameter to assets is the database name
  specifyweb/attachment_gw/views.py
Due: mypy

Add unit test
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
Due: frontend-tests

implement back-end changes to meet Series QB features
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/group_concat.py
Due: mypy

Add a save blocker on primary CO deletion + protect blocker if CO part of COJO
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/specify/models.py
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

AlterField migration
  specifyweb/specify/migrations/0024_alter_collectionobjectgroupjoin_childco.py
Due: mypy

Sync localization strings with Weblate
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
Due: none

Update specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Move string
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Import fix
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Only allow series or distinct
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Toolbar.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/__snapshots__/fromTree.test.ts.snap
Due: frontend-tests

remove duplicate code
  specifyweb/stored_queries/execution.py
Due: mypy

Edit setting WEB_ATTACHMENT_COLLECTION
  specifyweb/settings/specify_settings.py
Due: mypy

handle being set to None in env
  specifyweb/settings/specify_settings.py
Due: mypy

Allow to delete non default taxon tree
  specifyweb/businessrules/rules/tree_rules.py
  specifyweb/frontend/js_src/lib/components/Molecules/ResourceLink.tsx
  specifyweb/specify/models.py
Due: frontend-tests, mypy

better series_post_query function
  specifyweb/stored_queries/execution.py
Due: mypy

cleanup
  specifyweb/stored_queries/execution.py
Due: mypy

Translated using Weblate (Portuguese (Brazil))
  strings/merging/pt_BR.po
Due: none

Verify field.key exist
  specifyweb/stored_queries/execution.py
Due: mypy

enforce limit on series_post_query
  specifyweb/stored_queries/execution.py
Due: mypy

set max rows for series_post_query to return
  specifyweb/stored_queries/execution.py
Due: mypy

Add migration file
  specifyweb/specify/migrations/0024_taxontreedef_alter_delete.py
Due: mypy

Add a button to download default trees
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/Tree.tsx
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

Remove import
  specifyweb/frontend/js_src/lib/components/TreeView/Tree.tsx
Due: frontend-tests

Reorder icons
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
Due: frontend-tests

Prevent from choosing other tree node parent in treeViewer
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

Prevent from adding node to wrong tree
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

Force reverse of embedded relationships to be zero-to-one
  specifyweb/frontend/js_src/lib/components/DataModel/helperTypes.ts
  specifyweb/frontend/js_src/lib/components/DataModel/schemaExtras.ts
  specifyweb/frontend/js_src/lib/components/DataModel/tables.ts
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
Due: frontend-tests

Add static sources to datamodel test
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/resourceApi.test.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/RouterCommands/SwitchCollection.tsx
Due: frontend-tests

Add type assertion
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/user/de_CH.po
  strings/user/en_US.po
  strings/user/es.po
  strings/user/fr.po
  strings/user/pt_BR.po
  strings/user/ru.po
  strings/user/uk.po
Due: none

Test
  specifyweb/businessrules/tests/test_geographytreedefitem.py
  specifyweb/businessrules/tests/test_geologictimeperiodtreedefitem.py
  specifyweb/businessrules/tests/test_lithostrattreedefitem.py
  specifyweb/businessrules/tests/test_storagetreedefitem.py
  specifyweb/businessrules/tests/test_taxontreedefitem.py
Due: mypy

test
  specifyweb/businessrules/tests/test_taxontreedefitem.py
Due: mypy

Add workbench validation for cotype
  specifyweb/specify/tree_views.py
  specifyweb/workbench/upload/treerecord.py
  specifyweb/workbench/upload/upload.py
Due: mypy

Add lowercase
  specifyweb/workbench/upload/upload.py
Due: mypy

Add better error handling
  specifyweb/attachment_gw/views.py
  specifyweb/frontend/js_src/lib/components/Attachments/RecordSetAttachment.tsx
Due: frontend-tests, mypy

SPECIFY_CONFIG_DIR get from environment
  specifyweb/settings/specify_settings.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
