Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

remove uneeded lines from nginx.conf
  nginx.conf
Due: none

Add error dialog for record limit Refactor BulkCarryRange error dialog
  specifyweb/frontend/js_src/lib/components/Forms/BulkCarryForward.tsx
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/specify/views.py
Due: frontend-tests, mypy

Fix crash when query component formatted
  specifyweb/stored_queries/execution.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Forms/BulkCarryForward.tsx
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

(tests): Add tests for useAppResourceData
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/useAppResourceData.test.ts
  specifyweb/frontend/js_src/lib/hooks/useAsyncStateMock.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/useAppResourceData.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/useAppResources.test.ts
  specifyweb/frontend/js_src/lib/hooks/useAsyncStateMock.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/useAppResources.test.ts
  specifyweb/frontend/js_src/lib/hooks/useAsyncStateMock.ts
Due: frontend-tests

Add commented out code
  specifyweb/stored_queries/execution.py
Due: mypy

Update tests
  specifyweb/specify/tests/test_series_autonumber.py
Due: mypy

Use sp types
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
Due: frontend-tests

(tests): Add tests for getAppResourceExtension
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getAppResourceExtension.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getResourceType.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/testAppResourceTypes.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/testAppResourceTypes.ts
Due: frontend-tests

Use sp types
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
Due: frontend-tests

(tests): Add tests for getScope
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getScope.test.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getScope.test.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/Create.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/EditorWrapper.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/formatXmlError.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getAppResourceExtension.test.ts
Due: frontend-tests

Update nginx.conf
  nginx.conf
Due: none

Add Series Entry to Collection Objects (#6710)
  specifyweb/frontend/js_src/lib/components/AppResources/Create.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/EditorWrapper.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/formatXmlError.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getAppResourceExtension.test.ts
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/__tests__/utils.test.ts
  specifyweb/frontend/js_src/lib/components/FieldFormatters/__tests__/__snapshots__/index.test.ts.snap
  specifyweb/frontend/js_src/lib/components/FieldFormatters/index.ts
  specifyweb/frontend/js_src/lib/components/FormEditor/viewSpec.ts
  specifyweb/frontend/js_src/lib/components/FormMeta/CarryForward.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSet.tsx
  specifyweb/frontend/js_src/lib/components/Forms/BulkCarryForward.tsx
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/utils/parser/__tests__/definitions.test.ts
  specifyweb/specify/tests/test_series_autonumber.py
  specifyweb/specify/urls.py
  specifyweb/specify/views.py
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/EditorWrapper.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/formatXmlError.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getAppResourceExtension.test.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormMeta/CarryForward.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSet.tsx
  specifyweb/frontend/js_src/lib/components/Forms/BulkCarryForward.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/useAppResources.test.ts
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/hooks/useAsyncStateMock.ts
Due: frontend-tests

Resolve unintentional bash string interpretation
  Dockerfile
Due: none

Improve precedence in Dockerfile and add documentation
  Dockerfile
Due: none

Explicitly import specify_settings into Dockerfile version of local settings
  Dockerfile
Due: none

Directly use default settings when accessing defaults in Dockerfile
  Dockerfile
Due: none

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/forms/de_CH.po
  strings/forms/en_US.po
  strings/forms/es.po
  strings/forms/fr.po
  strings/forms/pt_BR.po
  strings/forms/ru.po
  strings/forms/uk.po
  strings/interactions/de_CH.po
  strings/interactions/en_US.po
  strings/interactions/es.po
  strings/interactions/fr.po
  strings/interactions/pt_BR.po
  strings/interactions/ru.po
  strings/interactions/uk.po
  strings/schema/de_CH.po
  strings/schema/en_US.po
  strings/schema/es.po
  strings/schema/fr.po
  strings/schema/pt_BR.po
  strings/schema/ru.po
  strings/schema/uk.po
  strings/wbPlan/de_CH.po
  strings/wbPlan/en_US.po
  strings/wbPlan/es.po
  strings/wbPlan/fr.po
  strings/wbPlan/pt_BR.po
  strings/wbPlan/ru.po
  strings/wbPlan/uk.po
Due: none

(tests): Add tests for sortTree
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/buildAppResourceConformation.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getAppResourceCount.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/sortTree.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/useAppResourceCount.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/utils.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

(tests): Fix typecheck
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/sortTree.test.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/sortTree.test.ts
Due: frontend-tests

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md for 7.11.0
  CHANGELOG.md
Due: none

Include component with same cat num than parent co in QB
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

CHnage comment
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getScope.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/useAppResources.test.ts
  specifyweb/frontend/js_src/lib/hooks/useAsyncStateMock.ts
Due: frontend-tests

Remove localization
  specifyweb/frontend/js_src/lib/components/Molecules/SvgIcon.tsx
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getAppResourceCount.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/sortTree.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/useAppResourceCount.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/utils.ts
Due: frontend-tests

(tests): Add tests for getGlobalAllResources
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getGlobalAllResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/useResourcesTree.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/utils.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getGlobalAllResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/useResourcesTree.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/utils.ts
Due: frontend-tests

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
