Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Batch all default picklist creation Remove print statement
  specifyweb/backend/setup_tool/picklist_defaults.py
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Add full name direction Remove print statements
  specifyweb/backend/trees/utils.py
Due: mypy

Reverse full name direction for chronostrat
  specifyweb/backend/setup_tool/setup_tasks.py
Due: mypy

Fix transaction
  specifyweb/backend/trees/utils.py
Due: mypy

WIP Increase timeout
  specifyweb/backend/trees/utils.py
Due: mypy

Fix automatic titles
  specifyweb/backend/trees/utils.py
Due: mypy

Fix: Improve spacing
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
Due: frontend-tests

Refactor: Remove unnecessary dialog
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/SystemConfigTool.tsx
Due: frontend-tests

Feat: New icon for system config menu item
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
  specifyweb/frontend/js_src/lib/components/Header/userToolDefinitions.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
Due: frontend-tests

Fix: improve collections margins
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
Due: frontend-tests

Refactor: Remove imports
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/SystemConfigTool.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
Due: frontend-tests

host taxon disambiguation case sensitivity
  specifyweb/frontend/js_src/lib/components/WbPlanView/mappingPreview.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/Filters.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/Plugin.tsx
  specifyweb/frontend/js_src/lib/components/AttachmentsBulkImport/Upload.tsx
  specifyweb/frontend/js_src/lib/components/DataModel/businessRules.ts
  specifyweb/frontend/js_src/lib/components/FormPlugins/__tests__/dateUtils.test.ts
  specifyweb/frontend/js_src/lib/components/Preferences/Aside.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/Actions.tsx
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/__tests__/automapper.test.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/__tests__/linesGetter.test.ts
Due: frontend-tests

fix: change chevron direction
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/CollapsibleSection.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/CollapsibleSection.tsx
Due: frontend-tests

Translated using Weblate (Russian)
  strings/backup/ru.po
Due: none

Translated using Weblate (Russian)
  strings/merging/ru.po
Due: none

Add root node names per tree Increase retries
  specifyweb/backend/trees/utils.py
  specifyweb/backend/trees/views.py
Due: mypy

fix: fix broken office icon
  specifyweb/frontend/js_src/lib/components/Atoms/Icons.tsx
Due: frontend-tests

feat: add proper catalog number labels
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
Due: frontend-tests

feat: use more captions for labels
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/stats.ts
Due: frontend-tests

chore: hide specify network for now
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests

WIP simplify update_table_schema_config_with_defaults Fix field_required typo
  specifyweb/backend/setup_tool/schema_defaults.py
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

fix: fix preference descriptions
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
Due: frontend-tests

Fix setup progress schema Fix creat_institution not returning institution ID Scope default picklist search to collection
  specifyweb/backend/setup_tool/api.py
  specifyweb/backend/setup_tool/picklist_defaults.py
  specifyweb/backend/setup_tool/views.py
Due: mypy

fix: failing tests, uncomment specifyNetwork
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests

fix: update stats localization
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/stats.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/CollectionDefinitions.tsx
Due: frontend-tests

Remove global geography tree form
  specifyweb/backend/setup_tool/api.py
  specifyweb/backend/setup_tool/setup_tasks.py
  specifyweb/backend/setup_tool/urls.py
  specifyweb/backend/setup_tool/views.py
  specifyweb/frontend/js_src/lib/components/Login/index.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
Due: frontend-tests

Disable versionMismatch dialog for DBs created in Sp7
  specifyweb/frontend/js_src/lib/components/Core/VersionMismatch.tsx
Due: frontend-tests

add more base tables to use disambiguation
  specifyweb/frontend/js_src/lib/components/WbPlanView/mappingPreview.ts
Due: frontend-tests

[UI]: Add a backgrounf behind the hierarchy
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
Due: frontend-tests

host taxon localization
  specifyweb/frontend/js_src/lib/components/WbPlanView/mappingPreview.ts
Due: frontend-tests

Create global prefs Apply patches
  specifyweb/backend/setup_tool/app_resource_defaults.py
  specifyweb/backend/setup_tool/setup_tasks.py
  specifyweb/frontend/js_src/lib/tests/ajax/index.ts
Due: frontend-tests, mypy

Feat: Add tool list under ea ch resource
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/CollapsibleSection.tsx
  specifyweb/frontend/js_src/lib/components/SystemConfigurationTool/Hierarchy.tsx
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
