Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

create_default_cog_types in migration
  specifyweb/businessrules/tests/cog_type.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/models.py
Due: mypy

unduplicate code add_geo_default_trees
  specifyweb/businessrules/rules/cojo_rules.py
  specifyweb/specify/management/commands/create_geo_trees.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/tree_views.py
Due: mypy

Use all TreeDefinitionItems to determine genus rankId for TaxonTiles
  specifyweb/frontend/js_src/lib/components/HomePage/TaxonTiles.tsx
Due: frontend-tests

colleciotn.cot on_delete SET_NULL
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/models.py
Due: mypy

autogen types.ts
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
Due: frontend-tests

Added to tree text localization and edited dialog
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
Due: frontend-tests

Recalculate treeData in TreeSelectDialog when treeRanksPromise completes
  specifyweb/frontend/js_src/lib/components/Toolbar/TreeRepair.tsx
Due: frontend-tests

Remove comment
  specifyweb/frontend/js_src/lib/components/WbPlanView/helpers.ts
Due: frontend-tests

Remove unused permission
  specifyweb/permissions/initialize.py
Due: mypy

Add proper type to table_permissions_checker
  specifyweb/permissions/permissions.py
Due: mypy

Translated using Weblate (Ukrainian)
  strings/welcome/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/common/uk.po
Due: none

Add treeId to upload plan
  specifyweb/workbench/upload/upload_plan_schema.py
  specifyweb/workbench/views.py
Due: mypy

create_default_discipline_for_tree_defs in migration
  specifyweb/businessrules/rules/cogtype_rules.py
  specifyweb/businessrules/tests/cojo.py
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/models.py
  specifyweb/workbench/views.py
Due: frontend-tests, mypy

Fix filtering when taxonType is undefined, needed in QB
  specifyweb/frontend/js_src/lib/components/WbPlanView/navigator.ts
Due: frontend-tests

fix unit test migration issue by mkaing discipline nullable in treedefs
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/models.py
Due: mypy

Translated using Weblate (Spanish)
  strings/schema/es.po
Due: none

Translated using Weblate (Ukrainian)
  strings/schema/uk.po
Due: none

Translated using Weblate (Portuguese)
  strings/common/pt.po
Due: none

initial schema config migration
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/utils/cache/definitions.ts
Due: frontend-tests

some schema config fixes, more to come
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

fix schema config errors
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/update_schema_config.py
Due: mypy

Separate tree creation into its own file
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
  specifyweb/frontend/js_src/lib/components/TreeView/index.tsx
Due: frontend-tests

Revert "Refresh CO form when COType changes"
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/utils/cache/definitions.ts
Due: frontend-tests

Clear values using resource object
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

fix schema config revert
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/update_schema_config.py
Due: mypy

migration todo comment
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

uncomment treedef migrations
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

remove COG_TYPE_NAMES
  specifyweb/businessrules/rules/cogtype_rules.py
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

todo comments on fixing unit test migration
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/update_schema_config.py
Due: mypy

create temp discipline in migration for unit tests
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

testing_guard_clause
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/utils.py
Due: mypy

fix nullable discipline fields
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/models.py
Due: mypy

avoid DisciplineID dependency order issue
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

fix update_table_schema_config_with_defaults for descipline
  specifyweb/businessrules/rules/cogtype_rules.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/update_schema_config.py
Due: mypy

fix unit tests by allowing nullable disciplines from trees for now
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/models.py
  specifyweb/specify/update_schema_config.py
Due: mypy

fix migration error
  specifyweb/specify/migrations/0002_geo.py
Due: mypy
