Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Portuguese (Brazil))
  strings/tree/pt_BR.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Translated using Weblate (Croatian)
  strings/tree/hr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

remove specifyweb_vh.wsgi
  specifyweb_vh.wsgi
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/welcome/pt_BR.po
Due: none

Make redis keys unique to database
  specifyweb/backend/setup_tool/apps.py
  specifyweb/backend/setup_tool/redis.py
  specifyweb/backend/setup_tool/setup_tasks.py
  specifyweb/backend/trees/apps.py
  specifyweb/backend/trees/defaults.py
  specifyweb/backend/trees/redis.py
Due: mypy

Translated using Weblate (Portuguese (Brazil))
  strings/common/pt_BR.po
Due: none

Refresh to remove import tree button while populating
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests

Translated using Weblate (Portuguese (Brazil))
  strings/query/pt_BR.po
Due: none

Sync localization strings with Weblate
  strings/attachments/ru.po
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/forms/pt_BR.po
  strings/forms/ru.po
  strings/tree/de_CH.po
  strings/tree/es.po
  strings/tree/fr.po
  strings/tree/pt_BR.po
  strings/tree/ru.po
  strings/tree/uk.po
  strings/wbPlan/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/forms/pt_BR.po
Due: none

Translated using Weblate (French)
  strings/wbPlan/fr.po
Due: none

Translated using Weblate (Russian)
  strings/attachments/ru.po
Due: none

Translated using Weblate (Russian)
  strings/forms/ru.po
Due: none

Set isAccepted on Taxon tree imports
  specifyweb/backend/trees/defaults.py
Due: mypy

Set first storage tree as default tree in the institution
  specifyweb/backend/setup_tool/api.py
Due: mypy

Automatically format redis keys with database name
  specifyweb/backend/redis_cache/store.py
  specifyweb/backend/redis_cache/utils.py
  specifyweb/backend/setup_tool/apps.py
  specifyweb/backend/trees/apps.py
  specifyweb/backend/trees/defaults.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
