Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/ChronoChart.test.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/package.json
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SpecifyNetwork/Map.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryBuilder/FieldFilter.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/useQueryFieldFilters.tsx
  specifyweb/frontend/js_src/lib/localization/query.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/Viewer.tsx
Due: frontend-tests

Check if value is tree meta mapping before parsing
  specifyweb/frontend/js_src/lib/components/WbPlanView/mappingHelpers.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/mappingPreview.ts
Due: frontend-tests

(tests): AttachmentDialog
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/AttachmentCell.test.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/AttachmentDialog.test.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/__snapshots__/AttachmentDialog.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/utils.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/Aside.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/Tabs.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/Tabs.test.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/AttachmentCell.test.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Filter taxon name with COType when using QB
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

(tests): UploadAttachment
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/AttachmentCell.test.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/__snapshots__/UploadAttachment.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/utils.ts
Due: frontend-tests

fix
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/AttachmentCell.test.tsx
Due: frontend-tests

Translated using Weblate (German (Switzerland))
  strings/merging/de_CH.po
Due: none

Translated using Weblate (Russian)
  strings/merging/ru.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/merging.ts
Due: frontend-tests

Sync localization strings with Weblate
  strings/merging/de_CH.po
  strings/merging/ru.po
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/utils.ts
Due: frontend-tests

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

(bug): Regenerate predicates if no fields in predicates found
  specifyweb/workbench/upload/upload_table.py
Due: mypy

Toggle save only for distinct
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
Due: frontend-tests

Make countonly false by default for queries
  specifyweb/specify/migrations/0038_make_countonly_default_false.py
  specifyweb/specify/models.py
Due: mypy

Allow to delete unused tree ranks
  specifyweb/specify/models.py
Due: mypy

Chnage default separator for taxontreedefitems
  config/backstop/global.views.xml
Due: none

Tests
  specifyweb/specify/tests/test_tree_utils/__init__.py
Due: mypy

Test
  specifyweb/specify/tests/test_tree_utils/__init__.py
Due: mypy

Use sanitize filenames in zip file
  specifyweb/attachment_gw/views.py
Due: mypy

Fix Deselect All removing required fields.
  specifyweb/frontend/js_src/lib/components/FormMeta/CarryForward.tsx
Due: frontend-tests

fix(queries): endswith operator for decimals
  specifyweb/stored_queries/query_ops.py
Due: mypy

WIP add basic pop up window Add react-new-window dependency
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryBuilder/FieldFilter.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/useQueryFieldFilters.tsx
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
Due: frontend-tests

Keep original isCurrent and isPrimary value for Det and Address
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
  specifyweb/frontend/js_src/lib/components/DataModel/resource.ts
Due: frontend-tests

Filter out isCurrent only for determination
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/resource.ts
  specifyweb/frontend/js_src/lib/components/DataModel/uniqueFields.json
Due: frontend-tests

Check for clone origin
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
Due: frontend-tests
