Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Translated using Weblate (German (Switzerland))
  strings/forms/de_CH.po
Due: none

Add tectonic to execution
  specifyweb/stored_queries/execution.py
Due: mypy

Add tectonic to queryTables
  specifyweb/frontend/js_src/lib/components/Toolbar/QueryTablesWrapper.tsx
Due: frontend-tests

Chnage format in models by table id
  specifyweb/specify/models_by_table_id.py
Due: mypy

Use lowercase keys when generating schema localization
  specifyweb/context/schema_localization.py
Due: mypy

Make uniqueness field name always be readonly
  specifyweb/frontend/js_src/lib/components/SchemaConfig/UniquenessRuleRow.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SchemaConfig/UniquenessRuleRow.tsx
Due: frontend-tests

Translated using Weblate (Portuguese)
  strings/tree/pt.po
Due: none

Translated using Weblate (Spanish)
  strings/preferences/es.po
Due: none

Translated using Weblate (Ukrainian)
  strings/schema/uk.po
Due: none

Translated using Weblate (Russian)
  strings/preferences/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/preferences/uk.po
Due: none

Translated using Weblate (Spanish)
  strings/locality/es.po
Due: none

Translated using Weblate (French)
  strings/locality/fr.po
Due: none

Translated using Weblate (French)
  strings/welcome/fr.po
Due: none

Translated using Weblate (Ukrainian)
  strings/welcome/uk.po
Due: none

Translated using Weblate (French)
  strings/resources/fr.po
Due: none

Translated using Weblate (Spanish)
  strings/resources/es.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/preferences/de_CH.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/locality/de_CH.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/workbench/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/workbench/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/welcome/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/header/pt.po
Due: none

Translated using Weblate (Portuguese)
  strings/locality/pt.po
Due: none

Translated using Weblate (Portuguese)
  strings/preferences/pt.po
Due: none

Translated using Weblate (Portuguese)
  strings/schema/pt.po
Due: none

Translated using Weblate (Portuguese)
  strings/user/pt.po
Due: none

Translated using Weblate (Portuguese)
  strings/welcome/pt.po
Due: none

Translated using Weblate (Portuguese)
  strings/workbench/pt.po
Due: none

Remove unnecessary async modifiers in tests
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/resourceApi.test.ts
Due: frontend-tests

Include null values when setting default CoType on COs
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Directly use CoType resource_uri in domain endpoint
  specifyweb/context/views.py
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/resourceApi.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/schemaBase.test.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/schema.ts
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/domain.json
Due: frontend-tests, mypy

Translated using Weblate (Russian)
  strings/development/ru.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/development/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/development/pt.po
Due: none

merge issue-5317
  specifyweb/businessrules/migrations/0002_default_unique_rules.py
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/frontend/js_src/lib/components/InitialContext/__tests__/__snapshots__/treeRanks.test.ts.snap
  specifyweb/frontend/js_src/lib/components/InitialContext/__tests__/treeRanks.test.ts
  specifyweb/frontend/js_src/lib/components/InitialContext/remotePrefs.ts
  specifyweb/frontend/js_src/lib/components/InitialContext/treeRanks.ts
  specifyweb/frontend/js_src/lib/components/Permissions/definitions.ts
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/fromTree.test.ts
  specifyweb/frontend/js_src/lib/components/QueryBuilder/fromTree.ts
  specifyweb/frontend/js_src/lib/components/TreeView/Tree.tsx
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0002_geo.py
  specifyweb/specify/migrations/0006_fix_tectonic_tree_fields.py
  specifyweb/specify/model_extras.py
  specifyweb/specify/models.py
  specifyweb/specify/tree_views.py
Due: frontend-tests, mypy

Change child field
  specifyweb/frontend/js_src/lib/components/FormCells/COJODialog.tsx
Due: frontend-tests
