Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Add link to discipline
  specifyweb/specify/models.py
Due: mypy

Add model and table IDs
  specifyweb/specify/models_by_table_id.py
Due: mypy

Filter queries
  specifyweb/stored_queries/execution.py
Due: mypy

Remove duplicate tectonicunit def
  specifyweb/specify/datamodel.py
Due: mypy

Add drainage to Discipline
  specifyweb/specify/datamodel.py
Due: mypy

Add migration tables and fields
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
Due: mypy

Add Drainage tree
  specifyweb/frontend/js_src/lib/components/InitialContext/remotePrefs.ts
  specifyweb/specify/tree_utils.py
  specifyweb/specify/tree_views.py
Due: frontend-tests, mypy

Add Drainage ranks
  specifyweb/specify/tree_ranks.py
Due: mypy

Add drainage to the trees
  specifyweb/frontend/js_src/lib/components/InitialContext/remotePrefs.ts
  specifyweb/frontend/js_src/lib/components/TreeView/Tree.tsx
Due: frontend-tests

Add migration for Drainage trees, fields, and ranks
  specifyweb/specify/migrations/0023_add_drainage_tree.py
  specifyweb/specify/migrations/0024_add_drainage_ranks.py
Due: mypy

Add link to Locality
  specifyweb/specify/datamodel.py
Due: mypy

Update sp7_schemaconfig.py
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
Due: mypy

Fix query filter
  specifyweb/stored_queries/execution.py
Due: mypy

Add drainage to Locality's model
  specifyweb/specify/models.py
Due: mypy

Update migration to include drainage field
  specifyweb/specify/migrations/0023_add_drainage_tree.py
Due: mypy

Add tree pref for Drainage
  specifyweb/frontend/js_src/lib/components/InitialContext/remotePrefs.ts
Due: frontend-tests

Fix tree resource
  specifyweb/specify/tree_views.py
Due: mypy

Add Drainage schema overrides
  specifyweb/frontend/js_src/lib/components/DataModel/schemaOverrides.ts
Due: frontend-tests

Add preference to customize color
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

Update tree color
  specifyweb/frontend/js_src/lib/components/Permissions/definitions.ts
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
Due: frontend-tests

Add fromTree query
  specifyweb/frontend/js_src/lib/components/QueryBuilder/fromTree.ts
Due: frontend-tests

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/tree/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/tree/pt.po
Due: none

Update SvgIcon.tsx
  specifyweb/frontend/js_src/lib/components/Molecules/SvgIcon.tsx
Due: frontend-tests

Update types.ts
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
Due: frontend-tests

Add a function to check result cell
  specifyweb/frontend/js_src/lib/components/WbActions/useResults.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/CellMeta.ts
Due: frontend-tests

Handle name field for cog in mappingPreview
  specifyweb/frontend/js_src/lib/components/WbPlanView/mappingPreview.ts
Due: frontend-tests

Update Interaction localization
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Add Disposal to Interactions dialog
  specifyweb/frontend/js_src/lib/components/FormCommands/ShowTransactions.tsx
Due: frontend-tests

Change HildCog required field error to Name
  specifyweb/frontend/js_src/lib/components/WbPlanView/mappingPreview.ts
Due: frontend-tests

Tab space
  specifyweb/specify/migrations/0023_update_schema_config_text.py
Due: mypy

Update interactions.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Hide interactions when none are available
  specifyweb/frontend/js_src/lib/components/FormCommands/ShowTransactions.tsx
Due: frontend-tests

Remove unused text
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests
