Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

(refactor): Slight refactor of tests
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getGlobalAllResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/utils.ts
Due: frontend-tests

Sync localization strings with Weblate
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
  strings/user/de_CH.po
  strings/user/en_US.po
  strings/user/es.po
  strings/user/fr.po
  strings/user/pt_BR.po
  strings/user/ru.po
  strings/user/uk.po
Due: none

(tests): Add tests for disambiguateGlobalPrefs
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/disambiguateGlobalPrefs.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/disambiguateGlobalPrefs.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getGlobalAllResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/buildAppResourceConformation.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getGlobalAllResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getScope.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/useAppResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/utils.ts
Due: frontend-tests

Update code for formatted handling
  specifyweb/stored_queries/execution.py
Due: mypy

Support whitespaces between Django security variables
  Dockerfile
Due: none

(tests): Add tests for mergeDirectories
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/mergeDirectories.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/mergeDirectories.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Fix notification file deletion
  specifyweb/attachment_gw/views.py
  specifyweb/businessrules/rules/__init__.py
  specifyweb/businessrules/rules/notification_rules.py
  specifyweb/frontend/js_src/lib/components/Attachments/attachments.ts
  specifyweb/frontend/js_src/lib/components/Notifications/NotificationRenderers.tsx
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/notifications/views.py
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Notifications/NotificationRenderers.tsx
  specifyweb/frontend/js_src/lib/localization/notifications.ts
Due: frontend-tests

(tests): Add tests for getDirectoryChildren
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/mergeDirectories.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/mergeDirectories.test.ts
Due: frontend-tests

fix workbench unit tests
  specifyweb/workbench/upload/predicates.py
  specifyweb/workbench/upload/tests/test_upload_results_json.py
  specifyweb/workbench/upload/tests/testparsing.py
Due: mypy

fix: typo in comment
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
Due: frontend-tests

Add updated text for attachment downloads
  specifyweb/frontend/js_src/lib/components/Attachments/DownloadButton.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
Due: frontend-tests

feat(preferences): add option for subview borders
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

(tests): Add tests for getScopedAppResources
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getScopedAppResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/useResourcesTree.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/utils.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getScopedAppResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/mergeDirectories.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/useResourcesTree.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/utils.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

test
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/utils.ts
Due: frontend-tests

Add assertion to test
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/utils.ts
Due: frontend-tests

Sync localization strings with Weblate
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getGlobalAllResources.test.ts
Due: frontend-tests

Optimize record set query
  specifyweb/attachment_gw/views.py
Due: mypy

(tests): Add tests for getDisciplineAppResources
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getDisciplineAppResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getDisciplineAppResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Optimize asset server requests
  specifyweb/attachment_gw/views.py
Due: mypy

feat(forms): conditional borders based on pref
  specifyweb/frontend/js_src/lib/components/Forms/ResourceView.tsx
Due: frontend-tests

(tests): Add tests for getUserTypeResources
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getUserTypeResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getUserTypeResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

style(prettier): format with prettier
  specifyweb/frontend/js_src/lib/components/Forms/ResourceView.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/UserDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/disambiguateGlobalPrefs.test.ts
Due: frontend-tests

(tests): Add tests for getUserResources
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getUserResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/getUserResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/tree.ts
Due: frontend-tests
