Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

(tests): Add tests for get_models
  specifyweb/specify/tests/test_tree_utils/test_get_models.py
Due: mypy

Revert tree_stats.py to main
  specifyweb/specify/tree_stats.py
Due: mypy

Update Dockerfile
  Dockerfile
Due: none

refactor: use id column directly for SQLAlchemy
  specifyweb/specify/tree_stats.py
  specifyweb/specify/tree_views.py
  specifyweb/specify/utils.py
  specifyweb/stored_queries/build_models.py
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/format.py
  specifyweb/stored_queries/query_construct.py
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

fix: move setting of _id to specify-sa mapping
  specifyweb/stored_queries/build_models.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

(refactor): Do class inheritance later & reuse test contexts
  specifyweb/specify/tests/test_tree_utils/__init__.py
  specifyweb/specify/tests/test_tree_utils/test_get_search_filters.py
  specifyweb/specify/tests/test_trees.py
  specifyweb/stored_queries/tests/test_execution/__init__.py
  specifyweb/stored_queries/tests/test_execution/test_filter_by_collection.py
Due: mypy

Restore comment explaining min function usage
  specifyweb/specify/tree_views.py
Due: mypy

(tests): Add more tests
  specifyweb/specify/tests/test_trees.py
  specifyweb/stored_queries/tests/test_execution/test_filter_by_collection.py
Due: mypy

Keep record readonly but QB editable in formatters
  specifyweb/frontend/js_src/lib/components/Formatters/Preview.tsx
Due: frontend-tests

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/tree/ru.po
Due: none

Translated using Weblate (Russian)
  strings/forms/ru.po
Due: none

Sync localization strings with Weblate
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
Due: none

(tests): Continue adding tests for filter_by_collection
  specifyweb/specify/tests/test_trees.py
  specifyweb/stored_queries/tests/test_execution/test_filter_by_collection.py
Due: mypy

Add /opt/specify7/ve/bin into Dockerfile
  Dockerfile
Due: none

Add ENV PATH setting in Dockerfile
  Dockerfile
Due: none

(tests): Add tests for tectonictree
  specifyweb/specify/tests/test_trees.py
  specifyweb/stored_queries/tests/test_execution/test_filter_by_collection.py
Due: mypy

(tests): Add tests for storage
  specifyweb/stored_queries/tests/test_execution/test_filter_by_collection.py
Due: mypy

(tests): Add more scope tests
  specifyweb/stored_queries/tests/test_execution/test_filter_by_collection.py
Due: mypy

(tests): Add code generator and tests for field_specs_from_json
  specifyweb/stored_queries/tests/static/simple_static_fields.py
  specifyweb/stored_queries/tests/test_execution/test_field_specs_from_json.py
Due: mypy

Translated using Weblate (Russian)
  strings/resources/ru.po
Due: none

Translated using Weblate (Spanish)
  strings/resources/es.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/resources/de_CH.po
Due: none

address notes for uniqueness rules, schema config, and permissions
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Translated using Weblate (Russian)
  strings/backEnd/ru.po
Due: none

(tests): Add tests for query_to_csv
  specifyweb/stored_queries/tests/test_execution/test_filter_by_collection.py
  specifyweb/stored_queries/tests/test_execution/test_query_to_csv.py
  specifyweb/stored_queries/tests/tests.py
  specifyweb/stored_queries/tests/utils.py
Due: mypy

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Translated using Weblate (Spanish)
  strings/forms/es.po
Due: none

Translated using Weblate (French)
  strings/forms/fr.po
Due: none

Translated using Weblate (Russian)
  strings/interactions/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/forms/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/attachments/de_CH.po
Due: none

Translated using Weblate (Russian)
  strings/attachments/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/interactions/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/forms/pt_BR.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/forms/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/attachments/pt_BR.po
Due: none

Translated using Weblate (Ukrainian)
  strings/batchEdit/uk.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
