Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

fix: prevent incorrect reuse when pairing tree defs and disciplines
  specifyweb/specify/migration_utils/default_cots.py
Due: mypy

fix: remove exclusion so partially migrated disciplines are repaired
  specifyweb/specify/migration_utils/tectonic_ranks.py
Due: mypy

Fix: Update splocalecontainer items
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Fix: Remove shadowing import in geo migration
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

Fix: Revert relative age migration instead of applying again
  specifyweb/specify/migrations/0008_ageCitations_fix.py
Due: mypy

Fix fix order of revert migration in tectonic migration
  specifyweb/specify/migrations/0009_tectonic_ranks.py
Due: mypy

Fix: Indentation
  specifyweb/backend/businessrules/uniqueness_rules.py
Due: mypy

Fix: Use deterministic ordering before positional pairing
  specifyweb/specify/migration_utils/default_cots.py
Due: mypy

Fix: Log only on debug
  specifyweb/backend/stored_queries/execution.py
Due: mypy

Fix: Fix age type
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
Due: mypy

Fix: Improve logger
  specifyweb/specify/api/utils.py
Due: mypy

Fix: Remove unecessary param in def migration
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

Fix: Remove projects from legacy tests
  specifyweb/backend/stored_queries/tests/tests_legacy.py
Due: mypy

Fix: Change settings import
  specifyweb/specify/api/utils.py
Due: mypy

Fix:Incomplete field initialization in conditional createt
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Fix: Incomplete field initialization in conditional create
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Fix: Put model name in lower case for consistency and reversability
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Fix: Revert chnages
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

Fix: Remove double id rank
  specifyweb/specify/migration_utils/tectonic_ranks.py
Due: mypy

Fix: Indentation
  specifyweb/backend/stored_queries/execution.py
Due: mypy

Fix: Add strict=False to allow diff length
  specifyweb/specify/migration_utils/default_cots.py
Due: mypy

Fix: Remove duplicate
  specifyweb/specify/migration_utils/tectonic_ranks.py
Due: mypy

Fix: Remove using from geo migration
  specifyweb/specify/migrations/0002_geo.py
Due: mypy

Fix: Bring back legacy project test
  specifyweb/backend/stored_queries/tests/tests_legacy.py
Due: mypy

Fix: Remove values_list() in favor of .all
  specifyweb/backend/businessrules/uniqueness_rules.py
Due: mypy

Add spacing to css
  specifyweb/frontend/js_src/css/workbench.css
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WbActions/WbSave.tsx
  specifyweb/frontend/js_src/lib/components/WbAttachmentViewer/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
  specifyweb/frontend/js_src/lib/hooks/__tests__/useCollection.test.ts
Due: frontend-tests

Avoid rebinding click handlers
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
Due: frontend-tests

WIP add warning dialog
  specifyweb/frontend/js_src/lib/components/QueryBuilder/BulkDelete.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
  specifyweb/frontend/js_src/lib/localization/query.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WbActions/WbSave.tsx
  specifyweb/frontend/js_src/lib/components/WbAttachmentViewer/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
Due: frontend-tests

Merge pull request #6389 from specify/issue-6121
  .env
  .github/workflows/test.yml
  Dockerfile
  Makefile
  docker-entrypoint.sh
  sp7_db_setup_check.sh
  specifyweb/backend/permissions/initialize.py
  specifyweb/settings/__init__.py
  specifyweb/settings/specify_settings.py
  specifyweb/specify/management/commands/base_specify_migration.py
Due: mypy

Fix: Typo in comment
  docker-entrypoint.sh
Due: none

Fix: Improve DB setup script
  sp7_db_setup_check.sh
Due: none

Fix: Validate master credentials explicitly in the required-env checkt
  sp7_db_setup_check.sh
Due: none

Fix: Updated sp7_db_setup_check.sh (line 49) to escape env-derived SQL values before interpolation
  sp7_db_setup_check.sh
Due: none

Fix: Require migration-capable privileges
  sp7_db_setup_check.sh
Due: none

Fix: Validate DJANGO_DB_ALIAS before indexing DATABASES
  specifyweb/settings/__init__.py
Due: mypy

Fix: Read the DB role credentials from the environment
  specifyweb/settings/specify_settings.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
