Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Portuguese (Brazil))
  strings/workbench/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/workbench/hr.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/workbench/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/common/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/common.ts
Due: frontend-tests

Translated using Weblate (Norwegian Bokmål)
  strings/locality/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/locality.ts
Due: frontend-tests

[test]: added test to isPrimary set to first collector
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
Due: frontend-tests

feat: show live validate only in WorkBench
  specifyweb/frontend/js_src/lib/components/WbActions/WbValidate.tsx
  specifyweb/frontend/js_src/lib/components/WbActions/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WbActions/index.tsx
Due: frontend-tests

fix: make sure live validation is stopped
  specifyweb/frontend/js_src/lib/components/WbActions/WbValidate.tsx
Due: frontend-tests

fix: overwritten properties
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

fix: overwritten properties 2
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

fix: missing locale strings
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

fix(WorkBench): keep results panel in sync during live validation
  specifyweb/frontend/js_src/lib/components/WbActions/useResults.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
Due: frontend-tests

fix(WorkBench): use CodeMirror JSON editor for upload plan
  specifyweb/frontend/js_src/lib/components/WbToolkit/DevShowPlan.tsx
Due: frontend-tests

fix(WorkBench): upload plan search
  specifyweb/frontend/js_src/lib/components/WbToolkit/DevShowPlan.tsx
Due: frontend-tests

feat(queries): add config option to express search dialog
  specifyweb/frontend/js_src/lib/components/Header/ExpressSearchTask.tsx
Due: frontend-tests

fix: hide dialog while TemplateSelection open
  specifyweb/frontend/js_src/lib/components/WbActions/WbNoUploadPlan.tsx
Due: frontend-tests

fix(WorkBench: prevent clearing partial mappings
  specifyweb/frontend/js_src/lib/components/WbPlanView/Mapper.tsx
Due: frontend-tests

fix(WorkBench): fix empty-plan linting
  specifyweb/frontend/js_src/lib/components/WbToolkit/DevShowPlan.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WbToolkit/DevShowPlan.tsx
Due: frontend-tests

fix(WorkBench): fix count shrinking
  specifyweb/frontend/js_src/lib/components/WbActions/useResults.ts
Due: frontend-tests

fix(WorkBench): make results ordering consistent
  specifyweb/frontend/js_src/lib/components/WbActions/index.tsx
Due: frontend-tests

fix(migrations): add missing migration for `SpecifyUser.spprincipals`
  specifyweb/specify/migrations/0045_alter_specifyuser_spprincipals.py
Due: mypy

Test: Add test suite for migration helper_0015
  specifyweb/specify/migration_utils/tests/test_helper_0015_add_version_to_ages.py
Due: mypy

Test: Add test suite for migration helper_0023
  specifyweb/specify/migration_utils/tests/test_helper_0023_update_schema_config_text.py
Due: mypy

feat: general backend pagination for delete blockers
  specifyweb/backend/delete_blockers/urls.py
  specifyweb/backend/delete_blockers/views.py
Due: mypy

Test: Add test suite for migration helper_0034
  specifyweb/specify/migration_utils/tests/test_helper_0034_accession_date_fields.py
Due: mypy

Test: Add test suite for migration helper_0040
  specifyweb/specify/migration_utils/tests/test_helper_0040_components.py
Due: mypy

Test: Improve test suite for migration helpers
  specifyweb/specify/migration_utils/tests/test_helper_0003_cotype_picklist.py
  specifyweb/specify/migration_utils/tests/test_helper_0007_schema_config_update.py
  specifyweb/specify/migration_utils/tests/test_helper_0008_ageCitations_fix.py
  specifyweb/specify/migration_utils/tests/test_helper_0012_add_cojo_to_schema_config.py
  specifyweb/specify/migration_utils/tests/test_helper_0018_cot_catnum_schema.py
  specifyweb/specify/migration_utils/tests/test_helper_0021_update_hidden_geo_tables.py
  specifyweb/specify/migration_utils/tests/test_helper_0033_update_paleo_desc.py
Due: mypy

fix(trees): replace child/synonym LEFT JOINs with scalar subqueries
  specifyweb/backend/trees/views.py
Due: mypy

Translated using Weblate (French)
  strings/attachments/fr.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
