Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Portuguese (Brazil))
  strings/user/pt_BR.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/user.ts
Due: frontend-tests

Translated using Weblate (French)
  strings/backEnd/fr.po
Due: none

Translated using Weblate (Russian)
  strings/backEnd/ru.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/backEnd/pt_BR.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
Due: frontend-tests

Replace legacy PNG <img> icons with inline SVG via SvgIcon for consistency
  specifyweb/frontend/js_src/lib/components/WorkBench/WbSpreadsheet.tsx
Due: frontend-tests

Fix type error by resolving tableName via strictGetTable for SvgIcon
  specifyweb/frontend/js_src/lib/components/WorkBench/WbSpreadsheet.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/WbSpreadsheet.tsx
Due: frontend-tests

Translated using Weblate (Spanish)
  strings/batchEdit/es.po
Due: none

Translated using Weblate (French)
  strings/batchEdit/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/batchEdit/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/batchEdit/ru.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
Due: frontend-tests

Translated using Weblate (Portuguese (Brazil))
  strings/main/pt_BR.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/main.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Update Django version to 4.2.24
  requirements.txt
Due: none

Force column and rendering updates
  specifyweb/frontend/js_src/lib/components/WorkBench/WbSpreadsheet.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
Due: frontend-tests

Upgrade handsontable to 16.1.0
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/UploadAttachment.test.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

fix UniquenessRule creation
  specifyweb/backend/businessrules/uniqueness_rules.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/merging.ts
  specifyweb/frontend/js_src/lib/localization/notifications.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/tree.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Pass canonical table name to SvgIcon to avoid wrong icons
  specifyweb/frontend/js_src/lib/components/WorkBench/WbSpreadsheet.tsx
Due: frontend-tests

added missing imports
  specifyweb/frontend/js_src/lib/components/WorkBench/WbSpreadsheet.tsx
Due: frontend-tests

filter by isDatabaseConstraint=True
  specifyweb/specify/management/commands/run_key_migration_functions.py
Due: mypy

feat: add new fields to default form
  config/common/common.views.xml
Due: none

feat: add all supported fields
  config/common/common.views.xml
Due: none

Update common.views.xml
  config/common/common.views.xml
Due: none

Translated using Weblate (French)
  strings/specifyNetwork/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/specifyNetwork/pt_BR.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
Due: frontend-tests

feat: Hide identifiedBy by default in schema config
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
Due: mypy

fix UniquenessRuleField creation
  specifyweb/backend/businessrules/uniqueness_rules.py
Due: mypy

WIP Use specify form styling and localization
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

fix new migration issues for blank db creation
  .env
  specifyweb/backend/permissions/initialize.py
  specifyweb/settings/__init__.py
Due: mypy

Add field description tooltips Move resources to a different file for more space Fix required fields
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
Due: frontend-tests

Add inherit_cache attribute to blank_nulls class
  specifyweb/backend/stored_queries/blank_nulls.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
