Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Translated using Weblate (German (Switzerland))
  strings/query/de_CH.po
Due: none

Translated using Weblate (Portuguese)
  strings/common/pt.po
Due: none

Translated using Weblate (Portuguese)
  strings/main/pt.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/schema/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/query/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/common/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/user/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/preferences/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/notifications/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/workbench/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/header/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/locality/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/specifyNetwork/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/welcome/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/main/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/resources/pt_BR.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/merging/pt_BR.po
Due: none

use new table icons in workbench column headers
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
Due: frontend-tests

Fixed missed bracket
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

add handleTreeSelection
  specifyweb/frontend/js_src/lib/components/WbPlanView/Mapper.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/WbPlanView/navigator.ts
Due: frontend-tests

Update README.md
  README.md
Due: none

Fix typo
  README.md
Due: none

Add migration for collectionObjectType
  specifyweb/specify/migrations/0003_cotype_picklist.py
Due: mypy

Remove tree JSONs
  specifyweb/frontend/js_src/lib/components/TreeView/TreeDefaults/botany.json
  specifyweb/frontend/js_src/lib/components/TreeView/TreeDefaults/entomology.json
  specifyweb/frontend/js_src/lib/components/TreeView/TreeDefaults/herpetology.json
  specifyweb/frontend/js_src/lib/components/TreeView/TreeDefaults/ichthyology.json
  specifyweb/frontend/js_src/lib/components/TreeView/TreeDefaults/invertebratepaleontology.json
  specifyweb/frontend/js_src/lib/components/TreeView/TreeDefaults/invertebratezoology.json
  specifyweb/frontend/js_src/lib/components/TreeView/TreeDefaults/mammalogy.json
  specifyweb/frontend/js_src/lib/components/TreeView/TreeDefaults/ornithology.json
  specifyweb/frontend/js_src/lib/components/TreeView/TreeDefaults/paleobotany.json
  specifyweb/frontend/js_src/lib/components/TreeView/TreeDefaults/vascplant.json
  specifyweb/frontend/js_src/lib/components/TreeView/TreeDefaults/vertebratepaleontology.json
Due: none

Chnage variable name (duplicate)
  specifyweb/frontend/js_src/lib/components/WbPlanView/navigator.ts
Due: frontend-tests

Translated using Weblate (Spanish)
  strings/schema/es.po
Due: none

Translated using Weblate (Ukrainian)
  strings/schema/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/schema/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (French)
  strings/tree/fr.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/tree/pt_BR.po
Due: none

Changed second dialog to use ResourceView
  specifyweb/frontend/js_src/lib/components/TreeView/CreateTree.tsx
Due: frontend-tests

(bug): Resolve fake multiple matches due to dup
  specifyweb/workbench/upload/upload_table.py
Due: mypy
