Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Deleted translation using Weblate (Portuguese)
  strings/merging/pt.po
Due: none

Deleted translation using Weblate (Portuguese)
  strings/locality/pt.po
Due: none

Deleted translation using Weblate (Portuguese)
  strings/notifications/pt.po
Due: none

Deleted translation using Weblate (Portuguese)
  strings/query/pt.po
Due: none

Deleted translation using Weblate (Portuguese)
  strings/preferences/pt.po
Due: none

Deleted translation using Weblate (Portuguese)
  strings/report/pt.po
Due: none

Deleted translation using Weblate (Portuguese)
  strings/resources/pt.po
Due: none

Deleted translation using Weblate (Portuguese)
  strings/schema/pt.po
Due: none

Deleted translation using Weblate (Portuguese)
  strings/tree/pt.po
Due: none

Deleted translation using Weblate (Portuguese)
  strings/wbPlan/pt.po
Due: none

Deleted translation using Weblate (Portuguese)
  strings/user/pt.po
Due: none

Deleted translation using Weblate (Portuguese)
  strings/welcome/pt.po
Due: none

Deleted translation using Weblate (Portuguese)
  strings/specifyNetwork/pt.po
Due: none

Deleted translation using Weblate (Portuguese)
  strings/development/pt.po
Due: none

Deleted translation using Weblate (Portuguese)
  strings/workbench/pt.po
Due: none

python install fix
  Dockerfile
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/resourceApi.ts
  specifyweb/frontend/js_src/lib/localization/README.md
Due: frontend-tests

fix _tableName mypy error
  specifyweb/specify/api.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/README.md
Due: none

Make component hidden
  specifyweb/specify/migrations/0029_remove_collectionobject_parentco.py
Due: mypy

Update migration for new python version
  specifyweb/specify/migrations/0021_update_hidden_geo_tables.py
  specifyweb/specify/migrations/0029_remove_collectionobject_parentco.py
Due: mypy

add re-try loop for apt-get commands as well
  Dockerfile
Due: none

add re-try loops for all other apt-get install commands
  Dockerfile
Due: none

add Dockerfile_GitHub to docker.yml
  .github/workflows/docker.yml
Due: none

Create Dockerfile_GitHub
  Dockerfile_GitHub
Due: none

Revert Dockerfile to main branch
  Dockerfile
Due: none

Create a rollback plan with omitted relationships
  specifyweb/stored_queries/batch_edit.py
  specifyweb/stored_queries/tests/test_batch_edit.py
  specifyweb/workbench/upload/tests/test_batch_edit_table.py
Due: mypy

Clear entire disambiguation object
  specifyweb/frontend/js_src/lib/components/WorkBench/DisambiguationLogic.ts
Due: frontend-tests

Remove import
  specifyweb/frontend/js_src/lib/components/WorkBench/DisambiguationLogic.ts
Due: frontend-tests

Delete picklist items on rollback
  specifyweb/workbench/upload/upload.py
Due: mypy

change save to update in specify 0021 migration
  specifyweb/specify/migrations/0021_update_hidden_geo_tables.py
Due: mypy

change save to update in specify 0009 migration
  specifyweb/specify/migrations/0009_tectonic_ranks.py
Due: mypy

fix loop over strings, not tuples
  specifyweb/specify/migrations/0021_update_hidden_geo_tables.py
Due: mypy

Avoid overriding collectionobject in to-one fields
  specifyweb/workbench/upload/scoping.py
Due: mypy

Remove options arg in getRelated
  specifyweb/frontend/js_src/lib/components/DataModel/resourceApi.ts
Due: frontend-tests

Improve typings
  specifyweb/frontend/js_src/lib/components/DataModel/legacyTypes.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/legacyTypes.ts
Due: frontend-tests

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/forms/de_CH.po
  strings/forms/en_US.po
  strings/forms/es.po
  strings/forms/fr.po
  strings/forms/pt_BR.po
  strings/forms/ru.po
  strings/forms/uk.po
  strings/user/de_CH.po
  strings/user/en_US.po
  strings/user/es.po
  strings/user/fr.po
  strings/user/pt_BR.po
  strings/user/ru.po
  strings/user/uk.po
Due: none
