Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Scope the rule by discipline
  specifyweb/businessrules/migrations/0005_cojo.py
Due: mypy

Change migration
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/migrations/0016_collectionobjectgroup_coparentcog.py
Due: frontend-tests, mypy

Make `isPrimary` and `isSubstrate` read only
  config/common/common.views.xml
Due: none

Handle COG RS in interaction dialog
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
Due: frontend-tests

Prevent save when no CO child is marked as primary in a Consolidated COG
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

cog prep loans, work in progress
  specifyweb/interactions/cog_preps.py
  specifyweb/interactions/urls.py
  specifyweb/interactions/views.py
  specifyweb/specify/models_by_table_id.py
  specifyweb/specify/urls.py
  specifyweb/specify/views.py
Due: mypy

Trigger field check when isPrimary changes
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Add unit test
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
Due: frontend-tests

Add parentCog back
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
Due: frontend-tests

Remove exception COG to itself from backend
  specifyweb/businessrules/rules/cojo_rules.py
Due: mypy

Move cog to itself bus rule to onAdded
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Allow to use cojo rel for parentCog
  specifyweb/frontend/js_src/lib/components/DataModel/resourceApi.ts
  specifyweb/specify/api.py
Due: frontend-tests, mypy

Remove parentCog from COG
  specifyweb/businessrules/rules/cojo_rules.py
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/datamodel.json
  specifyweb/specify/datamodel.py
  specifyweb/specify/models.py
Due: frontend-tests, mypy

Remove parentCog from CO
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/datamodel.py
  specifyweb/specify/models.py
Due: frontend-tests, mypy

Add parentCog to COJO in types
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
Due: frontend-tests

Migration to remove parent cog
  specifyweb/specify/migrations/0017_remove_parentCog.py
Due: mypy

Remove bus rule key
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/__tests__/automapper.test.ts
Due: frontend-tests

Remove mirgation for CO
  specifyweb/specify/migrations/0016_collectionobjectgroup_coparentcog.py
  specifyweb/specify/migrations/0016_remove_parentCog.py
Due: mypy

Trigger field check when a child is deleted
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Add TectonicUnit to TypeSearches
  config/backstop/typesearch_def.xml
Due: none

Fix TectonicUnit looking at Taxon
  config/backstop/global.views.xml
Due: none

Prevent deleting parent from child side
  specifyweb/businessrules/rules/cojo_rules.py
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
Due: frontend-tests, mypy

Add bus rule for cog to itself on parent
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Remove localization
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Create test_sp7.xml
  config/test_sp7.xml
Due: none

Block remove only when parent is set
  specifyweb/frontend/js_src/lib/components/FormSliders/IntegratedRecordSelector.tsx
Due: frontend-tests

Update specify_settings.py THICK_CLIENT_LOCATION override
  specifyweb/settings/specify_settings.py
Due: mypy

Update specify_settings.py
  specifyweb/settings/specify_settings.py
Due: mypy

Update test_sp7.xml
  config/test_sp7.xml
Due: none

Sync localization strings with Weblate
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
Due: none

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/forms/de_CH.po
  strings/forms/en_US.po
  strings/forms/es.po
  strings/forms/fr.po
  strings/forms/pt_BR.po
  strings/forms/ru.po
  strings/forms/uk.po
  strings/query/de_CH.po
  strings/query/en_US.po
  strings/query/es.po
  strings/query/fr.po
  strings/query/pt_BR.po
  strings/query/ru.po
  strings/query/uk.po
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
  strings/schema/de_CH.po
  strings/schema/en_US.po
  strings/schema/es.po
  strings/schema/fr.po
  strings/schema/pt_BR.po
  strings/schema/ru.po
  strings/schema/uk.po
Due: none

expand preps_available_rs query filter to include cog co_ids
  specifyweb/interactions/cog_preps.py
  specifyweb/interactions/views.py
Due: mypy

Allow to set parentCog from child side
  specifyweb/businessrules/rules/cojo_rules.py
  specifyweb/frontend/js_src/lib/components/DataModel/resourceApi.ts
  specifyweb/specify/api.py
Due: frontend-tests, mypy

get all cogs with get_cogs_from_co_recordset
  specifyweb/interactions/cog_preps.py
  specifyweb/interactions/views.py
Due: mypy

Test
  specifyweb/specify/tests/test_table_schema.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/specifyField.ts
Due: frontend-tests

Migration
  specifyweb/specify/migrations/0019_remove_parentCog.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
