Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Ukrainian)
  strings/interactions/uk.po
Due: none

Translated using Weblate (Russian)
  strings/interactions/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/interactions/de_CH.po
Due: none

Translated using Weblate (Portuguese)
  strings/interactions/pt.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/interactions/pt_BR.po
Due: none

Skip readonly cells when replacing
  specifyweb/frontend/js_src/lib/components/WbUtils/Utils.ts
Due: frontend-tests

Batch edit for multiple trees (#6196)
  specifyweb/frontend/js_src/lib/components/BatchEdit/MissingRanks.tsx
  specifyweb/frontend/js_src/lib/components/BatchEdit/QueryError.tsx
  specifyweb/frontend/js_src/lib/components/BatchEdit/index.tsx
  specifyweb/frontend/js_src/lib/components/BatchEdit/missingRanksUtils.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/__tests__/navigator.test.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/navigator.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/navigatorSpecs.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanBuilder.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/uploadPlanParser.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/WbSpreadsheet.tsx
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/tests/fixtures/uploadplan.1.json
  specifyweb/specify/func.py
  specifyweb/specify/tests/test_api.py
  specifyweb/specify/tree_views.py
  specifyweb/stored_queries/batch_edit.py
  specifyweb/stored_queries/batch_edit_query_rewrites.py
  specifyweb/stored_queries/query_construct.py
  specifyweb/stored_queries/queryfieldspec.py
  specifyweb/stored_queries/tests/static/co_query_row_plan.py
  specifyweb/stored_queries/tests/test_batch_edit.py
  specifyweb/workbench/upload/tests/example_plan.py
  specifyweb/workbench/upload/tests/testschema.py
  specifyweb/workbench/upload/treerecord.py
Due: frontend-tests, mypy

Sync localization strings with Weblate
  strings/batchEdit/de_CH.po
  strings/batchEdit/en_US.po
  strings/batchEdit/es.po
  strings/batchEdit/fr.po
  strings/batchEdit/pt_BR.po
  strings/batchEdit/ru.po
  strings/batchEdit/uk.po
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/interactions/de_CH.po
  strings/interactions/en_US.po
  strings/interactions/es.po
  strings/interactions/fr.po
  strings/interactions/pt_BR.po
  strings/interactions/ru.po
  strings/interactions/uk.po
  strings/query/de_CH.po
  strings/query/en_US.po
  strings/query/es.po
  strings/query/fr.po
  strings/query/pt_BR.po
  strings/query/ru.po
  strings/query/uk.po
  strings/workbench/de_CH.po
  strings/workbench/en_US.po
  strings/workbench/es.po
  strings/workbench/fr.po
  strings/workbench/pt_BR.po
  strings/workbench/ru.po
  strings/workbench/uk.po
Due: none

Disable raw upload plan save when it has no changes
  specifyweb/frontend/js_src/lib/components/WbToolkit/DevShowPlan.tsx
Due: frontend-tests

Disable save on upload
  specifyweb/frontend/js_src/lib/components/WbToolkit/DevShowPlan.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WbToolkit/DevShowPlan.tsx
Due: frontend-tests

fix os unpacking error in QB
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

fix: updated queryfieldspec
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

Format attachments in attachments column Format attachment column name Open attachments panel by default Rename attachments columns to 'UPLOADED_ATTACHMENTS'
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
Due: frontend-tests

Fix dependency merge error
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
Due: frontend-tests

Update paleo context schema config desc
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
  specifyweb/specify/migrations/0028_update_paleo_desc.py
Due: mypy

Remove comment
  specifyweb/specify/migrations/0028_update_paleo_desc.py
Due: mypy

Scroll to section in Data Model page when URL contains hash
  specifyweb/frontend/js_src/lib/components/SchemaViewer/index.tsx
Due: frontend-tests

Prevent from adding negative count for preparations
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Handle case where rank name has spaces
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

Use name as default tree rank query
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

Improve working with agentTypes
  specifyweb/frontend/js_src/lib/components/DataModel/helpers.ts
  specifyweb/frontend/js_src/lib/components/PickLists/definitions.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/PickLists/definitions.ts
Due: frontend-tests

Handle edge case for fullname query
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

Allow to click on RS in interaction dialog after errored entries
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
Due: frontend-tests

Use name for fullname
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

Skip test temporarily
  specifyweb/stored_queries/tests/tests_legacy.py
Due: mypy

Add quantities resolved returned to gift prep
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/frontend/js_src/lib/components/Interactions/PrepDialog.tsx
  specifyweb/specify/datamodel.py
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
  specifyweb/specify/migrations/0028_add_quantities_gift.py
  specifyweb/specify/models.py
Due: frontend-tests, mypy

Revert mapping for fullname
  specifyweb/stored_queries/queryfieldspec.py
  specifyweb/stored_queries/tests/tests_legacy.py
Due: mypy

Update column name
  specifyweb/frontend/js_src/lib/components/WbImportAttachments/index.tsx
Due: frontend-tests

Fix case for fullName query with 1 space in rank - Also adds a unit test to ensure this doesn't break again
  specifyweb/stored_queries/queryfieldspec.py
  specifyweb/stored_queries/tests/tests_legacy.py
Due: mypy

Add missing import
  specifyweb/stored_queries/batch_edit.py
Due: mypy

Re-add lost code
  specifyweb/stored_queries/batch_edit.py
Due: mypy

Cast catalogNumber to Numeric in query results if all formats are numeric
  specifyweb/stored_queries/format.py
Due: mypy

Add comment to catalogNumber cast for queries
  specifyweb/stored_queries/format.py
Due: mypy

handle self join aggregation
  specifyweb/stored_queries/format.py
Due: mypy

Hotfixes: Fullname query hotfix + catalog number cast hotfix for `7.10.2` (#6465)
  specifyweb/stored_queries/format.py
  specifyweb/stored_queries/queryfieldspec.py
  specifyweb/stored_queries/tests/tests_legacy.py
Due: mypy

fix FormatterAggregatorTests unit tests
  specifyweb/stored_queries/format.py
Due: mypy

hypothesis version upgrade
  requirements-testing.txt
Due: none

andle self join aggregation in the general case
  specifyweb/stored_queries/format.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
