Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Ukrainian)
  strings/merging/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/notifications/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/locality/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/preferences/uk.po
Due: none

Use visible columns to determine old columns
  specifyweb/backend/stored_queries/batch_edit.py
Due: mypy

fix(queries): re-raise error
  specifyweb/backend/stored_queries/execution.py
Due: mypy

Check if frontend table format is numeric before trimming zeros
  specifyweb/frontend/js_src/lib/components/Formatters/formatters.ts
Due: frontend-tests

Fix form column definition precedence
  specifyweb/frontend/js_src/lib/components/FormParse/index.ts
Due: frontend-tests

feat: tree logging
  specifyweb/backend/trees/extras.py
  specifyweb/settings/logging_settings.py
Due: mypy

Fix column unit test
  specifyweb/frontend/js_src/lib/components/FormParse/__tests__/index.test.ts
Due: frontend-tests

feat(trees): batch reparent children during merge
  specifyweb/backend/trees/extras.py
Due: mypy

feat(trees): add batch reparent tests
  specifyweb/backend/trees/tests/test_tree_extras/test_merge.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

fix(queries): tests for geography fullname
  specifyweb/backend/trees/tests/test_tree_extras/test_merge.py
Due: mypy

fix(trees): share `_make_locality` helper in GeographyTree
  specifyweb/backend/trees/tests/test_tree_extras/test_merge.py
  specifyweb/backend/trees/tests/test_trees.py
Due: mypy

fix(trees): skip batch reparent when no children
  specifyweb/backend/trees/extras.py
Due: mypy

fix(trees): include nodenumber when ordering
  specifyweb/backend/trees/extras.py
Due: mypy

fix(trees): update batch-reparent tests to use Taxon tree
  specifyweb/backend/trees/tests/test_tree_extras/test_merge.py
Due: mypy

Feat: Add Term, IsStatic, and StaticValue fields to SpQueryField
  specifyweb/frontend/js_src/lib/components/DataModel/types.ts
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0047_spqueryfield_dwc_fields.py
  specifyweb/specify/models.py
Due: frontend-tests, mypy

feat(dwc): add extensions join table and vocabulary field to schemamapping
  specifyweb/specify/datamodel.py
  specifyweb/specify/migrations/0048_extensions_and_vocabulary.py
  specifyweb/specify/models.py
Due: mypy

Group duplicates together normally
  specifyweb/backend/stored_queries/batch_edit.py
Due: mypy

Remove redundant check
  specifyweb/backend/stored_queries/batch_edit.py
Due: mypy

Don't convert whitespaces
  specifyweb/frontend/js_src/lib/components/Formatters/formatters.ts
Due: frontend-tests

feat(dwc): add CacheTableMeta model and cache table infrastructure
  specifyweb/backend/export/cache.py
  specifyweb/backend/export/dwca_utils.py
  specifyweb/backend/export/migrations/0001_cachetablemeta.py
  specifyweb/backend/export/migrations/__init__.py
  specifyweb/backend/export/models.py
  specifyweb/backend/export/tests.py
  specifyweb/backend/export/tests/__init__.py
  specifyweb/backend/export/tests/test_cache.py
  specifyweb/backend/export/tests/test_models.py
Due: mypy

feat(dwc): add schema terms vocabulary, API endpoint, and admin permissions
  specifyweb/backend/export/schema_terms.json
  specifyweb/backend/export/urls.py
  specifyweb/backend/export/views.py
  specifyweb/frontend/js_src/lib/components/SchemaMapper/__tests__/vocabulary.test.ts
  specifyweb/frontend/js_src/lib/components/SchemaMapper/vocabulary.ts
Due: frontend-tests, mypy

feat(dwc): add Schema Mapper UI shell and Schema Config DwC section
  specifyweb/frontend/js_src/lib/components/Header/userToolDefinitions.ts
  specifyweb/frontend/js_src/lib/components/Router/OverlayRoutes.tsx
  specifyweb/frontend/js_src/lib/components/SchemaConfig/Field.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/MappingList.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/TermDropdown.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/VocabularyDialog.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/index.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/types.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
Due: frontend-tests

feat(dwc): add clone endpoint, list APIs, and Export Packages tool shell
  specifyweb/backend/export/tests/test_models.py
  specifyweb/backend/export/urls.py
  specifyweb/backend/export/views.py
  specifyweb/frontend/js_src/lib/components/Router/OverlayRoutes.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/ExportPackages/index.tsx
Due: frontend-tests, mypy

feat(dwc): add mapping UI features
  specifyweb/frontend/js_src/lib/components/SchemaMapper/CloneMapping.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/MappingList.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/NewMappingDialog.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/TermDropdown.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/TermTooltip.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/Toolbar.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/__tests__/Toolbar.test.ts
  specifyweb/frontend/js_src/lib/components/SchemaMapper/__tests__/autoMap.test.ts
  specifyweb/frontend/js_src/lib/components/SchemaMapper/autoMap.ts
  specifyweb/frontend/js_src/lib/localization/header.ts
Due: frontend-tests

fix(localization): escape apostrophe in uk-ua lockedOccurrenceId string
  specifyweb/frontend/js_src/lib/localization/header.ts
Due: frontend-tests

issue-cas-7733: DwC export pipeline Phases 4-6 — DwCA, EML, GBIF, RSS, scheduling
  specifyweb/backend/export/API_DOCS.md
  specifyweb/backend/export/attachment_urls.py
  specifyweb/backend/export/cache.py
  specifyweb/backend/export/dwca_from_cache.py
  specifyweb/backend/export/feed.py
  specifyweb/backend/export/management/commands/update_feed_v2.py
  specifyweb/backend/export/models.py
  specifyweb/backend/export/tests/test_attachment_urls.py
  specifyweb/backend/export/tests/test_dwca.py
  specifyweb/backend/export/tests/test_feed.py
  specifyweb/backend/export/urls.py
  specifyweb/backend/export/views.py
  specifyweb/frontend/js_src/lib/components/SchemaMapper/ExportPackages/ClonePackage.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/ExportPackages/CopyRssUrl.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/ExportPackages/EmlEditor.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/ExportPackages/GbifValidator.tsx
  specifyweb/frontend/js_src/lib/components/SchemaMapper/ExportPackages/PackageForm.tsx
Due: frontend-tests, mypy

fix(tests): allow ExportDataset 'extensions' relationship in SA model errors
  specifyweb/backend/stored_queries/tests/tests.py
  specifyweb/backend/stored_queries/tests/tests_legacy.py
Due: mypy

fix(tests): add ExportDataSetExtension and SchemaMapping SA model exceptions
  specifyweb/backend/stored_queries/tests/tests.py
  specifyweb/backend/stored_queries/tests/tests_legacy.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
