Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

optimize preferences wrappers by introducing FetchGate component.
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
Due: frontend-tests

simplify className logic for documentation paragraph
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
Due: frontend-tests

Feat: add UI to control Global preferences
  specifyweb/frontend/js_src/lib/components/Preferences/GlobalDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Fix required select fields WIP optimize default schema creation
  specifyweb/backend/setup_tool/api.py
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
  specifyweb/specify/migration_utils/update_schema_config.py
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
Due: frontend-tests

Use default values for tree name directions
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
Due: frontend-tests

Add form descriptions
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/components/SetupTool/setupResources.ts
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SetupTool/index.tsx
  specifyweb/frontend/js_src/lib/localization/setupTool.ts
Due: frontend-tests

Localization cleanup for collection preferences
  specifyweb/frontend/js_src/lib/localization/tree.ts
Due: frontend-tests

removed `as unknown` casts
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
Due: frontend-tests

Feat: Add UI to global preferences
  specifyweb/frontend/js_src/lib/components/Preferences/GlobalDefinitions.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Preferences/GlobalDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Add backend integration for global resources.
  specifyweb/backend/context/global_resources.py
  specifyweb/backend/context/urls.py
Due: mypy

Frontend state & definitions for global preferences
  specifyweb/frontend/js_src/lib/components/AppResources/TabDefinitions.tsx
  specifyweb/frontend/js_src/lib/components/Preferences/globalPreferences.ts
  specifyweb/frontend/js_src/lib/components/Preferences/index.tsx
Due: frontend-tests

Frontend navigation hooks and default alignment
  specifyweb/frontend/js_src/lib/components/AppResources/types.tsx
  specifyweb/frontend/js_src/lib/components/InitialContext/remotePrefs.ts
  specifyweb/frontend/js_src/lib/components/Preferences/Editor.tsx
  specifyweb/frontend/js_src/lib/components/Router/Routes.tsx
  specifyweb/frontend/js_src/lib/localization/preferences.ts
Due: frontend-tests

Add global preference translations and tighten typing
  specifyweb/frontend/js_src/lib/utils/cache/definitions.ts
Due: frontend-tests

Add global preferences fixtures and update snapshots
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/AppResourcesFilters.test.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/allAppResources.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/defaultAppResourceFilters.test.ts
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/testAppResources.ts
  specifyweb/frontend/js_src/lib/components/FormPlugins/__tests__/__snapshots__/PartialDateUi.test.tsx.snap
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/global_resource.json
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/global_resource/200.json
Due: frontend-tests

Add global preferences fixtures and refresh app resource snapshots
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/AppResourcesAside.test.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/AppResourcesAside.test.tsx.snap
Due: frontend-tests

Fix global preferences fixtures and refresh AppResources snapshots.
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/AppResourcesAside.test.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/AppResourcesAside.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/testAppResources.ts
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/global_resource.json
  specifyweb/frontend/js_src/lib/tests/ajax/static/context/global_resource/1.json
Due: frontend-tests

Align AppResources fixtures and snapshots with global preferences
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/AppResourceDownload.test.tsx
  specifyweb/frontend/js_src/lib/components/AppResources/__tests__/__snapshots__/AppResourcesTab.test.tsx.snap
Due: frontend-tests

init test_column_key_collision
  specifyweb/backend/stored_queries/tests/test_batch_edit.py
Due: mypy

edit test_column_key_collision unit test
  specifyweb/backend/stored_queries/tests/test_batch_edit.py
Due: mypy

make sure to hide password in logging
  sp7_db_setup_check.sh
Due: none

Refactor case-sensitive uniqueness validation and improve iexact filter readability.
  specifyweb/backend/businessrules/uniqueness_rules.py
  specifyweb/frontend/js_src/lib/components/DataModel/businessRules.ts
  specifyweb/frontend/js_src/lib/components/DataModel/helpers.ts
Due: frontend-tests, mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/businessRules.ts
  specifyweb/frontend/js_src/lib/components/DataModel/helpers.ts
Due: frontend-tests

Add reusable case-sensitive filter helpers for uniqueness checks
  specifyweb/backend/businessrules/uniqueness_rules.py
Due: mypy

fixing base_specify_migration in db setup
  sp7_db_setup_check.sh
  specifyweb/specify/management/commands/base_specify_migration.py
Due: mypy

Translated using Weblate (Portuguese (Brazil))
  strings/common/pt_BR.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/common.ts
Due: frontend-tests

edit logging of new db and users
  sp7_db_setup_check.sh
Due: none

fix new user config names in settings
  specifyweb/settings/__init__.py
Due: mypy

update variable config setting in specify_settings.py
  specifyweb/settings/specify_settings.py
Due: mypy

fix base_specify_migration user
  sp7_db_setup_check.sh
  specifyweb/settings/__init__.py
  specifyweb/specify/management/commands/base_specify_migration.py
Due: mypy

database alias fixes
  Makefile
  sp7_db_setup_check.sh
  specifyweb/settings/__init__.py
  specifyweb/specify/management/commands/base_specify_migration.py
Due: mypy

revert root password
  .env
Due: none

edit setting file step in test github actions workflow
  .github/workflows/test.yml
Due: none

try adjusting test github action
  .github/workflows/test.yml
Due: none

try root default password change and revert test.yml changes
  .github/workflows/test.yml
  specifyweb/settings/specify_settings.py
Due: mypy

reflect naming changes in dockerfile
  Dockerfile
Due: none
