Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Translated using Weblate (Croatian)
  strings/batchIdentify/hr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/batchIdentify/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/batchIdentify/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/batchIdentify/uk.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/batchIdentify/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/batchIdentify.ts
Due: frontend-tests

Update specifyweb/frontend/js_src/lib/components/Attachments/__tests__/attachmentServerStatus.test.ts
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/attachmentServerStatus.test.ts
Due: frontend-tests

Fix: Add health check to avoid manual reload and cache clearance
  specifyweb/backend/attachment_gw/urls.py
  specifyweb/backend/attachment_gw/views.py
  specifyweb/frontend/js_src/lib/components/Attachments/Cell.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/Preview.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/Viewer.tsx
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/__snapshots__/AttachmentCell.test.tsx.snap
  specifyweb/frontend/js_src/lib/components/Attachments/attachments.ts
Due: frontend-tests, mypy

Fix: Reset attachment status in tests
  specifyweb/frontend/js_src/lib/components/Header/__tests__/Header.test.tsx
Due: frontend-tests

Fix: Log health check error
  specifyweb/backend/attachment_gw/views.py
Due: mypy

Fix: Bound the asset-server health probe and startup check
  specifyweb/backend/attachment_gw/views.py
Due: mypy

Fix: Reset image failure state
  specifyweb/frontend/js_src/lib/components/Attachments/Viewer.tsx
Due: frontend-tests

Potential fix for pull request finding 'CodeQL / Except block handles 'BaseException''
  specifyweb/backend/attachment_gw/views.py
Due: mypy

Translated using Weblate (Spanish)
  strings/forms/es.po
Due: none

Translated using Weblate (Russian)
  strings/forms/ru.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/forms/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/forms/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/forms/hr.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/forms/nb_NO.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests

Fix: Add WEB_ATTACHMENT_TIMEOUT to settings
  specifyweb/settings/specify_settings.py
Due: mypy

Fix: Test, add new health check
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/attachmentServerStatus.test.ts
Due: frontend-tests

Test: Add server connexion health check in wb attachment preview
  specifyweb/frontend/js_src/lib/components/WorkBench/__tests__/WbAttachmentsPreview.test.tsx
Due: frontend-tests

Translated using Weblate (Russian)
  strings/common/ru.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/notifications/pt_BR.po
Due: none

Translated using Weblate (Croatian)
  strings/notifications/hr.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/notifications/nb_NO.po
Due: none

Update specifyweb/frontend/js_src/lib/components/Header/index.tsx
  specifyweb/frontend/js_src/lib/components/Header/index.tsx
Due: frontend-tests

Fix: Treat only the health endpoint success status as available
  specifyweb/frontend/js_src/lib/components/Attachments/attachments.ts
Due: frontend-tests

Test: mock asset server connexion status
  specifyweb/frontend/js_src/lib/components/Attachments/__tests__/AttachmentsView.test.tsx
Due: frontend-tests

fix: explicitly cast return value of `Spdataset.was_uploaded` to `bool` to avoid mypy `return-value` type error
  specifyweb/backend/workbench/models.py
Due: mypy

fix: remove type annotations for children of `django.db.models.Model` to fix `mypy` `attr-defined` type error
  specifyweb/backend/workbench/upload/predicates.py
Due: mypy

fix: cast `specifyuser` to `Specifyuser` instead of `AbstractBaseUser` to fix `mypy` `arg-type` type error
  specifyweb/backend/accounts/views.py
Due: mypy

fix: add `objects` field to `ModelWithTable` class to suppress `mypy` `attr-defined` type error
  specifyweb/specify/models.py
Due: mypy

fix: disable type checking for 1 (one) line in our tests because `mypy` can not deduce that JSONFields are iterable
  specifyweb/backend/workbench/tests.py
Due: mypy

fix: remove running coverage on pull request and push
  .github/workflows/coverage.yml
Due: none

feat: remove dependance on `cat`
  .github/workflows/coverage.yml
Due: none
