Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (French)
  strings/wbPlan/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/wbPlan/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/wbPlan/pt.po
Due: none

Translated using Weblate (Ukrainian)
  strings/common/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/workbench/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/workbench/pt_BR.po
Due: none

Translated using Weblate (Spanish)
  strings/interactions/es.po
Due: none

Translated using Weblate (French)
  strings/interactions/fr.po
Due: none

Translated using Weblate (Russian)
  strings/interactions/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/interactions/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/interactions/de_CH.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/interactions/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/interactions/pt.po
Due: none

Translated using Weblate (Ukrainian)
  strings/query/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/locality/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/resources/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/specifyNetwork/uk.po
Due: none

Simplify unload protect code
  specifyweb/frontend/js_src/lib/components/FormMeta/Definition.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/FormMeta/Definition.tsx
Due: frontend-tests

Update system.views.xml
  config/backstop/system.views.xml
Due: none

Use new component implementation
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
  specifyweb/frontend/js_src/lib/components/Toolbar/RecordSets.tsx
Due: frontend-tests

Set `specifyUser` to current user
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

Remove hard-coded names in Pick List form
  config/backstop/system.views.xml
Due: none

Add WbToolkit changes
  specifyweb/frontend/js_src/lib/components/WbToolkit/index.tsx
Due: frontend-tests

Add WbUtils changes
  specifyweb/frontend/js_src/lib/components/WbUtils/Navigation.tsx
  specifyweb/frontend/js_src/lib/components/WbUtils/index.tsx
Due: frontend-tests

Add tailwind changes
  specifyweb/frontend/js_src/tailwind.config.ts
Due: frontend-tests

Add /WorkBench changes
  specifyweb/frontend/js_src/lib/components/WorkBench/CellMeta.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/DataSetMeta.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/DisambiguationLogic.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/RecordSet.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/Results.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/Status.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbSpreadsheet.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbValidation.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbView.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/batchEditHelpers.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/handsontable.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hotHelpers.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hotProps.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/resultsParser.ts
Due: frontend-tests

Add batch edit sort config cache var
  specifyweb/frontend/js_src/lib/utils/cache/definitions.ts
Due: frontend-tests

init merge recordsets api
  specifyweb/specify/views.py
Due: mypy

Translated using Weblate (Russian)
  strings/merging/ru.po
Due: none

Translated using Weblate (Portuguese)
  strings/merging/pt.po
Due: none

working merge_recordsets api
  specifyweb/specify/views.py
  specifyweb/stored_queries/urls.py
  specifyweb/stored_queries/views.py
Due: mypy

edit request url and body
  specifyweb/frontend/js_src/lib/components/Toolbar/MergeRecordSets.tsx
Due: frontend-tests

Use loading instead of async
  specifyweb/frontend/js_src/lib/components/Toolbar/MergeRecordSets.tsx
Due: frontend-tests

Remove comment
  specifyweb/frontend/js_src/lib/components/Toolbar/MergeRecordSets.tsx
Due: frontend-tests

Use the first selected RS name for the new RS
  specifyweb/stored_queries/views.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
