Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Translated using Weblate (Ukrainian)
  strings/setupTool/uk.po
Due: none

Translated using Weblate (Croatian)
  strings/setupTool/hr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/batchIdentify/de_CH.po
Due: none

Translated using Weblate (Spanish)
  strings/batchIdentify/es.po
Due: none

Translated using Weblate (Croatian)
  strings/batchIdentify/hr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/batchIdentify/pt_BR.po
Due: none

Translated using Weblate (Russian)
  strings/batchIdentify/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/batchIdentify/uk.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/setupTool/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/resources/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/specifyNetwork/nb_NO.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  strings/welcome/nb_NO.po
Due: none

Translated using Weblate (Russian)
  strings/workbench/ru.po
Due: none

Sync localization strings with Weblate
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
Due: frontend-tests

Update specifyweb/backend/report_runner/views.py
  specifyweb/backend/report_runner/views.py
Due: mypy

Validate reportId against submitted query/collection before applying repeat settings
  specifyweb/backend/report_runner/tests.py
  specifyweb/backend/report_runner/views.py
Due: mypy

feat: fix slow tiles
  specifyweb/backend/barvis/tests/__init__.py
  specifyweb/backend/barvis/tests/test_views.py
  specifyweb/backend/barvis/views.py
  specifyweb/specify/migrations/0049_determination_current_taxon_index.py
  specifyweb/specify/models.py
Due: mypy

fix(performance): reuse tree rank metadata within queries
  specifyweb/backend/stored_queries/query_construct.py
  specifyweb/backend/stored_queries/tests/test_tree_query_performance.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Leaflet/Map.tsx
Due: frontend-tests

Potential fix for pull request finding 'CodeQL / Unused import'
  specifyweb/backend/businessrules/tests/test_rename_query.py
Due: mypy

fix(performance): avoid repeated ancestor joins in tree queries
  specifyweb/backend/stored_queries/execution.py
  specifyweb/backend/stored_queries/query_construct.py
  specifyweb/backend/stored_queries/queryfield.py
  specifyweb/backend/stored_queries/queryfieldspec.py
  specifyweb/backend/stored_queries/tests/test_tree_query_performance.py
Due: mypy

Fix: Allow the user to click anywhere in the row to add a record to RS
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
Due: frontend-tests

Fix: Keep the earliest short-page boundary.
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
Due: frontend-tests

Fix: Move the table === undefined guard below the useMemo calls
  specifyweb/frontend/js_src/lib/components/DataViews/index.tsx
Due: frontend-tests

Test: Wrap the afterEach body in braces.
  specifyweb/frontend/js_src/lib/components/QueryBuilder/__tests__/useQueryExecution.test.tsx
Due: frontend-tests

Fix: Gate the split-view controls behind the query execute permission.
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Header.tsx
Due: frontend-tests

Fix: Guard row selection against non-numeric result IDs..
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Results.tsx
Due: frontend-tests

Fix: Replace the 200 ms polling loop with a result-arrival signal.e
  specifyweb/frontend/js_src/lib/components/QueryBuilder/QueryBuilderResults.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/QueryBuilder/useQuerySplitView.ts
Due: frontend-tests

fix(performance): preserve early limits for shallow tree queries
  specifyweb/backend/stored_queries/execution.py
  specifyweb/backend/stored_queries/queryfield.py
  specifyweb/backend/stored_queries/tests/test_tree_query_performance.py
Due: mypy

Translated using Weblate (Spanish)
  strings/tree/es.po
Due: none

Translated using Weblate (Spanish)
  strings/schema/es.po
Due: none

Translated using Weblate (Spanish)
  strings/forms/es.po
Due: none

Translated using Weblate (Russian)
  strings/tree/ru.po
Due: none

Translated using Weblate (Russian)
  strings/schema/ru.po
Due: none

Translated using Weblate (Russian)
  strings/forms/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/schema/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (Spanish)
  strings/attachments/es.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/tree/de_CH.po
Due: none

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
