Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Translated using Weblate (Ukrainian)
  strings/tree/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/merging/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/schema/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/locality/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/preferences/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/main/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/header/uk.po
Due: none

Translated using Weblate (Ukrainian)
  strings/common/uk.po
Due: none

Resolve incorrect app for models in permission migration
  specifyweb/permissions/initialize.py
  specifyweb/specify/migrations/0017_cot_catnum_schema.py
Due: mypy

Correct table label generation in schema config migrations
  specifyweb/specify/migration_utils/update_schema_config.py
  specifyweb/specify/migrations/0016_schemaconfig_fixes.py
Due: mypy

Add a new record set option in search dialog
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelector.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelectorFromCollection.tsx
  specifyweb/frontend/js_src/lib/components/Interactions/InteractionDialog.tsx
  specifyweb/frontend/js_src/lib/components/SearchDialog/SelectRecordSet.tsx
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
  specifyweb/frontend/js_src/lib/localization/interactions.ts
Due: frontend-tests

Remove getAvailbleCatNum from backend
  specifyweb/interactions/urls.py
  specifyweb/interactions/views.py
Due: mypy

Reorder buttons
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
Due: frontend-tests

Use soft error
  specifyweb/frontend/js_src/lib/components/SearchDialog/SelectRecordSet.tsx
Due: frontend-tests

Add permission definitions
  specifyweb/frontend/js_src/lib/components/Permissions/definitions.ts
Due: frontend-tests

Add menu item definitions
  specifyweb/frontend/js_src/lib/components/Header/menuItemDefinitions.ts
Due: frontend-tests

Add batch edit to Queries
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
  specifyweb/frontend/js_src/lib/components/Router/OverlayRoutes.tsx
Due: frontend-tests

Add batch edit localizations
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
Due: frontend-tests

Workbench localizations for batch edit
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Add variants for wb and batch edit
  specifyweb/frontend/js_src/lib/components/WbUtils/datasetVariants.tsx
Due: frontend-tests

Add back tectonic tree permission
  specifyweb/frontend/js_src/lib/components/Permissions/definitions.ts
Due: frontend-tests

keep isStrict
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Wrapped.tsx
Due: frontend-tests

Fix lost translations
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Translated using Weblate (Ukrainian)
  strings/welcome/uk.po
Due: none

Translated using Weblate (French)
  strings/locality/fr.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/locality/de_CH.po
Due: none

Translated using Weblate (Ukrainian)
  strings/workbench/uk.po
Due: none

Remove comment
  specifyweb/frontend/js_src/lib/tests/jsdom.js
Due: frontend-tests

Add batch edit route
  specifyweb/stored_queries/batch_edit.py
  specifyweb/stored_queries/urls.py
  specifyweb/stored_queries/views.py
Due: mypy

Use variant localization in workbench
  specifyweb/frontend/js_src/lib/components/Toolbar/WbsDialog.tsx
  specifyweb/frontend/js_src/lib/components/WbActions/WbNoUploadPlan.tsx
  specifyweb/frontend/js_src/lib/components/WbActions/WbRollback.tsx
  specifyweb/frontend/js_src/lib/components/WbActions/WbUpload.tsx
  specifyweb/frontend/js_src/lib/components/WbActions/index.tsx
  specifyweb/frontend/js_src/lib/components/WbImport/helpers.ts
Due: frontend-tests

Disable Add buton when no RS available
  specifyweb/frontend/js_src/lib/components/SearchDialog/SelectRecordSet.tsx
Due: frontend-tests

Use handleAdd instead of collection
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelector.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelectorFromCollection.tsx
  specifyweb/frontend/js_src/lib/components/SearchDialog/SelectRecordSet.tsx
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
Due: frontend-tests

Use DialogRecordSet instead of new component
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
  specifyweb/frontend/js_src/lib/components/Toolbar/RecordSets.tsx
Due: frontend-tests

Remove useless condition
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
  specifyweb/frontend/js_src/lib/components/Toolbar/RecordSets.tsx
Due: frontend-tests

Remove collection from props
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSelector.tsx
Due: frontend-tests

Translated using Weblate (Portuguese (Brazil))
  strings/report/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  strings/report/pt.po
Due: none

Translated using Weblate (Ukrainian)
  strings/wbPlan/uk.po
Due: none
