Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Use a context for filtering Taxon names in QCBX
  specifyweb/frontend/js_src/lib/components/QueryComboBox/helpers.ts
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
  specifyweb/frontend/js_src/lib/components/QueryComboBox/useTreeData.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
  specifyweb/frontend/js_src/lib/components/QueryComboBox/useTreeData.tsx
Due: frontend-tests

Use BoundUploadTable for remoteToOne relationships
  specifyweb/workbench/upload/upload_table.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/InitialContext/systemInfo.ts
  specifyweb/frontend/js_src/lib/components/WbPlanView/navigator.ts
Due: frontend-tests

Add comment
  specifyweb/workbench/upload/upload_table.py
Due: mypy

Translated using Weblate (Spanish)
  strings/schema/es.po
Due: none

Translated using Weblate (French)
  strings/schema/fr.po
Due: none

Translated using Weblate (Russian)
  strings/schema/ru.po
Due: none

Translated using Weblate (Ukrainian)
  strings/schema/uk.po
Due: none

Translated using Weblate (German (Switzerland))
  strings/schema/de_CH.po
Due: none

Translated using Weblate (Portuguese)
  strings/schema/pt.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  strings/schema/pt_BR.po
Due: none

Update pull-request-template.md
  .github/pull-request-template.md
Due: none

Upload remoteToOne relationships as toMany
  specifyweb/workbench/upload/upload_table.py
Due: mypy

create blank revert_default_collection_types
  specifyweb/specify/migrations/0022_ensure_default_cots.py
Due: mypy

set revert to delete COTs
  specifyweb/specify/migrations/0022_ensure_default_cots.py
Due: mypy

typo
  specifyweb/specify/migrations/0022_ensure_default_cots.py
Due: mypy

formatting
  specifyweb/specify/migrations/0022_ensure_default_cots.py
Due: mypy

add one-to-one rel type to objformat logic
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

Filter Taxon in QCBX search
  specifyweb/frontend/js_src/lib/components/QueryComboBox/helpers.ts
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
  specifyweb/frontend/js_src/lib/components/SearchDialog/index.tsx
Due: frontend-tests

Fix typecheck
  specifyweb/frontend/js_src/lib/components/FormMeta/MergeRecord.tsx
  specifyweb/frontend/js_src/lib/components/FormPlugins/CollectionRelOneToMany.tsx
  specifyweb/frontend/js_src/lib/components/Security/CollectionRole.tsx
Due: frontend-tests

add temp blank_nulls catalognumber conditional
  specifyweb/stored_queries/blank_nulls.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WbPlanView/navigator.ts
Due: frontend-tests

simplify blank_nulls conditional
  specifyweb/stored_queries/blank_nulls.py
Due: mypy

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/forms/de_CH.po
  strings/forms/en_US.po
  strings/forms/es.po
  strings/forms/fr.po
  strings/forms/pt_BR.po
  strings/forms/ru.po
  strings/forms/uk.po
  strings/query/de_CH.po
  strings/query/en_US.po
  strings/query/es.po
  strings/query/fr.po
  strings/query/pt_BR.po
  strings/query/ru.po
  strings/query/uk.po
  strings/user/de_CH.po
  strings/user/en_US.po
  strings/user/es.po
  strings/user/fr.po
  strings/user/pt_BR.po
  strings/user/ru.po
  strings/user/uk.po
Due: none

Create a migration to update fields in schema config
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
  specifyweb/specify/migrations/0023_update_schema_config_text.py
Due: mypy

Remove edits to paleo
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
Due: mypy

Add spacing
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
Due: mypy

Update chnages
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
Due: mypy

Fix results
  specifyweb/frontend/js_src/lib/components/WbActions/useResults.ts
Due: frontend-tests

null dataobjformatter logger
  specifyweb/stored_queries/blank_nulls.py
  specifyweb/stored_queries/format.py
Due: mypy

Add Drainage tree to model
  specifyweb/specify/models.py
Due: mypy

Update treeRanks.ts
  specifyweb/frontend/js_src/lib/components/InitialContext/treeRanks.ts
Due: frontend-tests

Fix typo
  specifyweb/specify/load_datamodel.py
Due: mypy

Update model_extras.py
  specifyweb/specify/model_extras.py
Due: mypy

Update datamodel.py
  specifyweb/specify/datamodel.py
Due: mypy

Update build_models.py
  specifyweb/specify/build_models.py
Due: mypy

Update definitions.ts
  specifyweb/frontend/js_src/lib/components/PickLists/definitions.ts
Due: frontend-tests

Fix indentation
  specifyweb/specify/datamodel.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
