Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

frontend-tests:
  name: TypeScript, Jest and localization tests
  description: Run TypeScript typechecker and automated tests on .ts files
  entry: /bin/bash -c "cd specifyweb/frontend/js_src && npm run test"
  language: script
  pass_filenames: false

mypy:
  name: mypy
  description: Python mypy typechecker
  entry: /bin/bash -c "docker exec --tty specify7_specify7_1 bash -c 'VIRTUAL_ENV=./ve make typecheck'"
  language: script
  pass_filenames: false

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/hooks/__tests__/unsetUnloadProtect.test.ts
Due: frontend-tests

Update and rename 0004_version_fix.py to 0006_version_fix.py
  specifyweb/patches/migrations/0006_version_fix.py
Due: mypy

Add parent inheritance in QB for component
  specifyweb/specify/views.py
  specifyweb/stored_queries/execution.py
  specifyweb/stored_queries/queryfieldspec.py
Due: mypy

Comment on operators
  specifyweb/stored_queries/execution.py
Due: mypy

Set default co type on components
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

Add save blocker when type and name are not from the same tree
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleUtils.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/hooks/__tests__/unsetUnloadProtect.test.ts
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backEnd.ts
  specifyweb/frontend/js_src/lib/localization/batchEdit.ts
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/development.ts
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/frontend/js_src/lib/localization/interactions.ts
  specifyweb/frontend/js_src/lib/localization/locality.ts
  specifyweb/frontend/js_src/lib/localization/main.ts
  specifyweb/frontend/js_src/lib/localization/query.ts
  specifyweb/frontend/js_src/lib/localization/report.ts
  specifyweb/frontend/js_src/lib/localization/resources.ts
  specifyweb/frontend/js_src/lib/localization/schema.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
  specifyweb/frontend/js_src/lib/localization/user.ts
  specifyweb/frontend/js_src/lib/localization/wbPlan.ts
  specifyweb/frontend/js_src/lib/localization/welcome.ts
  specifyweb/frontend/js_src/lib/localization/workbench.ts
Due: frontend-tests

Filter taxon name with component type treeDef
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

(tests): Use deep-copy when passing arguments
  specifyweb/interactions/tests/test_modify_update_of_interaction_sibling_preps.py
Due: mypy

Fetch treeDef again if type chnages
  specifyweb/frontend/js_src/lib/components/QueryComboBox/index.tsx
Due: frontend-tests

move express_search to backend folder
  specifyweb/backend/express_search/README.md
  specifyweb/backend/express_search/__init__.py
  specifyweb/backend/express_search/models.py
  specifyweb/backend/express_search/related.py
  specifyweb/backend/express_search/related_searches.py
  specifyweb/backend/express_search/search_terms.py
  specifyweb/backend/express_search/tests.py
  specifyweb/backend/express_search/urls.py
  specifyweb/backend/express_search/views.py
Due: mypy

update express_search import paths in urls
  specifyweb/urls.py
Due: mypy

update express_search import paths in context app
  specifyweb/context/views.py
Due: mypy

update import_model to support backend path for express_search
  specifyweb/specify/models_by_table_id.py
Due: mypy

update express_search path in SPECIFY_APPS to backend.express_search
  specifyweb/settings/__init__.py
Due: mypy

Change get resource
  specifyweb/frontend/js_src/lib/components/DataModel/businessRuleDefs.ts
Due: frontend-tests

WIP: Lat/long support in BatchEdit
  specifyweb/specify/tree_extras.py
  specifyweb/stored_queries/batch_edit.py
  specifyweb/stored_queries/batch_edit_query_rewrites.py
  specifyweb/stored_queries/queryfield.py
  specifyweb/workbench/upload/upload_table.py
Due: mypy

Resolve type errors
  specifyweb/frontend/js_src/lib/components/DataModel/__tests__/businessRules.test.ts
Due: frontend-tests

(tests): Add comprehensive tests
  specifyweb/interactions/tests/test_cog.py
  specifyweb/interactions/tests/test_modify_update_of_loan_return_sibling_preps.py
Due: mypy

Prevent frontend from setting timestampcreated
  specifyweb/frontend/js_src/lib/components/DataModel/resourceApi.ts
Due: frontend-tests

(tests): Begin adding tests for get_availability_count
  specifyweb/interactions/tests/test_get_availability_count.py
Due: mypy

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/DataModel/collectionApi.ts
Due: frontend-tests

(tests): Fixup some tests
  specifyweb/interactions/tests/test_get_availability_count.py
Due: mypy

(tests): Fixup some tests - correct count
  specifyweb/interactions/tests/test_get_availability_count.py
Due: mypy

move hibernationboolsbackend into backend folder
  specifyweb/backend/hibernateboolsbackend/__init__.py
  specifyweb/backend/hibernateboolsbackend/backends/__init__.py
  specifyweb/backend/hibernateboolsbackend/backends/mysql/__init__.py
  specifyweb/backend/hibernateboolsbackend/backends/mysql/base.py
  specifyweb/backend/hibernateboolsbackend/readme.md
Due: mypy

update hibernationboolsbackend imports
  specifyweb/settings/__init__.py
  specifyweb/specify/models_by_table_id.py
Due: mypy

(tests): Add simple count tests
  specifyweb/interactions/tests/test_get_availability_count.py
Due: mypy

Increase timeout period for download_all
  nginx.conf
Due: none

Update tests
  specifyweb/frontend/js_src/lib/components/Merging/__tests__/autoMerge.test.ts
Due: frontend-tests

Adds 0 as a default at DB level
  specifyweb/patches/migrations/0006_version_fix.py
Due: mypy

add new migration functions to key migrations
  specifyweb/specify/management/commands/run_key_migration_functions.py
  specifyweb/specify/migration_utils/misc_migrations.py
  specifyweb/specify/migration_utils/update_schema_config.py
  specifyweb/specify/migrations/0027_CO_children.py
  specifyweb/specify/migrations/0029_remove_collectionobject_parentco.py
  specifyweb/specify/migrations/0031_add_default_for_selectseries.py
  specifyweb/specify/migrations/0032_add_quantities_gift.py
  specifyweb/specify/migrations/0033_update_paleo_desc.py
  specifyweb/specify/migrations/0034_accession_date_fields.py
Due: mypy

Define a useDelay hook
  specifyweb/frontend/js_src/lib/components/Core/ContextLoader.tsx
  specifyweb/frontend/js_src/lib/hooks/useDelay.tsx
Due: frontend-tests

Only show Loading... text if has been loading for 2 seconds
  specifyweb/frontend/js_src/lib/components/Molecules/LinkedRecords.tsx
Due: frontend-tests

Improve accessibility for LinkedRecords button
  specifyweb/frontend/js_src/lib/components/Molecules/LinkedRecords.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Molecules/LinkedRecords.tsx
Due: frontend-tests

(tests): Add tests for enforce_interaction_sibling_prep_max_count
  specifyweb/interactions/tests/test_enforce_interaction_sibling_prep_max_count.py
Due: mypy

Update global.views.xml
  config/backstop/global.views.xml
Due: none

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/user/de_CH.po
  strings/user/en_US.po
  strings/user/es.po
  strings/user/fr.po
  strings/user/pt_BR.po
  strings/user/ru.po
  strings/user/uk.po
Due: none

(tests): Add tests for preps_available_rs
  specifyweb/interactions/tests/test_cog.py
  specifyweb/interactions/tests/test_preps_available_context.py
  specifyweb/interactions/tests/test_preps_available_rs.py
  specifyweb/specify/tests/test_api.py
Due: mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)
