Repository specify/specify7: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, mypy

Path conditions:
  frontend-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(lib|.idea)
  mypy: any of: \.py$, but not: ^(lib|.idea)

Update inheritance apis
  specifyweb/specify/urls.py
Due: mypy

Update series url
  specifyweb/specify/urls.py
Due: mypy

Update bulk copu url
  specifyweb/specify/urls.py
Due: mypy

fix(batchedit): account for duplicate fields in queries
  specifyweb/backend/stored_queries/batch_edit.py
Due: mypy

refactor(batchedit): Update comment for parsing coordinate decimal fields
  specifyweb/backend/stored_queries/batch_edit.py
Due: mypy

Remove attachments visually from row Fix adding attachment to the first row.
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
Due: frontend-tests

Upgrade dependencies for `jest-silent-reporter` (#7378)
  specifyweb/frontend/js_src/package-lock.json
  specifyweb/frontend/js_src/package.json
Due: none

WIP Add attachment switching to preview dialog
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
Due: frontend-tests

edit query for the filtering of new sp6 user roles
  specifyweb/backend/permissions/initialize.py
Due: mypy

adjust repetitive application of create_default_discipline_for_tree_defs
  specifyweb/backend/permissions/initialize.py
  specifyweb/specify/migration_utils/default_cots.py
Due: mypy

Sync localization strings with Weblate
  strings/attachments/de_CH.po
  strings/attachments/en_US.po
  strings/attachments/es.po
  strings/attachments/fr.po
  strings/attachments/pt_BR.po
  strings/attachments/ru.po
  strings/attachments/uk.po
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/preferences/de_CH.po
  strings/preferences/en_US.po
  strings/preferences/es.po
  strings/preferences/fr.po
  strings/preferences/pt_BR.po
  strings/preferences/ru.po
  strings/preferences/uk.po
  strings/workbench/de_CH.po
  strings/workbench/en_US.po
  strings/workbench/es.po
  strings/workbench/fr.po
  strings/workbench/pt_BR.po
  strings/workbench/ru.po
  strings/workbench/uk.po
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/Molecules/SyncAttachmentPicker.tsx
  specifyweb/frontend/js_src/lib/localization/attachments.ts
  specifyweb/frontend/js_src/lib/localization/backup.ts
Due: frontend-tests

fix imports after merge
  specifyweb/specify/urls.py
Due: mypy

Fix: Workbench and batch data edit
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
Due: frontend-tests

Update hooks.ts
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/hooks.ts
Due: frontend-tests

add sub command argument to the run_key_migration_functions command
  specifyweb/backend/businessrules/uniqueness_rules.py
  specifyweb/specify/management/commands/run_key_migration_functions.py
Due: mypy

docs(CHANGELOG): consolidate realease-notes with CHANGELOG
  CHANGELOG.md
  release-notes/7.6.0.md
  release-notes/7.6.1.md
  release-notes/7.7.0.md
Due: none

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
  strings/locality/de_CH.po
  strings/locality/en_US.po
  strings/locality/es.po
  strings/locality/fr.po
  strings/locality/pt_BR.po
  strings/locality/ru.po
  strings/locality/uk.po
  strings/query/de_CH.po
  strings/query/en_US.po
  strings/query/es.po
  strings/query/fr.po
  strings/query/pt_BR.po
  strings/query/ru.po
  strings/query/uk.po
  strings/resources/de_CH.po
  strings/resources/en_US.po
  strings/resources/es.po
  strings/resources/fr.po
  strings/resources/pt_BR.po
  strings/resources/ru.po
  strings/resources/uk.po
Due: none

Merge pull request #7179 from specify/issue-7144
  specifyweb/frontend/js_src/lib/components/FormMeta/Clone.tsx
  specifyweb/frontend/js_src/lib/components/FormSliders/RecordSet.tsx
  specifyweb/frontend/js_src/lib/components/Forms/BulkCarryForward.tsx
  specifyweb/frontend/js_src/lib/components/Forms/ResourceView.tsx
  specifyweb/frontend/js_src/lib/components/Forms/Save.tsx
  specifyweb/frontend/js_src/lib/localization/forms.ts
  specifyweb/specify/views.py
Due: frontend-tests, mypy

Allow deleting the latest attachment only Fix attachment preview slider
  specifyweb/frontend/js_src/lib/components/WbAttachmentViewer/index.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
Due: frontend-tests

Fix loading
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
Due: frontend-tests

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/WorkBench/WbAttachmentsPreview.tsx
Due: frontend-tests

Remove listeners on unload
  specifyweb/frontend/js_src/lib/components/Attachments/LeafletImageViewer.tsx
Due: frontend-tests

Fix merge error
  specifyweb/frontend/js_src/lib/localization/common.ts
  specifyweb/frontend/js_src/lib/localization/preferences.ts
  specifyweb/frontend/js_src/lib/localization/specifyNetwork.ts
Due: frontend-tests

Fix import
  specifyweb/backend/attachment_gw/views.py
Due: mypy

WIP Delete attachment file when removed from row
  specifyweb/frontend/js_src/lib/components/WorkBench/attachmentHelpers.tsx
Due: frontend-tests

Handle null parent CO cat num
  specifyweb/specify/views.py
Due: mypy

tectonicunit root migration fix
  specifyweb/specify/migration_utils/tectonic_ranks.py
Due: mypy

Update update_schema_config.py
  specifyweb/specify/migration_utils/update_schema_config.py
Due: mypy

Test env
  .env
Due: none

Change determiner relationship to point to agent and not determiner
  specifyweb/specify/datamodel.py
  specifyweb/specify/migration_utils/sp7_schemaconfig.py
  specifyweb/specify/migrations/0037_components.py
  specifyweb/specify/models.py
Due: mypy

Add numeric operators on the catalog number field for component
  specifyweb/frontend/js_src/lib/components/QueryBuilder/Line.tsx
Due: frontend-tests

Sync localization strings with Weblate
  strings/common/de_CH.po
  strings/common/en_US.po
  strings/common/es.po
  strings/common/fr.po
  strings/common/pt_BR.po
  strings/common/ru.po
  strings/common/uk.po
Due: none

Lint code with ESLint and Prettier
  specifyweb/frontend/js_src/lib/components/SpecifyNetwork/Map.tsx
Due: frontend-tests

Update models_by_table_id.py
  specifyweb/specify/models_utils/models_by_table_id.py
Due: mypy

Add back lost funciton due to merge
  specifyweb/backend/businessrules/rules/component_rules.py
  specifyweb/backend/businessrules/utils.py
  specifyweb/businessrules/rules/collectionobject_rules.py
  specifyweb/frontend/js_src/lib/localization/forms.ts
Due: frontend-tests, mypy
